<header class="page-header account-form-heading">
  <h1 class="has-divider">{{ 'customer.reset_password.title' | t }}</h1>
</header>

<div class="account-form">
  {% form 'reset_customer_password' %}

    <p class="form-instructions">{{ 'customer.reset_password.subtext_html' | t: email: email }}</p>

    {{ form.errors | default_errors }}
    
    <div class="form-group floating-label">
    <label for="ResetPassword">
      {{ 'customer.reset_password.password' | t }}
    </label>
    <input type="password"
      name="customer[password]"
      id="ResetPassword"
      class="form-control {% if form.errors contains 'password' %}input-error{% endif %}"
      placeholder="{{ 'customer.reset_password.password' | t }}">
    </div>
    
    <div class="form-group floating-label">
    <label for="PasswordConfirmation">
      {{ 'customer.reset_password.password_confirm' | t }}
    </label>
    <input type="password"
      name="customer[password_confirmation]"
      id="PasswordConfirmation"
      class="form-control {% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
      placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
    </div>

    <input type="submit" class="btn btn-block" value="{{ 'customer.reset_password.submit' | t }}">
  {% endform %}
</div>
