{% comment %}
  When a comment is submitted, the browser is redirected to a page that includes 
  the new comment id in its URL.
  #comments is a required ID and is used as an anchor link by Shopify.
{% endcomment %} 
{%- assign number_of_comments = article.comments_count -%}
{% comment %}
  If a comment was just submitted but requires moderation, we have an extra comment to count.
{% endcomment %}
{%- if comment and comment.status != 'published' -%}
  {%- assign number_of_comments = article.comments_count | plus: 1 -%}
{%- endif -%}

{%- assign mobileFeaturedImage = article | img_url: '375x598', crop: 'center' -%}
{%- if article.metafields["global"]["mobile-image"] != blank -%}
  {%- assign mobileFeaturedImage = article.metafields["global"]["mobile-image"] -%}
{%- endif -%}

<article role="article" itemscope itemtype="http://schema.org/Article">
  
  <header role="banner" class="entry-header {{ article.metafields["global"]["header-type"] }}">
    <div id="m-variation">
      <div class="image" data-image-container style="background-image: url('{{ mobileFeaturedImage }}')"></div>
      <div class="content" data-content-container></div>
    </div>
    <div id="d-variation">
      {%- case article.metafields["global"]["header-type"] -%}
        {%- when 'image-behind' -%}
          <div class="image" data-image-container>
            <picture>
              <source srcset="{{ article | img_url: '1680x840', crop: 'center' }}" media="(min-width: 768px)">
              <img src="{{ mobileFeaturedImage }}" alt="{{ article.title }}">
            </picture>
          </div>  
          <div class="content"> 
            <div class="container" data-content-container>
              <h1 class="title">{{ article.title }}</h1>
              <div class="excerpt">{{ article.excerpt }}</div>
              {% if settings.social_sharing_blog %}
                {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
              {% endif %}
            </div>
          </div>
        {%- when 'image-side-lg' -%}
          {% comment %} regular row for the image to extend outside of the container {% endcomment %}
          <div class="row">
            <div class="col-sm-6 col-sm-push-6">
              <div class="image" data-image-container>
                <picture>
                  <source srcset="{{ article | img_url: '800x800', crop: 'center' }}" media="(min-width: 768px)">
                  <img src="{{ mobileFeaturedImage }}" alt="{{ article.title }}">
                </picture>
              </div>
            </div>
          </div>
          {% comment %} positioned row for the content that aligns to the container {% endcomment %}
          <div class="content-container">
            <div class="container">
              <div class="row flexed">
                <div class="col-sm-6">
                  <div class="content" data-content-container>
                    <h1 class="title">{{ article.title }}</h1>
                    <div class="excerpt">{{ article.excerpt }}</div>
                    {% if settings.social_sharing_blog %}
                      {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {%- when 'image-side-sm' -%}
          <div class="container">
            <div class="row flexed">
              <div class="col-sm-6">
                <div class="content" data-content-container>
                  <h1 class="title">{{ article.title }}</h1>
                  <div class="excerpt">{{ article.excerpt }}</div>
                  {% if settings.social_sharing_blog %}
                    {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
                  {% endif %}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="image" data-image-container>
                  <picture>
                    <source srcset="{{ article | img_url: '600x400', crop: 'center' }}" media="(min-width: 768px)">
                    <img src="{{ mobileFeaturedImage }}" alt="{{ article.title }}">
                  </picture>
                </div>
              </div>
            </div>
          </div>
        {%- when 'image-below' -%}
          <div class="content" data-content-container>
            <h1 class="title has-divider">{{ article.title }}</h1>
            <div class="excerpt">{{ article.excerpt }}</div>
            {% if settings.social_sharing_blog %}
              {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
            {% endif %}
          </div>
          <div class="image" data-image-container>
            <picture>
              <source srcset="{{ article | img_url: '1680x840', crop: 'center' }}" media="(min-width: 768px)">
              <img src="{{ mobileFeaturedImage }}" alt="{{ article.title }}">
            </picture>
          </div>
      {%- endcase -%}
    </div>
  </header>
  
  <div class="container">
    <div id="article-body" itemprop="articleBody">
      {{ article.content }}
    </div>
{% comment %}
    {% if article.tags.size > 0 %}
      <ul>
        {% for tag in article.tags %}
          <li>
            <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if settings.social_sharing_blog %}
      {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
    {% endif %}
{% endcomment %}
    {% if blog.comments_enabled? %}
      <div id="comments">

        <div class="section-header">
          <h2 class="header-text">Comments</h2>  
          {% comment %}
          number_of_comments increases even with validation errors, so let's exclude the count
          <h2 class="title">{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h2>
          {% endcomment %}
        </div>

        {% paginate article.comments by 5 %}

        <div id="comments-list">

          {% if comment and comment.status and paginate.current_page == 1 %}
            <p class="form-success">
              {% if blog.moderated? and comment.status != 'published' %}
                {{ 'blogs.comments.success_moderated' | t }}
              {% else %}
                {{ 'blogs.comments.success' | t }}
              {% endif %}
            </p>
            {% if comment and comment.status != 'published' %}
            <ul class="comments">
              <li class="pending-comment" id="{{ comment.id }}">
                <div class="rte">
                  {{ comment.content }}
                </div>
                {% capture date %}{{ comment.created_at | time_tag: format: 'month_day_year' }}{% endcapture %}
                <p>{{ 'blogs.article.comment_meta_html' | t: author: comment.author, date: date }}</p>
              </li>
            </ul>
            {% endif %}
          {% endif %}

          {% if number_of_comments > 0 %}
            <ul class="comments">
              {% for comment in article.comments %}
                <li id="{{ comment.id }}">
                  <div class="rte">
                    {{ comment.content }}
                  </div>
                  {% capture date %}{{ comment.created_at | time_tag: format: 'month_day_year' }}{% endcapture %}
                  <p>{{ 'blogs.article.comment_meta_html' | t: author: comment.author, date: date }}</p>
                </li>
              {% endfor %}
            </ul>
            {% if paginate.pages > 1 %}
              {% include 'pagination' %}
            {% endif %}
          {% else %}
            <p class="alert alert-muted">
              No comments yet.
            </p>
          {% endif %}
        </div>

        {% endpaginate %}
        
        <h3 class="h4">{{ 'blogs.comments.title' | t }}</h3>  

        <div class="row">
          <div class="col-md-6">
            {% form 'new_comment', article %}
              
              {{ form.errors | default_errors }}
              
              <div class="form-group floating-label">
                <label for="CommentAuthor">
                  {{ 'blogs.comments.name' | t }}
                </label>
                <input type="text"
                       class="form-control{% if form.errors contains 'author' %} has-error{% endif %}"
                       placeholder="{{ 'blogs.comments.name' | t }}"
                       name="comment[author]"
                       id="CommentAuthor"
                       value="{{ form.author }}"
                       autocapitalize="words">
              </div>

              <div class="form-group floating-label">
                <label for="CommentEmail">
                  {{ 'blogs.comments.email' | t }}
                </label>
                <input type="email"
                       name="comment[email]"
                       id="CommentEmail"
                       class="form-control{% if form.errors contains 'email' %} has-error{% endif %}"
                       placeholder="{{ 'blogs.comments.email' | t }}"
                       value="{{ form.email }}"
                       spellcheck="false"
                       autocomplete="off"
                       autocapitalize="off">
              </div>

              <div class="form-group floating-label">
                <label for="CommentBody">
                  {{ 'blogs.comments.message' | t }}
                </label>
                <textarea
                  name="comment[body]"
                  id="CommentBody"
                  class="form-control textarea{% if form.errors contains 'body' %} has-error{% endif %}"
                  placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
              </div>

              {% if blog.moderated? %}
                <p class="form-instructions">{{ 'blogs.comments.moderated' | t }}</p>
              {% endif %}

              <input type="submit" class="btn" value="{{ 'blogs.comments.post' | t }}">
            {% endform %}

          </div>
        </div>
      </div>
    {% endif %}



    <aside id="related-articles">
      <div class="section-header">
        <h2 class="header-text">Related stories</h2>  
      </div>
      <div class="row">
        {%- assign postsCount = 0 -%}
        {% for thisArticle in blog.articles %}
          {% if postsCount == 4 %}
            {% break %}
          {% elsif thisArticle.id == article.id %}
            {% continue %}
          {% else %}
            {%- assign postsCount = postsCount | plus: 1 -%}
            <div class="col-xs-6 col-sm-3">
              {%- assign thumbSize = '285x190' -%}
              {% include 'article-item' %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </aside>
  </div>

</article>


