{% paginate blog.articles by 5 %}

  {%- assign blog_title = blog.title -%}

  {% if current_tags %}
    {% capture blog_title %}{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{% endcapture %}
  {% endif %}
  
  <div class="container">
    <div class="section-heading is-page-title">
      <h1 class="title">{{ blog_title }}</h1>
    </div>
 
    {% comment %}
      {% if blog.all_tags.size > 0 %}
        <h2>{{ 'blogs.general.categories' | t }}</h2>

        <ul>
          {% for tag in blog.all_tags %}

            {% if current_tags contains tag %}
              <li>{{ tag }}</li>
            {% else %}
              <li>{{ tag | link_to_tag: tag }}</li>
            {% endif %}

          {% endfor %}
        </ul>
      {% endif %}
    {% endcomment %}


    {% comment %}

    Article Previews
    ====================
    {% endcomment %}
    
    {%- assign thumbSize = '590x395' -%}
    {% for article in blog.articles %}
      {%- assign thisArticle = article -%}

      {% if forloop.first %}

        {% include 'article-banner' %}
      
      {% else %}
        
        {% if forloop.index == 2 or forloop.index == 4 %}<div class="row">{% endif %}
          <div class="col-sm-6">
            {% include 'article-item' %}
          </div>
        {% if forloop.index == 3 or forloop.index == 5 %}</div>{% endif %}

      {% endif %}

    {% endfor %}

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}

  </div>

{% endpaginate %}
