<div class="container-fluid">
  {% if cart.item_count > 0 %}
    <form action="/cart" method="post" novalidate>
      <table id="cart-items" class="table order-items">
        <thead>
          <tr>
            <th colspan="3" id="table-heading"><h1>{{ 'cart.general.title' | t }}</h1></th>
            <th>{{ 'cart.label.price' | t }}</th>
            <th class="hidden-xs">{{ 'cart.label.quantity' | t }}</th>
            <th class="hidden-xs hidden-sm text-right">{{ 'cart.label.total' | t }}</th>
          </tr>
        </thead>
        <tbody>

          {% for item in cart.items %}

          {% comment %}

          Cart Item Template
          =====================
          The data-label attributes on <td> elements are mobile-friendly
          helpers used for responsive-table labels
          {% endcomment %}

            <tr>
              <td class="item-remove">
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="remove-item panel-close"
                      data-item-id=""
                      data-product-id=""
                      data-simple-sku="" 
                      data-product-sku="" 
                      data-product-name="" 
                      data-product-qty="" 
                      data-product-price=""
                      data-product-variant="" 
                      ><span class="sr-only">{{ 'cart.general.remove' | t }}</span></a>
              </td>

              <td class="item-thumb" data-label="{{ 'customer.order.product' | t }}">

                {% if item.image != blank %}
                  <a href="{{ item.url | within: collections.all }}">
                    {{ item | img_url: '110x110', crop: 'center' | img_tag: item.title }}
                  </a>
                {% endif %}

              </td>
              <td class="item-info">
                
                {% assign productNameParts = item.product.title | split: '-' %}
                <a class="product-name" href="{{ item.url }}">{{ productNameParts[0] | trim }}</a>
                <p class="item-options">{{ productNameParts[1] | trim }} / {{ productNameParts[2] | trim }}{% unless item.product.has_only_default_variant %} / {{ item.variant.title }}{% endunless %}</p>

                {% comment %}
                <p>{{ item.vendor }}</p> 
                {%- assign property_size = item.properties | size -%} 
                {% if property_size > 0 %}
                <p class="item-options">
                  {% for p in item.properties %}
                    <span class="item-option">
                      {% unless p.last == blank %}
                      {{ p.first }}:
                        {% if p.last contains '/uploads/' %}
                          <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                          {{ p.last }}
                        {% endif %}
                      {% endunless %}
                    </span>
                  {% endfor %}
                </p>
                {% endif %}
                {% endcomment %}

              </td>
              <td class="item-price" data-label="{{ 'cart.label.price' | t }}">
                {% if item.original_line_price != item.line_price %}
                  <span class="price">
                    <span class="sr-only">{{ 'cart.label.discounted_price' | t }}</span>
                    {{ item.price | money }}
                  </span>
                  <span class="old-price">
                    <span class="sr-only">{{ 'cart.label.original_price' | t }}</span>
                    <s>{{ item.original_price | money }}</s>
                  </span>
                {% else %}
                  <span class="price">
                    {{ item.price | money }}
                  </span>
                {% endif %}
              </td>
              <td class="item-qty" data-label="{{ 'cart.label.quantity' | t }}">
                <div class="number-control">
                  <button class="number-down">-</button>
                  <input type="number"
                         name="updates[]"
                         id="updates_{{ item.key }}"
                         value="{{ item.quantity }}"
                         min="0"
                         class="qty"
                         maxlength="12"
                         aria-label="{{ 'cart.general.item_quantity' | t }}">
                  <button class="number-up">+</button>
                </div>
              </td>
              <td class="item-subtotal" data-label="{{ 'cart.label.total' | t }}">
                <span class="price">{{ item.line_price | money }}</span>
              </td>
            </tr>

          {% endfor %}
        </tbody>
      </table>

      {% if settings.cart_notes_enable %}
      <div class="cart-tools">
        <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
        <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
      </div>
      {% endif %}

      <table id="cart-totals" class="order-totals">
        <tbody>
          <tr class="total">
            <td>{{ 'cart.general.subtotal' | t }}</td> 
            <td class="line-total">{{ cart.total_price | money }}</td>
          </tr>
          {% if cart.total_discounts > 0 %}
          <tr>
            <td>{{ 'cart.general.savings' | t }}</td>
            <td class="line-total" id="coupon-total">{{ cart.total_discounts | money }}</td>
          </tr>
          {% endif %}
          </tbody>
      </table>
      
      <div id="cart-actions">
        <input type="submit" name="update" class="btn btn-secondary" value="{{ 'cart.general.update' | t }}">
        <input type="submit" name="checkout" class="btn btn-success" value="{{ 'cart.general.checkout' | t }}">
      </div>

      <p id="checkout-message">{{ 'cart.general.shipping_at_checkout' | t }}</p>

    </form>

  {% else %}
    
    <div class="cart-empty">
      <h1>{{ 'cart.general.title' | t }}</h1>

      {% comment %}
      Cart empty state
      {% endcomment %}
      <div class="supports-cookies">
        <p>{{ 'cart.general.empty' | t }}</p>
        <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
      </div>

      {% comment %}
      Cart no cookies state
      ---------------------
      Browser cookies are required to use the cart. If cookies aren't enabled in the
      browser a message is displayed prompting the user to enable them.
      {% endcomment %}
      <div class="supports-no-cookies">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
      </div>
    </div>
    
  {% endif %}

</div>
