{% paginate collection.products by 50 %}

{% comment %} capture all the things {% endcomment %}
{%- assign tagsList = shop.metafields["global"]["function-tags"] -%}
{%- capture functionFilters -%}
{%- for tag in collection.all_tags -%}
  {%- if tagsList contains tag -%}
    {%- include 'filter-option' -%}
  {%- endif -%}
{%- endfor -%}
{%- endcapture -%}
{%- assign tagsList = shop.metafields["global"]["device-fit-tags"] | replace: '-inch', '"' -%}
{%- capture deviceFitFilters -%}
{%- for tag in collection.all_tags -%}
  {%- if tagsList contains tag -%}
    {%- include 'filter-option' -%}
  {%- endif -%}
{%- endfor -%}
{%- endcapture -%}
{%- assign tagsList = shop.metafields["global"]["category-tags"] -%}
{%- capture categoryFilters -%}
{%- for tag in collection.all_tags -%}
  {%- if tagsList contains tag -%}
    {%- include 'filter-option' -%}
  {%- endif -%}
{%- endfor -%}
{%- endcapture -%}
{%- capture productNames -%}
{%- for product in collection.products -%}
  {%- assign productNameParts = product.title | split: ' - ' -%}
  {{ productNameParts[0] }}|
{%- endfor -%}
{%- endcapture -%}
{%- assign parentProducts = productNames | split: '|' | uniq -%}
{%- assign have0to100 = false -%}
{%- assign have100to200 = false -%}
{%- assign have200to300 = false -%}
{%- assign have300to400 = false -%}
{%- assign have400to500 = false -%}
{%- for product in collection.products -%}
  {%- assign thisPrice = product.price | divided_by: 100 -%}
  {%- if thisPrice <= 100 -%}{%- assign have0to100 = true -%}{%- endif -%}
  {%- if thisPrice >= 100 and thisPrice <= 200 -%}{%- assign have100to200 = true -%}{%- endif -%}
  {%- if thisPrice >= 200 and thisPrice <= 300 -%}{%- assign have200to300 = true -%}{%- endif -%}
  {%- if thisPrice >= 300 and thisPrice <= 400 -%}{%- assign have300to400 = true -%}{%- endif -%}
  {%- if thisPrice >= 400 and thisPrice <= 500 -%}{%- assign have400to500 = true -%}{%- endif -%}
{%- endfor -%}

  <header class="page-header is-collection" data-collection="{{ collection.id }}">
    <h1 class="has-bar">{{ collection.title }}</h1>
    <div>{% comment%} both .has-bar and #filters are inline-block, so we need a newline somehow {% endcomment %}
      <div id="filters">
        <ul>
          <li><a href="#price-filters" class="filter-toggle">Price</a></li>
          {% if functionFilters != blank %}<li><a href="#function-filters" class="filter-toggle">Function</a></li>{% endif %}
          {% if deviceFitFilters != blank %}<li><a href="#fit-filters" class="filter-toggle">Device Fit</a></li>{% endif %}
          {% if categoryFilters != blank %}<li><a href="#category-filters" class="filter-toggle">Category</a></li>{% endif %}
        </ul>
      </div>
      <div id="filters-panel">
        <ul class="filter-options" style="display: none" id="price-filters">
          {%- if have0to100 -%}<li><button class="filter-option is-price-range" data-hook="p-0-100">$0.00 - $100.00</button></li>{%- endif -%}
          {%- if have100to200 -%}<li><button class="filter-option is-price-range" data-hook="p-100-200">$100.00 - $200.00</button></li>{%- endif -%}
          {%- if have200to300 -%}<li><button class="filter-option is-price-range" data-hook="p-200-300">$200.00 - $300.00</button></li>{%- endif -%}
          {%- if have300to400 -%}<li><button class="filter-option is-price-range" data-hook="p-300-400">$300.00 - $400.00</button></li>{%- endif -%}
          {%- if have400to500 -%}<li><button class="filter-option is-price-range" data-hook="p-400-500">$400.00 - $500.00</button></li>{%- endif -%}
        </ul>
        {%- if functionFilters != blank -%}
          <ul class="filter-options" style="display: none" id="function-filters">{{ functionFilters }}</ul>
        {%- endif -%}
        {%- if deviceFitFilters != blank -%}
          <ul class="filter-options" style="display: none" id="fit-filters">{{ deviceFitFilters }}</ul>
        {%- endif -%}
        {%- if categoryFilters != blank -%}
          <ul class="filter-options" style="display: none" id="category-filters">{{ categoryFilters }}</ul>
        {%- endif -%}
        <div id="active-filters">
          <span data-active-filters></span>
          <a href="#" id="reset-filters">Reset Filters</a>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    {%- for parentProductName in parentProducts -%}
    <div class="product-family">
      <h2 class="has-divider">{{ parentProductName }}</h2>
      <div class="product-grid">
        <div class="row">
          {% for product in collection.products %}
            {%- assign productNameParts = product.title | split: ' - ' -%}
            {% if productNameParts[0] != parentProductName %}{% continue %}{% endif %}
            {%- assign priceClass = 'p-0-100' -%}
            {%- assign thisPrice = product.price | divided_by: 100 -%}
            {%- if thisPrice >= 100 and thisPrice <= 200 -%}{%- assign priceClass = 'p-100-200' -%}{%- endif -%}
            {%- if thisPrice >= 200 and thisPrice <= 300 -%}{%- assign priceClass = 'p-200-300' -%}{%- endif -%}
            {%- if thisPrice >= 300 and thisPrice <= 400 -%}{%- assign priceClass = 'p-300-400' -%}{%- endif -%}
            {%- if thisPrice >= 400 and thisPrice <= 500 -%}{%- assign priceClass = 'p-400-500' -%}{%- endif -%}
            <div class="col-xs-6 col-sm-3 f-hook{% for tag in product.tags %} f-{{ tag | handleize }}{% endfor %} {{ priceClass }}">
              {% include 'product-item' with product %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {%- endfor -%}
    <div id="filter-alert" style="display: none" class="alert alert-warning">No products match your filter selections.</div>
    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  </div>
  {% comment %}
    collectionSkus is used by GTM. doing this here instead of the GTM snippet so pagination values are used
  {% endcomment %}
  {%- capture collectionSkus -%}
    [
    {%- for product in collection.products -%}
      "{{ product.first_available_variant.sku }}"{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
    ]
  {%- endcapture -%}
  <script>
    var collectionSkus = {{ collectionSkus }};
  </script>
{% endpaginate %}