{% comment %}
  QR code is rendered in `#QrCode`

  `gift_card.pass_url` is true if apple wallet is enabled for the shop
{% endcomment %}

{% layout 'gift_card' %}

{% assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency %}
{% assign formatted_current_balance = gift_card.balance | money %}  

<header role="banner" id="site-header">
  <div id="site-header-items">
    <div class="container">
        <a href="{{ shop.url }}" itemprop="url" id="site-logo" temscope iitemtype="http://schema.org/Organization">
          {{ shop.name }}
        </a>
    </div>
  </div>
</header>

<main role="main" id="MainContent" class="giftcard mb-default {% if gift_card.expired or gift_card.enabled != true %} giftcard--disabled{% endif %}">
  <div class="container">
    <div class="h1 hidden-sm hidden-md hidden-lg text-center">{{ 'gift_cards.issued.title' | t }}</div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-0">
        {% assign cardAlt = 'Gift card illustration' %}
        {% if gift_card.properties.Image == blank %}
          <img data-product-featured-image src="{{ gift_card.product.featured_image | img_url: 'master' }}"  alt="{{ cardAlt }}" />
        {% else %}
          <img data-product-featured-image src="{{ gift_card.properties.Image }}"  alt="{{ cardAlt }}" /> {% comment %} occasion image gets stored in hidden field {% endcomment %}
        {% endif %}
      </div>
      <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0">
        <div class="description">
          <h1 class="hidden-xs">{{ 'gift_cards.issued.title' | t }}</h1>

          <p class="giftcard-balance">{{ 'gift_cards.issued.balance' | t: balance: formatted_current_balance }}</p>

          <p>{{ 'gift_cards.issued.redeem' | t }}</p>
          
          {% unless gift_card.enabled %}
            <span class="giftcard-tag">{{ 'gift_cards.issued.disabled' | t }}</span>
          {% endunless %}
          
          <div class="giftcard-code">
            {%- assign code_size = gift_card.code | format_code | size -%}
            <span id="GiftCardDigits" class="giftcard__code">{{ gift_card.code | format_code }}</span>
            <small class="giftcard__instructions hidden-md hidden-lg">Tap to copy</small>
            <small class="giftcard__instructions hidden-xs hidden-sm">Click to copy</small>
          </div>
          
          <p>
          {% if gift_card.balance != gift_card.initial_value %}
            {{ 'gift_cards.issued.initial_value' | t: value: formatted_initial_value }}
          {% endif %}

          {%- assign gift_card_expiry_date = gift_card.expires_on | date: "%B %e, %Y" -%}

          {% if gift_card.expired and gift_card.enabled %}
            <br /><span class="giftcard-tag">{{ 'gift_cards.issued.expired' | t: expiry: gift_card_expiry_date }}</span>
          {% endif %}

          {% if gift_card.expired != true and gift_card.expires_on and gift_card.enabled %}
            <br /><span class="giftcard-tag giftcard-tag--active">{{ 'gift_cards.issued.active' | t: expiry: gift_card_expiry_date }}</span>
          {% endif %}
          </p>
 
          <div class="btn-set">
            <a href="{{ shop.url }}" class="btn" target="_blank">{{ 'gift_cards.issued.shop_link' | t }}</a>
            {% comment %}<a href="#" id="PrintGiftCard" class="print-giftcard btn btn-secondary btn-block">{{ 'gift_cards.issued.print' | t }}</a>{% endcomment %}
          </div>

          {% if gift_card.pass_url %}
            <p><a href="{{ gift_card.pass_url }}" class="apple-wallet">
              <img class="apple-wallet-image" src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}">
            </a></p>
          {% endif %}

          {% comment %} hidden, only necessary for POS {% endcomment %}
          <div id="QrCode" class="giftcard-qr" data-identifier="{{ gift_card.qr_identifier }}"></div>

        </div>
      </div>
    </div>
  </div>
</main>
{% comment %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="section-heading">
        <h2 class="title">Travel Light &amp; Look Smart</h2>
        <p class="description">Lo &amp; Sons bags are thoughtfully designed to meet the needs of travelers without compromising functionality and style.</p>
      </div>
    </div>
  </div>
</div>
<div class="max-container product-group mb-large">
    <div class="products">
        <div class="overflow-window">
            <div class="overflow-row">
                <div class="overflow-content">
                  <a href="https://loandsons.com/pages/womens-laptop-totes-shoulder-bags" class="product">
                      <img src="//cdn.shopify.com/s/files/1/2185/1497/files/home-laptop-totes.jpg?v=1538700617" alt="">
                      <span class="product-name">Laptop Totes & Shoulder Bags</span>
                  </a>
                  <a href="https://loandsons.com/pages/womens-crossbody-bags" class="product">
                      <img src="//cdn.shopify.com/s/files/1/2185/1497/files/home-crossbody.jpg?v=1538700616" alt="">
                      <span class="product-name">Crossbody Bags</span>
                  </a>
                  <a href="https://loandsons.com/pages/womens-weekender-travel-bags" class="product">
                      <img src="//cdn.shopify.com/s/files/1/2185/1497/files/home-weekenders.jpg?v=1538700617" alt="">
                      <span class="product-name">Weekenders</span>
                  </a>
                  <a href="https://loandsons.com/pages/womens-backpacks" class="product">
                      <img src="//cdn.shopify.com/s/files/1/2185/1497/files/home-hanover.jpg?v=1538700617" alt="">
                      <span class="product-name">Backpacks</span>
                  </a>
                </div>
            </div>
        </div>
        <div class="overflow-bar">
            <div class="overflow-handle"></div>
        </div>
    </div>
    <div class="products-slider ui-black">
      <a href="https://loandsons.com/pages/womens-laptop-totes-shoulder-bags" class="product">
          <img src="//cdn.shopify.com/s/files/1/2185/1497/files/home-laptop-totes.jpg?v=1538700617" alt="">
          <span class="product-name">Laptop Totes & Shoulder Bags</span>
      </a>
      <a href="https://loandsons.com/pages/womens-crossbody-bags" class="product">
          <img src="//cdn.shopify.com/s/files/1/2185/1497/files/home-crossbody.jpg?v=1538700616" alt="">
          <span class="product-name">Crossbody Bags</span>
      </a>
      <a href="https://loandsons.com/pages/womens-weekender-travel-bags" class="product">
          <img src="//cdn.shopify.com/s/files/1/2185/1497/files/home-weekenders.jpg?v=1538700617" alt="">
          <span class="product-name">Weekenders</span>
      </a>
      <a href="https://loandsons.com/pages/womens-backpacks" class="product">
          <img src="//cdn.shopify.com/s/files/1/2185/1497/files/home-hanover.jpg?v=1538700617" alt="">
          <span class="product-name">Backpacks</span>
      </a>
    </div>
</div>
{% endcomment %}