{% comment %}
  QR code is rendered in `#QrCode`

  `gift_card.pass_url` is true if apple wallet is enabled for the shop
{% endcomment %}

{% layout 'gift_card' %}

<header role="banner" id="site-header">
  <div itemscope itemtype="http://schema.org/Organization">
    <a href="{{ shop.url }}" itemprop="url" id="site-logo">
      {{ shop.name }}
    </a>
  </div>
</header>

<main role="main" id="MainContent" class="giftcard {% if gift_card.expired or gift_card.enabled != true %} giftcard--disabled{% endif %}">
  <header class="page-header">
    <img src="{{ 'gift-card/card.jpg' | shopify_asset_url }}" alt="Gift card illustration" />
    <h1>{{ 'gift_cards.issued.subtext' | t }}</h1>
  </header> 
  <div class="container">
    <div class="gift-card">
      
      {% unless gift_card.enabled %}
        <span class="giftcard-tag">{{ 'gift_cards.issued.disabled' | t }}</span>
      {% endunless %}

      <p>{{ 'gift_cards.issued.redeem' | t }}</p>

      <div class="alert alert-muted">
        {%- assign code_size = gift_card.code | format_code | size -%}
        <span id="GiftCardDigits" class="giftcard__code">{{ gift_card.code | format_code }}</span>
      </div>

      {% assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency %}
      {% assign formatted_current_balance = gift_card.balance | money %}  
      
      <h2 class="has-divider">{{ 'gift_cards.issued.balance' | t: balance: formatted_current_balance }}</h2>
      
      <p>
      {% if gift_card.balance != gift_card.initial_value %}
        {{ 'gift_cards.issued.initial_value' | t: value: formatted_initial_value }}
      {% endif %}

      {%- assign gift_card_expiry_date = gift_card.expires_on | date: "%B %e, %Y" -%}

      {% if gift_card.expired and gift_card.enabled %}
        <br /><span class="giftcard-tag">{{ 'gift_cards.issued.expired' | t: expiry: gift_card_expiry_date }}</span>
      {% endif %}

      {% if gift_card.expired != true and gift_card.expires_on and gift_card.enabled %}
        <br /><span class="giftcard-tag giftcard-tag--active">{{ 'gift_cards.issued.active' | t: expiry: gift_card_expiry_date }}</span>
      {% endif %}
      </p>

      <p><a href="{{ shop.url }}" class="btn btn-block" target="_blank">{{ 'gift_cards.issued.shop_link' | t }}</a></p>

      {% if gift_card.pass_url %}
        <p><a href="{{ gift_card.pass_url }}" class="apple-wallet">
          <img class="apple-wallet-image" src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}">
        </a></p>
      {% endif %}

      <p><a href="#" id="PrintGiftCard" class="print-giftcard btn btn-secondary btn-block">{{ 'gift_cards.issued.print' | t }}</a></p>
      <div id="QrCode" class="giftcard-qr" data-identifier="{{ gift_card.qr_identifier }}"></div>
    </div>
    
  </div>
</main>
