{% include 'vars' %}

{%- assign assetVersion = 10032446425132256139 -%}
{%- assign ctaTitle = 'Catalina Deluxe Tote' -%}
{%- assign ctaPrice = '$118 - $128' -%}
{%- assign ctaLink = '/products/catalina-deluxe-tote-washed-canvas-dove-grey' -%}
{%- assign ctaImg = 'catalina-deluxe-tote-cta' -%}

<article class="discover">

    {% include 'discover-nav', labels:'Features,Size,Materials,Press' %}
    
    <div class="max-container">
        <div class="hero has-black-arrow">
            {% include 'discover-picture', name: 'catalina-deluxe-tote-hero-image', alt: 'woman at beach carrying the Catalina Deluxe Tote', retina: false, fw: false %}
            <div class="hero-content left">
                <h1 class="title"><span class="subtitle">Discover</span> Catalina <br />Deluxe Tote</h1>
                <p class="description">The most compact addition to our line of Catalina bags.</p>
                <a href="#" data-video-id="1" class="video-trigger">
                    <picture>
                        <source srcset="{{ 'play-black-v2.svg' | asset_url }}" media="(min-width: {{ screenMd }})" />
                        <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video" />
                    </picture>
                </a>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>
    
    <div class="container">{% include 'hero-jump-target' %}
        <div class="row animate mb-large" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1">
                {% include 'discover-picture', name: 'catalina-deluxe-tote-product-photo', alt: 'Catalina Deluxe Tote product shot', retina: false, fw: false %}
            </div>
        </div>
<a id="nav-target-1" class="jumptarget"></a>
        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">                    
                    <div class="section-heading">
                        <h2 class="title">Smart Design</h2>
                        <p class="description">Thoughtful features and a place for all your essentials, the Catalina Deluxe Tote is designed for any kind of trip.</p>
                    </div>
                </div>
            </div>
            <div class="row topic-block aligned-md reversed mb-negate-xs mb-negate-sm">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-7 col-lg-offset-1">                    
                    {% include 'discover-picture', name: 'catalina-deluxe-tote-suitcase-handle-sleeve', alt: 'suitcase handle sleeve', retina: false, fw: true %}
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 col-lg-offset-0 content-col">                    
                    <div class="topic-content text-center-sm">
                        <h3 class="title">Suitcase Handle Sleeve</h3>
                        <p class="description">Travel seamlessly with a convenient pass through sleeve that secures your bag to a suitcase.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">
                {% include 'discover-picture', name: 'catalina-deluxe-tote-bottom-pocket', alt: 'bottom pocket', retina: false, fw: true %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                <div class="topic-content text-center text-left-xs">
                    <h3 class="title">Bottom Pocket</h3>
                    <p class="description">Designed to keep your shoes or dirty clothes separate from the rest of your items.</p>
                </div>
            </div>
        </div>

        <div class="row mb-default">
            <div class="col-sm-5 col-sm-offset-1 col-lg-6 col-lg-offset-0">
                <div class="animate" {{ animateFadeInUp }}>
                    {% include 'discover-picture', name: 'catalina-deluxe-tote-messenger-strap-01', alt: 'woman demonstrating messenger strap', retina: false, fw: true %}
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            <div class="topic-content">
                                <h3 class="title">Messenger Strap</h3>
                                <p class="description">The removable messenger strap that’s equipped with memory foam padding for extra comfort.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-lg-6 col-lg-offset-0">
                <div class="offset-top-sm offset-top-md offset-top-lg animate" {{ animateFadeInUp }}>
                    {% include 'discover-picture', name: 'catalina-deluxe-tote-messenger-strap-02', alt: 'messenger strap close up', retina: false, fw: false %}
                </div>
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">
                {% include 'discover-picture', name: 'catalina-deluxe-tote-interior-pocket', alt: 'interior pocket', retina: false, fw: true %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="topic-content text-center text-left-xs">
                    <h3 class="title">Interior Pockets</h3>
                    <p class="description">The interior zipper pocket allows for safe-keeping of your phone, wallet, and small personal items. The interior slip pocket provides additional storage for additional essentials.</p>
                </div>
            </div>
        </div>
        
        <div id="catalina-deluxe-tote-key-leash" class="row animate topic-block aligned-md" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-lg-7 col-lg-offset-0">                    
                {% include 'discover-picture', name: 'catalina-deluxe-tote-key-leash', alt: 'key leash', retina: false, fw: true %}
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 content-col">                    
                <div class="topic-content text-center-sm">
                    <h3 class="title">Key Leash</h3>
                    <p class="description">Never misplace your keys again.</p>
                </div>
            </div>
        </div>

        <div class="row animate topic-block aligned-md reversed mb-large mb-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-lg-7 col-lg-offset-1">                    
                {% include 'discover-picture', name: 'catalina-deluxe-tote-exterior-pocket', alt: 'exterior pocket', retina: false, fw: true %}
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 col-lg-offset-0 content-col">                    
                <div class="topic-content text-center-sm">
                    <h3 class="title">Exterior Pocket</h3>
                    <p class="description">The exterior slip pocket keeps your travel essentials easily accessible.</p>
                </div>
            </div>
        </div>
<a id="nav-target-2" class="jumptarget"></a>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">                    
                <div class="section-heading">
                    <h2 class="title">Spacious &amp; Expandable</h2>
                    <p class="description">Designed to maximize what you can take on your travels. Simply unzip the divider panel to expand the main compartment for extra carrying capacity.</p>
                </div>
            </div>
        </div>

    </div>

    <div id="catalina-deluxe-tote-what-fits" class="max-container topic-block has-overlay-xs animate" {{ animateFadeInUp }}>
        {% include 'discover-picture', name: 'catalina-deluxe-tote-what-fits-inside', alt: 'video showing how to pack the Catalina Deluxe Tote', retina: false, fw: false %}
        <div class="topic-content black">
            <h3 class="title">What Fits Inside</h3>
            <a href="#" data-video-id="2" class="video-trigger">
                <img src="{{ 'play-black-v2.svg' | asset_url }}" alt="Play video">
            </a>
        </div>
    </div>

    <div class="container">

        <div class="row topic-block has-overlay-xs mb-large animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">
                {% include 'discover-picture', name: 'catalina-deluxe-tote-how-expands', alt: 'video demonstrating the bottom pocket', retina: false, fw: true %}
                <div class="topic-content">
                    <h3 class="title">How bottom <br />pocket expands</h3>
                    <a href="#" data-video-id="3" class="video-trigger">
                        <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                    </a>
                </div>
            </div>
        </div>

        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">                    
                    <div class="section-heading">
                        <h2 class="title">Carry-on Friendly</h2>
                        <p class="description">Depending on the airline, it may qualify as a personal item when you carry-on.</p>
                    </div>
                </div>
            </div>

            <div class="row topic-block aligned-md reversed mb-large">
                <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0">                    
                    {% include 'discover-picture', name: 'discover-carry-on-friendly', alt: 'sample airline seat', retina: false, fw: false %}
                </div>
                <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-1 content-col">                    
                    <div class="topic-content text-center-sm">
                        <h3 class="title">Airline Seats Friendly</h3>
                        <p class="description">The Catalina Deluxe Tote meets carry-on size requirements, and it should fit underneath your airline seat.</p>
                    </div>
                </div>
            </div>
        </div>
<a id="nav-target-3" class="jumptarget"></a>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">                    
                <div class="section-heading">
                    <h2 class="title">High-Quality Materials</h2>
                    <p class="description">Available in 2 premium quality durable yet lightweight canvas options.</p>
                </div>
               
            </div>
        </div>

        <div class="row topic-block aligned-md animate mb-negate-xs mb-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-6 col-lg-8 col-lg-offset-0">                    
                 {% include 'discover-picture', name: 'catalina-deluxe-tote-lightweight', alt: 'woman at beach', retina: false, fw: true %}
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-0 content-col">                    
                <div class="topic-content">
                    <h3 class="title">Lightweight</h3>
                    <p class="description">Crafted from materials that balance durability with comfort to make your trip easy on the back and shoulders.</p>
                </div>
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">
                {% include 'discover-picture', name: 'catalina-deluxe-tote-pre-washed-canvas', alt: 'detail of the pre-washed canvas material', retina: false, fw: true %}
                <div class="row">
                    <div class="col-sm-9 col-md-12 col-lg-10">
                        <div class="topic-content">
                            <h3 class="title">Pre-washed Canvas</h3>
                            <p class="description">We use a high-quality, lightweight, yet strong pre-washed canvas. Despite being a softer and less structured canvas than the typical heavy canvas, it can handle a heavyweight load (even though we always encourage packing light).</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 col-lg-6">
                {% include 'discover-picture', name: 'catalina-deluxe-tote-organic-cotton-canvas', alt: 'detail of the organic cotton canvas material', retina: false, fw: true %}
                <div class="row">
                    <div class="col-sm-7 col-md-12 col-lg-10">
                        <div class="topic-content">
                            <h3 class="title">Organic Cotton Canvas</h3>
                            <p class="description" id="catalina-deluxe-tote-materials-description">A canvas that is 100% naturally grown without the use of any synthetic agricultural chemicals such as fertilizers or pesticides.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-large">
            <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">
                <hr class="reset">
            </div>
        </div>

    </div>
    <a id="nav-target-4" class="jumptarget"></a>
    <div class="container pr-items animate" {{ animateFadeInUp }}>
        <div class="section-heading">
            <h2 class="title">Traveler Approved</h2>
        </div>
        
        <div class="row mb-default">
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/fodors-travel.png?15430798540328847356" alt="Fodor's Travel logo"></p>
                    <p class="pr-quote">&ldquo;This bag does double duty with a smart bottom zipper pocket for wet clothes after a day at the beach or shoes if you're using it as a carry-on.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/theknotlogo.png?15430798540328847356" alt="The Knot logo"></p>
                    <p class="pr-quote">&ldquo;This canvas weekender is expertly sized for the overhead bin or a mini-moon.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/foodandwine-logo-black.png?15023891854137734588" alt="Food and Wine logo"></p>
                    <p class="pr-quote">&ldquo;A zippered bottom compartment and unusually large size (plus a great choice of pretty, subdued colors) set this tote apart from the pack.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/The_Huffington_Post_logo.png?15023891854137734588" alt="The Huffington Post logo"></p>
                    <p class="pr-quote">&ldquo;The Catalina had us at the secret bottom pocket. This dapper carrier fits everything that you (or Mary Poppins) could possibly need for a weekend getaway.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Refinery29-Logo.png?15023891854137734588" alt="Refinery 29 logo"></p>
                    <p class="pr-quote">&ldquo;If you don’t already have a weekender, now's the time to get one. If you already have a weekender, now's the time to get this one. The interior organization will let you stow more things than any other option out there.&rdquo;</p>
                </blockquote>
            </div>
        </div>
    </div>

    {% include 'discover-cta' %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="//player.vimeo.com/video/224760509?player_id=vimeo-hanover&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-hanover" class="vimeo"></iframe>';
    var video2Embed = '<iframe src="//player.vimeo.com/video/226210203?player_id=vimeo-hanover&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-hanover" class="vimeo"></iframe>';
    var video3Embed = '<iframe src="//player.vimeo.com/video/267518046?player_id=vimeo-hanover&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-hanover" class="vimeo"></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>