{% include 'vars' %}

{%- assign assetVersion = 109102 -%}
{%- assign ctaTitle = 'The Prospect' -%}
{%- assign ctaPrice = '$498' -%}
{%- assign ctaLink = '/products/prospect-nylon-black-gold-grey' -%}
{%- assign ctaImg = 'prospect-cta' -%}

<article class="discover">

    {% comment %} {% include 'discover-nav', labels:'Versatile Design,What Fits Inside,Materials,Specs' %} {% endcomment %}

    <div class="fw-container">
        <div class="hero has-arrow">
            {% include 'discover-picture', name: 'prospect-hero', alt: 'man with Prospect on shoulder', retina: true, fw: false, xxl: true %}
            <div class="hero-content left white">
                <h1 class="title"><span class="subtitle">Discover</span> {{ ctaTitle }}</h1>
                <p class="description">A sleek unisex backpack that converts to a briefcase.</p>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>
    <div class="container">{% include 'hero-jump-target' %}
        <div class="row animate text-center mb-gutter" {{ animateZoomIn }}>
            <div class="col-sm-10 col-sm-offset-1">
                {% include 'discover-picture', name: 'prospect-product-image', alt: 'prospect product shot', retina: true, fw: true, lg: true %}
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2">
                <div class="section-heading">
                    <h2 class="title">Functional Design Meets Luxury</h2>
                    <p>What makes an investment-worthy bag? A precise mix of premium materials and ingenious design features.</p>
                    <p><a href="{{ ctaLink }}" class="btn btn-secondary">Buy now</a></p>
                </div>
            </div>
        </div>
    </div>
    <a id="nav-target-1" class="jumptarget"></a>
    
    <div class="max-container">
    <div class="parallax-window" data-parallax="scroll" data-image-src="https://cdn.shopify.com/s/files/1/2185/1497/files/prospect-plax-1-xxl.jpg?{{ assetVersion }}"></div>
    </div>

    <div class="container">
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2">
                <div class="topic-content text-center">
                    <h2 class="title">A Modern Style</h2>
                    <p class="description">The optimum bag for the busy professional, the Prospect goes from office, to airport, to wherever you’re headed next. </p>
                </div>
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
                {% include 'inline-video', ratio: '3-4', index: 1, poster: 'prospect-feature-1-lg', src: 'Lo_Sons_-_Leather_Wallet_-_Packing_for_Travel' %}
                <div class="topic-content">
                    <h3 class="title">No Velcro, Buckles or Buttons</h3>
                    <p class="description">Small but ultra-powerful Rare Earth magnets (made in France!) line the closure of the Prospect, making it both flexible and ultra-secure.</p>
                </div>
            </div>
            <div class="col-sm-5 col-md-6">
                {% include 'inline-video', ratio: '3-4', index: 2, poster: 'prospect-feature-2-lg', src: 'Lo_Sons_-_Leather_Wallet_-_Packing_for_Travel' %}
                <div class="topic-content">
                    <h3 class="title">Convertible 2-in-1</h3>
                    <p class="description">Carry it as a briefcase in the office, then convert it to a backpack for your commute or travels.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="max-container">
    <div class="parallax-window" data-parallax="scroll" data-image-src="https://cdn.shopify.com/s/files/1/2185/1497/files/prospect-plax-2-xxl.jpg?{{ assetVersion }}"></div>
    </div>

    <div class="container mb-large">
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2">
                <div class="topic-content text-center">
                    <h2 class="title">Fuss-Free Travel</h2>
                    <p class="description">Heading straight to the airport? Use the Prospect’s suitcase handle sleeve to seamlessly attach it to your roller bag.</p>
                </div>
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
                {% include 'inline-video', ratio: '3-4', index: 3, poster: 'prospect-feature-3-lg', src: 'Lo_Sons_-_Leather_Wallet_-_Packing_for_Travel' %}
                <div class="topic-content">
                    <h3 class="title">Interior Organization</h3>
                    <p class="description">No more sifting! The Prospect has compartments for your laptop, documents, small electronics, and pens.</p>
                </div>
            </div>
            <div class="col-sm-5 col-md-6">
                {% include 'inline-video', ratio: '3-4', index: 4, poster: 'prospect-feature-4-lg', src: 'Lo_Sons_-_Leather_Wallet_-_Packing_for_Travel' %}
                <div class="topic-content">
                    <h3 class="title">Plenty of Pockets</h3>
                    <p class="description">Strategically-designed pockets keep your essentials organized and secure.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="fw-container mb-large">
        <div class="topic-block mb-gutter">
            {% include 'discover-picture', name: 'prospect-lifestyle-1', alt: 'woman carrying prospect with handles', retina: true, fw: true, xxl: true %}
        </div>
        <div class="topic-block" id="prospect-lifestyle">
            {% include 'discover-picture', name: 'prospect-lifestyle-2', alt: 'woman carrying prospect with handles', retina: true, fw: true, xxl: true %}
            {% include 'discover-picture', name: 'prospect-lifestyle-3', alt: 'woman carrying prospect with handles', retina: true, fw: true, xxl: true %}
        </div>
    </div>

    <a id="nav-target-2" class="jumptarget"></a>
    <div class="container">
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2">
                <div class="section-heading">
                    <h2 class="title">Behind the Design</h2>
                    <p class="description">Jan Lo, President of Lo & Sons, on how his team spent three years getting the Prospect just right.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="fw-container topic-block mb-default animate video-block" {{ animateFadeInUp }}>
        {% include 'discover-picture', name: 'prospect-behind-design', alt: 'video showing how to pack the Waverley', retina: true, fw: false, xxl: true %}
        <a href="#" data-video-id="1" class="video-trigger">See What Fits Inside</a>
    </div>
    <div class="text-center mb-large">
        <p><a href="{{ ctaLink }}" class="btn btn-secondary">Buy now</a></p>
    </div>
    
    <a id="nav-target-3" class="jumptarget"></a>
    <div class="container">
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2">
                <div class="section-heading">
                    <h2 class="title">Premium Materials</h2>
                </div>
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                {% include 'discover-picture', name: 'prospect-materials-1', alt: 'prospect nylon exterior', retina: true, fw: false, lg: true %}
            </div>
            <div class="col-sm-10 col-sm-offset-1">
                <div class="topic-content text-center">
                    <h3 class="title">Rare Earth Magnets</h3>
                    <p>These ultra-powerful magnets are made in France from natural elements (neodymium, iron, boron), which makes them much stronger than regular magnets. Always electronic-safe, they pose zero risk to phones, laptops, or other modern devices.
                    <p class="description">Read more +</p>
                </div>
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                {% include 'discover-picture', name: 'prospect-materials-2', alt: 'prospect nappa leather accents', retina: true, fw: false, lg: true %}
            </div>
             <div class="col-sm-10 col-sm-offset-1">
                <div class="topic-content text-center">
                    <h3 class="title">Vachetta Leather</h3>
                    <p class="description">Durable and luxuriously smooth, this top-grain leather is vegetable-tanned using natural materials, which are easier on the environment than those used in most tanning processes.</p>
                </div>
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                {% include 'discover-picture', name: 'prospect-materials-3', alt: 'prospect padded straps', retina: true, fw: false, lg: true %}
            </div>
             <div class="col-sm-10 col-sm-offset-1">
                <div class="topic-content text-center">
                    <h3 class="title">1200D Recycled Poly</h3>
                    <p class="description">Made from recycled plastic bottles, this technical fabric is water-resistant, eco-friendly, and super-strong. The “D” stands for denier, a measure of yarn thickness, making this recycled poly our thickest and strongest yet.</p>
                </div>
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                {% include 'discover-picture', name: 'prospect-materials-4', alt: 'Jacquard lining pattern', retina: true, fw: false, lg: true %}
            </div>
             <div class="col-sm-10 col-sm-offset-1">
                <div class="topic-content text-center">
                    <h3 class="title">Wave Jacquard Lining</h3>
                    <p class="description">Our founders designed this lining as an homage to their late father, Fred Lo, whose life was full of waves: He was a radio astronomer who loved the ocean.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="discover-cta">
        <div class="container">
            <div class="row topic-block" style="margin-bottom: 50px">
                <div class="col-md-6">
                    <div class="topic-content">
                        <h3 class="title">{{ ctaTitle }}</h3>
                        <p class="price">{{ ctaPrice }}</p>
                        <div class="btn-set hidden-xs hidden-sm">
                            <a class="btn btn-gtm-trk" data-gtm-a="1" href="{{ ctaLink }}">Buy now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="{{ ctaLink }}">
                        {% include 'discover-picture', name: 'prospect-cta', alt: 'prospect padded straps', retina: true, fw: true, lg: true %}
                    </a>
                    <div class="btn-set hidden-md hidden-lg">
                        <a class="btn btn-gtm-trk" data-gtm-a="1" href="{{ ctaLink }}">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="row topic-block">
                <div class="col-md-8">
                    <a href="{{ ctaLink }}">
                        {% include 'discover-picture', name: 'prospect-compare', alt: 'prospect padded straps', retina: true, fw: true, lg: true %}
                    </a>
                </div>
                <div class="col-md-4">
                    <div class="topic-content">
                        <h3 class="title">Can't Decide?</h3>
                        <p class="description">Compare all backpack styles  to find the one that’s right for you.</p>
                        <div class="btn-set">
                            <a class="btn btn-secondary more-window-trigger" href="#prospect-compare-overlay">Compare</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="more-window" id="prospect-compare-overlay">
        <div class="container">
            
        </div>
        <button class="panel-close"><span class="sr-only">close</span></button>
    </div>

    <script>// <![CDATA[ 
    var video5Embed = '<iframe src="//player.vimeo.com/video/329254374?player_id=vimeo-video1&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-catalinadeluxelarge" class="vimeo"></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>