{% include 'vars' %}

{%- assign assetVersion = 3309824680850768265 -%}
{%- assign ctaTitle = 'The Seville' -%}
{%- assign ctaPrice = '$398 - $428' -%}
{%- assign ctaLink = '/products/seville-tote-saffiano-leather-black-gold-grey' -%}

{% comment %} duplicate of this in #travel-shell-details {% endcomment %}
<style>
.comparison figure{
	background-image: url('https://cdn.shopify.com/s/files/1/2185/1497/files/seville-memory-yarn-smooth-xs.jpg?3168812252590863496');
}
.comparison .divisor{
	background-image: url('https://cdn.shopify.com/s/files/1/2185/1497/files/seville-memory-yarn-wrinkled-xs.jpg?3168812252590863496');
}
@media (min-width: {{screenSm}}) {
	.comparison figure{
		background-image: url('https://cdn.shopify.com/s/files/1/2185/1497/files/seville-memory-yarn-smooth.jpg?3168812252590863496');
	}
	.comparison .divisor{
		background-image: url('https://cdn.shopify.com/s/files/1/2185/1497/files/seville-memory-yarn-wrinkled.jpg?3168812252590863496');
	}
}
</style>

<article class="discover">

    {% include 'discover-nav', labels:'Design,Features,Materials,Style' %}
    
    <div class="max-container">
        <div class="hero soft-load has-arrow">
            {% include 'discover-picture', name: 'seville-hero-v3', alt: 'woman walking into building with Seville', retina: true, fw: false, lg: true %}
            <div class="hero-content white left">
                <h1 class="title"><span class="subtitle">Discover</span> {{ ctaTitle }}</h1>
                <p class="description">An innovative leather laptop tote that goes from business mode to airplane mode in a snap.</p>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>

    <div class="container">{% include 'hero-jump-target' %}
        <div class="row animate mb-large" {{ animateZoomIn }}>
            <div class="col-sm-6 col-sm-offset-3">
                {% include 'discover-picture', name: 'seville-product-image', alt: 'Seville product shot', retina: true, fw: false, lg: true %}
            </div>
        </div>

    	<a id="nav-target-1" class="jumptarget"></a>
        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">                    
                    <div class="section-heading">
                        <h2 class="title">2 in 1 Tote</h2>
                        <p class="description">A patented interchangeable shell design system and complimentary lightweight shell allows The Seville to transform seamlessly from a work tote to travel tote.</p>
                    </div>
                </div>
            </div>
    	</div>

	    <div class="animate" {{ animateFadeInUp }}>
	        <div class="row topic-block">
	            <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">                    
	                <div class="fw-xs">
	                    <div class="inline-video ratio-9-16 product-video" id="seville-inlined-1">
	                        <div class="embed-container"
	                            data-desktop-url="https://player.vimeo.com/external/293977542.hd.mp4?s=33197fc29d42945a5c939add189dff4b4e029a78&profile_id=175"
	                            data-mobile-url="https://player.vimeo.com/external/293977542.sd.mp4?s=5035aa9f20e25a892d8ebf686132fe425a093d95&profile_id=165"
	                            data-autoplay="true"
	                            data-loops="100">
	                            <video id="video-1" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/seville-2-in-1-video.jpg?{{ assetVersion }}"></video>
	                            <div class="loading"></div>
	                        </div>
	                   </div>
	                </div>
	                <div class="topic-content">
	                    <h3 class="title">Patented Interchangeable Shell Design</h3>
	                    <p class="description">Transform your bag seamlessly without having to unpack everything. The entire interior organizer slips out of one shell and into another in under a minute.</p>
	                </div>
	            </div>
	            <div class="col-sm-5 col-md-6">                    
	                {% include 'discover-picture', name: 'seville-2-in-1', alt: 'Seville on luggage', retina: true, fw: true, lg: true %}
	                <div class="topic-content">
	                    <h3 class="title">Lightweight Travel Shell Included</h3>
	                    <div class="description">
	                    	<p>Each tote includes a complimentary Soft Touch Travel Shell that is super lightweight and water resistant, which allows you to go from work mode to travel mode in a snap.</p>
	                    	<a href="#travel-shell-details" class="more-window-trigger">Learn More +</a>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>

		<a id="nav-target-2" class="jumptarget"></a>
	    <div class="animate" {{ animateFadeInUp }}>
	        <div class="row">
	            <div class="col-sm-8 col-sm-offset-2">                    
	                <div class="section-heading">
	                    <h2 class="title">Stay Organized</h2>
	                </div>
	            </div>
	        </div>
		</div>

		<div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
			<div class="{{ topicBlockImgCol }}">
				{% include 'discover-picture', name: 'seville-organized-1', alt: 'Seville padded laptop sleeve', retina: true, fw: false, lg: true %}
			</div>
			<div class="{{ topicBlockContentCol }}">
				<div class="topic-content">
				    <h3 class="title">Padded Laptop Sleeve</h3>
				    <p class="description">Available in two sizes to accommodate 13" &amp; 15" laptops.</p>
				</div>
			</div>
		</div>
		<div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
			<div class="{{ topicBlockImgCol }}">
				{% include 'discover-picture', name: 'seville-organized-2-v2', alt: 'Seville interior pockets', retina: true, fw: false, lg: true %}
			</div>
			<div class="{{ topicBlockContentCol }}">
				<div class="topic-content">
				    <h3 class="title">Plenty of Interior Pockets</h3>
				    <p class="description">Well placed pockets keep business documents, tech devices, and personal items organized.</p>
				</div>
			</div>
		</div>
		<div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
			<div class="{{ topicBlockImgCol }}">
				{% include 'discover-picture', name: 'seville-organized-3', alt: 'Seville key leash', retina: true, fw: false, lg: true %}
			</div>
			<div class="{{ topicBlockContentCol }}">
				<div class="topic-content">
				    <h3 class="title">Key Leash</h3>
				    <p class="description">Never misplace your keys again.</p>
				</div>
			</div>
		</div>

    </div>
	
	<div class="max-container mb-large">
		 <div class="inline-video ratio-16-9 product-video" id="seville-inlined-2">
		     <div class="embed-container"
		         data-desktop-url="https://player.vimeo.com/external/293977465.hd.mp4?s=60cc44839e6b9368286c7dc9561b5038a41d7f07&profile_id=175"
		         data-mobile-url="https://player.vimeo.com/external/293977465.sd.mp4?s=f47fbf6dc428cbed3c186068f2b3c90f60189b59&profile_id=165"
		         data-autoplay="true"
		         data-loops="100">
		         <video id="video-2" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/seville-organized-video.jpg?{{ assetVersion }}"></video>
		         <div class="loading"></div>
		     </div>
		</div>
	</div>

	<div class="container">
		<a id="nav-target-3" class="jumptarget"></a>
	    <div class="animate" {{ animateFadeInUp }}>
	        <div class="row">
	            <div class="col-sm-8 col-sm-offset-2">                    
	                <div class="section-heading">
	                    <h2 class="title">Luxurious and Durable Materials</h2>
	                </div>
	            </div>
	        </div>
		</div>
		
		<div class="animate" {{ animateFadeInUp }}>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
					{% include 'discover-picture', name: 'seville-saffiano', alt: 'Seville saffiano leather', retina: true, fw: true, lg: true %}
				</div>
				<div class="col-sm-8 col-sm-offset-2">
					<div class="topic-content text-center text-left-xs">
					    <h3 class="title">Saffiano Leather Exterior</h3>
					    <p class="description">Scratch resistant, water resistant, and extremely durable.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="animate" {{ animateFadeInUp }}>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
					<div class="fw-xs">
						<div class="comparison">
							<figure>
								<div class="handle" id="comparison-handle"></div>
								<div class="divisor" id="comparison-divisor"></div>
							</figure>
							<input type="range" min="0" max="100" value="50" id="comparison-slider" oninput="moveDivisor()">
						</div>
					</div>
				</div>
				<div class="col-sm-8 col-sm-offset-2">
					<div class="topic-content text-center text-left-xs">
					    <h3 class="title">Memory Yarn</h3>
					    <p class="description">The complimentary Soft Touch Travel Shell is made from an advanced polymer memory yarn that easily adapts when physical force is applied to it.  Making it easy to fold and pack away, but with the soft swipe of the hand you can smooth out most wrinkles. It's super lightweight, stain resistant, water resistant, and easily cleanable.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="animate" {{ animateFadeInUp }}>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
					{% include 'discover-picture', name: 'seville-jacquard', alt: 'Seville jacquard lining', retina: true, fw: true, lg: true %}
				</div>
				<div class="col-sm-8 col-sm-offset-2">
					<div class="topic-content text-center text-left-xs">
					    <h3 class="title">Signature Jacquard Lining</h3>
					    <p class="description">Crafted from in a premium quality jacquard lining in our signature hummingbird print.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="animate mb-default" {{ animateFadeInUp }}>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
					{% include 'discover-picture', name: 'seville-buttons', alt: 'Seville Italian buttons', retina: true, fw: true, lg: true %}
				</div>
				<div class="col-sm-8 col-sm-offset-2">
					<div class="topic-content text-center text-left-xs">
					    <h3 class="title">Italian Buttons</h3>
					    <p class="description">Ultra strong and durable snap buttons by Cobra™, an Italian producer of high-end hardware, connect the leather straps of the interior organizer to the outer shell. The firm click of the snaps assures you that your Seville Tote is securely assembled.</p>
					</div>
				</div>
			</div>
		</div>
		
		<a id="nav-target-4" class="jumptarget"></a>
		<div class="row animate" {{ animateFadeInUp }}>
		    <div class="col-sm-8 col-sm-offset-2">                    
		        <div class="section-heading">
		            <h2 class="title">Timeless Style</h2>
		            <p class="description">The Seville’s classic design will never go out of style. This innovative laptop tote will keep you looking polished and professional everyday.</p>
		        </div>
		    </div>
		</div>
		<div class="animate" {{ animateFadeInUp }}>
		  <div class="row mb-gutter">
		    <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
		      {% include 'discover-picture', name: 'seville-timeless-1', alt: 'woman walking with Seville', retina: true, fw: true, lg: true %}
		    </div>
		  </div>
		  <div class="row topic-block mb-large">
		      <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0"> 
		        <div class="mb-gutter">
		          {% include 'discover-picture', name: 'seville-timeless-2', alt: "woman with Seville on luggage", retina: true, fw: true, lg: true %}
		        </div>
		      </div>
		      <div class="col-sm-5 col-md-6">                    
		          {% include 'discover-picture', name: 'seville-timeless-3', alt: "woman holding Seville while using phone", retina: true, fw: true, lg: true %}
		      </div>
		  </div>
		</div>
		
	    <div class="animate" {{ animateFadeInUp }}>
	        <div class="row">
	            <div class="col-sm-8 col-sm-offset-2">                    
	                <div class="section-heading">
	                    <h2 class="title">Included with purchase</h2>
	                </div>
	            </div>
	        </div>
		</div>
		
	    <div class="animate" {{ animateFadeInUp }}>
	        <div class="row">
	            <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0"> 
	            	<div class="mb-gutter">
	            		{% include 'discover-picture', name: 'seville-included-1', alt: 'Seville shell included with purchase', retina: true, fw: false, lg: true %}
	            	</div>
	            </div>
	            <div class="col-sm-5 col-md-6">                    
	                {% include 'discover-picture', name: 'seville-included-2', alt: 'Seville dust bag', retina: true, fw: false, lg: true %}
	            </div>
	        </div>
	        <div class="row">
	        	<div class="col-sm-10 col-sm-offset-1">
	        		<div class="topic-content text-center text-left-xs">
	        		    <p class="description">All Seville Tote purchases include both a Saffiano Leather Shell as well as a dust bag containing a Soft Touch Travel Shell made from memory yarn. Additional leather shells are sold separately.</p>
	        		</div>
	        	</div>
	        </div>
		</div>

	    <div class="animate" {{ animateFadeInUp }}>
	        <div class="row">
	            <div class="col-sm-8 col-sm-offset-2">                    
	                <div class="section-heading">
	                    <h2 class="title">Shop</h2>
	                </div>
	            </div>
	        </div>
		</div>

		<div class="row fw-xs animate cta-block" {{ animateFadeInUp }}>
		    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
		        <a class="btn-gtm-trk" data-gtm-a="7" href="/products/seville-tote-saffiano-leather-black-gold-grey">
		        	{% include 'discover-picture', name: 'seville-tote-cta', alt: 'Shop Seville Tote', retina: true, fw: false %}
		        </a>
		    </div>
		    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
		        <div class="topic-content">
		            <h3 class="title">{{ ctaTitle }} Tote</h3>
		            <p class="description">{{ ctaPrice }}</p>
		            <div class="btn-set">
		               <a class="btn btn-secondary btn-gtm-trk" data-gtm-a="8" href="{{ ctaLink }}">View colors &amp; sizes</a>
		               <a class="btn btn-gtm-trk" data-gtm-a="1" href="{{ ctaLink }}">Buy now</a>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="row fw-xs animate cta-block" {{ animateFadeInUp }}>
		    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
		        <a class="btn-gtm-trk" data-gtm-a="7" href="/products/seville-shell-saffiano-leather-white-gold-black">
		        	{% include 'discover-picture', name: 'seville-shell-cta-v2', alt: 'Shop Seville Shell', retina: true, fw: false %}
		        </a>
		    </div>
		    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
		        <div class="topic-content">
		            <h3 class="title">{{ ctaTitle }} Shell</h3>
		            <p class="description">$168 - $178</p>
		            <div class="btn-set">
		               <a class="btn btn-secondary btn-gtm-trk" data-gtm-a="8" href="/products/seville-shell-saffiano-leather-white-gold-black">View colors &amp; sizes</a>
		               <a class="btn btn-gtm-trk" data-gtm-a="1" href="/products/seville-shell-saffiano-leather-white-gold-black">Buy now</a>
		            </div>
		        </div>
		    </div>
		</div>
		
	</div>

	<div class="more-window" id="travel-shell-details">
		<div class="container">
			<div class="row">
			    <div class="col-sm-10 col-sm-offset-1">                    
			        <div class="section-heading">
			            <h2 class="title">The Travel Shell</h2>
			            <p class="description">This patented design system allows you to change the exterior of your bag without having to unpack everything. The inner bag slips out of one shell and into the travel shell so you can go from business mode to airplane mode in a snap.</p>
			        </div>
			    </div>
			</div>
			<div class="row topic-block">
			    <div class="col-sm-6">                    
			        {% include 'discover-picture', name: 'seville-travel-shell-1', alt: "O.G. and O.M.G.'s suitcase handle sleeve", retina: true, fw: false, lg: true %}
			        <div class="topic-content">
			            <h3 class="title">Business Mode</h3>
			            <p class="description">The classic leather shell will keep you looking polished and professional everyday.</p>
			        </div>
			    </div>
			    <div class="col-sm-6">                    
			        {% include 'discover-picture', name: 'seville-travel-shell-2', alt: "O.G. and O.M.G.'s messenger strap", retina: true, fw: false, lg: true %}
			        <div class="topic-content">
			            <h3 class="title">Airplane Mode</h3>
			            <p class="description">Each Seville Tote includes a complimentary Travel Shell that is secures to your luggage handle.</p>
			        </div>
			    </div>
			</div>

			<div class="row">
			    <div class="col-sm-10 col-sm-offset-1">                    
			        <div class="section-heading">
			            <h2 class="title">How it works</h2>
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-sm-4">                    
			        {% include 'discover-picture', name: 'seville-travel-shell-3', alt: "O.G. and O.M.G.'s suitcase handle sleeve", retina: true, fw: false, lg: true %}
			        <div class="topic-content">
			            <h3 class="title">Step 1: Unsnap Straps</h3>
			            <p class="description">Unsnap both leather straps and slide them through the metal grommets.</p>
			        </div>
			    </div>
			    <div class="col-sm-4">                    
			        {% include 'discover-picture', name: 'seville-travel-shell-4', alt: "O.G. and O.M.G.'s messenger strap", retina: true, fw: false, lg: true %}
			        <div class="topic-content">
			            <h3 class="title">Step 2: Swap Shells</h3>
			            <p class="description">Remove the inner bag from the shell and place into the new shell.</p>
			        </div>
			    </div>
			    <div class="col-sm-4">                    
			        {% include 'discover-picture', name: 'seville-travel-shell-5', alt: "O.G. and O.M.G.'s messenger strap", retina: true, fw: false, lg: true %}
			        <div class="topic-content">
			            <h3 class="title">Step 3: Secure Straps</h3>
			            <p class="description">Thread the leather straps through the grommets and securely snap into place.</p>
			        </div>
			    </div>
			</div>
			
			 <div class="inline-video ratio-4-3 product-video" id="seville-inlined-3">
			 	<div class="mb-large">
				     <div class="embed-container"
				         data-desktop-url="https://player.vimeo.com/external/293977511.hd.mp4?s=92da55df3882f0d17b1b5a2d46c13d1ddd38ad41&profile_id=175"
				         data-mobile-url="https://player.vimeo.com/external/293977511.sd.mp4?s=2ca281303ff2e9fd4dddb5b2881b33fbb8952b35&profile_id=165"
				         data-autoplay="true"
				         data-force="true"
				         data-loops="100">
				         <video id="video-3" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/seville-travel-shell-poster.jpg?{{ assetVersion }}"></video>
				         <div class="loading"></div>
				     </div>
			     </div>
			</div>

			<div class="row">
			    <div class="col-sm-10 col-sm-offset-1">                    
			        <div class="section-heading">
			            <h2 class="title">Lightweight, Water-Resistant Material</h2>
			            <p class="description">The super lightweight Soft-Touch travel shell is made of durable, water-resistant, and wipeable "Memory Yarn", a fine weave soft nylon that quickly releases wrinkles.</p>
			        </div>
			    </div>
			</div>
			
			<div class="fw-xs mb-large">
				<div class="comparison">
					<figure>
						<div class="handle" id="comparison-handle-2"></div>
						<div class="divisor" id="comparison-divisor-2"></div>
					</figure>
					<input type="range" min="0" max="100" value="50" id="comparison-slider-2" oninput="moveDivisor2()">
				</div>
			</div>

			<div class="row">
			    <div class="col-sm-10 col-sm-offset-1">                    
			        <div class="section-heading">
			            <h2 class="title">Packing Tip</h2>
			        </div>
			    </div>
			</div>
			<div class="row topic-block">
			    <div class="col-sm-4">                    
			        {% include 'discover-picture', name: 'seville-travel-shell-6', alt: "O.G. and O.M.G.'s suitcase handle sleeve", retina: true, fw: false, lg: true %}
			        <div class="topic-content">
			            <h3 class="title">Step 1</h3>
			            <p class="description">Remove travel shell from the dust bag.</p>
			        </div>
			    </div>
			    <div class="col-sm-4">                    
			        {% include 'discover-picture', name: 'seville-travel-shell-7', alt: "O.G. and O.M.G.'s messenger strap", retina: true, fw: false, lg: true %}
			        <div class="topic-content">
			            <h3 class="title">Step 2</h3>
			            <p class="description">Attach to inner bag and slide over luggage handle.</p>
			        </div>
			    </div>
			    <div class="col-sm-4">                    
			        {% include 'discover-picture', name: 'seville-travel-shell-8', alt: "O.G. and O.M.G.'s messenger strap", retina: true, fw: false, lg: true %}
			        <div class="topic-content">
			            <h3 class="title">Step 3</h3>
			            <p class="description">Use the empty dust bag to store your shoes while traveling.</p>
			        </div>
			    </div>
			</div>
		</div>
		<button class="panel-close"><span class="sr-only">close</span></button>
	</div>

	<script>
	var divisor1 = document.getElementById("comparison-divisor");
	var handle1 = document.getElementById("comparison-handle");
	var slider1 = document.getElementById("comparison-slider");

	var divisor2 = document.getElementById("comparison-divisor-2");
	var handle2 = document.getElementById("comparison-handle-2");
	var slider2 = document.getElementById("comparison-slider-2");

	function moveDivisor() {
	 	handle1.style.left = slider1.value+"%";
		divisor1.style.width = slider1.value+"%";
	}
	function moveDivisor2() {
	 	handle2.style.left = slider2.value+"%";
		divisor2.style.width = slider2.value+"%";
	}

	window.onload = function() {
		moveDivisor();
		moveDivisor2();
	};
	</script>

</article>