{% include 'vars' %}
{%- assign assetVersion = 6124356571243328842 -%}

<article class="discover">
    
    <div class="max-container">
        <div class="hero soft-load has-black-arrow" id="camo-hero">
            {% include 'discover-picture', name: 'camo-hero', alt: 'new color - camo', retina: true, fw: false, lg: true %}
            <div class="hero-content black center">
                <h1 class="title">The Camo Collection</h1>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>
    <div class="container">
        {% include 'hero-jump-target' %}
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="section-heading">
                    <h2 class="title">A Subtler Side of Camo</h2>
                    <p class="description">Meet our newest neutral: a versatile print everyday sophistication.</p>
                </div>
            </div>
        </div>

        <div class="animate mb-gutter" {{ animateFadeInUp }}>
            {% include 'discover-picture', name: 'camo-work-1', alt: 'man with Hanover in camo on shoulder', retina: true, fw: false, lg: true %}
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-6"> 
                <div class="mb-gutter-xs">
                    {% include 'discover-picture', name: 'camo-work-2', alt: 'close up of Hanover on luggage', retina: true, fw: false, lg: true %}  
                </div>
            </div>
            <div class="col-sm-6"> 
                {% include 'discover-picture', name: 'camo-work-3', alt: 'man walking with Hanover on luggage', retina: true, fw: false, lg: true %}  
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="topic-content text-center">
                    <h3 class="title">On the Move</h3>
                    <p class="description">Sophisticated yet casual, our Camo Collection is perfect  for your next trip—no matter how near or far. </p>
                </div>   
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-6"> 
                <div class="mb-gutter">
                    {% include 'discover-picture', name: 'camo-fitness-1', alt: 'close up of Hanover side pocket', retina: true, fw: false, lg: true %}  
                </div>
            </div>
            <div class="col-sm-6"> 
                <div class="mb-gutter">
                    {% include 'discover-picture', name: 'camo-fitness-2', alt: 'woman with Hanover in camo on shoulder', retina: true, fw: false, lg: true %}  
                </div>
            </div>
        </div>
        <div class="animate" {{ animateFadeInUp }}>
            {% include 'discover-picture', name: 'camo-fitness-3', alt: 'woman walking with Hanover in camo on shoulder', retina: true, fw: false, lg: true %}
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="topic-content text-center">
                    <h3 class="title">Activewear, Anywhere</h3>
                    <p class="description">Form meets function. Our camo collection is made to take you  from gym sessions to city strolls and everywhere in between.</p>
                </div>   
            </div>
        </div>

        <div class="animate mb-gutter" {{ animateFadeInUp }}>
            {% include 'discover-picture', name: 'camo-weekend-1', alt: 'woman and man in fall scene with camo products', retina: true, fw: false, lg: true %}
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-6"> 
                <div class="mb-gutter-xs">
                    {% include 'discover-picture', name: 'camo-weekend-2', alt: 'woman and man walking away with camo products', retina: true, fw: false, lg: true %}  
                </div>
            </div>
            <div class="col-sm-6"> 
                {% include 'discover-picture', name: 'camo-weekend-3', alt: 'close up of Edgemont in camo', retina: true, fw: false, lg: true %}  
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="topic-content text-center">
                    <h3 class="title">Weekend Wind-Down</h3>
                    <p class="description">Whether exploring a new neighborhood or keeping it local,  these bags are the perfect weekend accessories.</p>
                </div>   
            </div>
        </div>


        <div class="row fw-xs animate cta-block" {{ animateFadeInUp }}>
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
                <a class="btn-gtm-trk" data-gtm-a="7" href="/products/hanover-600d-recycled-poly-navy-camo">
                    {% include 'discover-picture', name: 'camo-cta-hanover', alt: 'Shop The Hanover in camo', retina: true, fw: false %}
                </a>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
                <div class="topic-content">
                    <h3 class="title">The Hanover</h3>
                    <p class="description">A minimalist travel backpack with  maximum functionality. $128.</p>
                    <div class="btn-set">
                       <a class="btn btn-gtm-trk" data-gtm-a="1" href="/products/hanover-600d-recycled-poly-navy-camo">Buy now</a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row fw-xs animate cta-block" {{ animateFadeInUp }}>
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
                <a class="btn-gtm-trk" data-gtm-a="7" href="/products/hanover-deluxe-600d-recycled-poly-navy-camo">
                    {% include 'discover-picture', name: 'camo-cta-hanover-deluxe', alt: 'Shop The Hanover Deluxe in camo', retina: true, fw: false %}
                </a>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
                <div class="topic-content">
                    <h3 class="title">The Hanover Deluxe</h3>
                    <p class="description">Our best selling travel backpack, now  with even more space and features. $148.</p>
                    <div class="btn-set">
                       <a class="btn btn-gtm-trk" data-gtm-a="1" href="/products/hanover-deluxe-600d-recycled-poly-navy-camo">Buy now</a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row fw-xs animate cta-block" {{ animateFadeInUp }}>
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
                <a class="btn-gtm-trk" data-gtm-a="7" href="/products/edgemont-600d-recycled-poly-navy-camo">
                    {% include 'discover-picture', name: 'camo-cta-edgemont', alt: 'Shop The Edgemont in camo', retina: true, fw: false %}
                </a>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
                <div class="topic-content">
                    <h3 class="title">The Edgemont</h3>
                    <p class="description">A convertible backpack tote  designed for any kind of trip. $128.</p>
                    <div class="btn-set">
                       <a class="btn btn-gtm-trk" data-gtm-a="1" href="/products/edgemont-600d-recycled-poly-navy-camo">Buy now</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>
