{% include 'discover-vars' %}

<article class="discover">
    <nav class="page-nav theme-light has-button">
        <div class="container-fluid">
            <span class="page-nav-title">Catalina</span>
            <a href="#" id="page-nav-items-toggle"></a>
            <ul class="page-nav-actions">
                <li><a href="/products/catalina-washed-canvas-indigo-colorblock" class="btn btn-primary">Buy Now</a></li>
            </ul>
            <ul class="page-nav-items">
                <li><a href="#nav-target-1" class="page-nav-item">Materials</a></li>
                <li><a href="#nav-target-2" class="page-nav-item">Compare</a></li>
                <li><a href="#nav-target-3" class="page-nav-item">Press</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="max-container">
        <div class="hero">
            <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-discover-hero-lg.jpg?10126123271309293400" media="(min-width: {{ screenMd }})" />
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-discover-hero-sm.jpg?10126123271309293400" media="(min-width: {{ screenSm }})" />
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-discover-hero-xs.jpg?10126123271309293400" alt="TODO" />
            </picture>
            <div class="hero-content">
                <h1 class="block-title"><span class="block-subtitle">Discover</span> Catalina Deluxe</h1>
                <p class="block-description">An updated edition of the Catalina weekender with additional features. Available in 2 sizes.</p>
                <a href="#" data-video-id="1" class="overview-video-trigger">
                    <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                </a>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">
                <picture class="fw-xs">
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-bottom-pocket-md.jpg?13522797054513733584" media="(min-width: {{ screenMd }})" />
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-bottom-pocket-sm.jpg?13522797054513733584" media="(min-width: {{ screenSm }})" />
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-bottom-pocket-xs.jpg?13522797054513733584" alt="TODO" />
                </picture>
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">                    
                <h2 class="block-title">Smart Design</h2>
                <p class="block-description">Lorem ipsum dolor sit amet consectet nibh Proin ultrices nibh interdum</p>
            </div>
        </div>
        side by side
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">
                <picture id="catalina-bottom-pocket" class="fw-xs">
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-bottom-pocket-md.jpg?13522797054513733584" media="(min-width: {{ screenMd }})" />
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-bottom-pocket-sm.jpg?13522797054513733584" media="(min-width: {{ screenSm }})" />
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-bottom-pocket-xs.jpg?13522797054513733584" alt="TODO" />
                </picture>
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">
                <picture id="catalina-bottom-pocket" class="fw-xs">
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-bottom-pocket-md.jpg?13522797054513733584" media="(min-width: {{ screenMd }})" />
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-bottom-pocket-sm.jpg?13522797054513733584" media="(min-width: {{ screenSm }})" />
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-bottom-pocket-xs.jpg?13522797054513733584" alt="TODO" />
                </picture>
            </div>
        </div>
        side by side<br />
        side by side<br />
        side by side
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">                    
                <h2 class="block-title">Super Spacious</h2>
                <p class="block-description">Lorem ipsum dolor sit amet consectet nibh Proin ultrices nibh interdum</p>
            </div>
        </div>
    </div>

    <div class="max-container">
        <div class="fw-image theme-white">
            <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-hero-lg.jpg?17123996295315384134" media="(min-width: {{ screenLg }})" />
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-hero-md.jpg?17123996295315384134" media="(min-width: {{ screenMd }})" />
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-hero-sm.jpg?17123996295315384134" media="(min-width: {{ screenSm }})" />
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-hero-xs.jpg?17123996295315384134" alt="TODO" />
            </picture>
            <div class="hero-content center">
                <h1 class="block-title"><span class="block-subtitle">What Fits Inside</h1>
                <a href="#" data-video-id="1" class="overview-video-trigger">
                    <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">                    
                <h2 class="block-title">Carry-on Friendly</h2>
                <p class="block-description">Lorem ipsum dolor sit amet consectet nibh Proin ultrices nibh interdum</p>
            </div>
        </div>

        side by side<br />

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">                    
                <h2 class="block-title">High-Quality Materials</h2>
                <p class="block-description">Lorem ipsum dolor sit amet consectet nibh Proin ultrices nibh interdum</p>
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">                    
                <picture class="fw-xs">
                   <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-organic-cotton-canvas-md.jpg?18150851609509086438" media="(min-width: {{ screenMd }})">
                   <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-organic-cotton-canvas-sm.jpg?18150851609509086438" media="(min-width: {{ screenSm }})">
                   <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-organic-cotton-canvas-xs.jpg?18150851609509086438" alt="TODO">
               </picture>
               <div class="figure-caption">
                   <h3 class="title">Lightweight</h3>
                   <p class="description">Lorem ipsum dolor sit amet constur adipiscing elit. Proin ultrices nibh interdum pell.</p>
               </div>
            </div>
        </div>

        {% include 'discover-materials' %}

    </div>
    
    <a id="nav-target-3" class="jumptarget"></a>
    <div class="container pr-items animate" {{ animateFadeInUp }}>
        <h2 class="block-title text-center">Traveler Approved</h2>
        <div class="row topic-end">
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Racked_logo_910159dd-f7c2-4611-85cf-e70fc48f9d0d.png?4791522853996515306" alt="Racked logo"></p>
                    <p class="pr-quote">&ldquo;I didn’t bring family-size jars of Vaseline or fun packs of chocolates, and I didn’t have to stress about lost baggage or juggling too much stuff or any of the minor luggage-related hassles that we all face. And it’s all thanks to this Lo & Sons Weekender, easily the best bag I’ve ever purchased.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Expedia_2012_logo.png?4791522853996515306" alt="Expedia logo"></p>
                    <p class="pr-quote">&ldquo;The Catalina Deluxe Small is a dream weekend tote or carry-on bag. The base of the tote bag is a compartment that can store shoes and bulkier ponchos, and the top compartment is extra spacious and easily fits everything you would need for a weekend away!&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/apartment_therapy.png?4791522853996515306" alt="Apartment Therapy logo"></p>
                    <p class="pr-quote">&ldquo;Not your average weekender, this travel tote bag is the ultimate carry-on to keep your friend on the go both organized and chic.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Popsugar.png?4791522853996515306" alt="Popsugar logo"></p>
                    <p class="pr-quote">&ldquo;A Weekender that Won't Quit&rdquo;</p>
                </blockquote>
            </div>
        </div>
    </div>
    
    {%- assign ctaTitle = 'Catalina Deluxe' -%}
    {%- assign ctaPrice = '$128 - $158' -%}
    {%- assign ctaLink = '/products/catalina-deluxe-washed-canvas-midnight-ash' -%}
    {%- assign ctaImgXs = 'https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-cta-xs.jpg?1312692621756025204' -%}
    {%- assign ctaImgMd = 'https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-cta-md.jpg?1312692621756025204' -%}

    {% include 'discover-cta' %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="//player.vimeo.com/video/170848014?player_id=vimeo-catalinadeluxelarge&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-catalinadeluxelarge" class="vimeo"></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>