{%- assign screenLg = '1680px' -%}
{%- assign screenMd = '1025px' -%}
{%- assign screenSm = '768px' -%}
{%- assign screenXs = '375px' -%}

<article class="discover">
    <nav class="page-nav theme-light has-button">
        <div class="container-fluid">
            <h1 class="page-nav-title">Catalina</h1>
            <a href="#" id="page-nav-items-toggle"></a>
            <ul class="page-nav-actions">
                <li><a href="/products/edgemont-600d-recycled-poly-onyx" class="btn btn-primary">Buy Now</a></li>
            </ul>
            <ul class="page-nav-items">
                <li><a href="#block-target-1" class="page-nav-item">Features</a></li>
                <li><a href="#block-target-8" class="page-nav-item">See What Fits Inside</a></li>
                <li><a href="#block-target-11" class="page-nav-item">Material</a></li>
                <!-- <li><a href="#block-target-14" class="page-nav-item">Compare</a></li> -->
            </ul>
        </div>
    </nav>
    
    <div class="page-block theme-white">
        <div class="fw-image">
            <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-hero-lg.jpg?17123996295315384134" media="(min-width: {{ screenLg }})" />
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-hero-md.jpg?17123996295315384134" media="(min-width: {{ screenMd }})" />
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-hero-sm.jpg?17123996295315384134" media="(min-width: {{ screenSm }})" />
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-hero-xs.jpg?17123996295315384134" alt="TODO" />
            </picture>
            <div class="section-content right">
                <div class="flexer">
                    <p class="block-subtitle">Discover</p>
                    <p class="block-title">Catalina</p>
                    <p class="block-description">A lightweight weekend travel bag designed to fit everything you need for a weekend away with room to spare.</p>
                    <a href="#" data-video-id="1" class="overview-video-trigger">
                        <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="page-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">                    
                    <h2 class="block-title">Smart Design</h2>
                    <p class="block-description">The bottom pocket is perfect for separating shoes, dirty laundry, or toiletries from the rest of your things. The interior zipper pocket and exterior slip pocket help keep your travel essentials organized and easily accessible.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-bottom-pocket-md.jpg?13522797054513733584" media="(min-width: {{ screenMd }})" />
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-bottom-pocket-sm.jpg?13522797054513733584" media="(min-width: {{ screenSm }})" />
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-bottom-pocket-xs.jpg?13522797054513733584" alt="TODO" />
                    </picture>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-front-exterior-pocket-md.jpg?6888975256822772316" media="(min-width: {{ screenMd }})">
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-front-exterior-pocket-sm.jpg?6888975256822772316" media="(min-width: {{ screenSm }})">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-front-exterior-pocket-xs.jpg?6888975256822772316" alt="TODO">
                    </picture>
                    <h3 class="block-heading">Front Exterior Pocket</h3>
                    <p>Lorem ipsum dolor sit amet constur adipiscing elit. Proin ultrices nibh interdum pell.</p>
                </div>
                <div class="col-md-4 offset-top">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-interior-pocket-md.jpg?6888975256822772316" media="(min-width: {{ screenMd }})">
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-interior-pocket-sm.jpg?6888975256822772316" media="(min-width: {{ screenSm }})">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-interior-pocket-xs.jpg?6888975256822772316" alt="TODO">
                    </picture>
                    <h3 class="block-heading">Interior Pocket</h3>
                    <p>Lorem ipsum dolor sit amet constur adipiscing elit. Proin ultrices nibh interdum pell.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">                    
                    <h2 class="block-title">Compact</h2>
                    <p class="block-description">When empty, the Catalina can be easily folded and packed in a suitcase for use at your destination or stored away safely at home.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">                    
                    <h2 class="block-title">Spacious</h2>
                    <p class="block-description">The Catalina's spacious design allows you to pack everything you need for a weekend away.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-spacious-md.jpg?18386626769584070751" media="(min-width: {{ screenMd }})" />
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-spacious-sm.jpg?18386626769584070751" media="(min-width: {{ screenSm }})" />
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-spacious-xs.jpg?18386626769584070751" alt="TODO" />
                    </picture>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">                    
                    <h2 class="block-title">Lightweight Materials</h2>
                    <p class="block-description">Lorem ipsum dolor sit amet consectet nibh Proin ultrices nibh interdum</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-pre-washed-canvas-md.jpg?18150851609509086438" media="(min-width: {{ screenMd }})">
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-pre-washed-canvas-sm.jpg?18150851609509086438" media="(min-width: {{ screenSm }})">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-pre-washed-canvas-xs.jpg?18150851609509086438" alt="TODO">
                    </picture>
                    <h3 class="block-heading">Pre-washed Canvas</h3>
                    <p>We use a high-quality, lightweight, yet strong pre-washed canvas. Despite being a softer and less structured canvas than the typical heavy canvas, it can handle a heavyweight load (even though we always encourage packing light). </p>
                </div>
                <div class="col-md-5">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-organic-cotton-canvas-md.jpg?18150851609509086438" media="(min-width: {{ screenMd }})">
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-organic-cotton-canvas-sm.jpg?18150851609509086438" media="(min-width: {{ screenSm }})">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-organic-cotton-canvas-xs.jpg?18150851609509086438" alt="TODO">
                    </picture>
                    <h3 class="block-heading">Organic Cotton Canvas</h3>
                    <p>The material is so natural that you can actually see bits of the seeds on the surface!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="page-block discover-compare xs-fw">
        <div class="container">
            <div class="text-center">                    
                <h2 class="block-title">Compare the Collection</h2>
                <p class="block-description">Find the best Weekender for you.</p>
            </div>
            <div class="overflow-row" data-indicators="#ofi-1">
                <div class="overflow-content" id="discover-catalina-compare">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-compare-md.jpg?9819498961148932255" media="(min-width: {{ screenMd }})">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-compare-xs.jpg?9819498961148932255" alt="TODO">
                    </picture>
                    <ul class="compare-labels">
                        <li>Catalina</li>
                        <li>Catalina<br /> Deluxe Large</li>
                        <li>Catalina<br /> Deluxe Small</li>
                        <li>Catalina<br /> Deluxe Tote</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    <div class="overflow-position" id="ofi-1">
                        <div class="active"><span class="sr-only">Item 1</span></div>
                        <div><span class="sr-only">Item 2</span></div>
                        <div><span class="sr-only">Item 3</span></div>
                        <div><span class="sr-only">Item 4</span></div>
                    </div>  
                </div>
            </div>
            <div class="text-center">  
                <div class="btn-set">
                    <p><a class="btn" href="TODO">Compare Collection</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="page-block discover-cta">
        <div class="row">
            <div class="col-md-6">
                <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-cta-md.jpg?1312692621756025204" media="(min-width: {{ screenSm }})">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-cta-xs.jpg?1312692621756025204" alt="Shop the Catalina weekender">
                </picture>
            </div>
            <div class="col-md-6">
                <div class="section-content">
                    <div data-cta-titles>{% comment %} name and price moves above the image on tablet{% endcomment %}
                        <p class="block-title">Catalina</p>
                        <p class="block-price">$120 - $130</p>
                    </div>
                    <div class="btn-set">
                        <p><a class="btn btn-secondary" href="/products/catalina-washed-canvas-indigo-colorblock">View colors &amp; sizes</a></p>
                        <p><a class="btn" href="/products/catalina-washed-canvas-indigo-colorblock">Buy now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>// <![CDATA[
    var video1Embed = '<iframe src="//player.vimeo.com/video/170848560?player_id=vimeo-catalina&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-catalina" class="vimeo"></iframe>';
    // ]]></script>

    <div id="product-video">
        <div id="product-video-container"></div>
        <a href="#" class="panel-close">Close</a>
    </div>

</article>