{% include 'discover-vars' %}
<article id="credo-giveaway">
	<div class="max-container">
        <div class="hero">
            <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/credo-hero-md.jpg?7970535746814312363" media="(min-width: {{ screenSm }})" />
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/credo-hero-xs.jpg?5648015534517957274" alt="Catalina Deluxe filled with Credo products" />
            </picture>
            <div class="hero-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <h1 class="title">Spring Break Giveaway.</h1>
                            <p class="description"><strong>What you can win</strong></p>
                            <p class="description">$185 of spring travel essentials from Credo and a Catalina Deluxe weekender bag (either size) in color of your choice. </p>
                            <div class="sharing hidden-md hidden-lg">
                                <a href="https://www.facebook.com/sharer.php?u={{ canonical_url | url_encode }}" class="share-btn" data-share-fb>{{'logo-facebook.svg' | asset_url | img_tag }}</a>
                                <a href="http://twitter.com/share?url={{ canonical_url | url_encode }}" class="share-btn" data-share-tw>{{'logo-twitter.svg' | asset_url | img_tag }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-3 col-md-offset-0">
                <div id="credo-logos">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/credo-logo-md.jpg?7970535746814312363" alt="Credo logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/credo-ls-logo.svg?8166520166436355718" alt="Lo &amp; Sons logo">
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-9 col-md-offset-0">
                <p class="lead">Just in time for your warm weather getaways, we’re hosting a giveaway with our friends at Credo.</p>
                <div class="row">
                    <div class="col-sm-10 col-md-9">
                        <p style="margin-bottom: 0">One winner will be gifted the perfect set to get a jumpstart on their travel packing and beauty needs: a Catalina Deluxe weekender bag from Lo &amp; Sons and $185 spring travel essentials from Credo.</p>
                    </div>
                </div>
                <hr>
                <a href="#credo-tc">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
    <div class="max-container hidden-sm hidden-xs">
        <div class="sharing">
            <a href="https://www.facebook.com/sharer.php?u={{ canonical_url | url_encode }}" class="share-btn" data-share-fb>{{'logo-facebook.svg' | asset_url | img_tag }}</a>
            <a href="http://twitter.com/share?url={{ canonical_url | url_encode }}" class="share-btn" data-share-tw>{{'logo-twitter.svg' | asset_url | img_tag }}</a>
        </div>
    </div>
    <div class="container">
        <div class="row product">
            <div class="col-sm-5 col-sm-offset-1 col-md-offset-2 col-lg-6">
                <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/credo-catalina-deluxe-md.jpg?16332520148283092311" media="(min-width: {{ screenMd }})" />
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/credo-catalina-deluxe-xs.jpg?16332520148283092311" alt="Catalina Deluxe product photo" />
                </picture>
            </div>
            <div class="col-sm-4 content-col">
                <p class="name">Catalina Deluxe</p>
                <p class="price">$128 - $158</p>
            </div>
        </div>
        <h2 class="text-center">Inside the bag</h2>
       
        <div class="row partner-products">
            <div class="overflow-window">
                <div class="overflow-row" data-indicators="#ofi-1">
                    <div class="overflow-content" id="credo-products">
                        <div class="col-sm-4">
                            <div class="partner-product">
                                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/credo-suntegrity-xs.jpg?12894104399104230321" alt="Suntegrity product photo" />
                                <h3 class="name">Suntegrity</h3>
                                <p class="price">$ 45.00</p>
                                <p class="description">Primer Sunscreen</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="partner-product">
                                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/credo-tata-harper-xs.jpg?6398483713818714938" alt="Tata Harper product photo" />
                                <h3 class="name">Tata Harper</h3>
                                <p class="price">$ 58.00</p>
                                <p class="description">Resurfacing Mask</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="partner-product">
                                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/credo-captain-blankenship-xs.jpg?16467406257500489603" alt="Captain Blankenship product photo" />
                                <h3 class="name">Captain Blankenship</h3>
                                <p class="price">$ 28.00</p>
                                <p class="description">Ray of Light Sea Salt Sun Spray</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="partner-product">
                                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/credo-juicy-bamboo-xs.jpg?6398483713818714938" alt="Juicy Bamboo product photo" />
                                <h3 class="name">Juicy Bamboo</h3>
                                <p class="price">$ 16.00</p>
                                <p class="description">Facial Cleansing Cloths</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="partner-product">
                                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/credo-herbivore-botanicals-xs.jpg?6398483713818714938" alt="Herbivore Botanicals product photo" />
                                <h3 class="name">Herbivore Botanicals</h3>
                                <p class="price">$ 20.00</p>
                                <p class="description">After Sun Body Mist</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="partner-product">
                                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/credo-coola-xs.jpg?6398483713818714938" alt="Coola product photo" />
                                <h3 class="name">Coola</h3>
                                <p class="price">$ 18.00</p>
                                <p class="description">Mineral Lip in Summer Crush</p>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="overflow-control prev disabled" disabled><span class="sr-only">Previous</span></button>
                <button class="overflow-control next"><span class="sr-only">Next</span></button>
                
            </div>
        </div>
        <div class="overflow-position" id="ofi-1"> 
            <div class="active"><span class="sr-only">Item 1</span></div>
            <div><span class="sr-only">Item 2</span></div>
            <div><span class="sr-only">Item 3</span></div>
            <div><span class="sr-only">Item 4</span></div>
            <div><span class="sr-only">Item 5</span></div>
            <div><span class="sr-only">Item 6</span></div>
        </div>
    </div>
    <div class="cta">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                <h2>Enter to win</h2>
                <p>Simply fill out the form to join the giveaway!</p>
                <div id="credo-subscribe-success" style="display:none; line-height: 1.4" class="alert alert-muted"><strong>Thanks for entering!</strong></div>
                <form id="credo-subscribe">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group floating-label">
                                <label for="credo-fname">First name</label>
                                <input name="fname" id="credo-fname" type="text" class="form-control required" placeholder="First name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group floating-label">
                                <label for="credo-lname">Last name</label>
                                <input name="lname" id="credo-lname" type="text" class="form-control required" placeholder="Last name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group floating-label">
                        <label for="credo-email">Email address</label>
                        <input name="email" id="credo-email" type="email" class="form-control required" placeholder="Email address">
                    </div>
                    <button type="submit" class="btn">I want to win</button>
                </form>
            </div>
        </div>
    </div>

    <div id="credo-tc">
        <div id="credo-tc-content">
            <h2>Terms &amp; Conditions</h2>
            <p>No purchase necessary to enter to win. Making a purchase of payment of any kind will not increase your chances of winning. Void where prohibited or restricted by law. The grand prize winner will receive the following products from Credo: </p>
            <div class="panel">
                <ul>
                    <li><strong>Suntegrity<span class="hidden-xs"> - </span><br class="visible-xs" />Primer Sunscreen:</strong> $45</li>
                    <li><strong>Herbivore<span class="hidden-xs"> - </span><br class="visible-xs" />After Sun Body Mist:</strong> $20</li>
                    <li><strong>Tata Harper<span class="hidden-xs"> - </span><br class="visible-xs" />Resurfacing Mask:</strong> $58</li>
                    <li><strong>Coola<span class="hidden-xs"> - </span><br class="visible-xs" />Mineral Lip in Summer Crush:</strong> $18</li>
                    <li><strong>Captain Blankenship<span class="hidden-xs"> - </span><br class="visible-xs" />Ray of Light Sea Salt Sun Spray:</strong> $28</li>
                    <li><strong>Juicy Bamboo<span class="hidden-xs"> - </span><br class="visible-xs" />Whips:</strong> $16</li>
                </ul>
            </div>
            <p>The grand prize winner will receive a Lo & Sons Catalina Deluxe travel bag in their choice of color and size.</p>
            <p>Prizes cannot be transferred, redeemed for cash or substituted by winner. Credo reserves the right in its sole and absolute discretion to award a substitute prize of equal or greater value if a prize is unavailable or cannot be awarded, in whole or in part, for any reason. If the actual value of the prize turns out to be less than the stated average retail value, the difference will not be awarded in cash. Sponsor makes no representation or warranty concerning the appearance, safety or performance of any prize awarded. Restrictions, conditions, and limitations may apply. Sponsor will not replace any lost or stolen prize items.</p>
            <p>By entering the sweepstakes you agree to receive email newsletters periodically from Lo &amp; Sons and Credo. You can opt-out of receiving this communication at any time by clicking the unsubscribe link in the newsletter. This sweepstakes offer is only available to U.S. residents over the age of 18.  This offer is not redeemable for cash or credit, nor is the offer redeemable for previous purchases. We reserve the right to cancel the gift due to unauthorized, altered, or ineligible use of this gift and to modify or cancel this gift due to system error or unforeseen problems. Subject to change without notice.</p>
            <a href="" class="panel-close"><span class="sr-only">Close</span></a>
        </div>
    </div>
</article>