{% include 'vars' %}

{%- assign assetVersion = 150848 -%}
{%- assign ctaTitle = hanoverTitle -%}
{%- assign ctaPrice = hanoverPrice -%}
{%- assign ctaLink = hanoverPdp -%}

{% include 'cta-overrides' %}

<article class="discover">

    {% include 'discover-nav', labels:'Features,Size,Materials,Press,Compare' %}
    
    <div class="max-container">
        <div class="hero has-arrow" id="hanover-hero">
            {% include 'picture', name: 'hanover2-discover-hero1', alt: 'two people with hanover backpacks' %}
            <div class="hero-content white center">
                <h1 class="title"><span class="subtitle">Discover</span> {{ ctaTitle }}</h1>
                <p class="description">
                    A new and improved version of the Hanover travel backpack — versatile, eco-friendly, and even more thoughtfully designed.
                </p>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>
    
    {% include 'hero-jump-target' %}

    {% include 'product-hero', img: 'hanover2-discover-hero2', alt: 'The Hanover 2 backpack' %}

    <a id="nav-target-1" class="jumptarget"></a>

    {% include 'section-title', title: "Travel", text: "Whether you’re going near or far, pack everything you need for that upcoming vacation." %}
    <div class="container animate" {{ animateFadeInUp }}>
        <div class="block has-cards">
            <div class="row">
                <div class="col-sm-4">
                    {% include 'card',
                        img: 'hanover2-discover-section1-block1',
                        alt: 'man walking across cross-walk with luggage',
                        title: "Seamless Security",
                        text: "The luggage sleeve slides right over a suitcase handle." %}
                </div>
                <div class="col-sm-4">
                    {% include 'card',
                        video: true,
                        ratio: '3-4',
                        index: 3,
                        poster: 'hanover2-discover-section1-block2-md',
                        src: '660d-Collection-Launch-Discover-Refresh-Catalina-and-Hanover-2_Sophie-Sahara_Williamsburg-Hotel_June-2019_Shot_18_Female',
                        title: "Easy Access",
                        text: "Plenty of pockets to keep your travel essentials within reach." %}
                </div>
                <div class="col-sm-4">
                    {% include 'card',
                        img: 'hanover2-discover-section1-block3',
                        alt: 'man putting passport in bag',
                        title: "Improved Design",
                        text: "Passports fit and stay secure in the newly added top stash pocket." %}
                </div>
            </div>
        </div>
    </div>

    {% include 'section-title', title: "Weekend",
    text: "Keep your necessities neat and organized on your next weekend adventure." %}
    <div class="container animate" {{ animateFadeInUp }}>
        <div class="block has-cards">
            <div class="row">
                <div class="col-sm-4">
                    {% include 'card',
                        video: true,
                        ratio: '3-4',
                        index: 4,
                        poster: 'hanover2-discover-section2-block1-md',
                        src: '660d-Collection-Launch-Discover-Refresh-Catalina-and-Hanover-2_Sophie-Sahara_Williamsburg-Hotel_June-2019_Shot_20_Female',
                        title: "Functional Freedom",
                        text: "Remove the interior insert to lighten your load." %}
                </div>
                <div class="col-sm-4">
                    {% include 'card',
                        img: 'hanover2-discover-section2-block2',
                        alt: 'woman wearing hat and backpack',
                        title: "Carrier Comfort",
                        text: "The adjustable shoulder straps are lined with Memory Foam." %}
                </div>
                <div class="col-sm-4">
                    {% include 'card',
                        img: 'hanover2-discover-section2-block3',
                        alt: 'man putting phone in backpack',
                        title: "New Clever Compartments",
                        text: "The top stash pocket is the perfect place to stow your phone." %}
                </div>
            </div>
        </div>
    </div>

    {% include 'section-title', title: "Work", text: "Effortlessly get through the daily grind and take care of business in true style." %}
    <div class="container animate" {{ animateFadeInUp }}>
        <div class="block has-cards">
            <div class="row">
                <div class="col-sm-4">
                    {% include 'card',
                        img: 'hanover2-discover-section3-block1',
                        alt: 'man putting laptop in backpack',
                        title: "Smarter Storage", text: "Now with a NEW separate sleeve to slip your laptop right in." %}
                </div>
                <div class="col-sm-4">
                    {% include 'card',
                        img: 'hanover2-discover-section3-block2',
                        alt: 'woman entering subway train with backpack',
                        title: "Practical Portability", text: "Lightweight and just the right size for crowded commutes." %}
                </div>
                <div class="col-sm-4">
                    {% include 'card',
                        img: 'hanover2-discover-section3-block3',
                        alt: 'woman crossing street with luggage',
                        title: "Transit Friendly", text: "Easily secure onto your luggage and go straight from work to business trip." %}
                </div>
            </div>
        </div>
    </div>

    {% include 'section-title', title: "Workout Session", text: "The definition of form meets function — this is the bag you’ll want to add to your fitness routine." %}
    <div class="container animate" {{ animateFadeInUp }}>
        <div class="block has-cards">
            <div class="row">
                <div class="col-sm-4">
                    {% include 'card',
                        img: 'hanover2-discover-section4-block1',
                        alt: 'man putting waterbottle in bag',
                        title: "Genius Convenience",
                        text: "A water bottle stays in place with the interior mesh pocket. " %}
                </div>
                <div class="col-sm-4">
                    {% include 'card',
                        img: 'hanover2-discover-section4-block2',
                        alt: 'man putting phone in front pocket of bag',
                        title: "Streamlined Security",
                        text: "Keep your phone safe and sound in the sleek front pocket." %}
                </div>
                <div class="col-sm-4">
                    {% include 'card',
                        img: 'hanover2-discover-section4-block3',
                        alt: 'removing headphones from bag',
                        title: "Quick Access",
                        text: "The top stash pocket assures headphones are easy to find." %}
                </div>
            </div>
        </div>
    </div>

    <a id="nav-target-2" class="jumptarget"></a>
    {% include 'section-title', title: "Organized Interior", text: "Designed to maximize what you can take on your travels." %}
    <div class="max-container topic-block mb-default animate video-block" {{ animateFadeInUp }}>
        {% include 'picture', name: 'hanover2-discover-section5-block1', alt: 'video showing how to pack the Hanover 2' %}
        <a href="#" data-video-id="1" class="video-trigger">See What Fits Inside</a>
    </div>

    {% include 'section-title', title: "Carry-On Friendly", text: "We designed Hanover 2 to be the ideal travel partner." %}
    <div class="container animate" {{ animateFadeInUp }}>
        <div class="block has-cards">
            <div class="row">
                <div class="col-sm-6">  
                    {% include 'card',
                        img: 'hanover2-discover-section6-block1',
                        alt: 'airplane seating',
                        title: "Under Seat Ready",
                        text: "The Hanover 2 fits seamlessly under any airline seat." %}               
                </div>
                <div class="col-sm-6">    
                    {% include 'card',
                        img: 'hanover2-discover-section6-block2',
                        alt: 'bag in airplane overhead compartment',
                        title: "Compatible with Overhead Storage ",
                        text: "The Hanover 2 fits seamlessly in the overhead cabin storage." %}
                </div>
            </div>
        </div>
    </div>

    <a id="nav-target-3" class="jumptarget"></a>        
    {% include 'hanover-materials' %}
    
    <a id="nav-target-4" class="jumptarget"></a>        
    <div class="container pr-items">
      {% include 'section-title', title: "Press" %}
      <div class="row topic-end-md">
        {% include 'press-review',
            med-right: false,
            img: 'ny_mag_logo_120.svg',
            alt: 'New York Magazine Logo',
            quote: "An attachable backpack, Lo & Sons’s Hanover bag also includes a removable insert with separate pockets for all your essentials, like a water bottle sleeve and a dedicated laptop section." %}
        {% include 'press-review',
            med-right: true,
            img: 'entrepreneur-logo_120.svg',
            alt: 'Entrepreneur Logo',
            quote: "The Hanover Backpack is not just fashionable, it’s functional. This pack includes a soft removable center insert and storage compartments perfect for keys, a passport and a water bottle, making it an ideal travel companion. Plus, its eco-friendly materials, including polyester made from recycled plastic bottles, help reduce your carbon footprint." %}
        {% include 'press-review',
            med-right: false,
            img: 'travel-leisure-logo_120.svg',
            alt: 'Travel+Leisure Logo',
            quote: "Lo & Sons’ weekender wins praise across outlets, and they’ve applied their winning expertise to backpacks with the Hanover. The standard model fits up to a 13” laptop, while the larger Hanover Deluxe adds space for up to a 15.6” computer, larger front pocket, and a side water bottle sleeve Bonus: It’s made from recycled polyester, so you’re staying sustainable." %}

      </div>
    </div>

    {% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
      {% include 'product-cta-block', handle: page.metafields["global"]["shop-block-collection-handle"] %}
    {% endunless %}

    <a id="nav-target-5" class="jumptarget"></a>        
    {% include 'discover-hanover-compare', url: hanoverCompare %}
    {% include 'compare-backpacks-cta-hanover' %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="https://player.vimeo.com/video/355334593" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>';
    // ]]></script>

</article>