{% include 'vars' %}

{%- assign assetVersion = 2771047703138708056 -%}
{%- assign ctaTitle = 'Catalina Deluxe Tote' -%}
{%- assign ctaPrice = '$118 - $128' -%}
{%- assign ctaLink = '/products/catalina-deluxe-tote-washed-canvas-dove-grey' -%}
{%- assign ctaImg = 'catalina-deluxe-tote-cta' -%}

<article class="discover">

    {% include 'discover-nav', labels:'Features,Size,Materials,Press' %}
    
    <div class="max-container">
        <div class="hero has-arrow" id="catalina-deluxe-tote-hero">
            {% include 'discover-picture', name: 'catalina-deluxe-tote-hero', alt: 'woman with Catalina Deluxe Tote on luggage', retina: true, fw: false, lg: true %}
            <div class="hero-content white left">
                <h1 class="title"><span class="subtitle">Discover</span> Catalina <br />Deluxe Tote</h1>
                <p class="description">The most compact addition to our line of Catalina bags.</p>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>
    
    <div class="container">{% include 'hero-jump-target' %}

        <div class="row animate mb-large" {{ animateFadeInUp }}>
            <div class="col-sm-6 col-sm-offset-3">
                {% include 'discover-picture', name: 'catalina-deluxe-tote-product-shot', alt: 'Catalina Deluxe Tote product shot', retina: true, fw: true, lg: true %}
            </div>
        </div>
        
        <a id="nav-target-1" class="jumptarget"></a>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">                     
                <div class="section-heading">
                    <h2 class="title">Smart Design</h2>
                    <p class="description">Thoughtful features and a place for all your essentials, the Catalina Deluxe Tote is designed for any kind of trip.</p>
                </div>
            </div>
        </div>
        
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
                {% include 'discover-picture', name: 'catalina-deluxe-tote-design-1', alt: "Catalina Deluxe Tote bottom pocket", retina: false, fw: true, lg: true, gif: true %}
            </div>
            <div class="col-sm-5 col-md-offset-1 content-col">
                <div class="topic-content">
                    <h3 class="title">Bottom Pocket</h3>
                    <p class="description">Designed to keep your shoes or dirty clothes separate from clean clothes.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
                {% include 'discover-picture', name: 'catalina-deluxe-tote-design-2', alt: "Catalina Deluxe Tote Suitcase Handle Sleeve", retina: true, fw: true, lg: true %}
            </div>
            <div class="col-sm-5 col-md-offset-1 content-col">
                <div class="topic-content">
                    <h3 class="title">Suitcase Handle Sleeve</h3>
                    <p class="description">Travel seamlessly with a convenient pass through sleeve that secures your bag to a suitcase.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
                {% include 'discover-picture', name: 'catalina-deluxe-tote-design-3', alt: "Catalina Deluxe Tote Messenger Strap", retina: false, fw: true, lg: true, gif: true %}
            </div>
            <div class="col-sm-5 col-md-offset-1 content-col">
                <div class="topic-content">
                    <h3 class="title">Messenger Strap</h3>
                    <p class="description">The removable messenger strap that’s equipped with memory foam padding for extra comfort.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
                {% include 'discover-picture', name: 'catalina-deluxe-tote-design-4', alt: "Catalina Deluxe Tote Front Exterior Pocket", retina: true, fw: true, lg: true %}
            </div>
            <div class="col-sm-5 col-md-offset-1 content-col">
                <div class="topic-content">
                    <h3 class="title">Front Exterior Pocket</h3>
                    <p class="description">Easily access your travel essentials.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-sm" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
                {% include 'discover-picture', name: 'catalina-deluxe-tote-design-5', alt: "Catalina Deluxe Tote interior pockets", retina: true, fw: true, lg: true %}
            </div>
            <div class="col-sm-5 col-md-offset-1 content-col">
                <div class="topic-content">
                    <h3 class="title">Interior Pockets</h3>
                    <p class="description">Multiple pockets to keep your essentials securely stored.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-large" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
                {% include 'discover-picture', name: 'catalina-deluxe-tote-design-6', alt: "Catalina Deluxe Tote key leash", retina: true, fw: true, lg: true %}
            </div>
            <div class="col-sm-5 col-md-offset-1 content-col">
                <div class="topic-content">
                    <h3 class="title">Key Leash</h3>
                    <p class="description">Never misplace your keys again.</p>
                </div>
            </div>
        </div>
        
        <a id="nav-target-2" class="jumptarget"></a>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">                    
                <div class="section-heading">
                    <h2 class="title">Spacious &amp; Expandable</h2>
                    <p class="description">Designed to maximize what you can take on your travels. Simply unzip the divider panel to expand the main compartment for extra carrying capacity.</p>
                </div>
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <div class="mb-gutter">
                    { Video needed }
                </div>
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <div class="mb-large">
                    { Video needed }
                </div>
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-6 col-sm-offset-3">                    
                <div class="section-heading">
                    <h2 class="title">Carry-on Friendly</h2>
                    <p class="description">Depending on the airline, it may qualify as a personal item when you carry-on.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
                { final image needed }
                {% comment %}{% include 'discover-picture', name: 'catalina-deluxe-design-5', alt: "Catalina Deluxe bottom pocket", retina: true, fw: true, lg: true %}{% endcomment %}
            </div>
            <div class="col-sm-5 col-md-offset-1 content-col">
                <div class="topic-content">
                    <h3 class="title">Airline Seats</h3>
                    <p class="description">The Catalina Deluxe Tote meets carry-on size requirements, and it should fit underneath your airline seat.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-large" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
                {% include 'discover-picture', name: 'catalina-deluxe-carry-on-2', alt: "Catalina Deluxe dimensions", retina: true, fw: true, lg: true %}
            </div>
            <div class="col-sm-5 col-md-offset-1 content-col">
                <div class="topic-content">
                    <h3 class="title">Dimensions</h3>
                    <p class="description">We recommend checking with the airline to confirm their personal item dimensional requirements.</p>
                </div>
            </div>
        </div>
        
        <a id="nav-target-3" class="jumptarget"></a>
        {% include 'discover-catalina-materials' %}

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <div class="mb-large">
                    {% include 'discover-picture', name: 'catalina-deluxe-tote-materials-3', alt: "woman outside with Catalina Deluxe Tote", retina: true, fw: true, lg: true %}
                </div>
            </div>
        </div>

    </div>
    <a id="nav-target-4" class="jumptarget"></a>
    <div class="container pr-items animate" {{ animateFadeInUp }}>
        <div class="section-heading">
            <h2 class="title">Traveler Approved</h2>
        </div>
        
        <div class="row mb-default">
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/fodors-travel.png?15430798540328847356" alt="Fodor's Travel logo"></p>
                    <p class="pr-quote">&ldquo;This bag does double duty with a smart bottom zipper pocket for wet clothes after a day at the beach or shoes if you're using it as a carry-on.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/theknotlogo.png?15430798540328847356" alt="The Knot logo"></p>
                    <p class="pr-quote">&ldquo;This canvas weekender is expertly sized for the overhead bin or a mini-moon.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/foodandwine-logo-black.png?15023891854137734588" alt="Food and Wine logo"></p>
                    <p class="pr-quote">&ldquo;A zippered bottom compartment and unusually large size (plus a great choice of pretty, subdued colors) set this tote apart from the pack.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/The_Huffington_Post_logo.png?15023891854137734588" alt="The Huffington Post logo"></p>
                    <p class="pr-quote">&ldquo;The Catalina had us at the secret bottom pocket. This dapper carrier fits everything that you (or Mary Poppins) could possibly need for a weekend getaway.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Refinery29-Logo.png?15023891854137734588" alt="Refinery 29 logo"></p>
                    <p class="pr-quote">&ldquo;If you don’t already have a weekender, now's the time to get one. If you already have a weekender, now's the time to get this one. The interior organization will let you stow more things than any other option out there.&rdquo;</p>
                </blockquote>
            </div>
        </div>
    </div>

    {% include 'discover-cta' %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="//player.vimeo.com/video/224760509?player_id=vimeo-hanover&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-hanover" class="vimeo"></iframe>';
    var video2Embed = '<iframe src="//player.vimeo.com/video/226210203?player_id=vimeo-hanover&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-hanover" class="vimeo"></iframe>';
    var video3Embed = '<iframe src="//player.vimeo.com/video/267518046?player_id=vimeo-hanover&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-hanover" class="vimeo"></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>