{% include 'discover-vars' %}
{%- assign assetVersion = 7758942327703450306 -%}
{%- assign ctaImgCol = 'col-md-7 col-md-pull-4' -%}
{%- assign ctaContentCol = 'col-md-4 col-md-push-8' -%} 
{%- assign ctaTitle = 'Pearl' -%}
{%- assign ctaPrice = '$248' -%}
{%- assign ctaLink = '/products/pearl-saffiano-leather-black-gold-grey' -%}
{%- assign ctaImg = 'pearl-cta' -%}


<article class="discover">
    <nav class="page-nav theme-light has-button">
        <div class="container-fluid">
            <span class="page-nav-title">{{ ctaTitle }}</span>
            <a href="#" id="page-nav-items-toggle"></a>
            <ul class="page-nav-actions">
                <li><a href="{{ ctaLink }}" class="btn btn-primary">Buy Now</a></li>
            </ul>
            <ul class="page-nav-items">
                <li><a href="#nav-target-1" class="page-nav-item">Features</a></li>
                <li><a href="#nav-target-2" class="page-nav-item">Design</a></li>
                <li><a href="#nav-target-3" class="page-nav-item">Materials</a></li>
                <li><a href="#nav-target-4" class="page-nav-item">Press</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="max-container">
        <div class="hero" id="pearl-hero">
            {% include 'discover-picture', name: 'pearl-hero-image', alt: 'woman with O.G. on luggage', retina: true, fw: false, lg: true %}
            <div class="hero-content">
                <h1 class="block-title"><span class="block-subtitle">Discover</span> Pearl</h1>
                <p class="block-description">A practical yet stylish crossbody bag that's perfect for any trip.</p>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row animate topic-end-lg" {{ animateFadeInUp }}>
            <div class="col-md-10 col-md-offset-1">
              {% include 'discover-picture', name: 'pearl-product-shot', alt: 'Pearl product shot', retina: true, fw: true %}
            </div>
        </div>

        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
                    <h2 class="block-title"><a id="nav-target-1" class="jumptarget"></a>Convertible</h2>
                    <p class="block-description">The Pearl’s strap adjusts to seamlessly go from a crossbody to a wristlet!</p>
                </div>
            </div>
        </div>

        <div class="row topic-end-md">
            <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 col-lg-5 col-lg-offset-1 animate" {{ animateFadeInUp }}>
                {% include 'discover-picture', name: 'pearl-crossbody', alt: 'Pearl as a crossbody', retina: true, fw: true %}  
                <div class="figure-caption" id="pearl-crossbody">
                    <h3 class="title">Crossbody</h3>
                </div>                  
            </div>
            <div class="col-sm-5 col-md-4 col-lg-5 offset-top-sm offset-top-md offset-top-lg animate" {{ animateFadeInUp }}>
                {% include 'discover-picture', name: 'pearl-wristlet', alt: 'Pearl as a wristlet', retina: true, fw: true %}  
                <div class="figure-caption" id="pearl-wristlet">
                    <h3 class="title">Wristlet</h3>
                </div>                  
            </div>
        </div>

        <div class="row topic-end-lg has-overlay-xs animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1"> 
                {% include 'discover-picture', name: 'pearl-convertible-strap', alt: "Watch how the Pearl's convertible strap works", retina: true, fw: true %}  
                <div class="row theme-white text-center">
                    <div class="content-col">
                        <div class="figure-caption">
                            <h3 class="title">Convertible Strap</h3>
                            <a href="#" data-video-id="1" class="overview-video-trigger">
                                <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                            </a>
                        </div>
                    </div>
                </div>              
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
                <h2 class="block-title"><a id="nav-target-2" class="jumptarget"></a>A Place for Everything</h2>
                <p class="block-description">Packed with pockets to keep you and your travel essentials organized on-the-go.</p>
            </div>
        </div>

        <div class="row topic-end-md align-centers-md animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-7 col-lg-offset-0">
                {% include 'discover-picture', name: 'pearl-interior-pockets', alt: 'Pearl interior pockets', retina: true, fw: true %}                    
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 content-col">                    
                <div class="figure-caption text-center-sm">
                    <h3 class="title">Interior Pockets</h3>
                    <p class="description">Slip pockets for easy access to essentials</p>
                </div>
            </div>
        </div>

        <div class="row topic-end-md align-centers-md reversed animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-1 col-lg-7">
                {% include 'discover-picture', name: 'pearl-slip-pockets', alt: 'Pearl slip pockets', retina: true, fw: true %}                    
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 col-lg-offset-0 content-col">                    
                <div class="figure-caption text-center-sm">
                    <h3 class="title">2 Slip Pockets</h3>
                    <p class="description">Slip pockets for easy access to essentials</p>
                </div>
            </div>
        </div>

        <div class="row topic-end-md align-centers-md animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-7 col-lg-offset-0">
                {% include 'discover-picture', name: 'pearl-zipper-pockets', alt: 'Pearl padded zipper pockets', retina: true, fw: true %}                    
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 content-col">                    
                <div class="figure-caption text-center-sm">
                    <h3 class="title">Padded Zipper Pockets</h3>
                    <p class="description">Carry your mini tablet or a big wallet</p>
                </div>
            </div>
        </div>

        <div class="row align-centers-md topic-end-md reversed animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-1 col-lg-7">
                {% include 'discover-picture', name: 'pearl-key-leash', alt: 'Pearl includes a key leash', retina: true, fw: true %}                    
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 col-lg-offset-0 content-col">                
                <div class="figure-caption text-center-sm">
                    <h3 class="title">Key Leash</h3>
                    <p class="description">Never lose track of your keys</p>
                </div>
            </div>
        </div>
    </div>

    <div class="max-container has-overlay-xs fw-image topic-end-lg animate" {{ animateFadeInUp }}>
        {% include 'discover-picture', name: 'pearl-what-fits-inside', alt: 'video showing how to pack the Pearl', retina: true, fw: false %}  
        <div class="row theme-white text-center">
            <div class="content-col">
                <div class="figure-caption">
                    <h3 class="title">What Fits Inside</h3>
                    <a href="#" data-video-id="2" class="overview-video-trigger">
                        <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                    </a>
                </div>
            </div>
        </div>
    </div> 
    
    <div class="container">

       <div class="row animate" {{ animateFadeInUp }}>
           <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
               <h2 class="block-title"><a id="nav-target-3" class="jumptarget"></a>Premium Materials</h2>
               <p class="block-description">The Pearl is available in premium grade Nappa or Saffiano leather.</p>
           </div>
       </div>

       <div class="animate" {{ animateFadeInUp }}>
           <div class="row">
               <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">  
                    {% include 'discover-picture', name: 'pearl-nappa-leather', alt: 'Pearl in nappa leather', retina: true, fw: true %}                    
               </div>
           </div>
           <div class="row">
               <div class="col-sm-6 col-sm-offset-3">                    
                   <div class="figure-caption text-center text-left-xs">
                      <h3 class="title">Nappa Leather</h3>
                      <div class="description">
                        <p>A natural grain leather that is known for its smooth texture and soft feel.</p>
                        <div class="btn-set">
                          <a href="/pages/compare-pearl-materials" class="btn btn-secondary">Learn more</a>
                        </div>
                      </div>
                   </div>
               </div>
           </div>
       </div>

       <div class="animate" {{ animateFadeInUp }}>
           <div class="row">
               <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">  
                    {% include 'discover-picture', name: 'pearl-saffiano-leather', alt: 'Pearl in saffiano leather', retina: true, fw: true %}                    
               </div>
           </div>
           <div class="row">
               <div class="col-sm-6 col-sm-offset-3">                    
                   <div class="figure-caption text-center text-left-xs">
                      <h3 class="title">Saffiano Leather</h3>
                      <div class="description">
                        <p>A durable scratch and water resistant material that won't show as much wear and tear.</p>
                        <div class="btn-set">
                          <a href="/pages/compare-pearl-materials" class="btn btn-secondary">Learn more</a>
                        </div>
                      </div>
                   </div>
               </div>
           </div>
       </div>

       <div class="row animate" {{ animateFadeInUp }}>
           <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
               <h2 class="block-title"><a id="nav-target-3" class="jumptarget"></a>Take It Anywhere</h2>
               <p class="block-description">It's understated yet elegant aesthetic makes The Pearl perfect for any kind of situation or destination.</p>
           </div>
       </div>

       <div id="pearl-anywhere-1" class="row animate" {{ animateFadeInUp }}>
          <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0 col-lg-14">                    
              {% include 'discover-picture', name: 'pearl-take-it-anywhere-1', alt: 'woman holding Pearl by pink wall', retina: true, fw: true %}                    
          </div>
       </div>

       <div id="pearl-anywhere-2" class="row animate has-overlay-xs" {{ animateFadeInUp }}>
          <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">                    
              {% include 'discover-picture', name: 'pearl-take-it-anywhere-2', alt: 'woman walking with Pearl', retina: true, fw: false %}
              <div class="row theme-white text-center">
                  <div class="content-col">
                      <div class="figure-caption">
                          <h3 class="title">Take it anywhere</h3>
                          <a href="#" data-video-id="3" class="overview-video-trigger">
                              <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                          </a>
                      </div>
                  </div>
              </div>                    
          </div>
       </div>

       <div class="row animate" {{ animateFadeInUp }}>
          <div id="pearl-anywhere-col-1" class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-5 col-lg-offset-1">                    
              <div id="pearl-anywhere-3">{% include 'discover-picture', name: 'pearl-take-it-anywhere-3', alt: 'woman in red dress holding Pearl', retina: true, fw: true %}</div>
              <div id="pearl-anywhere-5">{% include 'discover-picture', name: 'pearl-take-it-anywhere-5', alt: 'woman by plants wearing Pearl as crossbody', retina: true, fw: true %}</div>
          </div>
          <div id="pearl-anywhere-col-2" class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 col-lg-5">                    
              <div id="pearl-anywhere-4">{% include 'discover-picture', name: 'pearl-take-it-anywhere-4', alt: 'woman wearing Pearl looking over shoulder', retina: true, fw: false %}</div>
              <div id="pearl-anywhere-6">{% include 'discover-picture', name: 'pearl-take-it-anywhere-6', alt: 'woman wearing Pearl walking away', retina: true, fw: false %}</div>
          </div>
       </div>

       <div class="row animate" {{ animateFadeInUp }}>
          <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">                  
              {% include 'discover-picture', name: 'pearl-take-it-anywhere-7', alt: 'woman holding Pearl while taking a photo', retina: true, fw: true %}                    
          </div>
       </div>

       <div class="pr-items animate" {{ animateFadeInUp }}>
           <div class="row">
               <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
                   <h2 class="block-title"><a id="nav-target-4" class="jumptarget"></a>Traveler Approved</h2>
               </div>
           </div>
           <div class="row topic-end-md">
                <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                    <blockquote class="pr">
                        <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/travel-leisure-logo.svg?1376882258591607478" alt="Travel + Leisure logo"></p>
                        <p class="pr-quote">&ldquo;A cross-body bag with a top zipper is a must in crowded markets and busy tourist areas where pickpockets and bag snatchers might be on the prowl. The Lo & Sons Pearl has a minimalist exterior design, so it'll go with pretty much any outfit, but the interior is packed with slots and zippered pockets to keep all your valuables and money secure. The adjustable strap even comes off to convert into a clutch for a fancier night out.&rdquo;</p>
                    </blockquote>
                </div>
               <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4 col-lg-offset-0">
                   <blockquote class="pr">
                       <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/The_Huffington_Post_logo.png?15023891854137734588" alt="The Huffington Post logo"></p>
                       <p class="pr-quote">&ldquo;Classy and practical and as precious as its namesake, The Pearl Bag won’t leave your side on your next day trip or weekend getaway.&rdquo;</p>
                   </blockquote>
               </div>
               <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                   <blockquote class="pr">
                       <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/new-york-logo.jpg?1376882258591607478" alt="New York logo" width="157"></p>
                       <p class="pr-quote">&ldquo;I always use the Pearl when I’m on a trip. It’s designed with the traveler in mind, so everything fits in it. That is, my camera, my phone, a charger, lipstick, my wallet, a small notebook, and a pen.&rdquo;</p>
                   </blockquote>
               </div>
           </div>
       </div>
    </div>
    
    <div id="pearl-cta">
      {% include 'discover-cta', retina: true %}
    </div>

    <script>// <![CDATA[
    var video1Embed = '<iframe src="//player.vimeo.com/video/272650872?player_id=vimeo-pearl&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-pearl" class="vimeo"></iframe>';
    var video2Embed = '<iframe src="//player.vimeo.com/video/272651324?player_id=vimeo-pearl&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-pearl" class="vimeo"></iframe>';
    var video3Embed = '<iframe src="//player.vimeo.com/video/272651572?player_id=vimeo-pearlstrap&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-pearlstrap" class="vimeo"></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>