{% include 'discover-vars' %}

{%- assign ctaTitle = 'Catalina' -%}
{%- assign ctaPrice = '$120 - $130' -%}
{%- assign ctaLink = '/products/catalina-washed-canvas-indigo-colorblock' -%}
{%- assign ctaImgXs = 'https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-cta-xs.jpg?1312692621756025204' -%}
{%- assign ctaImgMd = 'https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-cta-md.jpg?1312692621756025204' -%}

<article class="discover">
    <nav class="page-nav theme-light has-button">
        <div class="container-fluid">
            <span class="page-nav-title">{{ ctaTitle }}</span>
            <a href="#" id="page-nav-items-toggle"></a>
            <ul class="page-nav-actions">
                <li><a href="{{ ctaLink }}" class="btn btn-primary">Buy Now</a></li>
            </ul>
            <ul class="page-nav-items">
                <li><a href="#nav-target-1" class="page-nav-item">Materials</a></li>
                <li><a href="#nav-target-2" class="page-nav-item">Compare</a></li>
                <li><a href="#nav-target-3" class="page-nav-item">Press</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="max-container">
        <div class="theme-white hero">
            <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-hero-lg.jpg?17123996295315384134" media="(min-width: {{ screenLg }})" />
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-hero-md.jpg?17123996295315384134" media="(min-width: {{ screenMd }})" />
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-hero-sm.jpg?17123996295315384134" media="(min-width: {{ screenSm }})" />
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-hero-xs.jpg?17123996295315384134" alt="woman carrying Catalina at the beach" />
            </picture>
            <div class="hero-content right">
                <h1 class="block-title"><span class="block-subtitle">Discover</span> Catalina</h1>
                <p class="block-description">A lightweight and foldable weekend travel bag designed to fit everything you need for a weekend away with room to spare.</p>
                <a href="#" data-video-id="1" class="overview-video-trigger">
                    <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                </a>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">                    
                    <h2 class="block-title">Smart Design</h2>
                    <p class="block-description">Thoughtful details and perfectly placed pockets make the Catalina perfect for a weekend getaway.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">
                    <picture id="catalina-bottom-pocket" class="fw-xs">
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-bottom-pocket-md.jpg?13522797054513733584" media="(min-width: {{ screenMd }})" />
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-bottom-pocket-sm.jpg?13522797054513733584" media="(min-width: {{ screenSm }})" />
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-bottom-pocket-xs.jpg?13522797054513733584" alt="packed bottom pocked" />
                    </picture>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-2 col-lg-5 col-lg-offset-1 animate" {{ animateFadeInUp }}>
                <picture class="fw-xs">
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-front-exterior-pocket-md.jpg?6888975256822772316" media="(min-width: {{ screenMd }})">
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-front-exterior-pocket-sm.jpg?6888975256822772316" media="(min-width: {{ screenSm }})">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-front-exterior-pocket-xs.jpg?6888975256822772316" alt="front exterior pocked">
                </picture>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                        <div class="figure-caption">
                            <h3 class="title">Front Exterior Pocket</h3>
                            <p class="description">Easily access your travel essentials.</p>     
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-5 offset-top-md offset-top-lg animate" {{ animateFadeInUp }}>
                <picture class="fw-xs">
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-interior-pocket-md.jpg?6888975256822772316" media="(min-width: {{ screenMd }})">
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-interior-pocket-sm.jpg?6888975256822772316" media="(min-width: {{ screenSm }})">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-interior-pocket-xs.jpg?6888975256822772316" alt="interior pocket">
                </picture>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                        <div class="figure-caption">
                            <h3 class="title">Interior Pocket</h3>
                            <p class="description">A zipper interior pocket for secure storage of personal items.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row topic-end-md hidden-xs">
            <div class="col-sm-10 col-sm-offset-1">
                <hr>
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
                <h2 class="block-title">Foldable &amp; Packable</h2>
                <p class="block-description">The Catalina can neatly be folded to make it packable in a suitcase in case you need another bag at your destination.</p>
            </div>
        </div>
    </div>
    
    <div class="max-container">
        <picture id="catalina-compact" class="animate" {{ animateFadeInUp }}>
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-compact-sm.gif?15023891854137734588" media="(min-width: {{ screenSm }})">
            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-compact-xs.gif?2555194281534418529" alt="animated gif of the Catalina folding">
        </picture>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
                    <div class="figure-caption text-center-sm animate" {{ animateFadeInUp }}>
                        <h3 class="title">Storable</h3>
                        <p class="description">Foldability also makes it easy to store when you get back home.</p>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-3 col-lg-6 col-lg-offset-2">                    
                    <picture class="topic-end-lg animate" {{ animateFadeInUp }} id="catalina-locker">
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-compact-locker-md.jpg?12769037394291334941" media="(min-width: {{ screenMd }})" />
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-compact-locker-sm.jpg?12769037394291334941" media="(min-width: {{ screenSm }})" />
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-compact-locker-xs.jpg?12769037394291334941" alt="folded Catalina in a locker" />
                    </picture>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">                    
                <h2 class="block-title">Super Spacious</h2>
                <p class="block-description">Designed to fit everything you need for a weekend away.</p>
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">
                <picture class="fw-xs topic-end-lg">
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-spacious-md.jpg?18386626769584070751" media="(min-width: {{ screenMd }})" />
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-spacious-sm.jpg?18386626769584070751" media="(min-width: {{ screenSm }})" />
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-discover-spacious-xs.jpg?18386626769584070751" alt="items laying on bed" />
                </picture>
            </div>
        </div>
        
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">                    
                <h2 class="block-title"><a id="nav-target-1" class="jumptarget"></a>Lightweight</h2>
                <p class="block-description">Crafted from materials that balance durability with comfort to make your trip easy on the back and shoulders.</p>
            </div>
        </div>

        {% include 'discover-materials' %}
        
    </div>

    <a id="nav-target-2" class="jumptarget"></a>
    {% include 'discover-catalina-compare' %}

    <a id="nav-target-3" class="jumptarget"></a>
    <div class="container pr-items animate" {{ animateFadeInUp }}>
        <h2 class="block-title text-center">Traveler Approved</h2>
        <div class="row topic-end-md">
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/fodors-travel.png?15430798540328847356" alt="Fodor's Travel logo"></p>
                    <p class="pr-quote">&ldquo;This bag does double duty with a smart bottom zipper pocket for wet clothes after a day at the beach or shoes if you're using it as a carry-on.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/theknotlogo.png?15430798540328847356" alt="The Knot logo"></p>
                    <p class="pr-quote">&ldquo;This canvas weekender is expertly sized for the overhead bin or a mini-moon.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/foodandwine-logo-black.png?15023891854137734588" alt="Food and Wine logo"></p>
                    <p class="pr-quote">&ldquo;A zippered bottom compartment and unusually large size (plus a great choice of pretty, subdued colors) set this tote apart from the pack.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/The_Huffington_Post_logo.png?15023891854137734588" alt="The Huffington Post logo"></p>
                    <p class="pr-quote">&ldquo;The Catalina had us at the secret bottom pocket. This dapper carrier fits everything that you (or Mary Poppins) could possibly need for a weekend getaway.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Refinery29-Logo.png?15023891854137734588" alt="Refinery 29 logo"></p>
                    <p class="pr-quote">&ldquo;If you don’t already have a weekender, now's the time to get one. If you already have a weekender, now's the time to get this one. The interior organization will let you stow more things than any other option out there.&rdquo;</p>
                </blockquote>
            </div>
        </div>
    </div>

    {% include 'discover-cta' %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="//player.vimeo.com/video/170848560?player_id=vimeo-catalina&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-catalina" class="vimeo"></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>