{% include 'vars' %}

{%- assign assetVersion = 90355 -%}
{%- assign ctaTitle = 'The Waverley 2' -%}
{%- assign ctaPrice = '$169 - $175' -%}
{%- assign ctaLink = '/products/waverley-2-nappa-leather-black-gold-grey' -%}
{%- assign ctaImg = 'waverley2-cta' -%}

{% comment %} {% include 'cta-overrides' %} {% endcomment %}

<article class="discover">

    {% include 'discover-nav', labels:'Convertibility,Materials,Specs,Compare,Fit' %}
    
    <div class="fw-container">
        <div class="hero has-arrow">
            {% include 'discover-picture', name: 'waverley2-hero', alt: 'woman walking with Waverley 2 in city', retina: true, fw: false, xxl: true %}
            <div class="hero-content white right">
                <h1 class="title"><span class="subtitle">Discover</span> {{ctaTitle}}</h1>
                <p class="description">Our most versatile crossbody bag just got even better.</p>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>
    
    <div class="container">{% include 'hero-jump-target' %}

        <div class="row animate mb-large" {{ animateZoomIn }}>
            <div class="col-sm-10 col-sm-offset-1 text-center">
                {% include 'discover-picture', name: 'waverley2-product-image', alt: 'Waverley 2 product shot', retina: true, fw: false, lg: true %}
            </div>
        </div>

        <a id="nav-target-1" class="jumptarget"></a>
        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">                    
                    <div class="section-heading">
                        <h2 class="title">1 Bag, 4 Ways</h2>
                        <p class="description">With a quick adjustment of the strap, easily transform the Waverley 2 from a crossbody bag to a belt bag, shoulder bag, or wristlet!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0"> 
                <div class="fw-xs">
                    {% include 'inline-video', ratio: '3-4', index: 1, poster: 'waverley2-four-ways-1-md', src: 'Lo_Sons_-_Waverley_2_-_Crossbody' %}
                </div>  
                <div class="topic-content width-limited">
                    <h3 class="title">Crossbody Bag</h3>
                    <p class="description">Wear it casually for a day of shopping, sightseeing or just general weekend-ing.</p>
                </div>
            </div>
            <div class="col-sm-5 col-md-6">
                <div class="fw-xs">
                    {% include 'inline-video', ratio: '3-4', index: 2, poster: 'waverley2-four-ways-2-md', src: 'Lo_Sons_-_Waverley_2_-_Belt_Bag' %}
                </div> 
                <div class="topic-content width-limited">
                    <h3 class="title">Belt Bag</h3>
                    <p class="description">Go hands-free and pair it with a backpack to run from one offsite meeting to another.</p>
                </div>
            </div>
        </div>
        <div class="row animate mb-default" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">   
                <div class="fw-xs">
                    {% include 'inline-video', ratio: '3-4', index: 3, poster: 'waverley2-four-ways-3-md', src: 'Lo_Sons_-_Waverley_2_-_Shoulder' %}
                </div> 
                <div class="topic-content width-limited">
                    <h3 class="title">Shoulder Bag</h3>
                    <p class="description">Wear it casually for a day of shopping, sightseeing or just general weekend-ing.</p>
                </div>
            </div>
            <div class="col-sm-5 col-md-6">
                <div class="fw-xs">
                    {% include 'inline-video', ratio: '3-4', index: 4, poster: 'waverley2-four-ways-4-md', src: 'Lo_Sons_-_Waverley_2_-_Wristlet' %}
                </div>
                <div class="topic-content width-limited">
                    <h3 class="title">Wristlet</h3>
                    <p class="description">Carry it as a classic clutch and instantly elevate an evening look for that special night out.</p>
                </div>
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2">                    
                <div class="section-heading">
                    <h2 class="title">Easily Within Reach</h2>
                    <p class="description">The Waverley 2 keeps all your essentials smartly organized and easily accessible when on the go.</p>
                </div>
            </div>
        </div>
        <div class="row aligned-center mb-large mb-negate-xs animate" {{ animateFadeInUp }}>            
            <div class="col-sm-6">   
                {% include 'discover-picture', name: 'waverley2-organization-1', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: true, lg: true %}
                <div class="topic-content">
                    <h3 class="title">Interior Slip Pocket</h3>
                    <p class="description">For the little necessities you can find instantly.</p>
                </div>
                {% include 'discover-picture', name: 'waverley2-organization-2', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: true, lg: true %}
                <div class="topic-content">
                    <h3 class="title">Interior Zipper Pocket with 3 card slots</h3>
                    <p class="description">For cards and cash you want to stow securely.</p>
                </div>
            </div>
            <div class="col-sm-6">   
                {% include 'discover-picture', name: 'waverley2-organization-3', alt: 'Waverley 2 as a Wristlet', retina: true, fw: true, lg: true %}
                <div class="topic-content">
                    <h3 class="title">Exterior Card Slot</h3>
                    <p class="description">For that metro card you need to pull out quickly.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="fw-container topic-block mb-large animate video-block" {{ animateFadeInUp }}>
        {% include 'discover-picture', name: 'waverley2-video', alt: 'video showing how to pack the Waverley', retina: true, fw: false, xxl: true %}
        <a href="#" data-video-id="1" class="video-trigger">See What Fits Inside</a>
    </div>

    <div class="container">
        <a id="nav-target-2" class="jumptarget"></a>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2">                    
                <div class="section-heading">
                    <h2 class="title">Quality Craftsmanship</h2>
                    <p class="description">High-quality leather meets high-impact design.</p>
                </div>
            </div>
        </div>
        <div class="row aligned-center mb-large mb-negate-xs animate" {{ animateFadeInUp }}>
            <div class="col-sm-6">   
                {% include 'discover-picture', name: 'waverley2-materials-1', alt: 'Waverley 2 as a Wristlet', retina: true, fw: true, lg: true %}
                <div class="topic-content width-limited">
                    <h3 class="title">Attention to Detail</h3>
                    <p class="description">Thoughtful decision making is behind every design element — from thread color to hardware shape, our team carefully selects the perfect option for our products.</p>
                </div>
            </div>            
            <div class="col-sm-6">   
                {% include 'discover-picture', name: 'waverley2-materials-2', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: true, lg: true %}
                <div class="topic-content width-limited">
                    <h3 class="title">Available in Saffiano Leather</h3>
                    <p class="description">A textured leather, specially treated to be scratch and weather-resistant so it doesn’t show as much wear.</p>
                </div>
                {% include 'discover-picture', name: 'waverley2-materials-3', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: true, lg: true %}
                <div class="topic-content width-limited">
                    <h3 class="title">Available in Nappa Leather</h3>
                    <p class="description">A lightweight, natural grain leather that’s smooth and soft so it ages beautifully over time.</p>
                </div>
            </div>
        </div>
        <a id="nav-target-3" class="jumptarget"></a>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2">                    
                <div class="section-heading">
                    <h2 class="title">Specs & Dimensions</h2>
                </div>
            </div>
        </div>
    </div>

    <div id="waverley2-specs" class="mb-large animate" {{ animateFadeInUp }}>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    {% include 'discover-picture', name: 'waverley2-specs-small', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
                    <h3 class="title">Waverley 2 Small</h3>
                </div>
                <div class="col">
                    {% include 'discover-picture', name: 'waverley2-specs-large', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
                    <h3 class="title">Waverley 2 Large</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p>On average, the Waverley 2 weighs about  0.7 lbs. Weight may vary slightly depending on size and material.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <a id="nav-target-4" class="jumptarget"></a>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">                    
                <div class="section-heading">
                    <h2 class="title">Updated Design</h2>
                    <p>The Waverley 2 is a new and improved version of our former Waverley bag. </p>
                    <p class="description"><a href="#comparison-overlay" class="more-window-trigger">Compare versions +</a></p>
                </div>
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1">
                <div id="waverley-2-old-vs-new" class="mb-large fw-xs">
                    {% include 'discover-picture', name: 'waverley2-update-original', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
                    <div class="new">
                        {% include 'discover-picture', name: 'waverley2-update-new', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="waverley2-fit" class="mb-large">
        <div class="container">
            <a id="nav-target-5" class="jumptarget"></a>
            <div class="row animate" {{ animateFadeInUp }}>
                <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">                    
                    <div class="section-heading">
                        <h2 class="title">Compare Fit</h2>
                        <p>The maximum length of the Waverley 2 strap is 57 inches and the shortest length is 23 inches, so it should fit any measurement in between!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row animate" {{ animateFadeInUp }}>
                <div class="col">
                    <div class="toggle">
                        {% include 'discover-picture', name: 'waverley2-fit-2-small', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
                        <div class="alternate">
                            {% include 'discover-picture', name: 'waverley2-fit-2-large', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
                        </div>
                        <div class="controls">
                            <button class="active">Small</button>
                            <button class="show-alternate">Large</button>
                        </div>
                    </div>
                    <p class="description">Nicola’s pant size is 2.</p>
                </div>
                <div class="col">
                    <div class="toggle">
                        {% include 'discover-picture', name: 'waverley2-fit-6-small', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
                        <div class="alternate">
                            {% include 'discover-picture', name: 'waverley2-fit-6-large', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
                        </div>
                        <div class="controls">
                            <button class="active">Small</button>
                            <button class="show-alternate">Large</button>
                        </div>
                    </div>
                    <p class="description">Katie’s pant size is 6.</p>
                </div>
                <div class="col">
                    <div class="toggle">
                        {% include 'discover-picture', name: 'waverley2-fit-12-small', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
                        <div class="alternate">
                            {% include 'discover-picture', name: 'waverley2-fit-12-large', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
                        </div>
                        <div class="controls">
                            <button class="active">Small</button>
                            <button class="show-alternate">Large</button>
                        </div>
                    </div>
                    <p class="description">Vanessa’s pant size is 12.</p>
                </div>
            </div>
        </div>
    </div>

    {% comment %} {% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
      {% include 'product-cta-block', handle: page.metafields["global"]["shop-block-collection-handle"] %}
    {% endunless %} {% endcomment %}

    <div id="waverley2-cta">
    {% include 'discover-cta' %}
    </div>

    <script>// <![CDATA[
    var video1Embed = '<iframe src="https://player.vimeo.com/video/334035751" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>';
    // ]]></script>

    <div class="more-window" id="comparison-overlay">
        <div class="section-heading first">
            <h2 class="title">Waverley Comparison</h2>
            <p>This guide compares the similarities and differences between the original Waverley and the updated design of the Waverley 2 Small and Large.</p>
        </div>
        <div class="section-heading">
            <h3 class="title">Specs &amp; Dimensions</h3>
        </div>
        <div class="slider mb-large">
            <div class="slides" id="waverley2-comparison-slider">
                <div>
                    <div class="slide">
                        {% include 'discover-picture', name: 'waverley2-comparison-specs-orig', alt: 'Waverley dimensions', retina: true, fw: false, lg: true %}
                        <h4 class="title has-bg">Waverley <small>discontinued as of 5/8/19</small></h4>
                        <p>The Waverley weighs 0.4 lbs.</p>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        {% include 'discover-picture', name: 'waverley2-comparison-specs-small', alt: 'Waverley dimensions', retina: true, fw: false, lg: true %}
                        <h4 class="title has-bg">Waverley 2 Small</h4>
                        <p>The average weight of the Waverley 2 Small is 0.6 lbs*</p>
                        <p>*Weight may vary slightly depending on material (Nappa leather vs. Saffiano leather).</p>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        {% include 'discover-picture', name: 'waverley2-comparison-specs-large', alt: 'Waverley dimensions', retina: true, fw: false, lg: true %}
                        <h4 class="title has-bg">Waverley 2 Large</h4>
                        <p>The average weight of the Waverley 2 Large is 0.75 lbs*</p>
                        <p>*Weight may vary slightly depending on material (Nappa leather vs. Saffiano leather).</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-heading">
            <h3 class="title">Behind the Design</h3>
        </div>
        <div class="columns">
            <div class="row">
                <div class="col">
                    <h4 class="title has-bg">Waverley <small>discontinued <span class="hidden-xs">as of 5/8/19</span></small></h4>
                    <div class="swatches">
                        <p>Nappa Leather:<br>
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/waverley2-comparison-swatches.png?{{ assetVersion }}" alt="nappa leather swatches"></p>
                    </div>
                </div>
                <div class="col">
                    <h4 class="title has-bg">Waverley 2 Small &amp; Large</h4>
                    <div class="swatches">
                        <p>Nappa Leather:<br>
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/waverley2-comparison-swatches.png?{{ assetVersion }}" alt="nappa leather swatches"></p>
                    </div>
                    <div class="swatches">
                        <p>Saffiano Leather:<br>
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/waverley2-comparison-swatches.png?{{ assetVersion }}" alt="saffiano leather swatches"></p>
                    </div>
                </div>
            </div>
            <div class="two-up mb-large">
                {% include 'discover-picture', name: 'waverley2-comparison-emblem', alt: 'Waverley emblem change', retina: true, fw: false, lg: true %}
            </div>
            <div class="section-heading">
                <h4 class="title">Exterior Card Slot</h4>
                <p>The exterior card slot was added to the Waverley 2 Small and Large as a convenient place to store your metro card or hotel key card.</p>
            </div>
            <div class="two-up mb-default">
                {% include 'discover-picture', name: 'waverley2-comparison-card-slot', alt: 'Waverley 2 with card slot', retina: true, fw: false, lg: true %}
            </div>
            <div class="section-heading">
                <h4 class="title">Interior Zipper Pocket</h4>
                <p>The interior zipper pocket was added to the Waverley 2 Small and Large to keep the cards within the card slots safe and secure. Cash and other valuables can be stored in this pocket as well.</p>
            </div>
            <div class="two-up mb-default">
                {% include 'discover-picture', name: 'waverley2-comparison-zipper-pocket', alt: 'Waverley 2 interior zip pocket', retina: true, fw: false, lg: true %}
            </div>
            <div class="section-heading">
                <h4 class="title">Interior Slip Pocket</h4>
                <p>The interior slip pocket was relocated to the other side of the Waverley 2 Small and Large after the additional of the interior zipper pocket.</p>
            </div>
            <div class="two-up">
                {% include 'discover-picture', name: 'waverley2-comparison-slip-pocket', alt: 'Waverley 2 interior slop pocket', retina: true, fw: false, lg: true %}
            </div>
            
        </div>
        <button class="panel-close"><span class="sr-only">close</span></button>
    </div>

</article>