{%- include 'vars' -%}
{%- assign assetVersion = 146775 -%}
{%- assign ctaTitle = 'Hanover 2 Comparison' -%}
{% comment %} {% include 'discover-nav', labels:'Features,Fit,Materials,Dimensions,FAQ' %} {% endcomment %}

<article class="discover">

<div class="max-container">
	<div class="hero without-image">
		<div class="hero-content black">
			<h1 class="title">The Hanover 2 Comparison Guide</h1>
			<p class="description">This guide compares the similarities and differences between the Hanover 2 backpack collection.</p>
		</div>
	</div>
</div>

<div class="container">{% include 'hero-jump-target' %}

	<a id="nav-target-1" class="jumptarget page-has-nav"></a>
  	{% include 'section-title', noContainer: true, title: "The Features" %}

	<div class="mb-large text-center animate" {{ animateFadeInUp }}>
		{% include 'picture', name: 'hanover2-comparison-section-1', alt: 'features chart' %}
	</div>

	<a id="nav-target-2" class="jumptarget page-has-nav"></a>

	{% include 'section-title', noContainer: true, title: 'The Fit', text: 'To help compare the different styles in our Hanover 2 collection, we asked men and women of different heights to carry each bag.' %}
	
	{%- capture fitHanover1A -%}
		{% include 'picture', name: 'hanover2-comparison-section-2-block-1-carousel-1', alt: 'woman wearing Hanover 2 and Hanover Deluxe 2 backpacks' %}
	{%- endcapture -%}
	{%- capture fitHanover2A -%}
		{% include 'picture', name: 'hanover2-comparison-section-2-block-1-carousel-2', alt: 'woman wearing Hanover 2 and Hanover Deluxe 2 backpacks' %}
	{%- endcapture -%}

	{%- capture fitHanover1B -%}
		{% include 'picture', name: 'hanover2-comparison-section-2-block-2-carousel-1', alt: 'man wearing Hanover 2 and Hanover Deluxe 2 backpacks' %}
	{%- endcapture -%}
	{%- capture fitHanover2B -%}
		{% include 'picture', name: 'hanover2-comparison-section-2-block-2-carousel-2', alt: 'man wearing Hanover 2 and Hanover Deluxe 2 backpacks' %}
	{%- endcapture -%}

	<div class="mb-default{% if withAnimations %} animate{% endif %}" {{ animateFadeInUp }}>
		<div class="row-slider mb-gutter">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">{{ fitHanover1A }}</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">{{ fitHanover2A }}</div>
			</div>
		</div>
		<div class="row">
			{% include 'card', title: "The Hanover 2", cardModifiers: 'text-center smaller col-xs-6 col-sm-4 col-sm-offset-2' %}
			{% include 'card', title: "The Hanover Deluxe 2", cardModifiers: 'text-center smaller col-xs-6 col-sm-4' %}
		</div>
	</div>

	<div class="mb-large{% if withAnimations %} animate{% endif %}" {{ animateFadeInUp }}>
		<div class="row-slider mb-gutter">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">{{ fitHanover1B }}</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">{{ fitHanover2B }}</div>
			</div>
		</div>
		<div class="row">
			{% include 'card', title: "The Hanover 2", cardModifiers: 'text-center smaller col-xs-6 col-sm-4 col-sm-offset-2' %}
			{% include 'card', title: "The Hanover Deluxe 2", cardModifiers: 'text-center smaller col-xs-6 col-sm-4' %}
		</div>
	</div>

</div>

<a id="nav-target-3" class="jumptarget page-has-nav"></a>
{% include 'hanover-materials' %}

<div class="container">
	<a id="nav-target-4" class="jumptarget page-has-nav"></a>
	{% include 'section-title', noContainer: true, title: 'Dimensions' %}
	<div class="mb-large animate" {{ animateFadeInUp }}>
		<div class="row mb-gutter hidden-xs">
			<div class="col-sm-8 col-sm-offset-2">
				{% include 'picture', name: 'hanover2-comparison-section-4', alt: 'Hanover 2 and Hanover Deluxe 2 dimension charts' %}
			</div>
		</div>
		<div class="row hidden-xs">
			{% include 'card', title: "The Hanover 2", cardModifiers: 'text-center smaller col-sm-4 col-sm-offset-2' %}
			{% include 'card', title: "The Hanover Deluxe 2", cardModifiers: 'text-center smaller col-sm-4' %}
		</div>
		<div class="hidden-sm hidden-md hidden-lg mb-default">
			{% include 'card',
				img: 'hanover2-comparison-section-4-block-1',
				alt: 'Hanover 2 dimension chart',
				title: 'The Hanover 2',
				cardModifiers: 'text-center smaller xs-padding-small' %}

			{% include 'card',
				img: 'hanover2-comparison-section-4-block-2',
				alt: 'Hanover Deluxe 2 dimension chart',
				title: 'The Hanover Deluxe 2',
				cardModifiers: 'text-center smaller xs-padding-small' %}
		</div>
	</div>

</div>

{% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
	{% include 'shop-block', handle: page.metafields["global"]["shop-block-collection-handle"], title: "Shop The Collection" %}
{% endunless %}
</article>