{% include 'vars' %}

{%- assign assetVersion = 15734837685832125703 -%}

<article class="discover">
    
    <div class="max-container">
        <div class="hero has-arrow" id="svg-hero">
            {% include 'discover-picture', name: 'svg-hero', alt: 'beach bungalo', retina: true, fw: false, lg: true %}
            <div class="hero-content white center">
                <h1 class="title"><span class="subtitle">Enter to Win</span> A Rejuvenating East Coast Retreat</h1>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>
    
    <div class="container">{% include 'hero-jump-target' %}
        
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">                    
                <div class="section-heading">
                    <p class="description">City life putting a strain on your zen-life? We’re helping you get back on track with a weekend retreat for you and a friend!</p>
                </div>
                <div class="section-heading">
                    <p>In partnership with:</p>
                    <p class="mb-default"><img id="svg-logo-lockup" src="https://cdn.shopify.com/s/files/1/2185/1497/files/svg-logo-lockup.png?15734837685832125703" alt="Sound View and Salt logos"></p>
                    <p><a href="#toc-overlay" class="more-window-trigger">Terms &amp; Conditions +</a></p>
                </div>
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">                    
                <div class="section-heading">
                    <h2 class="title">One Lucky Winner  Will Receive:</h2>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
            <div class="{{ topicBlockImgCol }}">
                {% include 'discover-picture', name: 'svg-gift-1', alt: "Catalina Deluxe bottom pocket", retina: true, fw: true, lg: true %}
            </div>
            <div class="{{ topicBlockContentCol }}">
                <div class="topic-content">
                    <h3 class="title">A Room With A View</h3>
                    <p class="description">Relax with a 2 night stay at <a href="https://soundviewgreenport.com" target="_blank">Sound View Greenport</a> for up to 2 people in a waterfront Deluxe Room overlooking a private beach.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
            <div class="{{ topicBlockImgCol }}">
                {% include 'discover-picture', name: 'svg-gift-2', alt: "Catalina Deluxe Suitcase Handle Sleeve", retina: true, fw: true, lg: true %}
            </div>
            <div class="{{ topicBlockContentCol }}">
                <div class="topic-content">
                    <h3 class="title">Dinner and Drinks On Us</h3>
                    <p class="description">Enjoy a $75 dining credit  at <a href="https://www.thehalyardgreenport.com" target="_blank">The Halyard Restaurant</a>, Sound View’s on-site restaurant, plus a complimentary wine tasting for 2 at a local winery.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
            <div class="{{ topicBlockImgCol }}">
                {% include 'discover-picture', name: 'svg-gift-3', alt: "Catalina Deluxe Messenger Strap", retina: true, fw: true, lg: true %}
            </div>
            <div class="{{ topicBlockContentCol }}">
                <div class="topic-content">
                    <h3 class="title">The Ultimate Weekender</h3>
                    <p class="description">Two Lo & Sons weekenders—one for you, one for your friend! Choose between our <a href="/pages/womens-weekender-travel-bags" target="_blank">Catalina collection</a> or <a href="/products/rhodes-600d-recycled-poly-onyx" target="_blank">Rhodes</a> duffel.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
            <div class="{{ topicBlockImgCol }}">
                {% include 'discover-picture', name: 'svg-gift-4', alt: "Catalina Deluxe Front Exterior Pocket", retina: true, fw: true, lg: true %}
            </div>
            <div class="{{ topicBlockContentCol }}">
                <div class="topic-content">
                    <h3 class="title">Trendy Treatments</h3>
                    <p class="description">Two 40 min halotherapy treatments at <a href="https://www.saltliveenergized.com" target="_blank">Salt Live Energized</a>, Sound View’s premium dry salt therapy pop up. </p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-large" {{ animateFadeInUp }}>
            <div class="{{ topicBlockImgCol }}">
                {% include 'discover-picture', name: 'svg-gift-5', alt: "Catalina Deluxe interior pockets", retina: true, fw: true, lg: true %}
            </div>
            <div class="{{ topicBlockContentCol }}">
                <div class="topic-content">
                    <h3 class="title">And More!</h3>
                    <p class="description">Winners will also receive salt body scrubs from Salt Live Energized’s new line of body products.</p>
                </div>
            </div>
        </div>
        
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">                    
                <div class="section-heading">
                    <h2 class="title">Enter to win</h2>
                    <p class="description">Simply fill out the form to join the giveaway!</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <div class="mb-large">
                    <style>
                    .iQSNSv.iQSNSv{
                        width: 100% !important;
                        justify-content: center !important;
                    }
                    </style>
                    <div class="klaviyo-form-LqqkXf"></div>
                </div>
            </div>
        </div>

        {% comment %}
        <div id="svg-subscribe-success" style="display:none; line-height: 1.4" class="alert alert-muted mb-large"><strong>Thanks for entering!</strong></div>
        <form id="svg-subscribe" class="mb-large">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
                    <div class="form-group floating-label">
                        <label for="svg-fname">First name</label>
                        <input name="fname" id="svg-fname" type="text" class="form-control required" placeholder="First name">
                    </div>
                </div>
                <div class="col-sm-5 col-md-6">
                    <div class="form-group floating-label">
                        <label for="svg-lname">Last name</label>
                        <input name="lname" id="svg-lname" type="text" class="form-control required" placeholder="Last name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
                    <div class="form-group floating-label">
                        <label for="svg-dob">Date of birth MM/DD/YYYY</label>
                        <input name="fname" id="svg-dob" type="text" class="form-control required" placeholder="Date of birth MM/DD/YYYY">
                    </div>
                </div>
                <div class="col-sm-5 col-md-6">
                    <div class="form-group radio">
                        <label for="svg-gender-f"><input type="radio" name="gender" id="svg-gender-f" checked> Female</label>
                        <label for="svg-gender-m"><input type="radio" name="gender" id="svg-gender-m"> Male</label>
                    </div>
                </div>
            </div>
            <div class="form-group floating-label">
                <label for="svg-email">Email address</label>
                <input name="email" id="svg-email" type="email" class="form-control required" placeholder="Email address">
            </div>
            <div class="text-center">
                <button type="submit" class="btn">I want to win</button>
            </div>
        </form>
        {% endcomment %}

    </div>
    
    <div class="more-window" id="toc-overlay">
        <div class="container">
            <div class="row">
                <h2>Terms &amp; Conditions</h2>
                <p>No purchase necessary to enter to win. Making a purchase of payment of any kind will not increase your chances of winning. Void where prohibited or restricted by law.  Employees and friends of employees are not eligible to enter to win.  The grand prize winner will receive the following products from Sound View Greenport and Salt Live Energized:</p>

                <p>Sound View Greenport - 2 night stay for up to 2 people<br>
                Sound View Greenport - Dining credit at The Halyard<br>
                Sound View Greenport - A complimentary wine tasting for 2<br>
                Salt Live Energized - Two 40 min halotheraphy treatments<br>
                Salt Live Energized - Two new salt body scrubs <br>
                Lo &amp; Sons - 2 Weekender travel bags in winner’s choice of color and size</p>

                <p>Prizes cannot be transferred, redeemed for cash or substituted by winner. Sound View Greenport and Salt Live Energized reserve the right in its sole and absolute discretion to award a substitute prize of equal or greater value if a prize is unavailable or cannot be awarded, in whole or in part, for any reason. If the actual value of the prize turns out to be less than the stated average retail value, the difference will not be awarded in cash. Sponsors makes no representation or warranty concerning the appearance, safety or performance of any prize awarded. Restrictions, conditions, and limitations may apply. Sponsors will not replace any lost or stolen prize items.</p>
                <p>By entering the sweepstakes you agree to receive email newsletters periodically from Lo & Sons, Sound View Greenport, and Salt Live Energized. You can opt-out of receiving this communication at any time by clicking the unsubscribe link in the newsletter. This sweepstakes offer is only available to U.S. residents over the age of 18 and is non-transferrable. This offer is not redeemable for cash or credit, nor is the offer redeemable for previous purchases. We reserve the right to cancel the gift due to unauthorized, altered, or ineligible use of this gift and to modify or cancel this gift due to system error or unforeseen problems. Subject to change without notice.</p>
                <p>Dates Valid:  Valid through May 20, 2019 – except during Holiday Weekends </p>
                <p>Restrictions & Timeline: Holiday Weekends. Based upon availability and prevailing length of stay restrictions. (Kindly note: Holiday weekends may include local festivals & local school holiday weekends.  Please be sure to inquire directly with the property. Blackout dates apply.)</p>
                <p>Conditions: Non-Transferrable. No Cash Value. Up to $75 Halyard Restaurant credit processed as in-house food & beverage hotel charge.</p>
                <p>Total Fair Market Value for Sound View Greenport:  $900</p>
                <p>Total Fair Market Value for Lo &amp; Sons:  $236-696</p>

            </div>
        </div>
        <button class="panel-close"><span class="sr-only">close</span></button>
    </div>
   

</article>