{% include 'vars' %}

{%- assign assetVersion = 83171 -%}
{%- assign topicBlockImgCol = 'col-sm-5 col-sm-pull-4 col-md-6 col-md-pull-6 col-lg-7 col-lg-pull-5' -%}
{%- assign topicBlockContentCol = 'col-sm-5 col-sm-push-6 col-md-6 col-md-push-6 col-lg-5 col-lg-push-7 content-col' -%}

<article class="discover">

    {% include 'hero' 
      img: 'organic-canvas-hero',
      alt: 'Catalina shown over foliage background',
      title: 'Organic Canvas Collection',
      subtitle: 'Discover',
      text: 'Versatile, durable weekend bags that are sustainably made.',
      align: 'right'
    %}
    <style>.hero.block{margin-bottom: 0;}</style>

    <div class="max-container">
        <div class="topic-block has-overlay-xs mb-default mb-negate-xs">
            {% include 'picture', name: 'organic-canvas-natural', alt: 'cotton branch next to Catalina' %}
            <div class="topic-content black" id="organic-canvas-natural">
              <div class="container">
                <div class="row">
                  <div class="col-sm-5 col-sm-offset-1 col-md-offset-0">
                    <h2 class="title">100% Natural</h2>
                    <p class="description lh-increased">Our canvas is made from organic cotton that’s grown without synthetic agricultural chemicals (see ya later, fertilizers and pesticides). That means it’s better for the earth—its production enhances biodiversity and biological cycles—and for you. </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="row topic-block animate aligned-sm mb-gutter mb-negate-xs" {{ animateFadeInUp }}>
        <div class="{{ topicBlockContentCol }}">
          <div class="topic-content text-center-xs above-xs">
              <h3 class="title organic-title">Limited Supply</h3>
              <p class="description lh-increased">Organic farming is more complicated and time-consuming than traditional farming, so the supply of organic cotton is limited. We choose to prioritize this material because it creates a higher-quality canvas and is better for the earth.</p>
          </div>
        </div>
        <div class="{{ topicBlockImgCol }}">
          {% include 'picture', name: 'organic-canvas-limited', alt: "organic canvas Catalina on shoulder", fw: true %}
        </div>
      </div>
      <div class="row topic-block animate aligned-sm mb-default" {{ animateFadeInUp }}>
        <div class="{{ topicBlockContentCol }}">
          <div class="topic-content text-center-xs above-xs">
              <h3 class="title organic-title">Safe for Your Skin</h3>
              <p class="description lh-increased">Our organic cotton canvas is dye-free and pesticide-free so it is less likely to irritate even the most sensitive skin.</p>
          </div>
        </div>
        <div class="{{ topicBlockImgCol }}">
            <div style="max-width: 588px">
            {% include 'picture', name: 'organic-canvas-safe', alt: "woman by car", fw: true %}
            </div>
        </div>
      </div>
    </div>

    <div id="organic-canvas-features" class="mb-default">
      <div class="container">
        <div class="feature">
          <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/organic-canvas-plant.gif?{{assetVersion}}" alt="drops animation" />
          <div class="content">
            <h3 class="title">Chemical-Free</h3>
            <p class="description lh-increased">Organic cotton is grown without the use of fertilizers or pesticides.</p>
          </div>
        </div>
        <div class="feature">
          <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/organic-canvas-drops.gif?{{assetVersion}}" alt="plant animation" />
          <div class="content">
            <h3 class="title">Water-Conserving</h3>
            <p class="description lh-increased">Organic farming creates healthier soil, which ultimately requires less water and is more resilient during dry periods.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="continuous-carousel mb-default"> 
      {% for i in (1..8) %}
        <div>
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/organic-canvas-carousel-{{ i }}-md.jpg?{{assetVersion}}" media="(min-width: 1025px)" />
            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/organic-canvas-carousel-{{ i }}-xs.jpg?{{assetVersion}}" alt="carousel image {{ i }}" />
          </picture>
        </div>
      {% endfor %}
    </div>

    <div class="fw-container">
      <div class="topic-block has-overlay-xs mb-large" id="organic-canvas-foliage">
        {% include 'picture', name: 'organic-canvas-foliage', alt: 'foliage background', xxl: true %}
        <div class="topic-content">
          <h2 class="title">Investing in Sustainability</h2>
          <p class="description lh-increased">As our business grows, we don’t want to focus only on minimizing harm to our planet, but we also want to enhance the beauty of the wonderful places we travel to.</p>
          <p class="description"><a href="/pages/sustainable-practices" class="btn btn-secondary">Learn more</a></p>
        </div>
      </div>
    </div>

    {% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
      {% include 'shop-block', handle: page.metafields["global"]["shop-block-collection-handle"], title: 'Shop The Collection' %}
    {% endunless %}

</article>