{% include 'vars' %}
{%- assign assetVersion = 7723948976490964678 -%}
{%- assign ctaImgCol = 'col-md-6' -%}
{%- assign ctaContentCol = 'col-md-6' -%} 
{%- assign ctaTitle = 'O.G. &amp; O.M.G.' -%}
{%- assign ctaPrice = '$275 - $295' -%}
{%- assign ctaLink = '/products/og-and-omg-nylon-black-gold-lavender' -%}
{%- assign ctaImg = 'ogomg-cta' -%}


<article class="discover">

    {% include 'discover-nav', labels:'Design,Features,Materials,Shop' %}
    
    <div class="max-container">
        <div class="hero soft-load has-arrow">
            {% include 'discover-picture', name: 'ogomg-hero', alt: 'O.G. on black background', retina: true, fw: false, lg: true %}
            <div class="hero-content center white">
                <h1 class="title"><span class="subtitle">Discover</span> {{ ctaTitle }}</h1>
                <p class="description">A functional and lightweight carry-all made from premium materials.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row animate mb-large" {{ animateZoomIn }}>
            <div class="col-sm-6 col-sm-offset-3">
                {% include 'discover-picture', name: 'ogomg-product-shot', alt: 'O.G. product shot', retina: true, fw: false, lg: true %}
            </div>
        </div>

      <a id="nav-target-1" class="jumptarget"></a>
        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">                    
                    <div class="section-heading">
                        <h2 class="title">Travel Seamlessly</h2>
                    </div>
                </div>
            </div>
      </div>

      <div class="animate" {{ animateFadeInUp }}>
          <div class="row topic-block">
              <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">                    
                  {% include 'discover-picture', name: 'ogomg-travel-1', alt: "O.G. and O.M.G.'s suitcase handle sleeve", retina: true, fw: true, lg: true %}
                  <div class="topic-content">
                      <h3 class="title">Suitcase Handle Sleeve</h3>
                      <p class="description">Travel seamlessly with a convenient pass-through sleeve that slides onto any roller bag.</p>
                  </div>
              </div>
              <div class="col-sm-5 col-md-6">                    
                  {% include 'discover-picture', name: 'ogomg-travel-2', alt: "O.G. and O.M.G.'s messenger strap", retina: true, fw: true, lg: true %}
                  <div class="topic-content">
                      <h3 class="title">Messenger Strap</h3>
                      <p class="description">Attach the removable messenger strap for extra comfort when on the go.</p>
                  </div>
              </div>
          </div>
    </div>

    
    <div class="animate" {{ animateFadeInUp }}>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">                    
                <div class="section-heading">
                    <h2 class="title">Multi-Purpose Functionality</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="animate" {{ animateFadeInUp }}>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
          <div class="fw-xs">
            <div class="inline-video ratio-4-3 product-video" id="ogomg-inlined-1">
                 <div class="embed-container"
                     data-desktop-url="https://player.vimeo.com/external/293982916.hd.mp4?s=75109b3591f1745cb52ca579578bdaacb04968e7&profile_id=175"
                     data-mobile-url="https://player.vimeo.com/external/293982916.sd.mp4?s=a42909151fbcd1585976d3194526f36da288c272&profile_id=165"
                     data-autoplay="true"
                     data-loops="100">
                     <video id="video-1" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/ogomg-purpose-video-1.jpg?{{ assetVersion }}"></video>
                     <div class="loading"></div>
                 </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
          <div class="topic-content text-center">
              <h3 class="title">Enroute to Work</h3>
              <p class="description">Lorem ipsum dolor sit amet, consectet.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="animate" {{ animateFadeInUp }}>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
          <div class="fw-xs">
            <div class="inline-video ratio-4-3 product-video" id="ogomg-inlined-2">
                 <div class="embed-container"
                     data-desktop-url="https://player.vimeo.com/external/293982900.hd.mp4?s=d44765f617801d111e7697cfa7b3b2df11c51285&profile_id=175"
                     data-mobile-url="https://player.vimeo.com/external/293982900.sd.mp4?s=61239e9183a5a0e5e3404e187cceb8582abf8b97&profile_id=165"
                     data-autoplay="true"
                     data-loops="100">
                     <video id="video-2" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/ogomg-purpose-video-2.jpg?{{ assetVersion }}"></video>
                     <div class="loading"></div>
                 </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
          <div class="topic-content text-center">
              <h3 class="title">Jetsetting to a Conference</h3>
              <p class="description">Lorem ipsum dolor sit amet, consectet.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="animate" {{ animateFadeInUp }}>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
          <div class="fw-xs">
            <div class="inline-video ratio-4-3 product-video" id="ogomg-inlined-3">
                 <div class="embed-container"
                     data-desktop-url="https://player.vimeo.com/external/293982929.hd.mp4?s=e1a3e31557a049ca94a2a469895edfa0f9dcea7e&profile_id=175"
                     data-mobile-url="https://player.vimeo.com/external/293982929.sd.mp4?s=c83f466cdb3d3e850654866fbb98109689280574&profile_id=165"
                     data-autoplay="true"
                     data-loops="100">
                     <video id="video-3" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/ogomg-purpose-video-3.jpg?{{ assetVersion }}"></video>
                     <div class="loading"></div>
                 </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
          <div class="topic-content text-center">
              <h3 class="title">Rainy Morning Commutes</h3>
              <p class="description">Lorem ipsum dolor sit amet, consectet.</p>
          </div>
        </div>
      </div>
    </div>

    <a id="nav-target-2" class="jumptarget"></a>
    <div class="animate" {{ animateFadeInUp }}>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">                    
                <div class="section-heading">
                    <h2 class="title">Stay Organized</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
      <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
        {% include 'discover-picture', name: 'ogomg-organized-1', alt: "O.G. and O.M.G.'s padded laptop sleeve", retina: true, fw: false, lg: true %}
      </div>
      <div class="col-sm-5 content-col">
        <div class="topic-content">
            <h3 class="title">Padded Laptop Sleeve</h3>
            <p class="description">Both the O.G. and O.M.G. are designed to fit up to 13" laptops.</p>
        </div>
      </div>
    </div>
    <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
      <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
        {% include 'discover-picture', name: 'ogomg-organized-2', alt: "O.G. and O.M.G.'s pockets", retina: true, fw: false, lg: true %}
      </div>
      <div class="col-sm-5 content-col">
        <div class="topic-content">
            <h3 class="title">Plenty of Pockets</h3>
            <p class="description">Stay organized with the padded laptop compartment, a pocket for your tablet or work documents, a zipper pocket, and two slips pockets.</p>
        </div>
      </div>
    </div>
    <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
      <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
        {% include 'discover-picture', name: 'ogomg-organized-3', alt: "O.G. and O.M.G.'s front zipper pocket", retina: true, fw: false, lg: true %}
      </div>
      <div class="col-sm-5 content-col">
        <div class="topic-content">
            <h3 class="title">Front Zipper Pocket</h3>
            <p class="description">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod tempor. .</p>
        </div>
      </div>
    </div>
    <div class="row topic-block animate aligned-sm mb-negate-xs" {{ animateFadeInUp }}>
      <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
        {% include 'discover-picture', name: 'ogomg-organized-4', alt: "O.G. and O.M.G.'s key leash", retina: true, fw: false, lg: true %}
      </div>
      <div class="col-sm-5 content-col">
        <div class="topic-content">
            <h3 class="title">Key Leash</h3>
            <p class="description">Never misplace your keys again with the inner key leash.</p>
        </div>
      </div>
    </div>

    </div>
  
  <div class="max-container mb-large">
     <div class="inline-video ratio-16-9 product-video" id="ogomg-inlined-4">
         <div class="embed-container"
             data-desktop-url="https://player.vimeo.com/external/293977465.hd.mp4?s=60cc44839e6b9368286c7dc9561b5038a41d7f07&profile_id=175"
             data-mobile-url="https://player.vimeo.com/external/293977465.sd.mp4?s=f47fbf6dc428cbed3c186068f2b3c90f60189b59&profile_id=165"
             data-autoplay="true"
             data-loops="100">
             <video id="video-4" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/ogomg-organized-video.jpg?{{ assetVersion }}"></video>
             <div class="loading"></div>
         </div>
    </div>
  </div>

  <div class="container">
    <a id="nav-target-3" class="jumptarget"></a>
      <div class="animate" {{ animateFadeInUp }}>
          <div class="row">
              <div class="col-sm-8 col-sm-offset-2">                    
                  <div class="section-heading">
                      <h2 class="title">High-Quality Materials</h2>
                  </div>
              </div>
          </div>
    </div>
    
    <div class="animate" {{ animateFadeInUp }}>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
          {% include 'discover-picture', name: 'ogomg-materials-1', alt: 'nylon exterior', retina: true, fw: true, lg: true %}
        </div>
        <div class="col-sm-8 col-sm-offset-2">
          <div class="topic-content text-center">
              <h3 class="title">Nylon Exterior</h3>
              <p class="description">Constructed with a lightweight fine weave water-resistant nylon.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="animate" {{ animateFadeInUp }}>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
          {% include 'discover-picture', name: 'ogomg-materials-2', alt: 'cotton poly blend exterior', retina: true, fw: true, lg: true %}
        </div>
        <div class="col-sm-8 col-sm-offset-2">
          <div class="topic-content text-center">
              <h3 class="title">Cotton Poly Blend Exterior</h3>
              <p class="description">Made with a blend of high quality cotton and poly with an interlock backing for added durability.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="animate" {{ animateFadeInUp }}>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
          {% include 'discover-picture', name: 'ogomg-materials-3', alt: 'jacquard lining', retina: true, fw: true, lg: true %}
        </div>
        <div class="col-sm-8 col-sm-offset-2">
          <div class="topic-content text-center">
              <h3 class="title">Signature Jacquard Lining</h3>
              <p class="description">Lorem ipsum dolor sit amet, consectet.</p>
          </div>
        </div>
      </div>
    </div>

    <a id="nav-target-4" class="jumptarget"></a>
    <div class="animate" {{ animateFadeInUp }}>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">                    
                <div class="section-heading">
                    <h2 class="title">Shop</h2>
                </div>
            </div>
        </div>
        <div class="row fw-xs cta-block">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
                {% include 'discover-picture', name: 'ogomg-cta', alt: 'O.G. product shot', retina: true, fw: false %}
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
                <div class="topic-content">
                    <h3 class="title">{{ ctaTitle }}</h3>
                    <p class="description">{{ ctaPrice }}</p>
                    <div class="btn-set">
                       <a class="btn btn-secondary btn-gtm-trk" data-gtm-a="1" href="{{ ctaLink }}">View colors &amp; sizes</a>
                       <a class="btn btn-gtm-trk" data-gtm-a="1" href="{{ ctaLink }}">Buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>

</article>