{% include 'vars' %}

{%- assign assetVersion = 88216 -%}
{%- assign ctaTitle = 'The Leather Wallet' -%}
{%- assign ctaPrice = '$138' -%}
{%- assign ctaLink = '/products/leather-wallet-saffiano-leather-black-gold-grey' -%}
{%- assign ctaImg = 'leather-wallet-cta' -%}

<article class="discover">

    {% include 'discover-nav', labels:'Organization,Materials,Specs,Compatibility' %}
    
    <div class="fw-container">
        <div class="hero has-arrow">
            {% include 'discover-picture', name: 'leather-wallet-hero', alt: 'close up of woman holding Leather Wallet', retina: true, fw: false, xxl: true %}
            <div class="hero-content white right">
                <h1 class="title"><span class="subtitle">Discover</span> {{ctaTitle}}</h1>
                <p class="description">A slim travel wallet that fits all of your essentials.</p>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>
    
    <div class="container">{% include 'hero-jump-target' %}

        <div class="row animate mb-large" {{ animateZoomIn }}>
            <div class="col-sm-10 col-sm-offset-1 text-center">
                {% include 'discover-picture', name: 'leather-wallet-product-image', alt: 'Leather Wallet product shot', retina: true, fw: true, lg: true %}
            </div>
        </div>

        <a id="nav-target-1" class="jumptarget"></a>
        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">                    
                    <div class="section-heading">
                        <h2 class="title">Slim, Sleek Design</h2>
                        <p class="description">With its minimal design and slim shape, the Leather Wallet is a timeless necessity whether you’re traveling near or far.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-large animate" {{ animateFadeInUp }}>
          <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0"> 
            {% include 'discover-picture', name: 'leather-wallet-design-1', alt: 'woman sitting on couch with Leather Wallet', retina: true, fw: true, lg: true %}
          </div>
          <div class="col-sm-5 col-md-6">
            {% include 'discover-picture', name: 'leather-wallet-design-2', alt: 'stack of Leather Wallets', retina: true, fw: true, lg: true %}
          </div>
        </div>

        <div class="row animate mb-default" {{ animateFadeInUp }}>
          <div class="col-sm-8 col-sm-offset-2">                    
              <div class="section-heading">
                <h2 class="title">Organized Interior</h2>
                <p class="description">Simply classic on the outside, surprisingly roomy on the inside. No more cramming, no more clutter.</p>
              </div>
          </div>
          <div class="col-xs-12">
            {% include 'discover-picture', name: 'leather-wallet-features-1', alt: 'diagram showing The Leather Wallet features', retina: true, fw: true, lg: true %}
          </div>  
        </div>
        <div class="row aligned-center mb-large mb-negate-xs animate" {{ animateFadeInUp }}>   
          <div class="col-sm-6">   
            {% include 'discover-picture', name: 'leather-wallet-features-2', alt: 'overhead view of Leather Wallet', retina: true, fw: true, lg: true %}
            <div class="topic-content width-limited">
              <h3 class="title">Cash & Card Compartments</h3>
              <p class="description">Complete with both vertical and horizontal card slots, plus several sections for cash.</p>
            </div>
            {% include 'discover-picture', name: 'leather-wallet-features-3', alt: 'Leather Wallet zipper closure', retina: true, fw: true, lg: true %}
            <div class="topic-content width-limited">
              <h3 class="title">Zipper Closure</h3>
              <p class="description">The zipper closure keeps all of your valuables safe and in place.</p>
            </div>
          </div>
          <div class="col-sm-6">   
            <div class="fw-xs">
              {% include 'inline-video', ratio: '3-4', index: 2, poster: 'leather-wallet-features-4-md', src: 'Lo_Sons_-_Leather_Wallet_-_Packing_for_Travel' %}
            </div> 
            <div class="topic-content width-limited">
                <h3 class="title">Perfect Travel Companion</h3>
                <p class="description">Ideal for toting a checkbook and passport, as well as separating foreign bills and US dollars.</p>
            </div>
          </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
          <div class="col-sm-8 col-sm-offset-2">                    
            <div class="section-heading">
              <h2 class="title">Make The Switch</h2>
              <p class="description">Swap out your old, bulky wallet for our new slim leather wallet that is just as lightweight as it is organized.</p>
            </div>
          </div>
        </div>
    </div>
    
    <div class="fw-container topic-block mb-large animate video-block" {{ animateFadeInUp }}>
        {% include 'discover-picture', name: 'leather-wallet-video', alt: 'woman putting money in Leather Wallet', retina: true, fw: false, xxl: true %}
        <a href="#" data-video-id="1" class="video-trigger">See What Fits Inside</a>
    </div>

    <div class="container">
      <a id="nav-target-2" class="jumptarget"></a>
      <div class="row animate" {{ animateFadeInUp }}>
          <div class="col-sm-8 col-sm-offset-2">                    
              <div class="section-heading">
                  <h2 class="title">Premium Materials</h2>
                  <p class="description">A thoughtful union of design, detail and high quality material.</p>
              </div>
          </div>
      </div>
      <div class="row aligned-center mb-large mb-negate-xs animate" {{ animateFadeInUp }}>
          <div class="col-sm-6">   
              {% include 'discover-picture', name: 'leather-wallet-materials-1', alt: 'gold hardware on Leather Wallet', retina: true, fw: true, lg: true %}
              <div class="topic-content width-limited">
                  <h3 class="title">Gold Hardware</h3>
                  <p class="description">A modern zipper closure that’s both eye-catching and long-lasting.</p>
              </div>
          </div>            
          <div class="col-sm-6">   
              {% include 'discover-picture', name: 'leather-wallet-materials-2', alt: 'Leather Wallet in Saffiano Leather', retina: true, fw: true, lg: true %}
              <div class="topic-content width-limited">
                  <h3 class="title">Available in Saffiano Leather</h3>
                  <p class="description">A textured leather, specially treated to be scratch and weather-resistant so it doesn’t show as much wear.</p>
              </div>
              {% include 'discover-picture', name: 'leather-wallet-materials-3', alt: 'Leather Wallet in Nappa Leather', retina: true, fw: true, lg: true %}
              <div class="topic-content width-limited">
                  <h3 class="title">Available in Nappa Leather</h3>
                  <p class="description">A lightweight, natural grain leather that’s smooth and soft so it ages beautifully over time.</p>
              </div>
          </div>
      </div>
      <a id="nav-target-3" class="jumptarget"></a>
      <div class="row animate mb-default" {{ animateFadeInUp }}>
          <div class="col-sm-8 col-sm-offset-2">                    
            <div class="section-heading">
                <h2 class="title">Slimmer Than Most</h2>
                <p class="description">After careful research, our Production Team has designed the Leather Wallet to be slimmer than most. On average, the Leather Wallet is 1-2 square inches smaller than other brands.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">                    
            {% include 'discover-picture', name: 'leather-wallet-specs', alt: 'Leather Wallet dimensions', retina: true, fw: true, lg: true %}
            <div class="topic-content text-center">
                <p class="description">The Leather Wallet weighs 0.4 lbs.</p>
            </div>
          </div>
      </div>

      <a id="nav-target-4" class="jumptarget"></a>
      <div class="row animate" {{ animateFadeInUp }}>
          <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">                    
              <div class="section-heading">
                  <h2 class="title">Seamless Compatibility</h2>
                  <p class="description">The Leather Wallet is just the right size to be carried inside the Waverley 2 Large, Pearl, O.G. & O.M.G. and Seville bags.</p>
              </div>
          </div>
      </div>

      {% capture slide1 %}
        {% include 'discover-picture', name: 'leather-wallet-compatibility-1', alt: 'Leather Wallet inserted into The Waverley 2', retina: true, fw: false, lg: true %}
        <div class="topic-content width-limited">
          <h3 class="title">The Waverley 2 Large</h3>
          <p class="description">Slip it into this new crossbody which converts into a shoulder bag, wristlet or belt bag.</p>
          <div class="btn-set inlined left">
            <a href="/products/waverley-2-nappa-leather-black-gold-grey" class="btn btn-secondary">Shop The Waverley 2</a>
          </div>
        </div>
      {% endcapture %}
      {% capture slide2 %}
        {% include 'discover-picture', name: 'leather-wallet-compatibility-2', alt: 'Leather Wallet inserted into The Pearl', retina: true, fw: false, lg: true %}
        <div class="topic-content width-limited">
          <h3 class="title">The Pearl</h3>
          <p class="description">Day or night, take it just about anywhere with our classic convertible crossbody bag.</p>
          <div class="btn-set inlined left">
            <a href="/products/pearl-saffiano-leather-black-gold-grey" class="btn btn-secondary">Shop The Pearl</a>
          </div>
        </div>
      {% endcapture %}
      {% capture slide3 %}
        {% include 'discover-picture', name: 'leather-wallet-compatibility-3', alt: 'Leather Wallet inserted into O.M.G.', retina: true, fw: false, lg: true %}
        <div class="topic-content width-limited">
          <h3 class="title">The O.G. &amp; O.M.G.</h3>
          <p class="description">Pop it into the front pocket of these lightweight laptop bags for extra easy access.</p>
          <div class="btn-set inlined left">
            <a href="/products/og-and-omg-nylon-black-gold-lavender" class="btn btn-secondary">Shop The O.G. &amp; O.M.G.</a>
          </div>
        </div>
      {% endcapture %}
      {% capture slide4 %}
        {% include 'discover-picture', name: 'leather-wallet-compatibility-4', alt: 'Leather Wallet inserted into The Seville', retina: true, fw: false, lg: true %}
        <div class="topic-content width-limited">
          <h3 class="title">The Seville</h3>
          <p class="description">Bring it along for meetings and travels alike with this two-in-one laptop tote.</p>
          <div class="btn-set inlined left">
            <a href="/products/seville-tote-saffiano-leather-black-gold-grey" class="btn btn-secondary">Shop The Seville</a>
          </div>
        </div>
      {% endcapture %}
      <div class="hidden-xs">
        <div class="row animate" {{ animateFadeInUp }}>
          <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
            {{ slide1 }}
          </div>
          <div class="col-sm-5 col-md-6">
            {{ slide2 }}
          </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
          <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
            {{ slide3 }}
          </div>
          <div class="col-sm-5 col-md-6">
            {{ slide4 }}
          </div>
        </div>
      </div>
      
    </div>

    <div class="visible-xs mb-large">
      <div id="leather-wallet-slider">
        <div>{{ slide1 }}</div>
        <div>{{ slide2 }}</div>
        <div>{{ slide3 }}</div>
        <div>{{ slide4 }}</div>
      </div>
    </div>

    <div id="leather-wallet-cta">
    {% include 'discover-cta' %}
    </div>

    <script>// <![CDATA[
    var video1Embed = '<iframe src="https://player.vimeo.com/video/334035070" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>