{% include 'discover-vars' %}
{%- assign assetVersion = 12085351176056253477 -%}
{%- assign ctaImgCol = 'col-md-6' -%}
{%- assign ctaContentCol = 'col-md-6' -%} 
{%- assign ctaTitle = 'O.G. &amp; O.M.G.' -%}
{%- assign ctaPrice = '$275 - $295' -%}
{%- assign ctaLink = '/products/og-and-omg-nylon-black-gold-lavender' -%}
{%- assign ctaImg = 'og-omg-cta' -%}


<article class="discover">
    <nav class="page-nav theme-light has-button">
        <div class="container-fluid">
            <span class="page-nav-title">{{ ctaTitle }}</span>
            <a href="#" id="page-nav-items-toggle"></a>
            <ul class="page-nav-actions">
                <li><a href="{{ ctaLink }}" class="btn btn-primary">Buy Now</a></li>
            </ul>
            <ul class="page-nav-items">
                <li><a href="#nav-target-1" class="page-nav-item">Features</a></li>
                <li><a href="#nav-target-2" class="page-nav-item">Design</a></li>
                <li><a href="#nav-target-3" class="page-nav-item">Materials</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="max-container">
        <div class="hero">
            {% include 'discover-picture', name: 'og-omg-hero-image', alt: 'woman with O.G. on luggage', retina: true, fw: false, lg: true %}
            <div class="hero-content">
                <h1 class="block-title"><span class="block-subtitle">Discover</span> O.G. &amp; O.M.G.</h1>
                <p class="block-description">A functional and lightweight carry-all designed from high quality material for the modern traveler.</p>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row animate topic-end-lg" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                {% include 'discover-picture', name: 'og-omg-product-shot', alt: 'O.G. & O.M.G. product shot', retina: true, fw: false %}
            </div>
        </div>

        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
                    <h2 class="block-title"><a id="nav-target-1" class="jumptarget"></a>Thoughtful Design</h2>
                    <p class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a accumsan metus class aptent taciti.</p>
                </div>
            </div>
        </div>

        <div class="row animate align-centers-md topic-end-md topic-end-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">
                {% include 'discover-picture', name: 'og-omg-suitcase-handle-sleeve', alt: 'Suitcase Handle Sleeve', retina: true, fw: true %}                    
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 content-col">                    
                <div class="figure-caption text-center-sm">
                    <h3 class="title">Suitcase Handle Sleeve</h3>
                    <p class="description">Travel seamlessly with a convenient pass-through sleeve that slides onto any roller bag.</p>
                </div>
            </div>
        </div>

        <div class="row animate topic-end-md topic-end-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-push-6 col-md-offset-0 col-lg-push-7">
                {% include 'discover-picture', name: 'og-omg-side-pocket-1', alt: 'putting shoe in side pocket', retina: true, fw: true %}                    
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-pull-4 col-md-offset-0 col-lg-6 col-lg-pull-5">                    
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                    <div class="figure-caption text-center-sm">
                        <h3 class="title">Side Pocket</h3>
                        <p class="description">Store your gym shoes for your post work workout or an umbrella for those mornings with a rainy commute.</p>
                    </div>
                  </div>
                </div>
                {% include 'discover-picture', name: 'og-omg-side-pocket-2', alt: 'putting umbrella in side pocket', retina: true, fw: true %}                    
            </div>
        </div>

        <div class="row animate align-centers-md reversed topic-end-lg topic-end-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6">
                {% include 'discover-picture', name: 'og-omg-messenger-strap', alt: 'Removable messenger strap', retina: true, fw: true %}                    
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 col-lg-5 col-lg-offset-0 content-col">                    
                <div class="figure-caption text-center-sm">
                    <h3 class="title">Messenger Strap</h3>
                    <p class="description">Attach the removable messenger strap for extra comfort when on the go.</p>
                </div>
            </div>
        </div>

        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
                    <h2 class="block-title"><a id="nav-target-2" class="jumptarget"></a>Stay Organized</h2>
                    <p class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a accumsan metus class aptent taciti.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">
                    {% include 'discover-picture', name: 'og-omg-laptop-storage', alt: 'fits up to 13 inch laptops', retina: true, fw: true %}                    
                </div>
                <div class="col-sm-6 col-sm-offset-3">                    
                    <div class="figure-caption text-center">
                        <h3 class="title">Laptop Storage</h3>
                        <p class="description">Both the O.G. and O.M.G. are designed to fit up to 13” laptops.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="og-omg-plenty" class="row align-centers-md bottom-aligned topic-end-md animate" {{ animateFadeInUp }}>
          <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">
            {% include 'discover-picture', name: 'og-omg-plenty-of-pockets-1', alt: 'interior pockets', retina: true, fw: true %}   
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <div class="figure-caption text-center-sm">
                    <h3 class="title">Plenty of Pockets</h3>
                    <p class="description">Stay organized with the padded laptop compartment, a pocket for your tablet or work documents, a zipper pocket, and two slips pockets.</p>
                </div>
              </div>
            </div>                 
          </div>
          <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-1 col-lg-5 content-col">
            {% include 'discover-picture', name: 'og-omg-plenty-of-pockets-2', alt: 'interior pockets shown from above', retina: true, fw: false %}     
          </div>
        </div>

        <div class="row align-centers-md topic-end-lg topic-end-negate-sm animate" {{ animateFadeInUp }}>
          <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">
            {% include 'discover-picture', name: 'og-omg-key-leash', alt: 'key leash', retina: true, fw: true %}                  
          </div>
          <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 content-col">
            <div class="figure-caption text-center-sm">
                <h3 class="title">Key Leash</h3>
                <p class="description">Never misplace your keys again with the inner key leash.</p>
            </div>
          </div>
        </div>
    </div>

    <div class="max-container has-overlay-xs fw-image topic-end-lg animate" {{ animateFadeInUp }}>
        {% include 'discover-picture', name: 'og-omg-what-fits-inside', alt: 'video showing how to pack the O.G. and O.M.G.', retina: true, fw: false %}  
        <div class="row theme-white text-center">
            <div class="content-col">
                <div class="figure-caption">
                    <h3 class="title">What Fits Inside</h3>
                    <a href="#" data-video-id="2" class="overview-video-trigger">
                        <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                    </a>
                </div>
            </div>
        </div>
    </div> 
    
    <div class="contianer">

       <div class="animate" {{ animateFadeInUp }}>
           <div class="row">
               <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
                   <h2 class="block-title"><a id="nav-target-3" class="jumptarget"></a>High-Quality Materials</h2>
                   <p class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a accumsan metus class aptent taciti.</p>
               </div>
           </div>
       </div>

       <div class="animate" {{ animateFadeInUp }}>
           <div class="row">
               <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">  
                    {% include 'discover-picture', name: 'og-omg-water-resistant', alt: '600D Recycled Poly is water-resistant', retina: true, fw: true %}                    
               </div>
           </div>
           <div class="row">
               <div class="col-sm-6 col-sm-offset-3">                    
                   <div class="figure-caption text-center text-left-xs">
                       <h3 class="title">Water-Resistant</h3>
                       <p class="description">Our 600D Recycled Poly is water-resistant to both outside elements and internal spills.</p>
                   </div>
               </div>
           </div>
       </div>

       <div class="animate" {{ animateFadeInUp }}>
           <div class="row">
               <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
                   <h2 class="block-title"><a id="nav-target-4" class="jumptarget"></a>Traveler Approved</h2>
               </div>
           </div>
           <div class="row topic-end-md">
               <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                   <blockquote class="pr">
                       <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/fodors-travel.png?15430798540328847356" alt="Fodor's Travel logo"></p>
                       <p class="pr-quote">&ldquo;This bag does double duty with a smart bottom zipper pocket for wet clothes after a day at the beach or shoes if you're using it as a carry-on.&rdquo;</p>
                   </blockquote>
               </div>
               <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                   <blockquote class="pr">
                       <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/theknotlogo.png?15430798540328847356" alt="The Knot logo"></p>
                       <p class="pr-quote">&ldquo;This canvas weekender is expertly sized for the overhead bin or a mini-moon.&rdquo;</p>
                   </blockquote>
               </div>
               <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                   <blockquote class="pr">
                       <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/foodandwine-logo-black.png?15023891854137734588" alt="Food and Wine logo"></p>
                       <p class="pr-quote">&ldquo;A zippered bottom compartment and unusually large size (plus a great choice of pretty, subdued colors) set this tote apart from the pack.&rdquo;</p>
                   </blockquote>
               </div>
               <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                   <blockquote class="pr">
                       <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/The_Huffington_Post_logo.png?15023891854137734588" alt="The Huffington Post logo"></p>
                       <p class="pr-quote">&ldquo;The Catalina had us at the secret bottom pocket. This dapper carrier fits everything that you (or Mary Poppins) could possibly need for a weekend getaway.&rdquo;</p>
                   </blockquote>
               </div>
               <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                   <blockquote class="pr">
                       <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Refinery29-Logo.png?15023891854137734588" alt="Refinery 29 logo"></p>
                       <p class="pr-quote">&ldquo;If you don’t already have a weekender, now's the time to get one. If you already have a weekender, now's the time to get this one. The interior organization will let you stow more things than any other option out there.&rdquo;</p>
                   </blockquote>
               </div>
           </div>
       </div>

       

       <div class="row visible-xs topic-end-lg">
           <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
               <hr>
           </div>
       </div>

       <div id="hanover-compare" class="row animate align-centers-md reversed topic-end-md" {{ animateFadeInUp }}>
           <div class="col-sm-4 col-sm-offset-4 col-md-5 col-md-offset-0 text-center content-col">                    
               <h2 class="block-title">View the similarities and differences between the O.G. and O.M.G.</h2>
               <div class="btn-set hidden-xs hidden-sm">
                   <p><a class="btn btn-secondary" href="/pages/compare-og-omg">Compare</a></p>
               </div>
           </div>
           <div class="col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-0">
                {% include 'discover-picture', name: 'og-omg-compare', alt: 'two views of woman wearing the Hanover', retina: true, fw: true %}  
                <div class="btn-set hidden-md hidden-lg">
                    <p><a class="btn btn-secondary" href="/pages/compare-hanover-collection-womens">Compare</a></p>
                </div>
           </div>
       </div>
        
    </div>
    
    <div id="hanover-cta">
    {% include 'discover-cta', retina: true %}
    </div>

    <script>// <![CDATA[
    var video1Embed = '<iframe src="//player.vimeo.com/video/170847806?player_id=vimeo-og&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-og" class="vimeo"></iframe>';
    var video2Embed = '<iframe src="//player.vimeo.com/video/170847806?player_id=vimeo-og&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-og" class="vimeo"></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>