{% include 'vars' %}
{%- assign assetVersion = 158227 -%}

<article class="discover">
    
    <div class="max-container">
      <div class="hero has-arrow">
        {% include 'discover-picture', name: 'signature-nylon-collection-hero1', alt: 'woman holding bag low at her side', retina: true, fw: false, lg: true %}
        <div class="hero-content white left">
          <h1 class="title"><span class="subtitle">Discover</span> The Signature <br />Collection</h1>
          <p class="description">Shop best-selling bags that are sleek enough for the office but functional enough for the road.</p>
        </div>
        {% include 'hero-jump-btn' %}
      </div>
    </div>
    
    <div class="container">{% include 'hero-jump-target' %}
      {% include 'discover-section-heading', title: "Travel Light", text: "A fine-weave nylon is perfect for the traveling professional." %}
      <div class="row animate" {{ animateFadeInUp }}>
          <div class="col-sm-6">
              {% include 'discover-picture', name: 'signature-nylon-collection-section1-block1', alt: 'woman with bag on shoulder', retina: true, fw: false, lg: true %}
              {% include 'discover-topic-content', title: "Easy on Your Shoulders", text: "Nylon provides a lighter, water-resistant alternative to leather." %}
          </div>
          <div class="col-sm-6">
              {% include 'discover-picture', name: 'signature-nylon-collection-section1-block2', alt: 'woman carrying bag by handle', retina: true, fw: false, lg: true %}                
              {% include 'discover-topic-content', title: "Under Three Pounds", text: "You have enough to carry! Our lightweight bags won’t slow you down." %}
          </div>
      </div>

      {% include 'discover-section-heading', title: "Travel Smart", text: "Thoughtfully-designed features meet the needs of the most frequent (and discerning) travelers." %}
      <div class="row animate" {{ animateFadeInUp }}>
        <div class="col-sm-4">
          {% include 'discover-picture', name: 'signature-nylon-collection-section2-block1', alt: 'bag secured to luggage by handle sleeve', retina: true, fw: false, lg: true %}
          {% include 'discover-topic-content', title: "Ready to Roll", text: "A pass-through sleeve slides onto most roller bags for fuss-free travel." %}
        </div>
        <div class="col-sm-4">
          {% include 'discover-picture', name: 'signature-nylon-collection-section2-block2', alt: 'woman at airport check in counter', retina: true, fw: false, lg: true %}
          {% include 'discover-topic-content', title: "A Spacious Carry-On", text: 'Every bag is designed to maximize space, so your “personal item” can hold all your in-flight essentials.' %}
        </div>
        <div class="col-sm-4">
          {% include 'discover-picture', name: 'signature-nylon-collection-section2-block3', alt: 'overhead shot of laptop being pulled from bag', retina: true, fw: false, lg: true %}
          {% include 'discover-topic-content', title: "TSA-Friendly", text: "Easy access to your laptop means no more digging through or repacking your bag in the security line." %}
        </div>
      </div>
    </div>

    <div class="max-container topic-block mb-default animate" {{ animateFadeInUp }}>
        {% include 'discover-picture', name: 'signature-nylon-collection-section3-block1', alt: 'two women carrying bags on shoulders', retina: true, fw: false, lg: true %}
    </div>

    <div class="container">
      {% include 'discover-section-heading', title: "Stay Organized", text: "Start each day with confidence, knowing everything you need is at the ready." %}
      <div class="row animate" {{ animateFadeInUp }}>
        <div class="col-sm-4">
          {% include 'discover-picture', name: 'signature-nylon-collection-section4-block1', alt: 'inserting laptop into dedicated compartment', retina: true, fw: false, lg: true %}
          {% include 'discover-topic-content', title: "Dedicated Laptop Storage", text: "A padded sleeve keeps your laptop safe when you’re on the go." %}
        </div>
        <div class="col-sm-4">
          {% include 'discover-picture', name: 'signature-nylon-collection-section4-block2', alt: 'overhead shot of interior pockets', retina: true, fw: false, lg: true %}
          {% include 'discover-topic-content', title: "Plenty of Pockets", text: "Well-placed pockets keep business documents, tech devices, and personal items organized." %}
        </div>
        <div class="col-sm-4">
          {% include 'discover-picture', name: 'signature-nylon-collection-section4-block3', alt: 'overhead shot of front zipper pocket', retina: true, fw: false, lg: true %}
          {% include 'discover-topic-content', title: "Front Zipper Pocket", text: "Always have easy access to your most essential items (keys, phone, passport)." %}
        </div>
      </div>

      {% include 'discover-section-heading', title: "Premium Details", text: "These three distinct style elements set our Signature bags apart." %}
      <div class="row animate" {{ animateFadeInUp }}>
        <div class="col-sm-4">
          {% include 'discover-picture', name: 'signature-nylon-collection-section5-block1', alt: 'close up of jacquard lining', retina: true, fw: false, lg: true %}
          {% include 'discover-topic-content', title: "Jacquard Lining", text: "A luxuriously-lined interior in our signature hummingbird print." %}
        </div>
        <div class="col-sm-4">
          {% include 'discover-picture', name: 'signature-nylon-collection-section5-block2', alt: 'close up of hardware', retina: true, fw: false, lg: true %}
          {% include 'discover-topic-content', title: "Classic Hardware", text: "Our lightweight L&S tags stand for Lo & Sons, but they also nod to our “light and smart” philosophy." %}
        </div>
        <div class="col-sm-4">
          {% include 'discover-picture', name: 'og2-discover-section5-block2', alt: 'close up of leather handles', retina: true, fw: false, lg: true %}
          {% include 'discover-topic-content', title: "Nappa-Leather Accents", text: "Handles and trim are made from this buttery, luxurious leather that molds to your hand or shoulder." %}
        </div>
      </div>
    </div>

    {% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
      {% include 'shop-block', handle: page.metafields["global"]["shop-block-collection-handle"], title: "Shop the Collection" %}
    {% endunless %}

</article>