{% include 'vars' %}

{%- assign assetVersion = 158822 -%}

{%- assign ctaTitle = 'The O.G. 2' -%}
{%- assign ctaPrice = '$333 - $338' -%}
{%- assign ctaLink = '/products/og-2-nylon-black-gold-lavender' -%}

{% comment %} {% include 'cta-overrides' %} {% endcomment %}

<article class="discover">

    {% include 'discover-nav', labels:"Functionality,What Fits Inside,Materials,What's New" %}
    
    {% include 'hero',
      img: 'og2-discover-hero1',
      alt: 'woman holding O.G. 2 at top of stairs',
      title: ctaTitle,
      subtitle: 'Discover',
      text: 'What do you get when you combine our bestselling bag with a decade of spot-on customer feedback? A new legend in its own right.'
      align: 'left' %}

    {% include 'product-hero', img: 'og2-discover-hero2', alt: 'The O.G. 2 isolated on white background'%}

    <a id="nav-target-1" class="jumptarget"></a>
    {% include 'section-hero', title: 'Travel Smart', img: 'og2-discover-section1-hero', alt: 'woman boarding plane' %}   
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'og2-discover-section1-block1',
              alt: 'woman walking with O.G. 2 on luggage',
              retina: true, fw: false, lg: true,
              title: "Suitcase Handle Sleeve",
              text: "A pass-through sleeve slides onto most bags for fuss-free travel.." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'og2-discover-section1-block2',
              alt: 'close up of laptop compartment',
              retina: true, fw: false, lg: true,
              title: "Easy Laptop Access",
              text: "An external laptop compartment means no more rifling through your bag at TSA." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                video: true,
                src: 'og2-discover-section1-block3',
                poster: 'og2-discover-section1-block3-md',
                index: 2,
                title: "Memory-Foam Shoulder Pad",
                text: "This removable slip-resistant pad slides onto your strap for extra comfort." %}
          </div>
        </div>
      </div>
    </div>


    {% include 'section-hero', title: 'Work Friendly', img: 'og2-discover-section2-hero', alt: 'woman at desk putting laptop into O.G. 2' %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'og2-discover-section2-block1',
              alt: 'overhead view of packed interior',
              retina: true, fw: false, lg: true,
              title: "Ultra-Organized Interior",
              text: "A thoughtful array of pockets keep your documents and electronics safe." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'og2-discover-section2-block2',
              alt: 'front pocket opened to showcase storage',
              retina: true, fw: false, lg: true,
              title: "Easy-to-Reach Essentials",
              text: "Keys, wallet, phone—your most important items are always at the ready." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                video: true,
                src: 'og2-discover-section2-block3',
                poster: 'og2-discover-section2-block3-md',
                index: 3,
                title: "Shoe Compartment",
                text: "Commuters, rejoice! A discreet side pocket makes it simple to switch from flats to heels (and back again)." %}
          </div>
        </div>
      </div>
    </div>   

    {% include 'section-hero', title: 'Gym Ready', img: 'og2-discover-section3-hero', alt: 'woman sliding gym bottle into side pocket' %}   
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'og2-discover-section3-block1',
              alt: 'close up of interior bottle pocket',
              retina: true, fw: false, lg: true,
              title: "Water Bottle Pocket",
              text: "This new mesh pocket means you have no excuse not to hydrate (and hydrate some more)." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'OG2-discover-section3-block2',
              alt: 'front pocket opened to showcase storage',
              retina: true, fw: false, lg: true,
              title: "Shoe Compartment",
              text: "Important work documents and gym shoes need not mix, thanks to a convenient side pocket." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                video: true,
                src: 'og2-discover-section3-block3',
                poster: 'og2-discover-section3-block3-md',
                index: 4,
                title: "Change of Clothes",
                text: "A fresh look. Some dry shampoo. There’s room for everything in the O.G. 2." %}
          </div>
        </div>
      </div>
    </div> 
  
    <a id="nav-target-2" class="jumptarget"></a>
    {% include 'section-title', title: "Organized Interior", text: "Maximizes what you can carry—and keeps it all within easy reach." %}
    {% include 'video-block', img: 'og2-discover-section4-block1', alt: 'video showing how to pack the O.G. 2', id: 1 %}

    <a id="nav-target-3" class="jumptarget"></a>
    {% include 'section-title', title: "Premium Materials", text: "Enduring design starts with uncompromising attention to detail. " %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'og2-discover-section5-block1',
              alt: 'close up of nylon exterior material',
              retina: true, fw: false, lg: true,
              title: "High-Quality Nylon",
              text: "Lightweight, fine-weave, water-resistant nylon provides a sturdy and chic exterior." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'og2-discover-section5-block2',
              alt: 'close up of nappa leather accents',
              retina: true, fw: false, lg: true,
              title: "Nappa Leather Accents",
              text: "Handles and trim are made from a buttery, luxurious leather that molds to your hand or shoulder." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'og2-discover-section5-block3',
              alt: 'close up of zipper',
              retina: true, fw: false, lg: true,
              title: "Water-Resistant Zippers",
              text: "Specially designed to keep rain (and coffee) out of your laptop sleeve." %}
          </div>
        </div>
      </div>
    </div> 

    {% include 'section-title', title: "Carry-On Friendly", text: "The preferred bag of savvy travelers." %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-6">
            {% include 'card',
              img: 'og2-discover-section6-block1',
              alt: 'woman walking toward plane with bag on luggage',
              retina: true, fw: false, lg: true,
              title: "The Perfect Personal Item",
              text: "Every bag is designed to maximize space, so your “personal item” can hold all your in-flight essentials." %}
          </div>
          <div class="col-sm-6">
            {% include 'card',
              img: 'og2-discover-section6-block2',
              alt: 'close up of nappa leather accents',
              retina: true, fw: false, lg: true,
              title: "Fits Under Your Seat",
              text: "The O.G. 2 slides easily under most airline seats for easy access. Linear inches range from 37 (Medium) to 37.5 (Large)." %}
          </div>
        </div>
      </div>
    </div> 

    <a id="nav-target-4" class="jumptarget"></a>
    {% include 'section-title', title: "Updated Design", text: 'See what’s new with an illustrated guide to every upgrade.<br /><br /><a href="#whatsnew" class="more-window-trigger">Compare versions +</a>' %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block text-center">
        {% include 'picture', name: 'og2-discover-section7-block1', alt: 'diagram showing O.G. 2 updates', fw: false %}
      </div>
    </div>

    {% include 'section-title', title: "Available in Two Sizes", text: "The O.G. 2 comes in Medium and Large." %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block text-center">
        {% include 'picture', name: 'og2-discover-section8-block1', alt: 'O.G. 2 shown in two sizes', fw: false, extraClasses: 'mb-gutter' %}
        <p class="section-description"><a href="#size-fit" class="more-window-trigger">Size &amp; Fit +</a></p>
      </div>
    </div>

    <div class="container pr-items">
      {% include 'section-title', title: "Traveler Approved" %}
      <div class="row topic-end-md">
        {% include 'press-review',
            med-right: false,
            img: 'business_insider_logo.png',
            alt: 'Business Insider Logo',
            quote: "If you're the kind of person who's constantly jetting around to and from — whether your destinations include the office, the gym, the airport, or anywhere else — this singular bag is likely all you need to seamlessly transition from place to place throughout your day, looking sophisticated all the while." %}
        {% include 'press-review',
            med-right: true,
            img: 'entrepreneur-logo.jpg',
            alt: 'Entrepreneur Logo',
            quote: "The lightweight bags are super functional, having pockets for everything, including your laptop, phone and even a place for shoes. (Every city dweller who does the quick heel-to-flat switch is screaming, “Hallelujah.”)" %}
        {% include 'press-review',
            med-right: false,
            img: 'self-logo.svg',
            alt: 'Self Logo',
            quote: "I bought it with the intention of only using it for work travel, but recently I've been using it for personal travel as well. It's such a perfect size and weight, and it has tons of pockets." %}
        {% include 'press-review',
            med-right: true,
            img: 'fodors-logo.svg',
            alt: 'Fodors Logo',
            quote: "The design allows you to find everything immediately, not digging required. I loved that things could stack vertically—books, magazines, files, and computer – rather than everything lying flat and [having to] dig through the stack." %}
        {% include 'press-review',
            med-right: false,
            img: 'huffingtonpost_logo_595eeeec-4176-4bae-8901-a85ff5085efb.png',
            alt: 'Huffington Post Logo',
            quote: "Say goodbye to the days of bags falling off the side of your suitcase and spilling out over the floor (we've all been there,) and hello to a less painful carry on experience." %}
      </div>
    </div>

    {% comment %} {% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
      {% include 'product-cta-block', handle: page.metafields["global"]["shop-block-collection-handle"] %}
    {% endunless %} {% endcomment %}
    {% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
      {% include 'shop-block', handle: page.metafields["global"]["shop-block-collection-handle"], title: "Shop The O.G. 2" %}
    {% endunless %}

    {% include 'cta-block',
      img: 'og2-discover-section9-block1',
      alt: 'group shot of products in Signature Collection',
      title: 'The Signature Collection',
      text: 'Learn more about our practical yet professional line.',
      link: '/pages/discover-signature-collection',
      linkText: 'Shop now' %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="https://player.vimeo.com/video/360897975" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

    <div class="more-window size-fit" id="size-fit">
      {% include 'size-fit-o-g-2' %}
      <button class="panel-close"><span class="sr-only">close</span></button>
    </div>

    <div class="more-window" id="whatsnew">
        <div class="section-heading first">
            <h2 class="title">Updated Design</h2>
            <p style="padding: 0 28px">A decade of customer feedback informed the O.G. 2. Here’s what’s new.</p>
        </div>
        <div class="columns">

            {% capture topicOpen %}
            <div class="container"><div class="row"><div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            {% endcapture %}
            {% capture topicClose %}
            </div></div></div>
            {% endcapture %}

            <div class="max-container">
                {% include 'discover-picture', name: 'og2-discover-compare-1', alt: 'O.G. 2 laptop sleeve illustration', gif: true, lg: true %}
            </div>
            {{ topicOpen }}
            {% include 'discover-topic-content', title: "External Laptop Sleeve", text: "Sprinting through security? The O.G. 2’s laptop sleeve is now separate from the main compartment, providing easy access even when your bag is full.", modifiers: "text-center text-left-xs" %}
            {{ topicClose }}

            <div class="max-container">
                {% include 'discover-picture', name: 'og2-discover-compare-2', alt: 'O.G. 2 structure illustration', gif: true, lg: true %}
            </div>
            {{ topicOpen }}
            {% include 'discover-topic-content', title: "Reinforced for Stability", text: "We’ve re-engineered the design to add structure and stability—without added weight. The new reinforced framework prevents the O.G. 2 from leaning when fully packed.", modifiers: "text-center text-left-xs" %}
            {{ topicClose }}

            <div class="max-container">
                {% include 'discover-picture', name: 'og2-discover-compare-3', alt: 'O.G. 2 water bottle pocket illustration', gif: true, lg: true %}
            </div>
            {{ topicOpen }}
            {% include 'discover-topic-content', title: "Mesh Water-Bottle Pocket", text: "We support your hydration goals! The O.G. 2 now has an interior pocket so your H2O is always close at hand.", modifiers: "text-center text-left-xs" %}
            {{ topicClose }}

            <div class="max-container">
                {% include 'discover-picture', name: 'og2-discover-compare-4', alt: 'O.G. 2 strap pad illustration', gif: true, lg: true %}
            </div>
            {{ topicOpen }}
            {% include 'discover-topic-content', title: "Ultra-Comfy Messenger Strap", text: "You have no patience for straps that dig—and neither do we. Our slip-resistant strap comes with a removable memory-foam pad for extra comfort.", modifiers: "text-center text-left-xs" %}
            {{ topicClose }}

            <div class="max-container">
                {% include 'discover-picture', name: 'og2-discover-compare-5', alt: 'O.G. 2 straps illustration', gif: true, lg: true %}
            </div>
            {{ topicOpen }}
            {% include 'discover-topic-content', title: "Extra-Luxe Leather", text: "We’ve upgraded our handles using buttery, high-grade Nappa leather that’s easy on the hands and shoulders.", modifiers: "text-center text-left-xs" %}
            {{ topicClose }}

            <div class="max-container">
                {% include 'discover-picture', name: 'og2-discover-compare-6', alt: 'O.G. 2 medallion illustration', gif: true, lg: true %}
            </div>
            {{ topicOpen }}
            {% include 'discover-topic-content', title: "Medallion Now Optional", text: "Some of you loved our branded medallion; some of you could do without it. To minimize waste, we now sell it separately for those who like a little flair.", modifiers: "text-center text-left-xs" %}
            {{ topicClose }}
            
        </div>
        <button class="panel-close"><span class="sr-only">close</span></button>
    </div>

</article>