{% include 'vars' %}
{%- assign assetVersion = 2461357876139429498 -%}
{%- assign ctaImgCol = 'col-md-6' -%}
{%- assign ctaContentCol = 'col-md-6' -%} 
{%- assign ctaTitle = 'Hanover Deluxe' -%}
{%- assign ctaPrice = '$148' -%}
{%- assign ctaLink = '/products/hanover-deluxe-600d-recycled-poly-onyx' -%}
{%- assign ctaImg = 'hanover-deluxe-cta' -%}


<article class="discover">
    <nav class="page-nav theme-light has-button">
        <div class="container">
            <span class="page-nav-title">{{ ctaTitle }}</span>
            <a href="#" id="page-nav-items-toggle"></a>
            <ul class="page-nav-actions">
                <li><a href="{{ ctaLink }}" class="btn btn-primary btn-gtm-trk" data-gtm-a="5">Buy Now</a></li>
            </ul>
            <ul class="page-nav-items">
                <li><a href="#nav-target-1" class="page-nav-item btn-gtm-trk" data-gtm-a="4">Features</a></li>
                <li><a href="#nav-target-2" class="page-nav-item btn-gtm-trk" data-gtm-a="4">Design</a></li>
                <li><a href="#nav-target-3" class="page-nav-item btn-gtm-trk" data-gtm-a="4">Materials</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="max-container">
        <div class="hero">
            {% include 'discover-picture', name: 'hanover-deluxe-w-hero-image', alt: 'woman on bike wearing Hanover Deluxe', retina: true, fw: false, lg: false %}
            <div class="hero-content white right">
                <h1 class="title"><span class="subtitle">Discover</span> Hanover Deluxe</h1>
                <p class="description">A lightweight travel backpack made from the same eco-friendly materials, now with even more space.</p>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row animate mb-large" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                {% include 'discover-picture', name: 'hanover-deluxe-product-shot', alt: 'Hanover Deluxe product shot', retina: true, fw: false %}
            </div>
        </div>

        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">                    
                    <div class="section-heading">
                      <h2 class="title"><a id="nav-target-1" class="jumptarget"></a>Travel Effortlessly</h2>
                      <p class="description">Thoughtfully designed with features that make traveling as easy and stress-free as possible.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row animate topic-block aligned-md mb-negate-xs mb-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">
                {% include 'discover-picture', name: 'hanover-deluxe-w-suitcase-handle-sleeve', alt: 'Suitcase Handle Sleeve', retina: true, fw: true %}                    
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 content-col">                    
                <div class="topic-content text-center-sm">
                    <h3 class="title">Suitcase Handle Sleeve</h3>
                    <p class="description">Travel seamlessly with a convenient pass-through sleeve that slides onto any roller bag.</p>
                </div>
            </div>
        </div>
        
        <div class="animate" {{ animateFadeInUp }}>
          <div class="row topic-block has-overlay-xs" style="margin-bottom: 0">
              <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0 ">
                  {% include 'discover-picture', name: 'hanover-deluxe-w-removable-insert', alt: 'watch Removable Insert video', retina: true, fw: true %}       
                  <div class="topic-content">
                      <a href="#" data-video-id="2" class="video-trigger">
                          <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                      </a>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">                    
                <div class="topic-content text-center text-left-xs">
                    <h3 class="title">Removable Insert</h3>
                    <p class="description">If you don’t need to carry your laptop around all day, quickly just remove the insert to lighten the load.</p>
                </div>
            </div>
          </div>
        </div>

        <div class="row animate topic-block aligned-md reversed" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-7">   
                {% include 'discover-picture', name: 'hanover-deluxe-w-ultra-comfortable', alt: 'Adjustable shoulder straps', retina: true, fw: true %}                        
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 content-col">                    
                <div class="topic-content text-center-sm">
                    <h3 class="title">Ultra Comfortable</h3>
                    <p class="description">Adjustable shoulder straps are designed with memory foam padding and constructed with a mesh underside to prevent the bag from slipping off the shoulders.</p>
                </div>
            </div>
        </div>

        <div class="row animate topic-block aligned-md mb-large" {{ animateFadeInUp }}>
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-1">  
                {% include 'discover-picture', name: 'discover-carry-on-friendly', alt: 'sample airline seat', retina: false, fw: false %}                              
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 content-col">                    
                <div class="topic-content text-center-sm">
                    <h3 class="title">Airline Seat Friendly</h3>
                    <p class="description">The Hanover Deluxe fits seamlessly under any airline seat.</p>
                </div>
            </div>
        </div>
        
        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">                    
                    <div class="section-heading">
                      <h2 class="title"><a id="nav-target-2" class="jumptarget"></a>Thoughtfully Organized</h2>
                      <p class="description">The Hanover comes packed with tons of features to help you stay put together on the road.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row animate topic-block aligned-md mb-negate-xs mb-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">  
              <div class="ratio-4-3">
                {% include 'discover-inline-embed',
                  id: 'video-1',
                  poster: 'hanover-deluxe-w-interior-pockets-md',
                  desktop: 'https://player.vimeo.com/external/241600734.hd.mp4?s=0d992524718a6f2a701e0728512ee6083f69ba64&profile_id=175',
                  mobile: 'https://player.vimeo.com/external/241600734.sd.mp4?s=2b3db5abcd251b3818ecb5282b4479cd23492678&profile_id=164'
                %}
              </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 col-lg-5 content-col">                    
                <div class="topic-content text-center-sm">
                    <h3 class="title">Interior Pockets</h3>
                    <p class="description">Keep everything organized with two interior mesh pockets and two padded slip pockets for documents, magazines and papers.</p>
                </div>
            </div>
        </div>

        <div class="row animate topic-block aligned-md mb-negate-xs mb-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">  
                {% include 'discover-picture', name: 'hanover-deluxe-w-laptop-storage', alt: 'Hanover Deluxe laptop storage', retina: true, fw: true %}                              
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 col-lg-5 content-col">                    
                <div class="topic-content text-center-sm">
                    <h3 class="title">Laptop Storage</h3>
                    <p class="description">Protect up to a 15-inch laptop in an interior padded compartment.</p>
                </div>
            </div>
        </div>

        <div class="row animate topic-block aligned-md mb-negate-xs mb-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">  
                {% include 'discover-picture', name: 'hanover-deluxe-w-exterior-pockets', alt: 'Hanover Deluxe easy-access slip pockets', retina: true, fw: true %}                              
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 col-lg-5 content-col">                    
                <div class="topic-content text-center-sm">
                    <h3 class="title">Exterior Slip Pockets</h3>
                    <p class="description">Store your water bottle, umbrella or headphones in two easy-access slip pockets.</p>
                </div>
            </div>
        </div>

        <div class="row animate topic-block aligned-md mb-negate-xs mb-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">  
              <div class="ratio-4-3">
                {% include 'discover-inline-embed',
                  id: 'video-2',
                  poster: 'hanover-deluxe-w-key-leash-md',
                  desktop: 'https://player.vimeo.com/external/241600547.hd.mp4?s=f7a807372fb04bb149644986a47dd228fbce2f9a&profile_id=174',
                  mobile: 'https://player.vimeo.com/external/241600547.sd.mp4?s=bb987a83fded2ab77b11f53d2aa22dcc44cbbfd0&profile_id=164'
                %}
              </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 col-lg-5 content-col">                    
                <div class="topic-content text-center-sm">
                    <h3 class="title">Key Leash</h3>
                    <p class="description">Never misplace your keys again with our detachable key leash.</p>
                </div>
            </div>
        </div>

        <div class="row animate topic-block aligned-md mb-negate-xs mb-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">  
              <div class="ratio-4-3">
                {% include 'discover-inline-embed',
                  id: 'video-3',
                  poster: 'hanover-deluxe-w-front-pocket-md',
                  desktop: 'https://player.vimeo.com/external/241601273.hd.mp4?s=108513651e3fdaea38a5bdf0f0c79dc1c1279833&profile_id=175',
                  mobile: 'https://player.vimeo.com/external/241601273.sd.mp4?s=25f9e25f8fc33a0bab59086048a02a3ee3835f0d&profile_id=164'
                %}
              </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 col-lg-5 content-col">                    
                <div class="topic-content text-center-sm">
                    <h3 class="title">Front Pocket</h3>
                    <p class="description">Within the front pocket, find two mesh compartments and one interior zipper pocket for safe-keeping of passports, phones and wallets.</p>
                </div>
            </div>
        </div>

    </div>
    
    <div class="max-container topic-block has-overlay-xs mb-large animate" {{ animateFadeInUp }}>
        {% include 'discover-picture', name: 'hanover-deluxe-w-what-fits-inside', alt: 'video showing how to pack the Hanover', retina: true, fw: false %}  
        <div class="topic-content">
            <h3 class="title">What Fits Inside</h3>
            <a href="#" data-video-id="1" class="video-trigger">
                <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
            </a>
        </div>
    </div>

    <div class="container">

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">                       
                <div class="section-heading">
                  <h2 class="title">Take it Anywhere</h2>
                  <p class="description">The Hanover Deluxe’s minimalist and understated design makes it perfect for taking on any kind of trip.</p>
                </div>
            </div>
        </div>
        
        <div id="hanover-deluxe-anywhere-1" class="row animate mb-default" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">
              {% include 'discover-picture', name: 'hanover-deluxe-w-take-it-anywhere-1', alt: 'Hanover Deluxe used for a picnic', retina: true, fw: true %}  
            </div>
        </div>
       <div class="row animate mb-large" {{ animateFadeInUp }}>
           <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 col-lg-5 col-lg-offset-1">
                <div id="hanover-deluxe-anywhere-2">
                    {% include 'discover-picture', name: 'hanover-deluxe-w-take-it-anywhere-2', alt: 'woman wearing Hanover Deluxe on the subway', retina: true, fw: false %}  
                </div>
           </div>
           <div class="col-sm-5 col-md-4 col-lg-5 offset-top-sm offset-top-md offset-top-lg">
                {% include 'discover-picture', name: 'hanover-deluxe-w-take-it-anywhere-3', alt: 'woman working at library', retina: true, fw: true %}  
           </div>
       </div>
       

       <div class="animate" {{ animateFadeInUp }}>
           <div class="row">
               <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">                    
                   <div class="section-heading">
                    <h2 class="title"><a id="nav-target-3" class="jumptarget"></a>High-Quality Materials</h2>
                    <p class="description">The Hanover Deluxe is crafted from premium grade materials that are both durable and eco-friendly.</p>
                  </div>
               </div>
           </div>
       </div>

       <div class="animate" {{ animateFadeInUp }}>
           <div class="row">
               <div class="col-sm-10 col-sm-offset-1">   
                {% include 'discover-picture', name: 'water-bottles', alt: 'Plastic water bottles', retina: true, fw: true %}                   
               </div>
           </div>
           <div class="row">
               <div class="col-sm-6 col-sm-offset-3">                    
                   <div class="topic-content text-center text-left-xs">
                       <h3 class="title">Sustainable</h3>
                       <p class="description">The exterior is constructed from a high density polyester made from recycled plastic bottles.</p>
                   </div>
               </div>
           </div>
       </div>

       <div class="animate" {{ animateFadeInUp }}>
           <div class="row">
               <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">  
                    {% include 'discover-picture', name: 'hanover-water-resistant', alt: '600D Recycled Poly is water-resistant', retina: true, fw: true %}                    
               </div>
           </div>
           <div class="row mb-large mb-negate-xs mb-negate-sm">
               <div class="col-sm-6 col-sm-offset-3">                    
                   <div class="topic-content text-center text-left-xs">
                       <h3 class="title">Water-Resistant</h3>
                       <p class="description">This 600D recycled poly is built to withstand the elements or just accidental spills.</p>
                   </div>
               </div>
           </div>
       </div>

       <div class="row mb-large visible-xs visible-sm">
           <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
               <hr class="reset" />
           </div>
       </div>

       {% include 'hanover-compare-w' %}
        
    </div>
    
    <div id="hanover-cta">
    {% include 'discover-cta', retina: true %}
    </div>

    <script>// <![CDATA[
    var video1Embed = '<iframe src="https://player.vimeo.com/video/241599208" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
    var video2Embed = '<iframe src="https://player.vimeo.com/video/241599569" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>