{% include 'vars' %}

{%- assign assetVersion = 162329 -%}

<article class="discover">

  <header class="page-title">
    <div class="container">
      <div class="row">
          <div class="col-sm-8 col-sm-offset-2">                    
              <h1 class="title">Must-Have Metallics</h1>
              <p>Take a shine to our latest drop. Three favorite styles now available in two new colors, glistening Champagne and shimmering Graphite — perfect for any occassion.</p>
          </div>
      </div>
    </div>
  </header>

  {% assign ctaCardText = 'The Pearl in Champagne' %}
  {% assign ctaCardBtn = '<a href="/products/pearl-saffiano-leather-champagne-gold-camel" class="btn btn-secondary">Shop now</a>' %}
  <section class="block has-cards container animate" {{ animateFadeInUp }}">
    <div class="row">
      <div class="col-sm-4">
          {% include 'card',
            cardModifiers: 'title-card'
            img: 'metallics-holiday-1',
            alt: 'woman with Pearl in champagne on shoulder',
            fw: false,
            title: "Holiday Parties",
            tag: 'h2',
            text: "Add a shining touch to the season's festivities with a metallic accessory." %}
      </div>
      <div class="col-sm-4 hidden-xs">
        {% include 'picture', name: 'metallics-holiday-2', alt: 'woman leaning against wall with Pearl in champagne', fw: false %}
      </div>
      <div class="col-sm-4 hidden-xs">
        {% include 'card',
          cardModifiers: 'cta-card'
          img: 'metallics-holiday-3',
          alt: 'close up of Pearl in champagne',
          fw: false,
          text: ctaCardText,
          text2: ctaCardBtn %}
      </div>
    </div>
    <div style="margin-bottom: 50px" class="hidden-sm hidden-md hidden-lg">
      <div class="product-family reduced-gutters">
        <div class="product-row-wrap">
          <div class="product-row">
            <div class="item"> {% include 'picture', name: 'metallics-holiday-2', alt: '', fw: false %} </div>
            <div class="item"> {% include 'picture', name: 'metallics-holiday-3', alt: '', fw: false %} </div>
          </div>
        </div> 
      </div>
      <div class="product-row-cta">
        <p>{{ ctaCardText }}</p>
        {{ ctaCardBtn }}
      </div>
    </div>
  </section>

  {% assign ctaCardText = 'The Waverley 2 Large in Graphite' %}
  {% assign ctaCardBtn = '<a href="/products/waverley-2-saffiano-leather-graphite-brass-grey" class="btn btn-secondary">Shop now</a>' %}
  <section class="block has-cards container animate" {{ animateFadeInUp }}">
    <div class="row">
      <div class="col-sm-4">
          {% include 'card',
            cardModifiers: 'title-card'
            img: 'metallics-nye-1',
            alt: 'close up of Waverley 2 in graphite',
            fw: false,
            title: "New Year’s Eve",
            tag: 'h2',
            text: "Step into the new year in style with a touch of eye-catching shine." %}
      </div>
      <div class="col-sm-4 hidden-xs">
        {% include 'picture', name: 'metallics-nye-2', alt: 'woman walking on street with Waverley 2 in graphite around waitst', fw: false %}
      </div>
      <div class="col-sm-4 hidden-xs">
        {% include 'card',
          cardModifiers: 'cta-card'
          img: 'metallics-nye-3',
          alt: 'Waverley 2 in graphite worn around waist',
          fw: false,
          text: ctaCardText,
          text2: ctaCardBtn %}
      </div>
    </div>
    <div style="margin-bottom: 50px" class="hidden-sm hidden-md hidden-lg">
      <div class="product-family reduced-gutters">
        <div class="product-row-wrap">
          <div class="product-row">
            <div class="item"> {% include 'picture', name: 'metallics-nye-2', alt: '', fw: false %} </div>
            <div class="item"> {% include 'picture', name: 'metallics-nye-3', alt: '', fw: false %} </div>
          </div>
        </div> 
      </div>
      <div class="product-row-cta">
        <p>{{ ctaCardText }}</p>
        {{ ctaCardBtn }}
      </div>
    </div>
  </section>

  {% assign ctaCardText = 'The Waverley 2 Small in Champagne' %}
  {% assign ctaCardBtn = '<a href="/products/waverley-2-saffiano-leather-graphite-brass-grey" class="btn btn-secondary">Shop now</a>' %}
  <section class="block has-cards container animate" {{ animateFadeInUp }}">
    <div class="row">
      <div class="col-sm-4">
          {% include 'card',
            cardModifiers: 'title-card'
            img: 'metallics-wedding-1',
            alt: 'Waverley 2 as a wristlet',
            fw: false,
            title: "Wedding Season",
            tag: 'h2',
            text: "These shining styles are the best wedding reception accessories to have and to hold." %}
      </div>
      <div class="col-sm-4 hidden-xs">
        {% include 'picture', name: 'metallics-wedding-2', alt: 'woman holding Waverley 2 in Champagne', fw: false %}
      </div>
      <div class="col-sm-4 hidden-xs">
        {% include 'card',
          cardModifiers: 'cta-card'
          img: 'metallics-wedding-3',
          alt: 'woman on sidewalk holding Waverley 2 in champagne',
          fw: false,
          text: ctaCardText,
          text2: ctaCardBtn %}
      </div>
    </div>
    <div style="margin-bottom: 50px" class="hidden-sm hidden-md hidden-lg">
      <div class="product-family reduced-gutters">
        <div class="product-row-wrap">
          <div class="product-row">
            <div class="item"> {% include 'picture', name: 'metallics-wedding-2', alt: '', fw: false %} </div>
            <div class="item"> {% include 'picture', name: 'metallics-wedding-3', alt: '', fw: false %} </div>
          </div>
        </div> 
      </div>
      <div class="product-row-cta">
        <p>{{ ctaCardText }}</p>
        {{ ctaCardBtn }}
      </div>
    </div>
  </section>

  {% assign ctaCardText = 'The Leather Wallet in Graphite' %}
  {% assign ctaCardBtn = '<a href="/products/leather-wallet-saffiano-leather-graphite-brass-grey" class="btn btn-secondary">Shop now</a>' %}
  <section class="block has-cards container animate" {{ animateFadeInUp }}">
    <div class="row">
      <div class="col-sm-4">
          {% include 'card',
            cardModifiers: 'title-card'
            img: 'metallics-everyday-1',
            alt: 'woman holding Leather Wallet in graphite at side',
            fw: false,
            title: "Every Single Day",
            tag: 'h2',
            text: "Your everyday outfit gets an instant upgrade thanks to a neutral metallic bag. " %}
      </div>
      <div class="col-sm-4 hidden-xs">
        {% include 'picture', name: 'metallics-everyday-2', alt: 'woman in blue coat holding Leather Wallet in graphite', fw: false %}
      </div>
      <div class="col-sm-4 hidden-xs">
        {% include 'card',
          cardModifiers: 'cta-card'
          img: 'metallics-everyday-3',
          alt: 'close up of Leather Wallet in graphite',
          fw: false,
          text: ctaCardText,
          text2: ctaCardBtn %}
      </div>
    </div>
    <div style="margin-bottom: 50px" class="hidden-sm hidden-md hidden-lg">
      <div class="product-family reduced-gutters">
        <div class="product-row-wrap">
          <div class="product-row">
            <div class="item"> {% include 'picture', name: 'metallics-everyday-2', alt: '', fw: false %} </div>
            <div class="item"> {% include 'picture', name: 'metallics-everyday-3', alt: '', fw: false %} </div>
          </div>
        </div> 
      </div>
      <div class="product-row-cta">
        <p>{{ ctaCardText }}</p>
        {{ ctaCardBtn }}
      </div>
    </div>
  </section>
  
  {% include 'section-title', title: "Shop the Collection", text: "No matter the dress code, a flash of metallic will boost any look." %}

  <div class="container animate" {{ animateFadeInUp }}">
    <div class="product-row-title is-h3">
      <h3 class="title">Champagne</h3>
      <p class="description">A glistening ivory.</p>
    </div>
  </div>
  {% include 'shop-block', title: nil, handle: 'champagne' %}

  <div class="container animate" {{ animateFadeInUp }}">
    <div class="product-row-title is-h3">
      <h3 class="title">Graphite</h3>
      <p class="description">A shimmering steel-grey.</p>
    </div>
  </div>
  {% include 'shop-block', title: nil, handle: 'graphite' %}

</article>