{% include 'vars' %}
{%- assign ctaImgCol = 'col-md-5 col-md-offset-1 col-md-pull-6' -%}
{%- assign ctaContentCol = 'col-md-6 col-md-push-6' -%} 
{%- assign ctaTitle = 'Edgemont' -%}
{%- assign ctaPrice = '$128' -%}
{%- assign ctaLink = '/products/edgemont-600d-recycled-poly-onyx' -%}
{%- assign ctaImg = 'edgemont-cta' -%}

<article class="discover">
    <nav class="page-nav theme-light has-button">
        <div class="container">
            <span class="page-nav-title">Edgemont</span>
            <a href="#" id="page-nav-items-toggle"></a>
            <ul class="page-nav-actions">
                <li><a href="/products/edgemont-600d-recycled-poly-onyx" class="btn btn-primary">Buy Now</a></li>
            </ul>
            <ul class="page-nav-items">
                <li><a href="#nav-target-1" class="page-nav-item">Features</a></li>
                <li><a href="#nav-target-2" class="page-nav-item">See What Fits Inside</a></li>
                <li><a href="#nav-target-3" class="page-nav-item">Materials</a></li>
            </ul>
        </div>
    </nav>

    <div class="max-container">
        <div class="hero" id="edgemont-hero">
            <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-hero-women_49857aaa-6948-469c-a330-17962f51d3b1.jpg?1070111382154943662" media="(min-width: 768px)" />
               <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-hero-women-mobile_ad303c1f-0687-4024-9d3f-967a4c77beed.jpg?1070111382154943662" alt="" />
            </picture>
            <div class="hero-content white">
                <h1 class="title"><span class="subtitle">Discover</span> Edgemont</h1>
                <p class="description">A convertible travel backpack made from lightweight eco-friendly materials.</p>
                <a href="#" data-video-id="1" class="video-trigger">
                    <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video" />
                </a>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row topic-block mb-large">
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <div class="inline-video ratio-16-9 product-video" id="edgemont-intro-video">
                    <div class="embed-container"
                        data-desktop-url="https://player.vimeo.com/external/263519401.hd.mp4?s=a7af8051e957fdf8da8e4fa187be35b30ec72386&profile_id=174"
                        data-mobile-url="https://player.vimeo.com/external/263519274.hd.mp4?s=8ab165903e766996fea84fb3aa93d4f8756a5832&profile_id=175"
                        data-autoplay="true"
                        data-loops="100">
                        <video id="video-1" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-primary-poster.jpg?6367938058879432929"></video>
                        <div class="loading"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">                    
                <div class="section-heading">
                  <h2 class="title"><a id="nav-target-1" class="jumptarget"></a>Ultimate Versatility</h2>
                  <p class="description">Thoughtfully designed with features that make it adaptable to any situation.</p>
                </div>
            </div>
        </div>

        <div class="animate" {{ animateFadeInUp }}>
            <div class="row topic-block hidden-xs hidden-sm" style="margin-bottom: 0">
                <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                    <div class="inline-video ratio-16-9">
                        <div class="embed-container"
                             data-desktop-url="https://player.vimeo.com/external/262565751.hd.mp4?s=d7f04fb9600d47f7242ca5d61d774b2071b81718&profile_id=175"
                             data-mobile-url="https://player.vimeo.com/external/262565751.hd.mp4?s=d7f04fb9600d47f7242ca5d61d774b2071b81718&profile_id=175"
                             data-autoplay="true"
                             data-loops="100">
                            <video id="video-4" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-versatile-women_e281e0b8-9d59-42de-b09d-62497425bb33.jpg?17038918741868048283"></video>
                            <div class="loading"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row topic-block has-overlay-xs hidden-md hidden-lg" style="margin-bottom: 0">
                <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0 ">
                    <picture class="fw-xs">
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-versatile-women-mobile.jpg?1390420925075893109" media="(min-width: 768px)" />
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-versatile-women-mobile.jpg?1390420925075893109" alt="" />
                    </picture>
                    <div class="topic-content">
                        <a href="#" data-video-id="3" class="video-trigger">
                            <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">                    
                    <div class="topic-content text-center text-left-xs">
                        <h3 class="title">Converts from Backpack to Tote</h3>
                        <p class="description">We combined the best from both worlds so that you can seamlessly go from backpack to tote mode.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-large animate" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-offset-1"> 
                <div class="inline-video fw-xs">
                    <div class="embed-container"
                         data-desktop-url="https://player.vimeo.com/external/262578076.hd.mp4?s=bd5c34e60bdc228ef49830ae2bdd964bac9de6fd&profile_id=175"
                         data-mobile-url="https://player.vimeo.com/external/262578076.hd.mp4?s=bd5c34e60bdc228ef49830ae2bdd964bac9de6fd&profile_id=175"
                         data-autoplay="true"
                         data-loops="10"
                         style="padding-bottom:133.2%">
                        <video id="video-2" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-removable-insert-women_69a759ff-ccc5-4cad-9512-47f46d4129cf.jpg?5421397605024517121"></video>
                        <div class="loading"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">   
                <div class="topic-content">
                    <h3 class="title">Removable Insert</h3>
                    <p class="description">If you don't need to carry your laptop around all day, quickly just remove the insert to lighten the load.</p>
                </div>
                <img width="370" src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-removable-insert-product.jpg?11652921948763397510" alt="Edgemont">
            </div>
        </div>

        <div class="mb-default animate" {{ animateFadeInUp }}>
            <div class="section-heading hidden-md hidden-lg">
                <h3 class="title">Minimalist Design</h3>
                <p class="description">Clean lines and understated style. <br>Take it anywhere.</p>
            </div>
            <picture class="fw-xs">
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-01_530abd60-6ff3-44eb-a171-2d5671a69493.jpg?17294097604999964020" media="(min-width: 768px)">
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-01-mobile_9524ad5c-166c-4388-9bdf-3a09b93cb3d0.jpg?11546108786454041272" alt="Edgemont">
            </picture>
        </div>

        <div class="row mb-default animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1"> 
                <div class="topic-block has-overlay-xs mb-negate-xs">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-02_f106d050-6c46-4ad1-b3ae-3453dca859f1.jpg?17526954887417311615" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-02-mobile_f38574cf-e99f-4a5a-9253-5a7b6e266b3e.jpg?15400651322926618616" alt="Edgemont">
                    </picture>
                    <div class="topic-content hidden-sm hidden-md hidden-lg">
                        <a href="#" data-video-id="4" class="video-trigger">
                            <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 hidden-xs hidden-sm">   
                <div class="topic-content">
                    <h3 class="title">Minimalist Design</h3>
                    <p class="description">Clean lines and understated style. <br>Take it anywhere.</p>
                </div>
                <div class="inline-video">
                    <div class="embed-container"
                         data-desktop-url="https://player.vimeo.com/external/262570815.hd.mp4?s=38a4c7dc442d83d9ea1d1aca65a50a20690c9efb&profile_id=174"
                         data-mobile-url="https://player.vimeo.com/external/262570815.hd.mp4?s=38a4c7dc442d83d9ea1d1aca65a50a20690c9efb&profile_id=174"
                         data-autoplay="true"
                         data-loops="10"
                         style="padding-bottom: 76%;">
                        <video id="video-5" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-adaptable-fabric_ab443227-f657-4e24-9b07-b0e3b74e2bec.jpg?5161380656260839406"></video>
                        <div class="loading"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-default animate" {{ animateFadeInUp }}>
            <picture class="fw-xs">
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-03_7f6e4234-5da1-4bee-8e4c-d501d80420f7.jpg?10226469007934054208" media="(min-width: 768px)">
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-03-mobile_cd0487cc-1b70-40a0-b1eb-04e4a5718749.jpg?5158270221638848087" alt="Edgemont">
            </picture>
        </div>

        <div class="row mb-large animate" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-push-6">
                <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-05_57a7eb97-1a41-43c3-abc8-7851b1f83ec9.jpg?14101188477701021036" media="(min-width: 768px)">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-adaptable-women-05-mobile_7bd4219e-1dd3-4643-9197-4a7d88aebf9e.jpg?14101188477701021036" alt="Edgemont">
                </picture>
            </div>
            <div class="col-sm-5 col-sm-pull-4">   
                <div class="topic-content">
                    <h3 class="title">Adapts to any situation and destination.</h3>
                </div>
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-adaptable-women-04_69a6443b-8a22-49f5-b6b5-4672ba6ed1d6.jpg?15580710778639451586" alt="Edgemont" style="margin-top:30px">
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">                    
                <div class="section-heading">
                  <h2 class="title">Carry-on Effortlessly</h2>
                  <p class="description">Fits perfectly as a carry-on personal item.</p>
                </div>
            </div>
        </div>

        <div class="row mb-default animate" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-offset-1 offset-top-sm offset-top-md offset-top-lg"> 
                <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-suitcase-handle-sleeve-product_976fa952-33a6-4a10-bdb0-600e9c26e6c8.jpg?16145140201501093072" media="(min-width: 768px)">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-suitcase-handle-sleeve-product_976fa952-33a6-4a10-bdb0-600e9c26e6c8.jpg?16145140201501093072" alt="Edgemont">
                </picture>
                <div class="topic-content hidden-sm hidden-md hidden-lg">
                    <h3 class="title">Suitcase Handle Sleeve</h3>
                    <p class="description">Take a load off your shoulders.</p>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-0">   
                <picture class="fw-xs">
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-suitcase-handle-sleeve-women_bb3e44d2-8241-4501-b7d3-78f2b4ccfdf6.jpg?16145140201501093072" media="(min-width: 768px)">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-suitcase-handle-sleeve-women-mobile_18902805-bc04-4a6e-a8e8-5877ab31dbb5.jpg?11245329676072291207" alt="Edgemont" class="pb-3">
                </picture>
                <div class="topic-content hidden-xs">
                    <h3 class="title">Suitcase Handle Sleeve</h3>
                    <p class="description">Take a load off your shoulders.</p>
                </div>
            </div>
        </div>

        <div class="row topic-block aligned-sm reversed animate" {{ animateFadeInUp }}>
            <div class="col-sm-6"> 
                <picture>
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-airline-seat_786e4b3d-56c0-413c-912f-11bc445bc645.jpg?11507813114453709294" alt="Airline Seat">
                </picture>
            </div>
            <div class="col-sm-4 col-sm-offset-2 content-col">   
                <div class="topic-content">
                    <h3 class="title">Airline Seat Friendly</h3>
                    <p class="description">The Edgemont fits easily under any airline seat.</p>
                </div>
            </div>
        </div>

        <div class="animate" {{ animateFadeInUp }}>
            <div class="topic-block hidden-xs hidden-sm" style="margin-bottom: 0">
                <div class="inline-video ratio-16-9">
                        <div class="embed-container"
                            data-desktop-url="https://player.vimeo.com/external/262568180.hd.mp4?s=cfd1f58e8668534abc1945fcec0f04066677ee8c&profile_id=175"
                            data-mobile-url="https://player.vimeo.com/external/262568060.hd.mp4?s=5c2b7a1994b916c1c601e870f3a5483c5a6a5c25&profile_id=175"
                            data-autoplay="true"
                            data-loops="10">
                            <video id="video-3" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-memory-foam-women_b7e04a61-87eb-47a8-b327-032813adb5f5.jpg?12586189126654451280"></video>
                            <div class="loading"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topic-block has-overlay-xs hidden-md hidden-lg" style="margin-bottom: 0">
                <picture class="fw-xs">
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-memory_foam_women_mobile_preview.jpeg?14239747506472739386" media="(min-width: 768px)">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-memory_foam_women_mobile_preview.jpeg?14239747506472739386" alt="Edgemont">
                </picture>
                <div class="topic-content">
                    <a href="#" data-video-id="5" class="video-trigger">
                        <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">                    
                    <div class="topic-content text-center text-left-xs">
                        <h3 class="title">Ultra Comfortable</h3>
                        <p class="description">Straps padded with memory foam make the Edgemont super comfy to carry.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <a id="nav-target-2" class="jumptarget"></a>
    <div class="max-container topic-block has-overlay-xs mb-large animate" {{ animateFadeInUp }}>
        <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-what-fits-inside.jpg?12864703857325661391" media="(min-width: 768px)">
            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-what-fits-inside-mobile.jpg?12864703857325661391" alt="Edgemont">
        </picture>
        <div class="topic-content">
            <h3 class="title">What Fits Inside</h3>
            <a href="#" data-video-id="1" class="video-trigger">
                <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
            </a>
        </div>
    </div>

    <div class="container">
        
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">                    
                <div class="section-heading">
                  <h2 class="title">Stay Organized</h2>
                  <p class="description">The Edgemont is designed with tons of features to help you stay put together when traveling.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="animate" {{ animateFadeInUp }}>
                    <picture class="fw-xs">
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/laptop_storage_women_mobile_preview.jpeg?17474422447703182448" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/laptop_storage_women_portrait_preview_tablet.jpeg?9259371038199681304" alt="Laptop Storage">
                    </picture>
                    <div class="topic-content">
                        <h3 class="title">Laptop Storage</h3>
                        <p class="description">Protect up to a 13 inch laptop in an interior padded compartment.</p>
                    </div>
                </div>

                <div class="animate" {{ animateFadeInUp }}>
                    <div class="inline-video ratio-4-3 fw-xs">
                        <div class="embed-container"
                             data-desktop-url="https://player.vimeo.com/external/262570275.hd.mp4?s=817db22d86c9d1ae8211960c33e8d882e75ce668&profile_id=175"
                             data-mobile-url="https://player.vimeo.com/external/262570275.hd.mp4?s=817db22d86c9d1ae8211960c33e8d882e75ce668&profile_id=175"
                             data-autoplay="true"
                             data-loops="10">
                            <video id="video-20" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-key-leash-women.jpg?11727760034259516241"></video>
                            <div class="loading"></div>
                        </div>
                    </div>
                    <div class="topic-content">
                        <h3 class="title">Key Leash</h3>
                        <p class="description">Never misplace your keys again with our detachable key leash.</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 offset-top-md offset-top-lg">
                <div class="animate" {{ animateFadeInUp }}>
                    <div class="inline-video ratio-4-3 fw-xs">
                        <div class="embed-container"
                             data-desktop-url="https://player.vimeo.com/external/263018948.sd.mp4?s=5acd2d6f789e020ff4f149a6e50ed93e9e796565&profile_id=165"
                             data-mobile-url="https://player.vimeo.com/external/263018948.sd.mp4?s=5acd2d6f789e020ff4f149a6e50ed93e9e796565&profile_id=165"
                             data-autoplay="true"
                             data-loops="10">
                            <video id="video-21" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-interior-pockets-women.jpg?17723544321680947789"></video>
                            <div class="loading"></div>
                        </div>
                    </div>
                    <div class="topic-content">
                        <h3 class="title">Interior Pockets</h3>
                        <p class="description">Two interior mesh pockets and two padded slip pockets help keep documents, magazines, tablets, and all your essentials neatly in place.</p>
                    </div>
                </div>

                <div class="animate" {{ animateFadeInUp }}>
                    <div class="fw-xs">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-side-pockets-women-portrait.jpg?5124213442534354328" alt="Key Leash">
                    </div>
                    <div class="topic-content">
                        <h3 class="title">Stash Pockets</h3>
                        <p class="description">Store your passport, wallet, or earphones in two easy to access side pockets.</p>
                    </div>
                </div>

            </div>
        </div>

        <a id="nav-target-3" class="jumptarget"></a>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">                    
                <div class="section-heading">
                  <h2 class="title">High-Quality Materials</h2>
                  <p class="description">The Edgemont is constructed from premium grade materials that are both durable and eco-friendly.</p>
                  <div class="btn-set" style="margin-top: 1.4em">
                      <a class="btn btn-secondary" href="/pages/featured-material-recycled-poly">Learn More</a>
                  </div>
                </div>
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1">
                <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-bottles_c86bb42f-666a-4184-9000-aa5572899fca.jpg?12416363281346336783" media="(min-width: 768px)">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-bottles-mobile.jpg?4810767758631716175" alt="Sustainable">
                </picture>
                <div class="topic-content text-center text-left-xs">
                    <h3 class="title">Sustainable</h3>
                    <p class="description">The exterior is made from a high density polyester made from recycled plastic bottles.</p>
                </div>
            </div>
        </div>

        <div class="animate mb-large mb-negate-xs mb-negate-sm" {{ animateFadeInUp }}>
            <picture class="fw-xs">
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-water-resistant.jpg?12864703857325661391" media="(min-width: 768px)">
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-water-resistant-mobile.jpg?12864703857325661391" alt="Water Resistant">
            </picture>
            <div class="topic-content text-center text-left-xs">
                <h3 class="title">Water-Resistant</h3>
                <p class="description">This 600D recycled poly is built to withstand the elements.</p>
            </div>
        </div>

    </div>
    
    <div id="edgemont-cta">
    {% include 'discover-cta' %}
    </div>

    <script>// <![CDATA[
    var video1Embed = '<iframe src="https://player.vimeo.com/video/262578108" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
    var video2Embed = '<iframe src="https://player.vimeo.com/video/262563963" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
    var video3Embed = '<iframe src="https://player.vimeo.com/video/262568060" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
    var video4Embed = '<iframe src="https://player.vimeo.com/video/262570815" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
    var video5Embed = '<iframe src="https://player.vimeo.com/video/262568180" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>