{% include 'vars' %}

{%- assign assetVersion = 14172434602968006474 -%}
{%- assign ctaTitle = 'Seville' -%}

<article class="discover">

    {% include 'discover-nav', labels:'Design,Features,Materials,Shop' %}
    
    <div class="max-container">
        <div class="hero soft-load has-arrow">
            {% include 'discover-picture', name: 'seville-hero', alt: 'Seville on black background', retina: true, fw: false, lg: true %}
            <div class="hero-content center white">
                <h1 class="title"><span class="subtitle">Discover</span> Seville</h1>
                <p class="description">An innovative leather laptop tote that goes from business mode to airplane mode in a snap.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row animate mb-large" {{ animateZoomIn }}>
            <div class="col-sm-6 col-sm-offset-3">
                {% include 'discover-picture', name: 'seville-product-image', alt: 'Seville product shot', retina: true, fw: false, lg: true %}
            </div>
        </div>

    	<a id="nav-target-1" class="jumptarget"></a>
        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">                    
                    <div class="section-heading">
                        <h2 class="title">2 in 1 Tote</h2>
                        <p class="description">A patented interchangeable shell design system and complimentary lightweight shell allows The Seville to transform seamlessly from a work tote to travel tote.</p>
                    </div>
                </div>
            </div>
    	</div>

	    <div class="animate" {{ animateFadeInUp }}>
	        <div class="row topic-block">
	            <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">                    
	                <div class="fw-xs">
	                    <div class="inline-video ratio-9-16 product-video" id="seville-inlined-1">
	                        <div class="embed-container"
	                            data-desktop-url="https://player.vimeo.com/external/293977542.hd.mp4?s=33197fc29d42945a5c939add189dff4b4e029a78&profile_id=175"
	                            data-mobile-url="https://player.vimeo.com/external/293977542.sd.mp4?s=5035aa9f20e25a892d8ebf686132fe425a093d95&profile_id=165"
	                            data-autoplay="true"
	                            data-loops="100">
	                            <video id="video-1" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/seville-2-in-1-video.jpg?{{ assetVersion }}"></video>
	                            <div class="loading"></div>
	                        </div>
	                   </div>
	                </div>
	                <div class="topic-content">
	                    <h3 class="title">Patented Interchangeable Shell Design</h3>
	                    <p class="description">Transform your bag seamlessly without having to unpack everything. The entire interior organizer slips out of one shell and into another in under a minute.</p>
	                </div>
	            </div>
	            <div class="col-sm-5 col-md-6">                    
	                {% include 'discover-picture', name: 'seville-2-in-1', alt: 'Seville on luggage', retina: true, fw: true, lg: true %}
	                <div class="topic-content">
	                    <h3 class="title">Lightweight Travel Shell Included</h3>
	                    <p class="description">Each tote includes a complimentary Travel Shell that is super lightweight and water resistant, which allows you to go from work mode to travel mode in a snap.</p>
	                </div>
	            </div>
	        </div>
		</div>

		<a id="nav-target-2" class="jumptarget"></a>
	    <div class="animate" {{ animateFadeInUp }}>
	        <div class="row">
	            <div class="col-sm-8 col-sm-offset-2">                    
	                <div class="section-heading">
	                    <h2 class="title">Stay Organized</h2>
	                </div>
	            </div>
	        </div>
		</div>

		<div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
			<div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
				{% include 'discover-picture', name: 'seville-organized-1', alt: 'Seville padded laptop sleeve', retina: true, fw: false, lg: true %}
			</div>
			<div class="col-sm-5 content-col">
				<div class="topic-content">
				    <h3 class="title">Padded Laptop Sleeve</h3>
				    <p class="description">Available in two sizes to accommodate 13" laptops &amp; 15" laptops.</p>
				</div>
			</div>
		</div>
		<div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
			<div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
				{% include 'discover-picture', name: 'seville-organized-2', alt: 'Seville interior pockets', retina: true, fw: false, lg: true %}
			</div>
			<div class="col-sm-5 content-col">
				<div class="topic-content">
				    <h3 class="title">Plenty of Interior Pockets</h3>
				    <p class="description">Well placed pockets keep business documents, tech devices, and personal items organized.</p>
				</div>
			</div>
		</div>
		<div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
			<div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
				{% include 'discover-picture', name: 'seville-organized-3', alt: 'Seville key leash', retina: true, fw: false, lg: true %}
			</div>
			<div class="col-sm-5 content-col">
				<div class="topic-content">
				    <h3 class="title">Key Leash</h3>
				    <p class="description">Never misplace your keys again with the inner key leash.</p>
				</div>
			</div>
		</div>
		<div class="row topic-block animate aligned-sm mb-negate-xs" {{ animateFadeInUp }}>
			<div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
				{% include 'discover-picture', name: 'seville-organized-4', alt: 'Seville zipper closure', retina: true, fw: false, lg: true %}
			</div>
			<div class="col-sm-5 content-col">
				<div class="topic-content">
				    <h3 class="title">Zipper Closure</h3>
				    <p class="description">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod tempor. </p>
				</div>
			</div>
		</div>

    </div>
	
	<div class="max-container mb-large">
		 <div class="inline-video ratio-16-9 product-video" id="seville-inlined-2">
		     <div class="embed-container"
		         data-desktop-url="https://player.vimeo.com/external/293977465.hd.mp4?s=60cc44839e6b9368286c7dc9561b5038a41d7f07&profile_id=175"
		         data-mobile-url="https://player.vimeo.com/external/293977465.sd.mp4?s=f47fbf6dc428cbed3c186068f2b3c90f60189b59&profile_id=165"
		         data-autoplay="true"
		         data-loops="100">
		         <video id="video-2" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/seville-organized-video.jpg?{{ assetVersion }}"></video>
		         <div class="loading"></div>
		     </div>
		</div>
	</div>

	<div class="container">
		<a id="nav-target-3" class="jumptarget"></a>
	    <div class="animate" {{ animateFadeInUp }}>
	        <div class="row">
	            <div class="col-sm-8 col-sm-offset-2">                    
	                <div class="section-heading">
	                    <h2 class="title">Luxurious and Durable Materials</h2>
	                </div>
	            </div>
	        </div>
		</div>
		
		<div class="animate" {{ animateFadeInUp }}>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
					{% include 'discover-picture', name: 'seville-saffiano', alt: 'Seville saffiano leather', retina: true, fw: true, lg: true %}
				</div>
				<div class="col-sm-8 col-sm-offset-2">
					<div class="topic-content text-center">
					    <h3 class="title">Saffiano Leather Exterior</h3>
					    <p class="description">Scratch resistant, water resistant, and extremely durable.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="animate" {{ animateFadeInUp }}>
			<style>
			#comparison figure{
				background-image: url('https://cdn.shopify.com/s/files/1/2185/1497/files/seville-memory-yarn-smooth-xs.jpg?3168812252590863496');
			}
			#comparison-divisor{
				background-image: url('https://cdn.shopify.com/s/files/1/2185/1497/files/seville-memory-yarn-wrinkled-xs.jpg?3168812252590863496');
			}
			@media (min-width: {{screenSm}}) {
				#comparison figure{
					background-image: url('https://cdn.shopify.com/s/files/1/2185/1497/files/seville-memory-yarn-smooth.jpg?3168812252590863496');
				}
				#comparison-divisor{
					background-image: url('https://cdn.shopify.com/s/files/1/2185/1497/files/seville-memory-yarn-wrinkled.jpg?3168812252590863496');
				}
			}
			</style>
			
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
					<div class="fw-xs">
						<div id="comparison">
							<figure>
								<div id="comparison-handle"></div>
								<div id="comparison-divisor"></div>
							</figure>
							<input type="range" min="0" max="100" value="50" id="comparison-slider" oninput="moveDivisor()">
						</div>
					</div>
				</div>
				<div class="col-sm-8 col-sm-offset-2">
					<div class="topic-content text-center">
					    <h3 class="title">Memory Yarn</h3>
					    <p class="description">Lorem ipsum dolor sit amet, consectet.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="animate" {{ animateFadeInUp }}>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
					{% include 'discover-picture', name: 'seville-jacquard', alt: 'Seville jacquard lining', retina: true, fw: true, lg: true %}
				</div>
				<div class="col-sm-8 col-sm-offset-2">
					<div class="topic-content text-center">
					    <h3 class="title">Signature Jacquard Lining</h3>
					    <p class="description">Lorem ipsum dolor sit amet, consectet.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="animate" {{ animateFadeInUp }}>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
					{% include 'discover-picture', name: 'seville-buttons', alt: 'Seville Italian buttons', retina: true, fw: true, lg: true %}
				</div>
				<div class="col-sm-8 col-sm-offset-2">
					<div class="topic-content text-center">
					    <h3 class="title">Italian Buttons</h3>
					    <p class="description">Ultra strong and durable snap buttons by Cobra™, an Italian producer of high-end hardware, connect the leather straps of the interior organizer to the outer shell. The firm click of the snaps assures you that your Seville Tote is securely assembled.</p>
					</div>
				</div>
			</div>
		</div>

		<a id="nav-target-4" class="jumptarget"></a>
	    <div class="animate" {{ animateFadeInUp }}>
	        <div class="row">
	            <div class="col-sm-8 col-sm-offset-2">                    
	                <div class="section-heading">
	                    <h2 class="title">Included with purchase</h2>
	                </div>
	            </div>
	        </div>
		</div>
		
	    <div class="animate" {{ animateFadeInUp }}>
	        <div class="row">
	            <div class="col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0"> 
	            	<div class="mb-gutter">
	            		{% include 'discover-picture', name: 'seville-included-1', alt: 'Seville shell included with purchase', retina: true, fw: false, lg: true %}
	            	</div>
	            </div>
	            <div class="col-sm-5 col-md-6">                    
	                {% include 'discover-picture', name: 'seville-included-2', alt: 'Seville dust bag', retina: true, fw: false, lg: true %}
	            </div>
	        </div>
	        <div class="row">
	        	<div class="col-sm-10 col-sm-offset-1">
	        		<div class="topic-content text-center">
	        		    <p class="description">All Seville Tote purchases include a Saffiano Leather Shell as well as a dust bag containing a Memory Yarn Travel Shell. Additional leather shells are sold separately.</p>
	        		</div>
	        	</div>
	        </div>
		</div>

	    <div class="animate" {{ animateFadeInUp }}>
	        <div class="row">
	            <div class="col-sm-8 col-sm-offset-2">                    
	                <div class="section-heading">
	                    <h2 class="title">Shop</h2>
	                </div>
	            </div>
	        </div>
		</div>

		<div class="row fw-xs animate cta-block" {{ animateFadeInUp }}>
		    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
		        {% include 'discover-picture', name: 'seville-tote-cta', alt: 'Seville Tote product shot', retina: true, fw: false %}
		    </div>
		    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
		        <div class="topic-content">
		            <h3 class="title">Seville Tote</h3>
		            <p class="description">$398 - $448</p>
		            <div class="btn-set">
		               <a class="btn btn-secondary btn-gtm-trk" data-gtm-a="1" href="/products/seville-tote-saffiano-leather-black-gold-grey">View colors &amp; sizes</a>
		               <a class="btn btn-gtm-trk" data-gtm-a="1" href="/products/seville-tote-saffiano-leather-black-gold-grey">Buy now</a>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="row fw-xs animate cta-block" {{ animateFadeInUp }}>
		    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
		        {% include 'discover-picture', name: 'seville-shell-cta-v2', alt: 'Seville Shell product shot', retina: true, fw: false %}
		    </div>
		    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
		        <div class="topic-content">
		            <h3 class="title">Seville Shell</h3>
		            <p class="description">$168 - $228</p>
		            <div class="btn-set">
		               <a class="btn btn-secondary btn-gtm-trk" data-gtm-a="1" href="/products/seville-shell-saffiano-leather-white-gold-black">View colors &amp; sizes</a>
		               <a class="btn btn-gtm-trk" data-gtm-a="1" href="/products/seville-shell-saffiano-leather-white-gold-black">Buy now</a>
		            </div>
		        </div>
		    </div>
		</div>
		
		
	</div>

	<script>
	var divisor = document.getElementById("comparison-divisor"),
	    handle = document.getElementById("comparison-handle"),
	    slider = document.getElementById("comparison-slider");

	function moveDivisor() {
	  handle.style.left = slider.value+"%";
		divisor.style.width = slider.value+"%";
	}

	window.onload = function() {
		moveDivisor();
	};
	</script>

</article>