{% include 'discover-vars' %}

<article class="discover">
    
    <div class="blocks-bg topic-end-lg">
        
        <div class="max-container">
            <div class="hero">
                <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-hero-image-md.jpg?10430709846004379422" media="(min-width: {{ screenMd }})" />
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-hero-image-sm.jpg?10430709846004379422" media="(min-width: {{ screenSm }})" />
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-hero-image-xs.jpg?10430709846004379422" alt="TODO" />
                </picture>
                <div class="hero-content center theme-medium">
                    <h1 class="block-title">Catalina Collection</h1>
                    <p class="block-description">Classic travel bags for any weekend getaway.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row animate" {{ animateFadeInUp }}>
                <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">                    
                    <h2 class="block-title">Travel Smart</h2>
                    <p class="block-description">We believe that travel should be seamless—so we designed our weekender bags with thoughtful design features</p>
                </div>
            </div>

            <div id="catalina-collection-handle-sleeve-content" class="row animate align-centers-md topic-end-lg" {{ animateFadeInUp }}>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-2">                    
                    <picture class="fw-xs">
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-suitcase-handle-sleeve-02-md.jpg?7738258044304522634" media="(min-width: {{ screenMd }})" />
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-suitcase-handle-sleeve-02-sm.jpg?7738258044304522634" media="(min-width: {{ screenSm }})" />
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-suitcase-handle-sleeve-02-xs.jpg?7738258044304522634" alt="TODO" />
                    </picture>
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 content-col">                    
                    <div class="figure-caption text-center-sm">
                        <h3 class="title">Suitcase Handle Sleeve</h3>
                        <p class="description">Our deluxe editions feature a back suitcase handle sleeve that makes for easier and more seamless travel.</p>     
                    </div>
                </div>
            </div>

            <div id="catalina-collection-bottom-pocket" class="row animate topic-end-lg" {{ animateFadeInUp }}>
                <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                    <picture class="fw-xs">
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-bottom-pocket-01-md.jpg?14094361114276963630" media="(min-width: {{ screenMd }})" />
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-bottom-pocket-01-sm.jpg?14094361114276963630" media="(min-width: {{ screenSm }})" />
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-bottom-pocket-01-xs.jpg?14094361114276963630" alt="TODO" />
                    </picture>
                </div>
            </div>

            <div id="catalina-collection-bottom-pocket-content" class="row animate align-centers-md topic-end-lg" {{ animateFadeInUp }}>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 content-col">                    
                    <div class="figure-caption text-center-sm">
                        <h3 class="title">Bottom Pocket</h3>
                        <p class="description">Designed to help keep your shoes or dirty clothes separate from clean clothes.</p>
                    </div>
                </div>
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0">                    
                    <picture class="fw-xs">
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-bottom-pocket-02-md.jpg?8132232227607475403" media="(min-width: {{ screenMd }})" />
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-bottom-pocket-02-sm.jpg?8132232227607475403" media="(min-width: {{ screenSm }})" />
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-bottom-pocket-02-xs.jpg?8132232227607475403" alt="TODO" />
                    </picture>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
                <h2 class="block-title">Pack all the Essentials</h2>
                <p class="block-description">Each of our weekender bags is surprisingly spacious bags and designed to fit all your essentials—whether it be a long weekend trip or a weeklong trip.</p>
            </div>
        </div>
    </div>
    
    <div class="max-container has-overlay-xs fw-image topic-end-lg animate" {{ animateFadeInUp }}>
        <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-pack-all-the-essentials-md.jpg?2151962200044790399" media="(min-width: {{ screenLg }})" />
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-pack-all-the-essentials-sm.jpg?2151962200044790399" media="(min-width: {{ screenSm }})" />
            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-pack-all-the-essentials-xs.jpg?2151962200044790399" alt="TODO" />
        </picture>
        <div class="row text-center">
            <div class="content-col">
                <div class="figure-caption">
                    <a href="#" data-video-id="1" class="overview-video-trigger">
                        <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                    </a>                    
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 text-center">                    
                <h2 class="block-title">An Option for Every Trip</h2>
                <p class="block-description">Whether it be a European vacation, destination wedding, or weekend excursion to the beach, we have 3 editions that are perfect for any kind of destination.</p>
            </div>
        </div>

        <div class="row fw-xs animate cta-block" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="figure-caption text-center" data-cta-top></div>
                </div>
            </div>
            <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-product-photo-01-md.jpg?15050273295389870369" media="(min-width: {{ screenMd }})" />
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-product-photo-01-sm.jpg?15050273295389870369" media="(min-width: {{ screenSm }})" />
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-product-photo-01-xs.jpg?15050273295389870369" alt="TODO" />
            </picture>
            <div class="row overlay">
                <div class="col-md-5 col-md-offset-1 col-lg-4 content-col">
                    <div class="figure-caption">
                        <div data-cta-titles>
                            <h3 class="title">Catalina</h3>
                            <p class="description">A classic travel bag for any weekend getaway.</p>
                        </div>
                        <div class="btn-set">
                           <a class="btn btn-secondary" href="/products/catalina-washed-canvas-indigo-colorblock">Learn more</a><a class="btn" href="/products/catalina-washed-canvas-indigo-colorblock">Buy now</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fw-xs cta-block-divider"><hr /></div>
        <div class="row fw-xs animate cta-block" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="figure-caption text-center" data-cta-top></div>
                </div>
            </div>
            <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-product-photo-02-md.jpg?15050273295389870369" media="(min-width: {{ screenMd }})" />
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-product-photo-02-sm.jpg?15050273295389870369" media="(min-width: {{ screenSm }})" />
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-product-photo-02-xs.jpg?15050273295389870369" alt="TODO" />
            </picture>
            <div class="row overlay">
                <div class="col-md-5 col-md-offset-1 col-lg-4 content-col">
                    <div class="figure-caption">
                        <div data-cta-titles>
                            <h3 class="title">Catalina Deluxe</h3>
                            <p class="description">Our best selling weekender bag, now with even more features.</p>
                        </div>
                        <div class="btn-set">
                           <a class="btn btn-secondary" href="/products/catalina-deluxe-washed-canvas-midnight-ash">Learn more</a><a class="btn" href="/products/catalina-deluxe-washed-canvas-midnight-ash">Buy now</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fw-xs cta-block-divider"><hr /></div>
        <div class="row fw-xs animate cta-block" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="figure-caption text-center" data-cta-top></div>
                </div>
            </div>
            <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-product-photo-03-md.jpg?15050273295389870369" media="(min-width: {{ screenMd }})" />
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-product-photo-03-sm.jpg?15050273295389870369" media="(min-width: {{ screenSm }})" />
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-collection-product-photo-03-xs.jpg?15050273295389870369" alt="TODO" />
            </picture>
            <div class="row overlay">
                <div class="col-md-5 col-md-offset-1 col-lg-4 content-col">
                    <div class="figure-caption">
                        <div data-cta-titles>
                            <h3 class="title">Catalina Deluxe Tote</h3>
                            <p class="description">A compact tote edition of the Catalina Deluxe.</p>
                        </div>
                        <div class="btn-set">
                           <a class="btn btn-secondary" href="/products/catalina-deluxe-tote-washed-canvas-dove-grey">Learn more</a><a class="btn" href="/products/catalina-deluxe-tote-washed-canvas-dove-grey">Buy now</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% include 'discover-catalina-compare' %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="//player.vimeo.com/video/267350806?player_id=vimeo-catalinadeluxelarge&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-catalinadeluxelarge" class="vimeo"></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>
