{% include 'vars' %}

{%- assign assetVersion = 95232 -%}

{% capture roseSlide1 %}
<div class="toggle">
  {% include 'discover-picture', name: 'neutrals-rose-nappa-pearl', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
  <div class="alternate">
    {% include 'discover-picture', name: 'neutrals-rose-saffiano-pearl', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
  </div>
  <div class="controls">
    <button class="active">Nappa</button>
    <button class="show-alternate">Saffiano</button>
  </div>
</div>
<p class="product-name">Pearl <a href="#">Shop now ></a></p>
{% endcapture %}
{% capture roseSlide2 %}
<div class="toggle">
  {% include 'discover-picture', name: 'neutrals-rose-nappa-waverley', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
  <div class="alternate">
    {% include 'discover-picture', name: 'neutrals-rose-saffiano-waverley', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
  </div>
  <div class="controls">
    <button class="active">Nappa</button>
    <button class="show-alternate">Saffiano</button>
  </div>
</div>
<p class="product-name">Waverley 2 <a href="#">Shop now ></a></p>
{% endcapture %}
{% capture roseSlide3 %}
<div class="toggle">
  {% include 'discover-picture', name: 'neutrals-rose-nappa-wallet', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
  <div class="alternate">
    {% include 'discover-picture', name: 'neutrals-rose-saffiano-wallet', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
  </div>
  <div class="controls">
    <button class="active">Nappa</button>
    <button class="show-alternate">Saffiano</button>
  </div>
</div>
<p class="product-name">Leather Wallet <a href="#">Shop now ></a></p>
{% endcapture %}

{% capture sandSlide1 %}
<div class="toggle">
  {% include 'discover-picture', name: 'neutrals-sand-nappa-pearl', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
  <div class="alternate">
    {% include 'discover-picture', name: 'neutrals-sand-saffiano-pearl', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
  </div>
  <div class="controls">
    <button class="active">Nappa</button>
    <button class="show-alternate">Saffiano</button>
  </div>
</div>
<p class="product-name">Pearl <a href="#">Shop now ></a></p>
{% endcapture %}
{% capture sandSlide2 %}
<div class="toggle">
  {% include 'discover-picture', name: 'neutrals-sand-nappa-waverley', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
  <div class="alternate">
    {% include 'discover-picture', name: 'neutrals-sand-saffiano-waverley', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
  </div>
  <div class="controls">
    <button class="active">Nappa</button>
    <button class="show-alternate">Saffiano</button>
  </div>
</div>
<p class="product-name">Waverley 2 <a href="#">Shop now ></a></p>
{% endcapture %}
{% capture sandSlide3 %}
<div class="toggle">
  {% include 'discover-picture', name: 'neutrals-sand-nappa-wallet', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
  <div class="alternate">
    {% include 'discover-picture', name: 'neutrals-sand-saffiano-wallet', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
  </div>
  <div class="controls">
    <button class="active">Nappa</button>
    <button class="show-alternate">Saffiano</button>
  </div>
</div>
<p class="product-name">Leather Wallet <a href="#">Shop now ></a></p>
{% endcapture %}

<article class="discover">
    
    <div class="fw-container">
        <div class="hero has-arrow" id="neutrals-hero">
            {% include 'discover-picture', name: 'neutrals-hero', alt: 'woman walking with Waverley 2 in city', retina: true, fw: false, xxl: true %}
            <div class="hero-content white">
                <h1 class="title">The New Neutrals</h1>
                <p class="description">Introducing Rose Quartz and Sand, two versatile colors that fit in anywhere, anytime.</p>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>
    
    <div class="container">{% include 'hero-jump-target' %}
      <div class="row animate" {{ animateFadeInUp }}>
        <div class="col-sm-8 col-sm-offset-2">                    
          <div class="section-heading">
            <h2 class="title">Palette Refresh</h2>
            <p class="description">Sunkissed hues that feel classic yet current, and look perfect with your Spring / Summer wardrobe.</p>
          </div>
        </div>
      </div>
      <div class="row mb-default animate" {{ animateFadeInUp }}>
        <div class="col-sm-5 col-sm-offset-1 col-lg-6 col-lg-offset-0">   
          <div class="topic-content" id="chic-content-xs">
            <h3 class="title">Chic Neutrals</h3>
            <p class="description">Muted neutrals for warmer weather. These understated tones make the most subtle statement.</p>
          </div>                 
          {% include 'discover-picture', name: 'neutrals-chic-1', alt: 'woman walking with Waverley 2 in city', retina: true, fw: false, lg: true %}
          <p class="neutrals-caption">Pearl in Sand Saffiano Leather, $248</p>
        </div>
        <div class="col-sm-5 col-lg-6">                    
          <div class="topic-content" id="chic-content-sm">
            <h3 class="title">Chic Neutrals</h3>
            <p class="description">Muted neutrals for warmer weather. These understated tones make the most subtle statement.</p>
          </div>
          {% include 'discover-picture', name: 'neutrals-chic-2', alt: 'woman walking with Waverley 2 in city', retina: true, fw: false, lg: true %}
        </div>
      </div>
    </div>

    <div class="max-container">
      <div id="neutrals-chic" class="mb-default">
        <div class="col">{% include 'discover-picture', name: 'neutrals-chic-3', alt: 'woman walking with Waverley 2 in city', retina: true, fw: true, lg: true %}</div>
        <div class="col narrow">
          {% include 'discover-picture', name: 'neutrals-chic-4', alt: 'woman walking with Waverley 2 in city', retina: true, fw: false, lg: true %}
          <p class="neutrals-caption">Waverley 2 Small in Rose Quartz Nappa Leather, $169</p>
        </div>
      </div>
    </div>

    <div class="container">{% include 'hero-jump-target' %}
      <div class="row animate" {{ animateFadeInUp }}>
        <div class="col-sm-8 col-sm-offset-2">                    
          <div class="topic-content text-center">
            <h3 class="title">Seamlessly Stylish</h3>
            <p class="description">This collection keeps you looking fresh and polished whether you’re grabbing dinner with friends or running errands around town.</p>
          </div>
        </div>
      </div>
      <div class="row mb-gutter animate" {{ animateFadeInUp }}>
        <div class="col-sm-5 col-sm-offset-1 col-lg-6 col-lg-offset-0"> 
          <div class="mb-gutter-xs">
          {% include 'discover-picture', name: 'neutrals-seamless-1', alt: 'woman walking with Waverley 2 in city', retina: true, fw: false, lg: true %}
          </div>                   
        </div>
        <div class="col-sm-5 col-lg-6">                    
          {% include 'discover-picture', name: 'neutrals-seamless-2', alt: 'woman walking with Waverley 2 in city', retina: true, fw: false, lg: true %}
          <p class="neutrals-caption">Leather Wallet in Sand Nappa Leather, $138</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">  
          <hr>
        </div>
      </div>
    </div>

    <div class="neutral-products mb-large">
      <div class="container">
        <div class="row animate" {{ animateFadeInUp }}>
          <h2 class="title" id="neutrals-shop-title">Shop The Collection</h2>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
          <div class="col-sm-8 col-sm-offset-2">                
            <div class="section-heading">
              <h3 class="title">Rose Quartz</h3>
              <p>This pale blush, that’s more timeless than trend-driven, feels slightly unexpected but completely classic.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" id="neutrals-rose-3up">
        <div class="row animate" {{ animateFadeInUp }}>
          <div class="col">{{ roseSlide1 }}</div>
          <div class="col">{{ roseSlide2 }}</div>
          <div class="col">{{ roseSlide3 }}</div>
        </div>
      </div>
      <div class="slider neutral-products mb-default" id="neutrals-rose-slider">
        <div class="slides">
          <div>{{ roseSlide1 }}</div>
          <div>{{ roseSlide2 }}</div>
          <div>{{ roseSlide3 }}</div>
        </div>
      </div>
    </div>
    <div class="neutral-products mb-default">
      <div class="container">
        <div class="row animate" {{ animateFadeInUp }}>
          <div class="col-sm-8 col-sm-offset-2">                    
            <div class="section-heading">
              <h3 class="title">Sand</h3>
              <p>This warm beige is a fresh take on an enduring color, it looks relevant now and will continue to remain classic.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" id="neutrals-sand-3up">
        <div class="row animate" {{ animateFadeInUp }}>
          <div class="col">{{ sandSlide1 }}</div>
          <div class="col">{{ sandSlide2 }}</div>
          <div class="col">{{ sandSlide3 }}</div>
        </div>
      </div>
      <div class="slider neutral-products mb-default" id="neutrals-sand-slider">
        <div class="slides">
          <div>{{ sandSlide1 }}</div>
          <div>{{ sandSlide2 }}</div>
          <div>{{ sandSlide3 }}</div>
        </div>
      </div>
    </div>

</article>