{% include 'discover-vars' %}
{%- assign assetVersion = 3214247389441692224 -%}

<article class="discover catalina-rose">
    
    <div class="max-container">
        <div class="hero">
            {% include 'discover-picture', name: 'catalina-rose-hero', alt: 'the Catalina Rose Edition', retina: true, fw: false, lg: true %}
            <div class="hero-content center theme-white">
                <h1 class="block-title">The Rose Edition</h1>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0">                    
                {% include 'discover-picture', name: 'catalina-rose-easy-breezy', alt: 'exterior view of building and palm trees', retina: true, fw: false, lg: true %}
                <div class="row">
                    <div class="col-md-8">
                        <div class="figure-caption">
                            <h3 class="title">Easy and Breezy</h3>
                            <p class="description">Add a gentle warmth to this season’s travels.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-0">   
                <div id="catalina-rose-getaway" class="figure-caption hidden-sm hidden-xs">
                    <h3 class="title">A Summer Getaway Color</h3>
                    <p class="description">We’re refreshing our Catalina line with a relaxing red.</p>
                </div>                 
                {% include 'discover-picture', name: 'catalina-rose-summer-getaway', alt: 'catalina in rose next to pool', retina: true, fw: false, lg: true %}
                <div class="figure-caption hidden-md hidden-lg">
                    <h3 class="title">A Summer Getaway Color</h3>
                    <p class="description">We’re refreshing our Catalina line with a relaxing red.</p>
                </div>
            </div>
        </div>

        <div class="row fw-sm animate" {{ animateFadeInUp }}>
            <div class="col-md-6">                    
                {% include 'discover-picture', name: 'catalina-rose-glasses', alt: 'cocktails next to pool', retina: true, fw: true, lg: true %}
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">   
                <div id="catalina-rose-yucca">
                {% include 'discover-picture', name: 'catalina-rose-yucca', alt: 'desert plants', retina: true, fw: false, lg: true %}
                </div>
            </div>
        </div>

        <div class="row fw-sm animate topic-end-lg" {{ animateFadeInUp }}>
            <div class="col-xs-12">
                {% include 'discover-picture', name: 'catalina-rose-palm-trees', alt: 'palm trees', retina: true, fw: true, lg: true %}
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-0">                    
                {% include 'discover-picture', name: 'catalina-rose-chill', alt: 'catalina deluxe in rose next to pool', retina: true, fw: false, lg: true %}
                <div class="row">
                    <div class="col-md-10">
                        <div class="figure-caption">
                            <h3 class="title">Rose and Chill</h3>
                            <p class="description">Whether chilling poolside or taking some ‘me time’, our soothing new shade of Rose fits the bill.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0">                 
                {% include 'discover-picture', name: 'catalina-rose-bound', alt: 'catalina deluxe in rose on suitcase', retina: true, fw: false, lg: true %}
                <div class="row">
                    <div class="col-md-11">
                        <div class="figure-caption">
                            <h3 class="title">Catalina-Bound?</h3>
                            <p class="description">Make trips effortless with an easy getaway plan: The Catalina in Rose.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row fw-xs animate cta-block" {{ animateFadeInUp }}>
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
                {% include 'discover-picture', name: 'catalina-rose-cta', alt: 'Catalina in Rose product shot', retina: true, fw: false %}
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
                <div class="figure-caption">
                    <h3 class="title">Catalina</h3>
                    <p class="description">A classic travel bag for any weekend getaway.</p>
                    <div class="btn-set">
                       <a class="btn btn-secondary" href="/products/catalina-washed-canvas-indigo-colorblock">Learn more</a><a class="btn" href="/products/catalina-washed-canvas-indigo-colorblock">Buy now</a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row fw-xs animate cta-block" {{ animateFadeInUp }}>
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
                {% include 'discover-picture', name: 'catalina-rose-deluxe-cta', alt: 'Catalina Deluxe in Rose product shot', retina: true, fw: false %}
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
                <div class="figure-caption">
                    <h3 class="title">Catalina Deluxe</h3>
                    <p class="description">Our best selling weekender bag, now with even more features.</p>
                    <div class="btn-set">
                       <a class="btn btn-secondary" href="/products/catalina-deluxe-washed-canvas-midnight-ash">Learn more</a><a class="btn" href="/products/catalina-deluxe-washed-canvas-midnight-ash">Buy now</a> 
                    </div>
                </div>
            </div>
        </div>

    </div>

</article>
