{% include 'vars' %}
{%- assign assetVersion = 105139 -%}
{%- assign ctaImgCol = 'col-md-5 col-md-offset-1 col-md-pull-6' -%}
{%- assign ctaContentCol = 'col-md-6 col-md-push-6' -%} 
{%- assign ctaTitle = 'Edgemont' -%}
{%- assign ctaPrice = '$128' -%}
{%- assign ctaLink = '/products/edgemont-600d-recycled-poly-onyx' -%}
{%- assign ctaImg = 'edgemont-cta' -%}

<article class="discover">

    {% include 'discover-nav', labels:'Features,See What Fits Inside,Materials' %}

    <div class="max-container">
        <div class="hero has-arrow" id="edgemont-hero">
            <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/hero_men.jpg?3513301107865465488" media="(min-width: 768px)" />
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/hero_men_mobile.jpg?7946981611403134734" alt="" />
            </picture>
            <div class="hero-content white">
                <h1 class="title"><span class="subtitle">Discover</span> Edgemont</h1>
                <p class="description">A convertible travel backpack made from lightweight eco-friendly materials.</p>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>

    <div class="container">
        {% include 'hero-jump-target' %}
        <a id="nav-target-1" class="jumptarget"></a>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">                    
                <div class="section-heading">
                  <h2 class="title">Ultimate Versatility</h2>
                  <p class="description">Thoughtfully designed with features that make it adaptable to any situation.</p>
                </div>
            </div>
        </div>

        <div class="animate" {{ animateFadeInUp }}>
            <div class="row topic-block has-overlay-xs" style="margin-bottom: 0">
                <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                    <picture class="fw-xs">
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-versatile_men.jpg?8927083616696172064" media="(min-width: 768px)" />
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-versatile_men_mobile.jpg?8927083616696172064" alt="" />
                    </picture>
                    <div class="topic-content">
                        <a href="#" data-video-id="3" class="video-trigger">
                            <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">                    
                    <div class="topic-content text-center text-left-xs">
                        <h3 class="title">Converts from Backpack to Tote</h3>
                        <p class="description">We combined the best from both worlds so that you can seamlessly go from backpack to tote mode.</p>
                    </div>
                </div>
            </div>
        </div>        

        <div class="row mb-large animate" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-offset-1"> 
                <div class="fw-xs">
                   {% include 'inline-video', ratio: '3-4', index: 2, poster: 'edgemont-removable_insert_men', src: 'Discover_the_Edgemont_-_Removable_Insert_-_Mens'%}  
                </div>
            </div>
            <div class="col-sm-5">   
                <div class="topic-content">
                    <h3 class="title">Removable Insert</h3>
                    <p class="description">If you don't need to carry your laptop around all day, quickly just remove the insert to lighten the load.</p>
                </div>
                <img width="370" src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-removable-insert-product.jpg?11652921948763397510" alt="Edgemont">
            </div>
        </div>

        <div class="mb-default animate" {{ animateFadeInUp }}>
            <div class="section-heading hidden-md hidden-lg">
                <h3 class="title">Minimalist Design</h3>
                <p class="description">Clean lines and understated style. <br>Take it anywhere.</p>
            </div>
            <picture class="fw-xs">
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-adaptable_men_01.jpg?3460763747040264007" media="(min-width: 768px)">
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-adaptable_men_01_mobile.jpg?3460763747040264007" alt="Edgemont">
            </picture>
        </div>

        <div class="row mb-default animate" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-offset-1"> 
                <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-adaptable_men_02.jpg?6179274581379380334" media="(min-width: 768px)">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-adaptable_men_02_mobile.jpg?6179274581379380334" alt="Edgemont">
                </picture>
            </div>
            <div class="col-sm-5 hidden-xs">   
                <div class="topic-content">
                    <h3 class="title">Minimalist Design</h3>
                    <p class="description">Clean lines and understated style. <br>Take it anywhere.</p>
                </div>
                {% include 'inline-video', ratio: '3-4', index: 5, poster: 'edgemont-adaptable_men_03', src: 'Discover_the_Edgemont_-_Minimalist_Design_-_Mens'%}  
            </div>
        </div>

        <div class="fw-xs mb-large hidden-sm hidden-md hidden-lg">
            {% include 'inline-video', ratio: '3-4', index: 6, poster: 'edgemont-adaptable_men_03', src: 'Discover_the_Edgemont_-_Minimalist_Design_-_Mens'%}
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">                    
                <div class="section-heading">
                  <h2 class="title">Carry-on Effortlessly</h2>
                  <p class="description">Fits perfectly as a carry-on personal item.</p>
                </div>
            </div>
        </div>

        <div class="row mb-default animate" {{ animateFadeInUp }}>
            <div class="col-sm-5 col-sm-offset-1 offset-top-sm offset-top-md offset-top-lg"> 
                <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-suitcase-handle-sleeve-product_976fa952-33a6-4a10-bdb0-600e9c26e6c8.jpg?16145140201501093072" media="(min-width: 768px)">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-suitcase-handle-sleeve-product_976fa952-33a6-4a10-bdb0-600e9c26e6c8.jpg?16145140201501093072" alt="Edgemont">
                </picture>
                <div class="topic-content hidden-sm hidden-md hidden-lg">
                    <h3 class="title">Suitcase Handle Sleeve</h3>
                    <p class="description">Take a load off your shoulders.</p>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-0">   
                <picture class="fw-xs">
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-suitcase_handle_sleeve_men.jpg?15367033627844930355" media="(min-width: 768px)">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-suitcase_handle_sleeve_men_mobile.jpg?15367033627844930355" alt="Edgemont" class="pb-3">
                </picture>
                <div class="topic-content hidden-xs">
                    <h3 class="title">Suitcase Handle Sleeve</h3>
                    <p class="description">Take a load off your shoulders.</p>
                </div>
            </div>
        </div>

        <div class="row topic-block aligned-sm reversed animate mb-negate-xs" {{ animateFadeInUp }}>
            <div class="col-sm-6"> 
                <picture>
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-airline-seat_786e4b3d-56c0-413c-912f-11bc445bc645.jpg?11507813114453709294" alt="Airline Seat">
                </picture>
            </div>
            <div class="col-sm-4 col-sm-offset-2 content-col">   
                <div class="topic-content">
                    <h3 class="title">Airline Seat Friendly</h3>
                    <p class="description">The Edgemont fits easily under any airline seat.</p>
                </div>
            </div>
        </div>

        <div class="animate" {{ animateFadeInUp }}>
            <div class="topic-block has-overlay-xs" style="margin-bottom: 0">
                <picture class="fw-xs">
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-memory_foam_men.jpg?9109852506805996742" media="(min-width: 768px)">
                    <img style="width: 100%" src="https://cdn.shopify.com/s/files/1/1952/2557/files/edgemont-memory_foam_men_mobile.jpg?741861733530771761" alt="Edgemont">
                </picture>
                <div class="topic-content">
                    <a href="#" data-video-id="2" class="video-trigger">
                        <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">                    
                    <div class="topic-content text-center text-left-xs">
                        <h3 class="title">Ultra Comfortable</h3>
                        <p class="description">Straps padded with memory foam make the Edgemont super comfy to carry.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <a id="nav-target-2" class="jumptarget"></a>
    <div class="max-container topic-block has-overlay-xs mb-large animate" {{ animateFadeInUp }}>
        <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-what-fits-inside.jpg?12864703857325661391" media="(min-width: 768px)">
            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-what-fits-inside-mobile.jpg?12864703857325661391" alt="Edgemont">
        </picture>
        <div class="topic-content">
            <h3 class="title">What Fits Inside</h3>
            <a href="#" data-video-id="4" class="video-trigger">
                <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
            </a>
        </div>
    </div>

    <div class="container">
        
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">                    
                <div class="section-heading">
                  <h2 class="title">Stay Organized</h2>
                  <p class="description">The Edgemont is designed with tons of features to help you stay put together when traveling.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="animate" {{ animateFadeInUp }}>
                    <picture class="fw-xs">
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-laptop_storage_men_portrait.jpg?7657920349673393839" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-laptop_storage_mobile.jpg?7657920349673393839" alt="Laptop Storage">
                    </picture>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="topic-content">
                                <h3 class="title">Laptop Storage</h3>
                                <p class="description">Protect up to a 13 inch laptop in an interior padded compartment.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="animate" {{ animateFadeInUp }}>
                    <div class="fw-xs">
                        {% include 'inline-video', ratio: '4-3', index: 20, poster: 'edgemont-key_leash_men', src: 'Discover_the_Edgemont_-_Key_Leash_Clip_-_Mens_-_4_3'%}  
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="topic-content">
                                <h3 class="title">Key Leash</h3>
                                <p class="description">Never misplace your keys again with our detachable key leash.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 offset-top-md offset-top-lg">
                <div class="animate" {{ animateFadeInUp }}>
                    <div class="fw-xs">
                        {% include 'inline-video', ratio: '4-3', index: 21, poster: 'edgemont-interior_pockets_men', src: 'Discover_the_Edgemont_-_Interior_Mesh_Pockets_-_Mens_-_4_3'%} 
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="topic-content">
                                <h3 class="title">Interior Pockets</h3>
                                <p class="description">Two interior mesh pockets and two padded slip pockets help keep documents, magazines, tablets, and all your essentials neatly in place.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="animate" {{ animateFadeInUp }}>
                    <picture class="fw-xs">
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mends-side_pockets_portrait.jpg?2601604005257511329" media="(min-width: 768px)">
                        <img style="width: 100%; display: block;" src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-side_pockets_men_mobile.jpg?2601604005257511329" alt="Stash Pockets">
                    </picture>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="topic-content">
                                <h3 class="title">Stash Pockets</h3>
                                <p class="description">Store your passport, wallet, or earphones in two easy to access side pockets.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <a id="nav-target-3" class="jumptarget"></a>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">                    
                <div class="section-heading">
                  <h2 class="title">High-Quality Materials</h2>
                  <p class="description">The Edgemont is constructed from premium grade materials that are both durable and eco-friendly.</p>
                  <div class="btn-set" style="margin-top: 1.4em">
                      <a class="btn btn-secondary" href="/pages/featured-material-recycled-poly">Learn More</a>
                  </div>
                </div>
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1">
                <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-bottles_c86bb42f-666a-4184-9000-aa5572899fca.jpg?12416363281346336783" media="(min-width: 768px)">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-bottles-mobile.jpg?4810767758631716175" alt="Sustainable">
                </picture>
                <div class="topic-content text-center text-left-xs">
                    <h3 class="title">Sustainable</h3>
                    <p class="description">The exterior is made from a high density polyester made from recycled plastic bottles.</p>
                </div>
            </div>
        </div>

        <div class="animate mb-large mb-negate-xs mb-negate-sm" {{ animateFadeInUp }}>
            <picture class="fw-xs">
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-desktop-water-resistant.jpg?12864703857325661391" media="(min-width: 768px)">
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/edgemont-mobile-water-resistant-mobile.jpg?12864703857325661391" alt="Water Resistant">
            </picture>
            <div class="topic-content text-center text-left-xs">
                <h3 class="title">Water-Resistant</h3>
                <p class="description">This 600D recycled poly is built to withstand the elements.</p>
            </div>
        </div>

    </div>
    
    <div id="edgemont-cta">
    {% include 'discover-cta' %}
    </div>

    {% include 'backpacks-compare-cta' %}

    <script>// <![CDATA[
    var video2Embed = '<iframe src="https://player.vimeo.com/video/262576108" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
   var video3Embed = '<iframe src="https://player.vimeo.com/video/262572767" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
   var video4Embed = '<iframe src="https://player.vimeo.com/video/262572112" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>