{% include 'vars' %}

{%- assign assetVersion = 11289957852511179909 -%}

<article class="discover">

    <div class="max-container">
        <div class="hero has-black-arrow" id="eco-hero">
            {% include 'discover-picture', name: 'eco-backpacks-hero', alt: 'crowd at beach', retina: true, fw: false, lg: true %}
            <div class="hero-content black">
                <h1 class="title">Eco-Friendly Backpacks</h1>
                <p class="description">Minimalist design. Constructed from sustainable materials. Our backpacks are thoughtfully designed for commutes, working remotely, or exploring your favorite city.</p>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>
    
    <div class="container">{% include 'hero-jump-target' %}
        
        {% comment %} <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">                    
                    <div class="section-heading">
                        <h2 class="title">Investing in a<br class="hidden-md hidden-lg"> Sustainable Future</h2>
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <p>At Lo & Sons, we've invested in sourcing more eco-friendly materials to minimize harm to the earth and the wonderful places we like to travel to.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}

        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                    <div id="eco-backpacks-icons" class="fw-xs mb-default">
                        <h2>From Bottle to Bag</h2>
                        <img width="470" src="https://cdn.shopify.com/s/files/1/2185/1497/files/eco-backpacks-bottle-to-bag-icons.svg?{{ assetVersion }}" alt="icons illustrating bottle to yarn conversion">
                        <p>Plastic bottles are washed, cut, and spun into yarn and technical fabric—<br class="hidden-sm">contributing to cleaning up our earth.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="animate" {{ animateFadeInUp }}>
            <div class="topic-block has-overlay-xs mb-gutter fw-sm mb-negate-xs mb-negate-sm">
                {% include 'discover-picture', name: 'eco-backpacks-for-travel-hero', alt: 'women looking at advertizements', retina: true, fw: true, lg: true %}
                <div class="topic-content left-md">
                    <h2 class="title">Designed for Travel</h2>
                </div>
            </div>
           
            <div class="row side-scrolling mb-default">
                <div class="col-xs-3">
                    {% include 'discover-picture', name: 'eco-backpacks-for-travel-1', alt: 'handle sleeve slides onto luggage', retina: true, fw: false, lg: true %}
                    <div class="topic-content">
                        <h3 class="title">Suitcase Handle Sleeve</h3>
                        <p class="description">Travel seamlessly with a convenient pass-through sleeve that slides onto any roller bag.</p>
                    </div>
                </div>
                <div class="col-xs-3">
                    {% include 'discover-picture', name: 'eco-backpacks-for-travel-2', alt: 'close up of zipper pulls', retina: true, fw: false, lg: true %}
                    <div class="topic-content">
                        <h3 class="title">Zipper Pulls</h3>
                        <p class="description">Interlocking elastic zipper pulls add extra security to your belongings when traveling.</p>
                    </div>
                </div>
                <div class="col-xs-3">
                    {% include 'discover-picture', name: 'eco-backpacks-for-travel-3', alt: 'organized items in backpack', retina: true, fw: false, lg: true %}
                    <div class="topic-content">
                        <h3 class="title">Interior Organization</h3>
                        <p class="description">Spacious interior includes two interior mesh pockets and two padded slip pockets.</p>
                    </div>
                </div>
                <div class="col-xs-3">
                    {% include 'discover-picture', name: 'eco-backpacks-for-travel-4', alt: 'airline seats', retina: true, fw: false, lg: true %}
                    <div class="topic-content">
                        <h3 class="title">Airline Friendly</h3>
                        <p class="description">Qualifies as a personal item and fits under an airline seat.</p>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="animate" {{ animateFadeInUp }}>
            <div class="topic-block has-overlay-xs mb-gutter fw-sm mb-negate-xs mb-negate-sm">
                {% include 'discover-picture', name: 'eco-backpacks-to-weekend-hero', alt: 'woman working at desk', retina: true, fw: true, lg: true %}
                <div class="topic-content left-md">
                    <h2 class="title">Work to Weekend</h2>
                </div>
            </div>
            
            <div class="row side-scrolling mb-default">
                <div class="col-xs-3 col-md-4">
                    {% include 'discover-picture', name: 'eco-backpacks-to-weekend-1', alt: 'laptop sliding into backpack', retina: true, fw: false, lg: true %}
                    <div class="topic-content">
                        <h3 class="title">Laptop Storage</h3>
                        <p class="description">Protect your laptop with an interior padded compartment, equipped in all our backpacks.</p>
                    </div>
                </div>
                <div class="col-xs-3 col-md-4">
                    {% include 'discover-picture', name: 'eco-backpacks-to-weekend-2', alt: 'backpack insert being removed', retina: true, fw: false, lg: true %}
                    <div class="topic-content">
                        <h3 class="title">Removeable Insert</h3>
                        <p class="description">Quickly remove the insert to lighten your load when your laptop isn’t needed on the go.</p>
                    </div>
                </div>
                <div class="col-xs-3 col-md-4">
                    {% include 'discover-picture', name: 'eco-backpacks-to-weekend-3', alt: 'man walking with packpack', retina: true, fw: false, lg: true %}
                    <div class="topic-content">
                        <h3 class="title">Ultra Comfortable</h3>
                        <p class="description">Adjustable shoulder straps are designed with memory foam padding and a mesh underside.</p>
                    </div>
                </div>
            </div>
          
        </div>

    </div>
   
    {%- assign ctaImgCol = 'col-md-6' -%}
    {%- assign ctaContentCol = 'col-md-6' -%} 
    {%- assign ctaTitle = 'Edgemont' -%}
    {%- assign ctaPrice = '$128' -%}
    {%- assign ctaLink = '/products/edgemont-600d-recycled-poly-onyx' -%}
    {%- assign learnLink = '/pages/edgemont-womens-travel-laptop-backpack' -%}
    {%- assign ctaImg = 'edgemont-cta' -%}

    <div class="discover-cta mb-default" id="eco-edgemont-cta">
        <div class="container">
            <div class="row topic-block">
                <div class="{{ ctaContentCol}}">
                    <div class="topic-content">
                        <h3 class="title">{{ ctaTitle }}</h3>
                        <p class="price">{{ ctaPrice }}</p>
                        <div class="btn-set hidden-xs hidden-sm">
                            <a class="btn btn-secondary btn-gtm-trk" data-gtm-a="1" href="{{ learnLink }}">Learn more</a>
                            <a class="btn btn-gtm-trk" data-gtm-a="1" href="{{ ctaLink }}">Buy now</a>
                        </div>
                    </div>
                </div>
                <div class="{{ ctaImgCol }}">
                    <a href="{{ ctaLink }}">
                        <picture>
                            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/{{ ctaImg }}-md.jpg?{{ assetVersion }}{% if (retina) %}, https://cdn.shopify.com/s/files/1/2185/1497/files/{{ ctaImg }}-md2x.jpg?{{ assetVersion }} 2x{% endif %}" media="(min-width: {{ screenSm }})">
                            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/{{ ctaImg }}-xs.jpg?{{ assetVersion }}" alt="Shop {{ ctaTitle }}">
                        </picture>
                    </a>
                    <div class="btn-set hidden-md hidden-lg">
                        <a class="btn btn-secondary btn-gtm-trk" data-gtm-a="8" href="{{ learnLink }}">Learn more</a>
                        <a class="btn btn-gtm-trk" data-gtm-a="1" href="{{ ctaLink }}">Buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%- assign ctaTitle = 'Hanover' -%}
    {%- assign ctaPrice = '$128' -%}
    {%- assign ctaLink = '/products/hanover-600d-recycled-poly-onyx' -%}
    {%- assign learnLink = '/pages/hanover-womens-travel-laptop-backpack' -%}
    {%- assign ctaImg = 'hanover-cta' -%}

    <div class="discover-cta mb-default" id="eco-hanover-cta">
        <div class="container">
            <div class="row topic-block">
                <div class="{{ ctaContentCol}}">
                    <div class="topic-content">
                        <h3 class="title">{{ ctaTitle }}</h3>
                        <p class="price">{{ ctaPrice }}</p>
                        <div class="btn-set hidden-xs hidden-sm">
                            <a class="btn btn-secondary btn-gtm-trk" data-gtm-a="1" href="{{ learnLink }}">Learn more</a>
                            <a class="btn btn-gtm-trk" data-gtm-a="1" href="{{ ctaLink }}">Buy now</a>
                        </div>
                    </div>
                </div>
                <div class="{{ ctaImgCol }}">
                    <a href="{{ ctaLink }}">
                        <picture>
                            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/{{ ctaImg }}-md.jpg?{{ assetVersion }}{% if (retina) %}, https://cdn.shopify.com/s/files/1/2185/1497/files/{{ ctaImg }}-md2x.jpg?{{ assetVersion }} 2x{% endif %}" media="(min-width: {{ screenSm }})">
                            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/{{ ctaImg }}-xs.jpg?{{ assetVersion }}" alt="Shop {{ ctaTitle }}">
                        </picture>
                    </a>
                    <div class="btn-set hidden-md hidden-lg">
                        <a class="btn btn-secondary btn-gtm-trk" data-gtm-a="8" href="{{ learnLink }}">Learn more</a>
                        <a class="btn btn-gtm-trk" data-gtm-a="1" href="{{ ctaLink }}">Buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%- assign ctaTitle = 'Hanover Deluxe' -%}
    {%- assign ctaPrice = '$148' -%}
    {%- assign ctaLink = '/products/hanover-deluxe-600d-recycled-poly-onyx' -%}
    {%- assign learnLink = '/pages/hanover-deluxe-womens-travel-laptop-backpack' -%}
    {%- assign ctaImg = 'hanover-deluxe-cta' -%}

    <div class="discover-cta mb-default" id="eco-hanover-deluxe-cta">
        <div class="container">
            <div class="row topic-block">
                <div class="{{ ctaContentCol}}">
                    <div class="topic-content">
                        <h3 class="title">{{ ctaTitle }}</h3>
                        <p class="price">{{ ctaPrice }}</p>
                        <div class="btn-set hidden-xs hidden-sm">
                            <a class="btn btn-secondary btn-gtm-trk" data-gtm-a="1" href="{{ learnLink }}">Learn more</a>
                            <a class="btn btn-gtm-trk" data-gtm-a="1" href="{{ ctaLink }}">Buy now</a>
                        </div>
                    </div>
                </div>
                <div class="{{ ctaImgCol }}">
                    <a href="{{ ctaLink }}">
                        <picture>
                            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/{{ ctaImg }}-md.jpg?{{ assetVersion }}{% if (retina) %}, https://cdn.shopify.com/s/files/1/2185/1497/files/{{ ctaImg }}-md2x.jpg?{{ assetVersion }} 2x{% endif %}" media="(min-width: {{ screenSm }})">
                            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/{{ ctaImg }}-xs.jpg?{{ assetVersion }}" alt="Shop {{ ctaTitle }}">
                        </picture>
                    </a>
                    <div class="btn-set hidden-md hidden-lg">
                        <a class="btn btn-secondary btn-gtm-trk" data-gtm-a="8" href="{{ learnLink }}">Learn more</a>
                        <a class="btn btn-gtm-trk" data-gtm-a="1" href="{{ ctaLink }}">Buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>