{% include 'discover-vars' %}

{%- assign ctaTitle = 'Catalina Deluxe' -%}
{%- assign ctaPrice = '$128 - $158' -%}
{%- assign ctaLink = '/products/catalina-deluxe-washed-canvas-midnight-ash' -%}
{%- assign ctaImgXs = 'https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-cta-xs.jpg?18132754112649490934' -%}
{%- assign ctaImgMd = 'https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-cta-md.jpg?18132754112649490934' -%}

<article class="discover">
    <nav class="page-nav theme-light has-button">
        <div class="container-fluid">
            <span class="page-nav-title">{{ ctaTitle }}</span>
            <a href="#" id="page-nav-items-toggle"></a>
            <ul class="page-nav-actions">
                <li><a href="{{ ctaLink }}" class="btn btn-primary">Buy Now</a></li>
            </ul>
            <ul class="page-nav-items">
                <li><a href="#nav-target-1" class="page-nav-item">Features</a></li>
                <li><a href="#nav-target-2" class="page-nav-item">Size</a></li>
                <li><a href="#nav-target-3" class="page-nav-item">Materials</a></li>
                <li><a href="#nav-target-4" class="page-nav-item">Press</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="max-container">
        <div class="hero">
            <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-discover-hero-lg.jpg?10126123271309293400" media="(min-width: {{ screenMd }})" />
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-discover-hero-sm.jpg?10126123271309293400" media="(min-width: {{ screenSm }})" />
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-discover-hero-xs.jpg?10126123271309293400" alt="TODO" />
            </picture>
            <div class="hero-content">
                <h1 class="block-title"><span class="block-subtitle">Discover</span> Catalina Deluxe</h1>
                <p class="block-description">An updated edition of the Catalina weekender with additional features. Available in 2 sizes.</p>
                <a href="#" data-video-id="1" class="overview-video-trigger">
                    <picture>
                        <source srcset="{{ 'play-black-v2.svg' | asset_url }}" media="(min-width: {{ screenMd }})" />
                        <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video" />
                    </picture>
                </a>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row animate topic-end-lg" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1">
                <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-product-photo-md.jpg?17340766614772410027" media="(min-width: {{ screenMd }})" />
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-product-photo-sm.jpg?15866141094851439234" media="(min-width: {{ screenSm }})" />
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-product-photo-xs.jpg?15866141094851439234" alt="TODO" />
                </picture>
            </div>
        </div>

        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">                    
                    <h2 class="block-title"><a id="nav-target-1" class="jumptarget"></a>Smart Design</h2>
                    <p class="block-description">Lorem ipsum dolor sit amet consectet nibh Proin ultrices nibh interdum</p>
                </div>
            </div>
            <div class="row align-centers-sm topic-end-md">
                <div class="col-sm-5 col-sm-offset-1 col-lg-6 col-lg-offset-0">                    
                    <picture class="fw-xs">
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-back-sleeve-pocket-md.jpg?17340766614772410027" media="(min-width: {{ screenMd }})" />
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-back-sleeve-pocket-sm.jpg?18132754112649490934" media="(min-width: {{ screenSm }})" />
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-back-sleeve-pocket-xs.jpg?18132754112649490934" alt="TODO" />
                    </picture>
                </div>
                <div class="col-sm-4 col-sm-offset-1 content-col">                    
                    <div class="figure-caption">
                        <h3 class="title">Back Sleeve Pocket</h3>
                        <p class="description">Travel seamlessly with aconvenient pass-through sleeve that slides onto a suitcase handle.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row animate topic-end-md" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <picture class="fw-xs col-lg-14">
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-lifestyle-photo-md.jpg?1273838741384598421" media="(min-width: {{ screenMd }})" />
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-lifestyle-photo-sm.jpg?15866141094851439234" media="(min-width: {{ screenSm }})" />
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-lifestyle-photo-xs.jpg?15866141094851439234" alt="TODO" />
                </picture>
            </div>
        </div>

        <div class="row animate topic-end-lg" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1">
                <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-bottom-pocket-01-md.jpg?13602004761593455619" media="(min-width: {{ screenMd }})" />
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-bottom-pocket-01-sm.jpg?13602004761593455619" media="(min-width: {{ screenSm }})" />
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-bottom-pocket-01-xs.jpg?13602004761593455619" alt="TODO" />
                </picture>
            </div>
        </div>
        
        <div class="row animate align-centers-sm topic-end-md" {{ animateFadeInUp }}>
            <div class="col-sm-6 col-sm-offset-1 col-md-7 col-md-offset-0">                    
                <picture class="fw-xs">
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-bottom-pocket-02-md.jpg?9893040075660442627" media="(min-width: {{ screenMd }})" />
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-bottom-pocket-02-sm.jpg?9893040075660442627" media="(min-width: {{ screenSm }})" />
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-bottom-pocket-02-xs.jpg?9893040075660442627" alt="TODO" />
                </picture>
            </div>
            <div class="col-sm-4 content-col">                    
                <div class="figure-caption">
                    <h3 class="title">Bottom Pocket</h3>
                    <p class="description">The bottom pocket provides a separate storage compartment from the rest of your things.</p>
                </div>
            </div>
        </div>

        <div class="row animate has-overlay-sm topic-end-md" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <picture class="fw-xs col-lg-14">
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-messenger-strap-md.jpg?7147873856089700739" media="(min-width: {{ screenMd }})" />
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-messenger-strap-sm.jpg?17144621540613515633" media="(min-width: {{ screenSm }})" />
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-messenger-strap-xs.jpg?17144621540613515633" alt="TODO" />
                </picture>
                <div class="row overlay">
                    <div class="col-sm-5 col-sm-offset-1 col-md-4 content-col left">
                        <div class="figure-caption">
                            <h3 class="title">Messenger Strap</h3>
                            <p class="description">The removable messenger strap that’s equipped with memory foam padding for extra comfort.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row animate align-centers-md topic-end-lg" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">                    
                <picture class="fw-xs">
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-exterior-interior-pocket-md.jpg?17340766614772410027" media="(min-width: {{ screenMd }})" />
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-exterior-interior-pocket-sm.jpg?17144621540613515633" media="(min-width: {{ screenSm }})" />
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-exterior-interior-pocket-xs.jpg?17144621540613515633" alt="TODO" />
                </picture>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 content-col">                    
                <div class="figure-caption text-center-sm">
                    <h3 class="title">Exterior &amp; Interior Pockets</h3>
                    <p class="description">The exterior slip pocket keeps your travel essentials readily accessible.</p>
                </div>
            </div>
        </div>
   
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">                    
                <h2 class="block-title"><a id="nav-target-2" class="jumptarget"></a>Super Spacious</h2>
                <p class="block-description">Lorem ipsum dolor sit amet consectet nibh Proin ultrices nibh interdum</p>
            </div>
        </div>
    </div>

    <div class="max-container has-overlay-xs fw-image topic-end-lg animate" {{ animateFadeInUp }}>
        <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-what-fits-inside-md.jpg?17340766614772410027" media="(min-width: {{ screenLg }})" />
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-what-fits-inside-sm.jpg?15866141094851439234" media="(min-width: {{ screenSm }})" />
            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-what-fits-inside-xs.jpg?15866141094851439234" alt="TODO" />
        </picture>
        <div class="row theme-white text-center">
            <div class="content-col">
                <div class="figure-caption">
                    <h3 class="title">What Fits Inside</h3>
                    <a href="#" data-video-id="2" class="overview-video-trigger">
                        <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">                    
                    <h2 class="block-title">Carry-on Friendly</h2>
                    <p class="block-description">Lorem ipsum dolor sit amet consectet nibh Proin ultrices nibh interdum</p>
                </div>
            </div>

            <div class="row align-centers-md reversed topic-end-lg">
                <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0">                    
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-carry-on-friendly-md.jpg?17340766614772410027" media="(min-width: {{ screenMd }})" />
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-carry-on-friendly-sm.jpg?17340766614772410027" media="(min-width: {{ screenSm }})" />
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-carry-on-friendly-xs.jpg?17340766614772410027" alt="TODO" />
                    </picture>
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 content-col">                    
                    <div class="figure-caption text-center-sm">
                        <h3 class="title">Airline Seats</h3>
                        <p class="description">The Catalina Deluxe does not qualify as a personal item, but depending on the airline it does qualify as a carry-on item and fits in most airplane overhead compartments. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">                    
                <h2 class="block-title"><a id="nav-target-3" class="jumptarget"></a>High-Quality Materials</h2>
                <p class="block-description">Lorem ipsum dolor sit amet consectet nibh Proin ultrices nibh interdum</p>
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">                    
                <picture class="fw-xs">
                   <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-lightweight-md.jpg?17340766614772410027" media="(min-width: {{ screenMd }})">
                   <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-lightweight-sm.jpg?15866141094851439234" media="(min-width: {{ screenSm }})">
                   <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-lightweight-xs.jpg?15866141094851439234" alt="TODO">
               </picture>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <div class="figure-caption">
                    <h3 class="title">Lightweight</h3>
                    <p class="description">Lorem ipsum dolor sit amet constur adipiscing elit. Proin ultrices nibh interdum pell.</p>
                </div>
            </div>
        </div>

        {% include 'discover-materials' %}

        <div class="row hidden-xs">
            <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">
                <hr>
            </div>
        </div>

    </div>
    
    <div class="container pr-items animate" {{ animateFadeInUp }}>
        <h2 class="block-title text-center"><a id="nav-target-4" class="jumptarget"></a>Traveler Approved</h2>
        <div class="row topic-end-md">
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Racked_logo_910159dd-f7c2-4611-85cf-e70fc48f9d0d.png?4791522853996515306" alt="Racked logo"></p>
                    <p class="pr-quote">&ldquo;I didn’t bring family-size jars of Vaseline or fun packs of chocolates, and I didn’t have to stress about lost baggage or juggling too much stuff or any of the minor luggage-related hassles that we all face. And it’s all thanks to this Lo & Sons Weekender, easily the best bag I’ve ever purchased.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Expedia_2012_logo.png?4791522853996515306" alt="Expedia logo"></p>
                    <p class="pr-quote">&ldquo;The Catalina Deluxe Small is a dream weekend tote or carry-on bag. The base of the tote bag is a compartment that can store shoes and bulkier ponchos, and the top compartment is extra spacious and easily fits everything you would need for a weekend away!&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/apartment_therapy.png?4791522853996515306" alt="Apartment Therapy logo"></p>
                    <p class="pr-quote">&ldquo;Not your average weekender, this travel tote bag is the ultimate carry-on to keep your friend on the go both organized and chic.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Popsugar.png?4791522853996515306" alt="Popsugar logo"></p>
                    <p class="pr-quote">&ldquo;A Weekender that Won't Quit&rdquo;</p>
                </blockquote>
            </div>
        </div>
    </div>

    {% include 'discover-cta' %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="//player.vimeo.com/video/170848014?player_id=vimeo-catalinadeluxelarge&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-catalinadeluxelarge" class="vimeo"></iframe>';
    var video2Embed = '<iframe src="//player.vimeo.com/video/170848014?player_id=vimeo-catalinadeluxelarge&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-catalinadeluxelarge" class="vimeo"></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>