{% include 'vars' %}
{%- assign assetVersion = 150848 -%}

<article class="discover" style="background: #F8F8F8">
    
        
    <div class="max-container">
        <div class="hero has-black-arrow soft-load">
            {% include 'discover-picture', name: 'Catalina-Collection-hero', alt: 'the Catalina Collection', retina: false, fw: false %}
            <div class="hero-content center medium">
                <h1 class="title">The Catalina Collection</h1>
                <p class="description">Classic travel bags for any weekend getaway.</p>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>

    <div class="container">{% include 'hero-jump-target' %}
        
        {% include 'discover-section-heading', title: "Travel Smart", text: "We believe that travel should be as stress free and easy as possible, so we designed a collection of bags with thoughtful features and high-quality lightweight materials to help make any flight as enjoyable as the destination." %}

        <div class="row animate mb-large" {{ animateFadeInUp }}>
            <div class="col-sm-6 col-md-5 col-md-offset-1">  
                {% include 'discover-picture', name: 'Catalina-Collection-travel-smart-1', alt: 'Catalina with handle sleeve on luggage', retina: true, fw: true, lg: true %}
                {% include 'discover-topic-content', title: "Luggage Handle Sleeve", text: "A convenient pass through sleeve that secures your bag to a suitcase.", modifiers: 'text-center' %}               
            </div>
            <div class="col-sm-6 col-md-5">    
                {% include 'discover-picture', name: 'Catalina-Collection-travel-smart-2', alt: 'Catalina with opened bottom pocket', retina: true, fw: true, lg: true %}                
                {% include 'discover-topic-content', title: "Bottom Pocket", text: "Designed to help separate shoes, dirty clothes, or anything you want." , modifiers: 'text-center' %}
            </div>
        </div>
        
        {% include 'discover-catalina-materials' %}

        {% include 'discover-section-heading', title: "Fits all the Essentials", text: "Each of our weekender bags is surprisingly spacious bags and designed to fit all your essentials—whether it be a long weekend trip or a weeklong trip." %}

    </div>
    
    <div class="max-container">
        <div class="mb-large">
        {% include 'discover-picture', name: 'Catalina-Deluxe-packing', alt: 'Catalina with items ready to be packed on bed', retina: true, fw: true, lg: true %}
        </div>
    </div>
    
    <div class="container">
        {% include 'discover-section-heading', title: "An Option for Every Trip", text: "Whether it be a European vacation, trip to the gym, or a weekend getaway to the beach — the Catalina Collection is perfect for any kind of destination." %}
        {%- capture col1 -%}
            {% include 'discover-picture', name: 'Catalina-Collection-travel', alt: 'woman standing next to luggage with Catalina on handle', retina: true, fw: false, lg: true %}
            {% include 'discover-topic-content', title: "Travel", text: "Whether you’re going near or far, pack everything you need for that upcoming vacation.", modifiers: 'text-center-xs' %}
        {%- endcapture -%}
        {%- capture col2 -%}
            {% include 'discover-picture', name: 'Catalina-Collection-weekend', alt: "woman with feet in pool with Catalina's bottom pocket opened", retina: true, fw: false, lg: true %}
            {% include 'discover-topic-content', title: "Weekend", text: "Carry your necessities in style on your next seaside, poolside, or city escape. ", modifiers: 'text-center-xs' %}
        {%- endcapture -%}
        {%- capture col3 -%}
            {% include 'discover-picture', name: 'Catalina-Collection-workout-session', alt: 'man with Catalina at track', retina: true, fw: false, lg: true %}
            {% include 'discover-topic-content', title: "Workout Session", text: "The definition of form meets function — this is the bag you’ll want to add to your fitness routine.", modifiers: 'text-center-xs' %}
        {%- endcapture -%}
        {% include 'discover-sliding-3-col' %}

        {% include 'discover-section-heading', title: "Traveler Approved" %}

        <div class="row pr-items mb-large animate" {{ animateFadeInUp }}>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/fodors-travel.png?15430798540328847356" alt="Fodor's Travel logo"></p>
                    <p class="pr-quote">&ldquo;This bag does double duty with a smart bottom zipper pocket for wet clothes after a day at the beach or shoes if you're using it as a carry-on.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/The_Huffington_Post_logo.png?15023891854137734588" alt="The Huffington Post logo"></p>
                    <p class="pr-quote">&ldquo;The Catalina had us at the secret bottom pocket. This dapper carrier fits everything that you (or Mary Poppins) could possibly need for a weekend getaway.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Expedia_2012_logo.png?4791522853996515306" alt="Expedia logo"></p>
                    <p class="pr-quote">&ldquo;The Catalina Deluxe Small is a dream weekend tote or carry-on bag. The base of the tote bag is a compartment that can store shoes and bulkier ponchos, and the top compartment is extra spacious and easily fits everything you would need for a weekend away!&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Refinery29-Logo.png?15023891854137734588" alt="Refinery 29 logo"></p>
                    <p class="pr-quote">&ldquo;If you don’t already have a weekender, now's the time to get one. If you already have a weekender, now's the time to get this one. The interior organization will let you stow more things than any other option out there.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/foodandwine-logo-black.png?15023891854137734588" alt="Food and Wine logo"></p>
                    <p class="pr-quote">&ldquo;A zippered bottom compartment and unusually large size (plus a great choice of pretty, subdued colors) set this tote apart from the pack.&rdquo;</p>
                </blockquote>
            </div>
        </div>

        {% include 'discover-section-heading', title: "Shop The Collection" %}

        <div id="catalina-collection-cta" class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-6">
                <a href="{{ catalinaDeluxePdp }}" data-gtm-a="7">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-cta-md.jpg?18132754112649490934" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-cta-xs.jpg?18132754112649490934" alt="Shop Catalina Deluxe">
                    </picture>
                </a>
                <div class="topic-content text-center">
                    <h3 class="title">{{ catalinaDeluxeTitle }}</h3>
                    <p class="description">Our best-selling weekender, available in 2 sizes.</p>
                    <p><a href="{{ catalinaDeluxeDiscoverW }}" class="btn btn-block btn-secondary" data-gtm-a="8">Shop womens</a></p>
                    <p><a href="{{ catalinaDeluxeDiscoverM }}" class="btn btn-block btn-secondary" data-gtm-a="8">Shop mens</a></p>
                </div>
            </div>
            <div class="col-sm-6">
                <a href="{{ catalinaTotePdp }}" data-gtm-a="7">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-tote-cta-md.jpg?10032446425132256139" media="(min-width: 768px)">
                        <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-tote-cta-xs.jpg?10032446425132256139" alt="Shop Catalina Deluxe Tote">
                    </picture>
                </a>
                <div class="topic-content text-center">
                    <h3 class="title">{{ catalinaToteTitle }}</h3>
                    <p class="description">A compact tote edition of the Catalina Deluxe.</p>
                    <p><a href="{{ catalinaToteDiscoverW }}" class="btn btn-block btn-secondary" data-gtm-a="8">Shop womens</a></p>
                    <p><a href="{{ catalinaToteDiscoverM }}" class="btn btn-block btn-secondary" data-gtm-a="8">Shop mens</a></p>
                </div>
            </div>
        </div>

    </div>

    {% include 'discover-catalina-compare', url: catalinaCompareW %}

</article>
