{% include 'discover-vars' %}
{%- assign assetVersion = 10295235530083423237 -%}
{%- assign ctaImgCol = 'col-md-6' -%}
{%- assign ctaContentCol = 'col-md-6' -%} 
{%- assign ctaTitle = 'Hanover Deluxe' -%}
{%- assign ctaPrice = '$148' -%}
{%- assign ctaLink = '/products/hanover-deluxe-600d-recycled-poly-onyx' -%}
{%- assign ctaImg = 'hanover-deluxe-cta' -%}


<article class="discover">
    <nav class="page-nav theme-light has-button">
        <div class="container-fluid">
            <span class="page-nav-title">{{ ctaTitle }}</span>
            <a href="#" id="page-nav-items-toggle"></a>
            <ul class="page-nav-actions">
                <li><a href="{{ ctaLink }}" class="btn btn-primary">Buy Now</a></li>
            </ul>
            <ul class="page-nav-items">
                <li><a href="#nav-target-1" class="page-nav-item">Features</a></li>
                <li><a href="#nav-target-2" class="page-nav-item">Design</a></li>
                <li><a href="#nav-target-3" class="page-nav-item">Materials</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="max-container">
        <div class="hero theme-white">
            {% include 'discover-picture', name: 'hanover-deluxe-m-hero-image', alt: 'man with Hanover Deluxe looking over shoulder', retina: true, fw: false, lg: false %}
            <div class="hero-content">
                <h1 class="block-title"><span class="block-subtitle">Discover</span> Hanover Deluxe</h1>
                <p class="block-description">A lightweight travel backpack made from the same eco-friendly materials, now with even more space.</p>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row animate topic-end-lg" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                {% include 'discover-picture', name: 'hanover-deluxe-product-shot', alt: 'Hanover Deluxe product shot', retina: true, fw: false %}
            </div>
        </div>

        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
                    <h2 class="block-title"><a id="nav-target-1" class="jumptarget"></a>Travel Effortlessly</h2>
                    <p class="block-description">Thoughtfully designed with features that make traveling as easy and stress-free as possible.</p>
                </div>
            </div>
        </div>

        <div class="row animate align-centers-md topic-end-md topic-end-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">
                {% include 'discover-picture', name: 'hanover-deluxe-m-suitcase-handle-sleeve', alt: 'Suitcase Handle Sleeve', retina: true, fw: true %}                    
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 content-col">                    
                <div class="figure-caption text-center-sm">
                    <h3 class="title">Suitcase Handle Sleeve</h3>
                    <p class="description">Travel seamlessly with a convenient pass-through sleeve that slides onto any roller bag.</p>
                </div>
            </div>
        </div>
        
        <div class="animate" {{ animateFadeInUp }}>
          <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0 has-overlay-xs">
                  {% include 'discover-picture', name: 'hanover-deluxe-m-removable-insert', alt: 'watch Removable Insert video', retina: true, fw: true %}       
                  <div class="row">
                      <div class="content-col">
                          <a href="#" data-video-id="2" class="overview-video-trigger">
                              <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">                    
                <div class="figure-caption text-center text-left-xs">
                    <h3 class="title">Removable Insert</h3>
                    <p class="description">If you don’t need to carry your laptop around all day, quickly just remove the insert to lighten the load.</p>
                </div>
            </div>
          </div>
        </div>

        <div class="row animate align-centers-md reversed topic-end-lg topic-end-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-7">   
                {% include 'discover-picture', name: 'hanover-deluxe-m-ultra-comfortable', alt: 'Adjustable shoulder straps', retina: true, fw: true %}                        
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 content-col">                    
                <div class="figure-caption text-center-sm">
                    <h3 class="title">Ultra Comfortable</h3>
                    <p class="description">Adjustable shoulder straps are designed with memory foam padding and constructed with a mesh underside to prevent the bag from slipping off the shoulders.</p>
                </div>
            </div>
        </div>

        <div class="row animate align-centers-md topic-end-lg topic-end-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-1">  
                {% include 'discover-picture', name: 'discover-carry-on-friendly', alt: 'sample airline seat', retina: false, fw: false %}                                    
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 content-col">                    
                <div class="figure-caption text-center-sm">
                    <h3 class="title">Airline Seat Friendly</h3>
                    <p class="description">The Hanover Deluxe fits seamlessly under any airline seat.</p>
                </div>
            </div>
        </div>
        
        <div class="row topic-end-lg visible-sm visible-xs">
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <hr>
            </div>
        </div>

        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
                    <h2 class="block-title"><a id="nav-target-2" class="jumptarget"></a>Thoughtfully Organized</h2>
                    <p class="block-description">The Hanover comes packed with tons of features to help you stay put together on the road.</p>
                </div>
            </div>
        </div>

        <div class="row animate align-centers-md topic-end-md topic-end-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">  
              <div class="ratio-4-3">
                {% include 'discover-inline-embed',
                  id: 'video-1',
                  poster: 'hanover-deluxe-m-interior-pockets-md',
                  desktop: 'https://player.vimeo.com/external/241596234.hd.mp4?s=1226b61023e58353ed0e2dbb971207f960efda90&profile_id=175',
                  mobile: 'https://player.vimeo.com/external/241596234.sd.mp4?s=691552d1ab721c640903c1e8654f401c5cf1a52c&profile_id=164'
                %}
              </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 col-lg-5 content-col">                    
                <div class="figure-caption text-center-sm">
                    <h3 class="title">Interior Pockets</h3>
                    <p class="description">Keep everything organized with two interior mesh pockets and two padded slip pockets for documents, magazines and papers.</p>
                </div>
            </div>
        </div>

        <div class="row animate align-centers-md topic-end-md topic-end-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">  
                {% include 'discover-picture', name: 'hanover-deluxe-m-laptop-storage', alt: 'Hanover Deluxe laptop storage', retina: true, fw: true %}                              
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 col-lg-5 content-col">                    
                <div class="figure-caption text-center-sm">
                    <h3 class="title">Laptop Storage</h3>
                    <p class="description">Protect up to a 15-inch laptop in an interior padded compartment.</p>
                </div>
            </div>
        </div>

        <div class="row animate align-centers-md topic-end-md topic-end-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">  
                {% include 'discover-picture', name: 'hanover-deluxe-m-exterior-pockets', alt: 'Hanover Deluxe easy-access slip pockets', retina: true, fw: true %}                              
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 col-lg-5 content-col">                    
                <div class="figure-caption text-center-sm">
                    <h3 class="title">Exterior Slip Pockets</h3>
                    <p class="description">Store your water bottle, umbrella or headphones in two easy-access slip pockets.</p>
                </div>
            </div>
        </div>

        <div class="row animate align-centers-md topic-end-md topic-end-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">  
              <div class="ratio-4-3">
                {% include 'discover-inline-embed',
                  id: 'video-2',
                  poster: 'hanover-deluxe-m-key-leash-md',
                  desktop: 'https://player.vimeo.com/external/241595899.hd.mp4?s=e611ef2de47835c3aa4c4de745a6feede7307190&profile_id=175',
                  mobile: 'https://player.vimeo.com/external/241595899.hd.mp4?s=e611ef2de47835c3aa4c4de745a6feede7307190&profile_id=175'
                %}
              </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 col-lg-5 content-col">                    
                <div class="figure-caption text-center-sm">
                    <h3 class="title">Key Leash</h3>
                    <p class="description">Never misplace your keys again with our detachable key leash.</p>
                </div>
            </div>
        </div>

        <div class="row animate align-centers-md topic-end-lg topic-end-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">  
              <div class="ratio-4-3">
                {% include 'discover-inline-embed',
                  id: 'video-3',
                  poster: 'hanover-deluxe-m-front-pocket-md',
                  desktop: 'https://player.vimeo.com/external/241596642.hd.mp4?s=5ab8dda9f74cff0dcab1c1958b42d2542a88d212&profile_id=174',
                  mobile: 'https://player.vimeo.com/external/241596642.sd.mp4?s=6477fa2dfeb35697d2e84a8f367e844e4d798d88&profile_id=164'
                %}
              </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 col-lg-5 content-col">                    
                <div class="figure-caption text-center-sm">
                    <h3 class="title">Front Pocket</h3>
                    <p class="description">Within the front pocket, find two mesh compartments and one interior zipper pocket for safe-keeping of passports, phones and wallets.</p>
                </div>
            </div>
        </div>

    </div>
    
    <div class="max-container has-overlay-xs fw-image topic-end-lg animate" {{ animateFadeInUp }}>
        {% include 'discover-picture', name: 'hanover-deluxe-m-what-fits-inside', alt: 'video showing how to pack the Hanover', retina: true, fw: false %}  
        <div class="row theme-white text-center">
            <div class="content-col">
                <div class="figure-caption">
                    <h3 class="title">What Fits Inside</h3>
                    <a href="#" data-video-id="1" class="overview-video-trigger">
                        <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">                    
                <h2 class="block-title">Take it Anywhere</h2>
                <p class="block-description">The Hanover Deluxe’s minimalist and understated design makes it perfect for taking on any kind of trip.</p>
            </div>
        </div>
        
        <div class="row animate topic-end-md" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">
                 {% include 'discover-picture', name: 'hanover-deluxe-m-take-it-anywhere-1', alt: 'Hanover Deluxe shown on suitcase', retina: true, fw: true %}  
            </div>
        </div>
       <div class="row animate topic-end-lg" {{ animateFadeInUp }}>
           <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 col-lg-5 col-lg-offset-1">
                <div id="hanover-deluxe-anywhere-2">
                    {% include 'discover-picture', name: 'hanover-deluxe-m-take-it-anywhere-2', alt: 'Hanover Deluxe shown on one shoulder', retina: true, fw: false %}  
                </div>
           </div>
           <div class="col-sm-5 col-md-4 col-lg-5 offset-top-sm offset-top-md offset-top-lg">
                {% include 'discover-picture', name: 'hanover-deluxe-m-take-it-anywhere-3', alt: 'Hanover Deluxe shown carried', retina: true, fw: true %}  
           </div>
       </div>
       

       <div class="animate" {{ animateFadeInUp }}>
           <div class="row">
               <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
                   <h2 class="block-title"><a id="nav-target-3" class="jumptarget"></a>High-Quality Materials</h2>
                   <p class="block-description">The Hanover Deluxe is crafted from premium grade materials that are both durable and eco-friendly.  </p>
               </div>
           </div>
       </div>

       <div class="animate" {{ animateFadeInUp }}>
           <div class="row">
               <div class="col-sm-10 col-sm-offset-1">   
                {% include 'discover-picture', name: 'water-bottles', alt: 'Plastic water bottles', retina: true, fw: true %}                   
               </div>
           </div>
           <div class="row">
               <div class="col-sm-6 col-sm-offset-3">                    
                   <div class="figure-caption text-center text-left-xs">
                       <h3 class="title">Sustainable</h3>
                       <p class="description">The exterior is constructed from a high density polyester made from recycled plastic bottles.</p>
                   </div>
               </div>
           </div>
       </div>

       <div class="animate" {{ animateFadeInUp }}>
           <div class="row">
               <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">  
                    {% include 'discover-picture', name: 'hanover-water-resistant', alt: '600D Recycled Poly is water-resistant', retina: true, fw: true %}                    
               </div>
           </div>
           <div class="row">
               <div class="col-sm-6 col-sm-offset-3">                    
                   <div class="figure-caption text-center text-left-xs">
                       <h3 class="title">Water-Resistant</h3>
                       <p class="description">This 600D recycled poly is built to withstand the elements or just accidental spills.</p>
                   </div>
               </div>
           </div>
       </div>

       <div class="row visible-xs topic-end-lg">
           <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
               <hr>
           </div>
       </div>

       <div id="hanover-compare" class="row animate align-centers-md reversed topic-end-md" {{ animateFadeInUp }}>
           <div class="col-sm-4 col-sm-offset-4 col-md-5 col-md-offset-0 text-center content-col">                    
               <h2 class="block-title">Hanover vs. <br />Hanover Deluxe</h2>
               <p class="block-description">One great backpack, two ways. Here’s how they differ.</p>
               <div class="btn-set hidden-xs hidden-sm">
                   <p><a class="btn btn-secondary" href="/pages/compare-hanover-collection-mens">Compare</a></p>
               </div>
           </div>
           <div class="col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-0">
                {% include 'discover-picture', name: 'hanover-m-compare', alt: 'two views of man wearing the Hanover', retina: true, fw: true %}  
                <div class="btn-set hidden-md hidden-lg">
                    <p><a class="btn btn-secondary" href="/pages/compare-hanover-collection-mens">Compare</a></p>
                </div>
           </div>
       </div>
        
    </div>
    
    <div id="hanover-cta">
    {% include 'discover-cta', retina: true %}
    </div>

    <script>// <![CDATA[
    var video1Embed = '<iframe src="https://player.vimeo.com/video/241598769" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
    var video2Embed = '<iframe src="https://player.vimeo.com/video/241594704" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>