{% include 'vars' %}
{%- assign assetVersion = 158227 -%}

<article class="discover">

    {% include 'hero'
      img: 'signature-nylon-collection-hero1',
      alt: 'woman holding bag low at her side',
      subtitle: 'Discover',
      title: 'The Signature Collection',
      align: 'left',
      text: 'Shop best-selling bags that are sleek enough for the office but functional enough for the road.' %}

    
    {% include 'section-title', title: "Travel Light", text: "A fine-weave nylon is perfect for the traveling professional." %}
    <div class="container animate" {{ animateFadeInUp }}>
      <div class="block has-cards">
        <div class="row">
            <div class="col-sm-6">
              {% include 'card',
                img: 'signature-nylon-collection-section1-block1',
                alt: 'woman with bag on shoulder',
                title: "Easy on Your Shoulders",
                text: "Nylon provides a lighter, water-resistant alternative to leather." %}
            </div>
            <div class="col-sm-6">
                {% include 'card',
                  img: 'signature-nylon-collection-section1-block2',
                  alt: 'woman carrying bag by handle',
                  title: "Under Three Pounds",
                  text: "You have enough to carry! Our lightweight bags won’t slow you down." %}
            </div>
        </div>
      </div>
    </div>

    {% include 'section-title', title: "Travel Smart", text: "Thoughtfully-designed features meet the needs of the most frequent (and discerning) travelers." %}
    <div class="container animate" {{ animateFadeInUp }}>
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'signature-nylon-collection-section2-block1',
              alt: 'bag secured to luggage by handle sleeve',
              title: "Ready to Roll",
              text: "A pass-through sleeve slides onto most roller bags for fuss-free travel." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'signature-nylon-collection-section2-block2',
              alt: 'woman at airport check in counter',
              title: "A Spacious Carry-On",
              text: 'Every bag is designed to maximize space, so your “personal item” can hold all your in-flight essentials.' %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'signature-nylon-collection-section2-block3',
              alt: 'overhead shot of laptop being pulled from bag',
              title: "TSA-Friendly",
              text: "Easy access to your laptop means no more digging through or repacking your bag in the security line." %}
          </div>
        </div>
      </div>
    </div>

    <div class="max-container block animate" {{ animateFadeInUp }}>
        {% include 'picture', name: 'signature-nylon-collection-section3-block1', alt: 'two women carrying bags on shoulders' %}
    </div>

    {% include 'section-title', title: "Stay Organized", text: "Start each day with confidence, knowing everything you need is at the ready." %}
    <div class="container animate" {{ animateFadeInUp }}>
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'signature-nylon-collection-section4-block1',
              alt: 'inserting laptop into dedicated compartment',
              title: "Dedicated Laptop Storage",
              text: "A padded sleeve keeps your laptop safe when you’re on the go." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'signature-nylon-collection-section4-block2',
              alt: 'overhead shot of interior pockets',
              title: "Plenty of Pockets",
              text: "Well-placed pockets keep business documents, tech devices, and personal items organized." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'signature-nylon-collection-section4-block3',
              alt: 'overhead shot of front zipper pocket',
              title: "Front Zipper Pocket",
              text: "Always have easy access to your most essential items (keys, phone, passport)." %}
          </div>
        </div>
      </div>
    </div>

    {% include 'section-title', title: "Premium Details", text: "These three distinct style elements set our Signature bags apart." %}
    <div class="container animate" {{ animateFadeInUp }}>
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'signature-nylon-collection-section5-block1',
              alt: 'close up of jacquard lining',
              title: "Jacquard Lining",
              text: "A luxuriously-lined interior in our signature hummingbird print." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'signature-nylon-collection-section5-block2',
              alt: 'close up of hardware',
              title: "Classic Hardware",
              text: "Our lightweight L&S tags stand for Lo & Sons, but they also nod to our “light and smart” philosophy." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'og2-discover-section5-block2',
              alt: 'close up of leather handles',
              title: "Nappa-Leather Accents",
              text: "Handles and trim are made from this buttery, luxurious leather that molds to your hand or shoulder." %}
          </div>
        </div>
      </div>
    </div>

    {% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
      {% include 'shop-block', handle: page.metafields["global"]["shop-block-collection-handle"], title: "Shop the Collection" %}
    {% endunless %}

</article>