{% include 'vars' %}
{%- assign assetVersion = 161701 -%}
{%- assign ctaTitle = 'The Seville Prima Tote' -%}
{%- assign ctaPrice = '$485 - $495' -%}
{%- assign ctaLink = '/products/seville-prima-tote-nappa-saffiano-leather-black-gold-grey' -%}

{% include 'cta-overrides' %}

<article>

    {% include 'discover-nav', labels:'Functionality,What Fits Inside,Materials' %}

    {% include 'hero',
      img: 'seville-prima-discover-hero1',
      alt: 'woman walking with Seville Prima',
      title: ctaTitle,
      subtitle: 'Discover',
      text: 'An ultra-luxurious leather tote for days when you need to look on point.'
      align: 'left' %}

    {% include 'product-hero', img: 'seville-prima-discover-hero2', alt: 'The Seville Prima isolated on white background'%}

    <a id="nav-target-1" class="jumptarget"></a>
    {% include 'section-hero', title: "Work Friendly", img: 'seville-prima-discover-section1-hero', alt: 'woman on placing notebook into Seville Prima' %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'seville-prima-discover-section1-block1',
              alt: 'woman packing laptop into Seville Prima',
              retina: true, fw: false, lg: true,
              title: "Padded Laptop Sleeve",
              text: "Protect your tech with a dedicated compartment. (Bag comes in two sizes to accommodate 13” and 15” screens.)" %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'seville-prima-discover-section1-block2',
              alt: 'overhead shot of interior pockets',
              retina: true, fw: false, lg: true,
              title: "Organized Interior",
              text: "Thoughtfully-designed compartments (for documents, devices, and other essentials) and a convenient key leash." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                img: 'seville-prima-discover-section1-block3',
                alt: 'passport and phone placed in exterior pocket',
                retina: true, fw: false, lg: true,
                title: "Front Pocket",
                text: "An easy-to-access pocket keeps all your essentials at the ready." %}
          </div>
        </div>
      </div>
    </div>

    {% include 'section-hero', title: "Travel Smart", img: 'seville-prima-discover-section2-hero', alt: 'woman walking with Seville Prima secured to luggage' %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              video: true,
              src: 'prima-3-4-lo',
              poster: 'seville-prima-discover-section2-block1-md',
              index: 2,
              title: "Interchangeable Shell Design",
              text: "Switch up your bag’s look without having to unpack. In under a minute, you can seamlessly move the inner bag from one shell to another." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'seville-prima-discover-section2-block2',
              alt: 'woman lifting Seville Prima off luggage',
              retina: true, fw: false, lg: true,
              title: "Lightweight Travel Shell Included",
              text: "Your leather tote comes with a Soft Touch Travel Shell that’s lightweight, water-resistant, and has a handy suitcase-handle sleeve." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                img: 'seville-prima-discover-section2-block3',
                alt: 'airline seats',
                retina: true, fw: false, lg: true,
                title: "Carry-On Friendly",
                text: "The Seville Prima provides ample space for all your essential items, but still fits seamlessly under most airline seats." %}
          </div>
        </div>
      </div>
    </div>

     <a id="nav-target-2" class="jumptarget"></a>
    {% include 'video-block', img: 'seville-prima-discover-section3-block1', alt: 'video showing how to pack the Seville Prima', id: 1 %}
    
    {% include 'section-title', title: "Invest in Innovation", text: "Today’s conscientious consumers (that’s you) value quality over quantity—but that doesn’t mean you have to sacrifice variety. Instead of buying an array of bags, you can buy a single Seville bag (therefore minimizing waste), but update its look with interchangeable exterior shells, intentionally designed to keep your look fresh, seasonal, and context-appropriate." %}
    <div class="max-container animate" {{ animateFadeInUp }}>
      <div class="block">
        {% include 'picture', name: 'seville-discover-section4-block1', alt: 'group shot of products in Seville Collection', fw: false %}                
      </div>
    </div>

    {% include 'section-title', title: "Available in Two Sizes", text: "The Seville Prima is available in 13” and 15”." %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block text-center">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            {% include 'picture', name: 'seville-prima-discover-section5-block1', alt: 'Seville Prima shown in two sizes', fw: false, extraClasses: 'mb-gutter' %}
            <p class="section-description"><a href="#size-fit" class="more-window-trigger">Size &amp; Fit +</a></p>
          </div>
        </div>
     </div>
    </div>

     <a id="nav-target-3" class="jumptarget"></a>
    {% include 'section-title', title: "Premium Materials", text: "We use a carefully-considered mix of materials that maximize elegance and performance." %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'seville-prima-discover-section6-block1',
              alt: 'close up of saffiano leather',
              retina: true, fw: false, lg: true,
              title: "Saffiano Leather",
              text: "Textured with a chic cross-hatch design, this leather is scratch-resistant, water-resistant, and extremely durable." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'seville-prima-discover-section6-block2',
              alt: 'close up of leather accents',
              retina: true, fw: false, lg: true,
              title: "Nappa Leather Accents",
              text: "This bag’s straps, trim, and front and back panels are made from a soft, buttery leather known for its adaptable shape." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                img: 'seville-prima-discover-section6-block3',
                alt: 'close up of strap snaps',
                retina: true, fw: false, lg: true,
                title: "Snaps Made in Italy",
                text: "Made by Cobra&trade;, these ultra-strong snaps keep your interior organizer in place and firmly connected to the shell of your bag. Switching shells is a (literal) snap." %}
          </div>
        </div>
      </div>
    </div>

    {% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
      {% include 'product-cta-block', handle: page.metafields["global"]["shop-block-collection-handle"] %}
    {% endunless %}
    
    {% include 'seville-collection-cta' %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="https://player.vimeo.com/video/364305507" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

    <div class="more-window size-fit" id="size-fit">
      {% include 'size-fit-seville-tote' %}
      <button class="panel-close"><span class="sr-only">close</span></button>
    </div>

</article>