{% include 'discover-vars' %}
{%- assign assetVersion = 6826103209124575142 -%}
{%- assign skimmCode = 'SKIMMSUMMER' -%}

<article class="discover">
    
    <div class="max-container">
        <div class="hero" id="skimm-hero">
            {% include 'discover-picture', name: 'skimm-hero', alt: 'woman with luggage', retina: true, fw: false %}
            <div class="hero-content theme-white">
                <h1 class="block-title">Travel Smart</h1>
                <div id="skimm-offer">
                    <div id="skimm-code">
                      <span>Get 25% OFF <small>with the code</small></span> <span class="code">{{ skimmCode }}</span>
                    </div>
                    <div id="skimm-code-disclaimer">* Only applies to full-price items. Offer valid June 12 - 26, 2018</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">

        <div class="row skimm-topic-end animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center text-left-xs">                    
                <p class="skimm-lead">We believe that travel shouldn’t be stressful. So we design all of our products with thoughtful features and elements to make travel as smooth as possible. Translation: less fumbling, more globetrotting.</p>
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
                <h2 class="block-title">Thoughtful Features</h2>
                <p class="block-description">Designed with cleverly placed pockets, protection for tech essentials, and smart features like an adjustable suitcase handle sleeve.</p>
            </div>
        </div>

        <div class="row skimm-topic-end animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                {% include 'discover-picture', name: 'skimm-features', alt: 'showing suitcase sleeve and bottom pocket features', retina: true, fw: true %}                 
            </div>
        </div>
        
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
                <h2 class="block-title">Super Spacious</h2>
                <p class="block-description">Lightweight and carry-on friendly, yet still spacious enough to fit all your travel essentials.</p>
            </div>
        </div>

        <div class="skimm-topic-end animate" {{ animateFadeInUp }}>
            {% include 'discover-picture', name: 'skimm-spacious', alt: 'layout of items', retina: true, fw: true %}  
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
                <h2 class="block-title">High-quality Materials</h2>
                <p class="block-description">Premium grade materials that are durable yet still sophisticated.</p>
            </div>
        </div>

        <div class="row skimm-topic-end animate" {{ animateFadeInUp }}>
          <div class="col-sm-10 col-sm-offset-1">        
            {% include 'discover-picture', name: 'skimm-materials', alt: 'product shot', retina: true, fw: true %}  
          </div>
        </div>
        
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <div id="skimm-cta">
                    <h6>Exclusive Deal</h6>
                    <p>Get 25% OFF <small>with the code <span class="code">{{ skimmCode }}</span></small></p>
                    <div class="btn-set">
                        <a href="/" class="btn">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</article>