{% include 'vars' %}
{%- assign assetVersion = 83345 -%}

<article class="discover">

    <div class="fw-container">
        <div class="hero has-arrow" id="recycled-poly-hero">
            {% include 'discover-picture', name: 'recycled-poly-hero', alt: 'woman on stairs', retina: true, fw: false, xxl: true %}
            <div class="hero-content left white">
                <h1 class="title"><span class="subtitle">Discover</span> Recycled Poly Collection</h1>
                <p class="description">Made from recycled plastic bottles, this technical fabric is extra durable—and good for the earth!</p>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>

    <div id="recycled-poly-process" class="mb-default mb-gutter-xs">
      <div class="container">
        <h2>From Bottles <br class="visible-xs">to Bags</h2>
        <p>Developed by environmental experts and material innovators, recycled poly is a technical fabric made from plastic bottles that otherwise end up in landfills and waterways. By turning those bottles into yarn and fabric, we can now optimize the lifespan of PET* plastic, thereby reducing pollution. At Lo & Sons, we use 600D and 1200D recycled poly, which is water-resistant and super strong. The “D” stands for denier, a measure of yarn thickness. The higher the denier, the thicker the material.</p>
        <p><em>*Polyethylene Terephthalate, known commonly as PET or PETE, is the clear plastic used for water and soda bottles.</em></p>
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/recycled-poly-bottles.gif?{{assetVersion}}" alt="bottles animation" />
            <p>1.<br/> Clear plastic bottles are collected.</p>
          </div>
          <div class="col-sm-6 col-md-3">
            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/recycled-poly-wash.gif?{{assetVersion}}" alt="wash animation" />
            <p>2.<br/> The bottles are washed and cut into small pieces.</p>
          </div>
          <div class="col-sm-6 col-md-3">
            <img style="margin-right: 6px" src="https://cdn.shopify.com/s/files/1/2185/1497/files/recycled-poly-spool.gif?{{assetVersion}}" alt="spool animation" />
            <p>3.<br/> The plastic is melted, spun into yarn, and woven into fabric.</p>
          </div>
          <div class="col-sm-6 col-md-3">
            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/recycled-poly-backpack.gif?{{assetVersion}}" alt="backpack animation" />
            <p>4.<br/> The water-resistant, eco-friendly fabric is used to make our bags.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container mb-default mb-negate-xs">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
          <div class="row">
            <div class="col-sm-4">
              <figure class="recycled-poly-lifestyle animate" data-animate="fadeInUp"  data-delay=".3s" data-duration=".5s" data-offset="200">
                {% include 'discover-picture', name: 'recycled-poly-lifestyle-1', alt: 'woman wearing The Edgemont', retina: true, fw: false, lg: true %}
                <footer>The Edgemont, $128</footer>
              </figure>
            </div>
            <div class="col-sm-4">
              <figure class="recycled-poly-lifestyle offset animate" data-animate="fadeInUp"  data-delay=".6s" data-duration=".5s" data-offset="200">
                {% include 'discover-picture', name: 'recycled-poly-lifestyle-2', alt: 'woman holding The Hanover', retina: true, fw: false, lg: true %}
                <footer>The Hanover, $128</footer>
              </figure>
            </div>
            <div class="col-sm-4">
              <figure class="recycled-poly-lifestyle animate" data-animate="fadeInUp"  data-delay=".9s" data-duration=".5s" data-offset="200">
                {% include 'discover-picture', name: 'recycled-poly-lifestyle-3', alt: 'man wearing The Hanover Deluxe', retina: true, fw: false, lg: true %}
                <footer>The Hanover Deluxe, $148</footer>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="topic-block" style="margin: 0">
      {% include 'discover-picture', name: 'recycled-poly-landfill', alt: 'landfill', retina: true, fw: true, xxl: true %}
    </div>

    <div id="recycled-poly-benefits">
      <div class="container">
        <h2 class="text-center">The Many Benefits of<br class="visible-sm"> Recycled Poly</h2>
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/recycled-poly-ocean.gif?{{assetVersion}}" alt="ocean animation" />
            <p>Plastic is the largest source of ocean litter. Recycling reduces the amount of new plastic in circulation—and therefore in our waterways.</p>
          </div>
          <div class="col-sm-6 col-md-3">
            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/recycled-poly-co2.gif?{{assetVersion}}" alt="CO2 animation" />
            <p>Recycled polyester has a 79%-lower carbon footprint than virgin polyester, and its production uses up to 90% less water.</p>
          </div>
          <div class="col-sm-6 col-md-3">
            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/recycled-poly-thread.gif?{{assetVersion}}" alt="thread animation" />
            <p>Over two billion plastic bottles have been diverted from landfills to be recycled into eco-friendly fabric.</p>
          </div>
          <div class="col-sm-6 col-md-3">
            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/recycled-poly-recycle.gif?{{assetVersion}}" alt="recycle animation" />
            <p>Three billion recycled plastic bottles save over half a million barrels of oil and eliminates 400,000 tons of greenhouse gas emissions.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="fw-container">
      <div class="topic-block has-overlay-xs mb-large" id="organic-canvas-foliage">
        {% include 'discover-picture', name: 'organic-canvas-foliage', alt: 'foliage background', retina: true, fw: true, xxl: true %}
        <div class="topic-content">
          <h2 class="title">Investing in Sustainability</h2>
          <p class="description lh-increased">As our business grows, we don’t want to focus only on minimizing harm to our planet, but we also want to enhance the beauty of the wonderful places we travel to.</p>
          <p class="description"><a href="/pages/sustainable-practices" class="btn btn-secondary">Learn more</a></p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
          <div class="col-sm-10 col-sm-offset-1">                    
              <div class="section-heading">
                  <h2 class="title" id="organic-canvas-shop-title">Shop the Collection</h2>
              </div>
          </div>
      </div>
      <div class="row">
        {% assign color = 'Onyx' %}
        {% assign material = '600D Recycled Poly' %}
        <div class="col-sm-6 col-md-4">
          {% include 'discover-cta-column',
            path: '/products/edgemont-600d-recycled-poly-onyx',
            image: 'products/backview-straps-edgemont-600d-recycled-poly-onyx-backpack-lo-and-sons_8175dd94-cc6f-440c-b5d0-efe9243f0d78.jpg?v=1554234245',
            title: 'The Edgemont',
            price: '128' %}
        </div>
        <div class="col-sm-6 col-md-4">
          {% include 'discover-cta-column',
            path: '/products/hanover-600d-recycled-poly-onyx',
            image: 'products/side-hanover-600d-recycled-poly-onyx-backpack-lo-and-sons.jpg?v=1554311372',
            title: 'The Hanover',
            price: '128' %}
        </div>
        <div class="col-sm-6 col-md-4">
          {% include 'discover-cta-column',
            path: '/products/hanover-deluxe-600d-recycled-poly-onyx',
            image: 'products/side-hanover-deluxe-600d-recycled-poly-onyx-backpack-lo-and-sons.jpg?v=1554312177',
            title: 'The Hanover Deluxe',
            price: '148' %}
        </div>
        <div class="col-sm-6 col-md-4">
          {% include 'discover-cta-column',
            path: '/products/cambridge-600d-recycled-poly-onyx',
            image: 'products/front-with-messenger-strap-cambridge-600d-recycled-poly-onyx-briefcase-lo-and-sons_9f991210-21e6-4efb-afae-c32a1a9d0a65_1024x1024.jpg?v=1555962749',
            title: 'The Cambridge',
            price: '248' %}
        </div>
        <div class="col-sm-6 col-md-4">
          {% include 'discover-cta-column',
            path: '/products/rhodes-600d-recycled-poly-onyx',
            image: 'products/front-rhodes-600d-recycled-poly-onyx-weekender-lo-and-sons.jpg?v=1554233285',
            title: 'The Rhodes',
            price: '348' %}
        </div>
        <div class="col-sm-6 col-md-4">
          {% include 'discover-cta-column',
            path: '/products/prospect-1200d-recycled-poly-black-black-grey-wave',
            image: 'products/PROSPECT-1200d-recycled-poly-black-black-grey-wave-FRONT-BRIEFCASE-backpack-lo-and-sons_1024x1024.jpg?v=1559921368',
            title: 'The Prospect',
            price: '495' %}
        </div>
      </div>
    </div>

</article>