{% include 'vars' %}
{%- assign assetVersion = 1582287 -%}
{%- assign ctaTitle = 'The Seville Aire Tote' -%}
{%- assign ctaPrice = '$ --' -%}
{%- assign ctaLink = '/products/og-2-nylon-black-gold-lavender' -%}

<article>

    {% include 'discover-nav', labels:'Functionality,What Fits Inside,Materials,Design,Specs' %}

    {% include 'hero',
      img: 'signature-nylon-collection-hero1',
      alt: 'woman holding bag low at her side',
      title: ctaTitle,
      subtitle: 'Discover',
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.'
      align: 'left' %}

    {% include 'product-hero', img: 'og2-discover-hero2', alt: 'The O.G. 2 isolated on white background'%}

    {% include 'section-hero', title: "Lorem Ipsum Work", img: 'signature-nylon-collection-section3-block1', alt: 'two women carrying bags on shoulders' %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'signature-nylon-collection-section2-block1',
              alt: 'bag secured to luggage by handle sleeve',
              retina: true, fw: false, lg: true,
              title: "Excepteur sint",
              text: "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'signature-nylon-collection-section2-block2',
              alt: 'woman at airport check in counter',
              retina: true, fw: false, lg: true,
              title: "Excepteur sint",
              text: "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                img: 'signature-nylon-collection-section2-block3',
                alt: 'overhead shot of laptop being pulled from bag',
                retina: true, fw: false, lg: true,
                title: "Excepteur sint",
                text: "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}
          </div>
        </div>
      </div>
    </div>

    {% include 'section-hero', title: "Lorem Ipsum Work", img: 'signature-nylon-collection-section3-block1', alt: 'two women carrying bags on shoulders' %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'signature-nylon-collection-section2-block1',
              alt: 'bag secured to luggage by handle sleeve',
              retina: true, fw: false, lg: true,
              title: "Excepteur sint",
              text: "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'signature-nylon-collection-section2-block2',
              alt: 'woman at airport check in counter',
              retina: true, fw: false, lg: true,
              title: "Excepteur sint",
              text: "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                img: 'signature-nylon-collection-section2-block3',
                alt: 'overhead shot of laptop being pulled from bag',
                retina: true, fw: false, lg: true,
                title: "Excepteur sint",
                text: "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}
          </div>
        </div>
      </div>
    </div>

    {% include 'video-block', img: 'hanover2-discover-section5-block1', alt: 'video showing how to pack the Hanover 2', id: 1 %}
    
    {% include 'section-title', title: "Lorem Ipsum Collection", text: "Lorem Ipsum, 1 bag 4 looks/investment worthy language. In today’s throwaway society of mass consumption, we design our pieces to be timeless classics that stand the test of time. Created with intention and high-quality materials so that you can make a sustainable purchase decision." %}
    <div class="max-container animate" {{ animateFadeInUp }}>
      <div class="block">
        {% include 'picture', name: 'og2-discover-section9-block1', alt: 'group shot of products in Signature Collection', retina: true, fw: false, lg: true %}                
      </div>
    </div>

    {% include 'section-title', title: "Available in Two Sizes", text: "The O.G. 2 comes in Medium and Large." %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block text-center">
        {% include 'picture', name: 'og2-discover-section8-block1', alt: 'O.G. 2 shown in two sizes', retina: true, fw: false, lg: true, extraClasses: 'mb-gutter' %}
        <p class="section-description"><a href="#size-fit" class="more-window-trigger">Size &amp; Fit +</a></p>
      </div>
    </div>

    {% include 'section-title', title: "TK Premium Materials", text: "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore" %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'signature-nylon-collection-section2-block1',
              alt: 'bag secured to luggage by handle sleeve',
              retina: true, fw: false, lg: true,
              title: "Excepteur sint",
              text: "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'signature-nylon-collection-section2-block2',
              alt: 'woman at airport check in counter',
              retina: true, fw: false, lg: true,
              title: "Excepteur sint",
              text: "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                img: 'signature-nylon-collection-section2-block3',
                alt: 'overhead shot of laptop being pulled from bag',
                retina: true, fw: false, lg: true,
                title: "Excepteur sint",
                text: "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}
          </div>
        </div>
      </div>
    </div>

    {% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
      {% include 'shop-block', handle: page.metafields["global"]["shop-block-collection-handle"], title: "Shop The Seville Prima" %}
    {% endunless %}

    {% include 'seville-collection-cta' %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="https://player.vimeo.com/video/355334593" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>