{% include 'vars' %}
{%- assign assetVersion = 2305596928705014813 -%}

<article class="discover">

    {% include 'hero'
      img: 'pearl-colors-hero',
      alt: 'new Pearl colors',
      title: 'Polished Meets Practical',
      text: "The Pearl now comes in three new rich colors that stand out everywhere and fit in anywhere." %}
    
    {% include 'section-title', title: 'Silver', text: 'A subtle luster that elevates any outfit.' %}
    <div class="container">
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-6">
                <div class="mb-gutter fw-xs">
                    {% include 'inline-video', ratio: '9-16', index: 1, poster: 'pearl-colors-silver-1-md', src: 'Peal_New_Color_in_Silver'%}  
                </div>
            </div>
            <div class="col-sm-6"> 
                {% include 'picture', name: 'pearl-colors-silver-2', alt: 'close up of Pearl in silver' %}  
                <div class="topic-content pb-negate-sm-up">
                    <h3 class="title">Glistening Metallic</h3>
                    <p class="description">A cool sophisticated hint of shine.</p>
                    <div class="btn-set aligned-left">
                        <a class="btn btn-secondary" href="/products/pearl-saffiano-leather-silver-silver-grey">Shop now</a>
                    </div>
                </div>   
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-12">
                {% include 'picture', name: 'pearl-colors-silver-3-v2', alt: 'woman walking with Pearl in silver', fw: true %}
            </div>
            <div class="col-sm-8 col-sm-offset-2">  
                <div class="topic-content text-center text-left-xs">
                    <h3 class="title">Day to Night</h3>
                    <p class="description">Sling it on your shoulder as you wander outside and explore the sights. Convert it into a crossbody for those early evening (or late evening) plans.</p>
                </div>                  
            </div>
        </div>

        <div class="row mb-large">
            <div class="col-sm-8 col-sm-offset-2"><hr class="fw-xs" style="margin-top: 0; margin-bottom: 0"></div>
        </div>
    </div>

    {% include 'section-title', title: 'Graphite', text: 'A shimmering neutral that goes with everything.' %}
    <div class="container">
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-6">
                <div class="mb-gutter fw-xs">
                    {% include 'inline-video', ratio: '9-16', index: 2, poster: 'pearl-colors-graphite-1-md', src: 'Peal_New_Color_in_Graphite'%}  
                </div>
            </div>
            <div class="col-sm-6"> 
                {% include 'picture', name: 'pearl-colors-graphite-2', alt: 'woman site with Pearl in graphite' %}  
                <div class="topic-content pb-negate-sm-up">
                    <h3 class="title">Natural Sheen</h3>
                    <p class="description">The unexpected take on a classic.</p>
                    <div class="btn-set aligned-left">
                        <a class="btn btn-secondary" href="/products/pearl-saffiano-leather-graphite-brass-grey">Shop now</a>
                    </div>
                </div>   
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-12">
                {% include 'picture', name: 'pearl-colors-graphite-3', alt: 'woman wearing Pearl in graphite as wristlet', fw: true %}
            </div>
            <div class="col-sm-8 col-sm-offset-2">                    
                <div class="topic-content text-center text-left-xs">
                    <h3 class="title">A.M. to P.M.</h3>
                    <p class="description">Wear it as a crossbody for a hands-free stroll through the museum. Easily make the switch to a wristlet just before catching a live show.</p>
                </div>
            </div>
        </div>

        <div class="row mb-large">
            <div class="col-sm-8 col-sm-offset-2"><hr class="fw-xs" style="margin-top: 0; margin-bottom: 0"></div>
        </div>
    </div>   

    {% include 'section-title', title: 'Pacific Blue', text: 'A deep aquamarine that adds the perfect pop.' %}
    <div class="container">
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-6">
                <div class="mb-gutter fw-xs">
                    {% include 'inline-video', ratio: '9-16', index: 3, poster: 'pearl-colors-pacific-blue-1-md', src: 'Peal_New_Color_in_Pacific_Blue'%}  
                </div>
            </div>
            <div class="col-sm-6"> 
                {% include 'picture', name: 'pearl-colors-pacific-blue-2', alt: 'woman with Pearl in pacific blue as wristlet' %}  
                <div class="topic-content pb-negate-sm-up">
                    <h3 class="title">Bold Elegance</h3>
                    <p class="description">The refined way to do color.</p>
                    <div class="btn-set aligned-left">
                        <a class="btn btn-secondary" href="/products/pearl-saffiano-leather-pacific-blue-gold-grey">Shop now</a>
                    </div>
                </div>   
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-12">
                {% include 'picture', name: 'pearl-colors-pacific-blue-3', alt: 'woman wearing Pearl in pacific blue', fw: true %}
            </div>
            <div class="col-sm-8 col-sm-offset-2">                    
                <div class="topic-content text-center text-left-xs">
                    <h3 class="title">Sunrise to Sunset</h3>
                    <p class="description">Keep essentials secure in your clutch on a morning train ride leaving the city. Add the shoulder strap for instant polish during a dinner cruise at sundown.</p>
                </div>
            </div>
        </div>


        <div class="row fw-xs animate cta-block" {{ animateFadeInUp }}>
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
                <a class="btn-gtm-trk" data-gtm-a="7" href="/products/pearl-saffiano-leather-silver-silver-grey">
                    {% include 'picture', name: 'pearl-colors-silver-cta', alt: 'Shop Pearl in silver' %}
                </a>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
                <div class="topic-content">
                    <h3 class="title">Pearl</h3>
                    <p class="description">Available in a subtly lustrous Silver.</p>
                    <div class="btn-set">
                       <a class="btn btn-gtm-trk" data-gtm-a="1" href="/products/pearl-saffiano-leather-silver-silver-grey">Buy now</a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row fw-xs animate cta-block" {{ animateFadeInUp }}>
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
                <a class="btn-gtm-trk" data-gtm-a="7" href="/products/pearl-saffiano-leather-graphite-brass-grey">
                    {% include 'picture', name: 'pearl-colors-graphite-cta', alt: 'Shop Pearl in graphite' %}
                </a>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
                <div class="topic-content">
                    <h3 class="title">Pearl</h3>
                    <p class="description">Available in a shimmering neutral Graphite.</p>
                    <div class="btn-set">
                       <a class="btn btn-gtm-trk" data-gtm-a="1" href="/products/pearl-saffiano-leather-graphite-brass-grey">Buy now</a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row fw-xs animate cta-block" {{ animateFadeInUp }}>
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-6 col-md-offset-0">
                <a class="btn-gtm-trk" data-gtm-a="7" href="/products/pearl-saffiano-leather-pacific-blue-gold-grey">
                    {% include 'picture', name: 'pearl-colors-pacific-blue-cta', alt: 'Shop Pearl in pacific blue' %}
                </a>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-pull-5 col-md-offset-0 content-col">
                <div class="topic-content">
                    <h3 class="title">Pearl</h3>
                    <p class="description">Available in a rich pop of Pacific Blue.</p>
                    <div class="btn-set">
                       <a class="btn btn-gtm-trk" data-gtm-a="1" href="/products/pearl-saffiano-leather-pacific-blue-gold-grey">Buy now</a> 
                    </div>
                </div>
            </div>
        </div>

    </div>

</article>
