{% include 'vars' %}

{%- assign assetVersion = 158228 -%}
{%- assign ctaTitle = 'The O.G. 2' -%}
{%- assign ctaPrice = '$333 - $338' -%}
{%- assign ctaLink = '/products/og-2-nylon-black-gold-lavender' -%}

<article class="discover">

    {% include 'discover-nav', labels:'Functionality,What Fits Inside,Materials,Design,Specs' %}
    
    <div class="max-container">
      <div class="hero has-arrow" id="hanover-hero">
        {% include 'discover-picture', name: 'og2-discover-hero1', alt: 'woman holding O.G. 2 at top of stairs', retina: true, fw: false, lg: true %}
        <div class="hero-content white left">
          <h1 class="title"><span class="subtitle">Discover</span> {{ ctaTitle }}</h1>
          <p class="description">What do you get when you combine our bestselling bag with a decade of spot-on customer feedback? A new legend in its own right.</p>
        </div>
        {% include 'hero-jump-btn' %}
      </div>
    </div>
    
    <div class="container">{% include 'hero-jump-target' %}
      <div class="row animate mb-large" {{ animateZoomIn }}>
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
          <div class="text-center">
            {% include 'discover-picture', name: 'og2-discover-hero2', alt: 'The O.G. 2 isolated on white background', retina: true, fw: false, lg: true %}
          </div>
        </div>
      </div>
    </div>

    <a id="nav-target-1" class="jumptarget"></a>
    {% include 'section-hero', title: 'Travel Smart', imgName: 'og2-discover-section1-hero', imgAlt: 'woman boarding plane' %}   
    <div class="container mb-default">
      <div class="row">
        <div class="col-sm-4">
          {% include 'discover-picture', name: 'og2-discover-section1-block1', alt: 'woman walking with O.G. 2 on luggage', retina: true, fw: false, lg: true %}
          {% include 'discover-topic-content', title: "Suitcase Handle Sleeve", text: "A pass-through sleeve slides onto most bags for fuss-free travel." %}
        </div>
        <div class="col-sm-4">
          {% include 'discover-picture', name: 'og2-discover-section1-block2', alt: 'close up of laptop compartment', retina: true, fw: false, lg: true %}
          {% include 'discover-topic-content', title: "Easy Laptop Access", text: "An external laptop compartment means no more rifling through your bag at TSA." %}
        </div>
        <div class="col-sm-4">
          {% include 'inline-video', ratio: '3-4', index: 2, poster: 'og2-discover-section1-block3-md', src: 'og2-discover-section1-block3' %}
          {% include 'discover-topic-content', title: "Memory-Foam Shoulder Pad", text: "This removable slip-resistant pad slides onto your strap for extra comfort." %}
        </div>
      </div>
    </div>

    {% include 'section-hero', title: 'Work Friendly', imgName: 'og2-discover-section2-hero', imgAlt: 'woman at desk putting laptop into O.G. 2' %}   
    <div class="container mb-default">
      <div class="row">
        <div class="col-sm-4">
          {% include 'discover-picture', name: 'og2-discover-section2-block1', alt: 'overhead view of packed interior', retina: true, fw: false, lg: true %}
          {% include 'discover-topic-content', title: "Ultra-Organized Interior", text: "A thoughtful array of pockets keep your documents and electronics safe." %}
        </div>
        <div class="col-sm-4">
          {% include 'discover-picture', name: 'og2-discover-section2-block2', alt: 'front pocket opened to showcase storage', retina: true, fw: false, lg: true %}
          {% include 'discover-topic-content', title: "Easy-to-Reach Essentials", text: "Keys, wallet, phone—your most important items are always at the ready." %}
        </div>
        <div class="col-sm-4">
          {% include 'inline-video', ratio: '3-4', index: 3, poster: 'og2-discover-section2-block3-md', src: 'og2-discover-section2-block3' %}
          {% include 'discover-topic-content', title: "Shoe Compartment", text: "Commuters, rejoice! A discreet side pocket makes it simple to switch from flats to heels (and back again)." %}
        </div>
      </div>
    </div>

    {% include 'section-hero', title: 'Gym Ready', imgName: 'og2-discover-section3-hero', imgAlt: 'woman sliding gym bottle into side pocket' %}   
    <div class="container mb-default">
      <div class="row">
        <div class="col-sm-4">
          {% include 'discover-picture', name: 'og2-discover-section3-block1', alt: 'close up of interior bottle pocket', retina: true, fw: false, lg: true %}
          {% include 'discover-topic-content', title: "Water Bottle Pocket", text: "This new mesh pocket means you have no excuse not to hydrate (and hydrate some more)." %}
        </div>
        <div class="col-sm-4">
          {% include 'discover-picture', name: 'OG2-discover-section3-block2', alt: 'woman sliding shoe into side pocket', retina: true, fw: false, lg: true %}
        {% include 'discover-topic-content', title: "Shoe Compartment", text: "Important work documents and gym shoes need not mix, thanks to a convenient side pocket." %}
        </div>
        <div class="col-sm-4">
          {% include 'inline-video', ratio: '3-4', index: 4, poster: 'og2-discover-section3-block3-md', src: 'og2-discover-section3-block3' %}
          {% include 'discover-topic-content', title: "Change of Clothes", text: "A fresh look. Some dry shampoo. There’s room for everything in the O.G. 2." %}
        </div>
      </div>
    </div> 

    <div class="container">
      <a id="nav-target-2" class="jumptarget"></a>
      {% include 'discover-section-heading', title: "Organized Interior", text: "Maximizes what you can carry—and keeps it all within easy reach." %}
    </div>
    <div class="max-container topic-block mb-default animate video-block" {{ animateFadeInUp }}>
        {% include 'discover-picture', name: 'og2-discover-section4-block1', alt: 'video showing how to pack the O.G. 2', retina: true, fw: false, lg: true %}
        <a href="#" data-video-id="1" class="video-trigger">See What Fits Inside</a>
    </div>

    <a id="nav-target-3" class="jumptarget"></a>
    <div class="container mb-default">
      {% include 'discover-section-heading', title: "Premium Materials", text: "Enduring design starts with uncompromising attention to detail. " %}
      <div class="row animate" {{ animateFadeInUp }}>
          <div class="col-sm-4">
              {% include 'discover-picture', name: 'og2-discover-section5-block1', alt: 'close up of nylon exterior material', retina: true, fw: false, lg: true %} 
              {% include 'discover-topic-content', title: "High-Quality Nylon", text: "Lightweight, fine-weave, water-resistant nylon provides a sturdy and chic exterior." %}
          </div>
          <div class="col-sm-4">
              {% include 'discover-picture', name: 'og2-discover-section5-block2', alt: 'close up of nappa leather accents', retina: true, fw: false, lg: true %} 
              {% include 'discover-topic-content', title: "Nappa Leather Accents", text: "Handles and trim are made from a buttery, luxurious leather that molds to your hand or shoulder." %}
          </div>
          <div class="col-sm-4">
              {% include 'discover-picture', name: 'og2-discover-section5-block3', alt: 'close up of zipper', retina: true, fw: false, lg: true %} 
              {% include 'discover-topic-content', title: "Water-Resistant Zippers", text: "Specially designed to keep rain (and coffee) out of your laptop sleeve." %}
          </div>
      </div>

      {% include 'discover-section-heading', title: "Carry-On Friendly", text: "The preferred bag of savvy travelers." %}
      <div class="row mb-default animate" {{ animateFadeInUp }}>
          <div class="col-sm-6">
              {% include 'discover-picture', name: 'og2-discover-section6-block1', alt: 'woman walking toward plane with bag on luggage', retina: true, fw: false, lg: true %}
              {% include 'discover-topic-content', title: "The Perfect Personal Item", text: 'Every bag is designed to maximize space, so your “personal item” can hold all your in-flight essentials.' %}
          </div>
          <div class="col-sm-6">
              {% include 'discover-picture', name: 'og2-discover-section6-block2', alt: 'airline seating', retina: true, fw: false, lg: true %}                
              {% include 'discover-topic-content', title: "Fits Under Your Seat", text: "The O.G. 2 slides easily under most airline seats for easy access. Linear inches range from 37 (Medium) to 37.5 (Large)." %}
          </div>
      </div>
      
      <a id="nav-target-4" class="jumptarget"></a>
      {% include 'discover-section-heading', title: "Updated Design", text: 'See what’s new with an illustrated guide to every upgrade.<br /><br /><a href="#update-overlay" class="more-window-trigger">Compare versions +</a>' %}
      <div class="text-center mb-large">
        {% include 'discover-picture', name: 'og2-discover-section7-block1', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
      </div>

      <a id="nav-target-5" class="jumptarget"></a>
      {% include 'discover-section-heading', title: "Available in Two Sizes", text: "The O.G. 2 comes in Medium and Large." %}
      <div class="text-center">
        {% include 'discover-picture', name: 'og2-discover-section8-block1', alt: 'Waverley 2 as a Shoulder Bag', retina: true, fw: false, lg: true %}
        <p id="og2-section8-text"><a href="#size-fit" class="more-window-trigger">Size &amp; Fit +</a></p>
      </div>
    </div>

    {% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
      {% include 'shop-block', handle: page.metafields["global"]["shop-block-collection-handle"], title: "Shop The O.G. 2" %}
    {% endunless %}

    <div class="discover-cta mt-small" id="compare-cta">
      <div class="container">
        <div class="row topic-block">
          <div class="col-md-9">
            {% include 'discover-picture', name: 'og2-discover-section9-block1', alt: 'group shot of products in Signature Collection', retina: true, fw: true, lg: true %}                
          </div>
          <div class="col-md-3">
            <div class="topic-content">
              <h2 class="title">The Signature Collection</h2>
              <p class="description">Learn more about our practical yet professional line.</p>
              <div class="btn-set">
                <a class="btn btn-secondary" href="/pages/discover-signature-collection">Shop now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>// <![CDATA[
    var video1Embed = '<iframe src="https://player.vimeo.com/video/360897975" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

    <div class="more-window size-fit" id="size-fit">
      {% include 'size-fit-o-g-2' %}
      <button class="panel-close"><span class="sr-only">close</span></button>
    </div>

    <div class="more-window" id="update-overlay">
        <div class="section-heading first">
            <h2 class="title">Updated Design</h2>
            <p style="padding: 0 28px">A decade of customer feedback informed the O.G. 2. Here’s what’s new.</p>
        </div>
        <div class="columns">

            {% capture topicOpen %}
            <div class="container"><div class="row"><div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            {% endcapture %}
            {% capture topicClose %}
            </div></div></div>
            {% endcapture %}

            <div class="max-container">
                {% include 'discover-picture', name: 'og2-discover-compare-1', alt: 'O.G. 2 laptop sleeve illustration', gif: true %}
            </div>
            {{ topicOpen }}
            {% include 'discover-topic-content', title: "External Laptop Sleeve", text: "Sprinting through security? The O.G. 2’s laptop sleeve is now separate from the main compartment, providing easy access even when your bag is full.", modifiers: "text-center text-left-xs" %}
            {{ topicClose }}

            <div class="max-container">
                {% include 'discover-picture', name: 'og2-discover-compare-2', alt: 'O.G. 2 structure illustration', gif: true %}
            </div>
            {{ topicOpen }}
            {% include 'discover-topic-content', title: "Reinforced for Stability", text: "We’ve re-engineered the design to add structure and stability—without added weight. The new reinforced framework prevents the O.G. 2 from leaning when fully packed.", modifiers: "text-center text-left-xs" %}
            {{ topicClose }}

            <div class="max-container">
                {% include 'discover-picture', name: 'og2-discover-compare-3', alt: 'O.G. 2 water bottle pocket illustration', gif: true %}
            </div>
            {{ topicOpen }}
            {% include 'discover-topic-content', title: "Mesh Water-Bottle Pocket", text: "We support your hydration goals! The O.G. 2 now has an interior pocket so your H2O is always close at hand.", modifiers: "text-center text-left-xs" %}
            {{ topicClose }}

            <div class="max-container">
                {% include 'discover-picture', name: 'og2-discover-compare-4', alt: 'O.G. 2 strap pad illustration', gif: true %}
            </div>
            {{ topicOpen }}
            {% include 'discover-topic-content', title: "Ultra-Comfy Messenger Strap", text: "You have no patience for straps that dig—and neither do we. Our slip-resistant strap comes with a removable memory-foam pad for extra comfort.", modifiers: "text-center text-left-xs" %}
            {{ topicClose }}

            <div class="max-container">
                {% include 'discover-picture', name: 'og2-discover-compare-5', alt: 'O.G. 2 straps illustration', gif: true %}
            </div>
            {{ topicOpen }}
            {% include 'discover-topic-content', title: "Extra-Luxe Leather", text: "We’ve upgraded our handles using buttery, high-grade Nappa leather that’s easy on the hands and shoulders.", modifiers: "text-center text-left-xs" %}
            {{ topicClose }}

            <div class="max-container">
                {% include 'discover-picture', name: 'og2-discover-compare-6', alt: 'O.G. 2 medallion illustration', gif: true %}
            </div>
            {{ topicOpen }}
            {% include 'discover-topic-content', title: "Medallion Now Optional", text: "Some of you loved our branded medallion; some of you could do without it. To minimize waste, we now sell it separately for those who like a little flair.", modifiers: "text-center text-left-xs" %}
            {{ topicClose }}
            
        </div>
        <button class="panel-close"><span class="sr-only">close</span></button>
    </div>

</article>