{% include 'vars' %}

{%- assign assetVersion = 74557 -%}
{%- assign ctaTitle = 'The Rowledge' -%}
{%- assign ctaPrice = '$375' -%}
{%- assign ctaLink = '/products/rowledge-nylon-black-gold-grey' -%}
{%- assign ctaImg = 'rowledge-cta' -%}
{%- assign ctaImgCol = 'col-md-5 col-md-pull-5' -%}
{%- assign ctaContentCol = 'col-md-6 col-md-push-6' -%}

{% include 'cta-overrides' %}

<article class="discover">

    {% include 'discover-nav', labels:'Versatile Design,What Fits Inside,Materials,Specs,Compare' %}

    <div class="max-container">
        <div class="hero has-arrow" id="rowledge-hero">
            {% include 'picture', name: 'rowledge-hero', alt: 'woman with Rowledge on shoulder' %}
            <div class="hero-content left white">
                <h1 class="title"><span class="subtitle">Discover</span> {{ ctaTitle }}</h1>
                <p class="description">A do-it-all nylon backpack for women who mean business. It even converts to a tote.</p>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>
    <div class="container">{% include 'hero-jump-target' %}
        <div class="row animate mb-gutter" {{ animateFadeInUp }}>
            <div class="col-sm-6 col-sm-offset-3">
                {% include 'picture', name: 'rowledge-product-img', alt: 'Rowledge product shot', fw: true %}
            </div>
        </div>
         <div class="animate" {{ animateFadeInUp }}>
            <div class="section-heading">
                    <h2 class="title" id="rowledge-title">Carry yourself <br class="visible-xs" />with confidence.<br /> Carry your essentials <br class="visible-xs visible-sm" />with a backpack.</h2>
                </div>
        </div>
    </div>
    <a id="nav-target-1" class="jumptarget"></a>
    <div class="max-container animate" {{ animateFadeInUp }}>
        <div class="topic-block has-overlay-xs mb-gutter mb-negate-sm">
            {% include 'picture', name: 'rowledge-work-hero', alt: 'woman carrying Rowledge with handles', fw: true %}
            <div class="topic-content">
                <h2 class="title">Work Mode</h2>
            </div>
        </div>
    </div>
    <div class="container has-scrolling">
        <div class="row side-scrolling mb-default mb-negate-xs">
            <div class="col-sm-3">
                {% include 'picture', name: 'rowledge-work-1', alt: 'Rowledge luxe details' %}
                <div class="topic-content">
                    <h3 class="title">CEO-Tested, <br class="hidden-xs">Client-Approved</h3>
                    <p class="description">With its luxe details, this bag looks right at home in the boardroom, the courtroom, and beyond.</p>
                </div>
            </div>
            <div class="col-sm-3">
                {% include 'picture', name: 'rowledge-work-2', alt: 'Rowledge laptop sleeve' %}
                <div class="topic-content">
                    <h3 class="title">Your Laptop Will Love&hellip;</h3>
                    <p class="description">&hellip;having its own compartment, with water-resistant zippers to keep rain (and happy-hour spills) out.</p>
                </div>
            </div>
            <div class="col-sm-3">
                {% include 'picture', name: 'rowledge-work-3', alt: 'Rowledge interior pockets' %}
                <div class="topic-content">
                    <h3 class="title">Inside That Counts</h3>
                    <p class="description">A clever array of pockets hold your documents, small electronics, and emergency chocolate stash.</p>
                </div>
            </div>
            <div class="col-sm-3">
                {% include 'picture', name: 'rowledge-work-4', alt: 'Rowledge front pocket' %}
                <div class="topic-content">
                    <h3 class="title">Everything in Its Place</h3>
                    <p class="description">Your days of rifling through a shapeless tote are over. This front pocket keeps pens, keys, and earbuds at the ready.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="max-container animate" {{ animateFadeInUp }}>
        <div class="topic-block has-overlay-xs mb-gutter mb-negate-sm">
            {% include 'picture', name: 'rowledge-travel-hero', alt: 'woman getting in car', fw: true %}
            <div class="topic-content">
                <h2 class="title">Travel Mode</h2>
            </div>
        </div>
    </div>
    <div class="container has-scrolling">
        <div class="row side-scrolling mb-default mb-negate-xs">
            <div class="col-sm-3">
                {% include 'picture', name: 'rowledge-travel-1', alt: 'Rowledge handle sleeve slides onto luggage' %}
                <div class="topic-content">
                    <h3 class="title">Ready to Roll</h3>
                    <p class="description">A convenient pass-through sleeve slides onto most roller bags for fuss-free travel.</p>
                </div>
            </div>
            <div class="col-sm-3">
                {% include 'picture', name: 'rowledge-travel-2', alt: 'close up of Rowledge stash pocket' %}
                <div class="topic-content">
                    <h3 class="title">VIP Area</h3>
                    <p class="description">Keep important items like your passport, phone, and money in the easy-to-reach stash pocket.</p>
                </div>
            </div>
            <div class="col-sm-3">
                {% include 'picture', name: 'rowledge-travel-3', alt: 'Rowledge sleeve is easily removed' %}
                <div class="topic-content">
                    <h3 class="title">Speed Through Security</h3>
                    <p class="description">Need to remove your laptop at TSA? Not a problem when it’s in an easy-to-access sleeve.</p>
                </div>
            </div>
            <div class="col-sm-3">
                {% include 'picture', name: 'rowledge-travel-4', alt: 'airline seats' %}
                <div class="topic-content">
                    <h3 class="title">Fit in Everywhere</h3>
                    <p class="description">The Rowledge qualifies as a personal item and fits under any airline seat. Bon voyage! </p>
                </div>
            </div>
        </div>
    </div>
    <div class="max-container animate" {{ animateFadeInUp }}>
        <div class="topic-block has-overlay-xs mb-gutter mb-negate-sm">
            {% include 'picture', name: 'rowledge-weekend-hero', alt: 'woman at coffee shop', fw: true %}
            <div class="topic-content">
                <h2 class="title">Weekend Mode</h2>
            </div>
        </div>
    </div>
    <div class="container has-scrolling">
        <div class="row side-scrolling mb-default mb-negate-xs">
            <div class="col-sm-3">
                {% include 'picture', name: 'rowledge-weekend-1', alt: 'removing the Rowledge laptop sleeve' %}
                <div class="topic-content">
                    <h3 class="title">Room to Relax</h3>
                    <p class="description">Did someone say Saturday? Trade out the removable insert for a picnic blanket and a bottle of ros&eacute;.</p>
                </div>
            </div>
            <div class="col-sm-3">
                {% include 'picture', name: 'rowledge-weekend-2', alt: 'phone inserted into Rowledge stash pocket' %}
                <div class="topic-content">
                    <h3 class="title">Make It Quick</h3>
                    <p class="description">A stash pocket provides easy access to essential items like your phone, money, and a few business cards.</p>
                </div>
            </div>
            <div class="col-sm-3">
                {% include 'picture', name: 'rowledge-weekend-3', alt: 'Rowledge key leash' %}
                <div class="topic-content">
                    <h3 class="title">Keeper of the Keys</h3>
                    <p class="description">Never misplace those bad-boys again, thanks to a key leash that attaches to the right or left side of your bag.</p>
                </div>
            </div>
            <div class="col-sm-3">
                {% include 'picture', name: 'rowledge-weekend-4', alt: 'woman wearing Rowledge as backpack' %}
                <div class="topic-content">
                    <h3 class="title">Hands-Free Adventures</h3>
                    <p class="description">Whether you’re hitting the road or exploring a new city, it’s always easier with a backpack.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="max-container animate" {{ animateFadeInUp }}>
        <div class="topic-block has-overlay-xs mb-gutter mb-negate-sm">
            {% include 'picture', name: 'rowledge-workout-hero', alt: 'woman walking into gym', fw: true %}
            <div class="topic-content">
                <h2 class="title">Workout Mode</h2>
            </div>
        </div>
    </div>
    <div class="container has-scrolling">
        <div class="row side-scrolling mb-gutter mb-large-sm mb-negate-xs">
            <div class="col-sm-4">
                {% include 'picture', name: 'rowledge-workout-1', alt: 'Rowledge bottle side pocket' %}
                <div class="topic-content">
                    <h3 class="title">Hydrate, Ladies</h3>
                    <p class="description">Discreet zippered side pockets lay flat when not in use—but stretch to fit your water bottle when you’re ready to rock.</p>
                </div>
            </div>
            <div class="col-sm-4">
                {% include 'picture', name: 'rowledge-workout-2', alt: 'removable insert keeps things separate' %}
                <div class="topic-content">
                    <h3 class="title">Keep It Clean</h3>
                    <p class="description">Sweaty gym clothes have met their match: The removable insert’s water-resistant coating makes it simple to clean.</p>
                </div>
            </div>
            <div class="col-sm-4">
                {% include 'picture', name: 'rowledge-workout-3', alt: 'Rowledge converts from tote to backpack' %}
                <div class="topic-content">
                    <h3 class="title">From Desk to <br class="hidden-xs">Downward Dog</h3>
                    <p class="description">Easily convert your bag from tote to backpack to book it from the office to that 7pm yoga class.</p>
                </div>
            </div>
        </div>
    </div>
    <a id="nav-target-2" class="jumptarget"></a>
    <div class="max-container animate" {{ animateFadeInUp }}>
        <div class="mb-large fw-xs has-overlay-xs topic-block">
            <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/rowledge-video-lg.jpg?{{ assetVersion }}" media="(min-width: 768px)">
                <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/rowledge-video-xs.jpg?{{ assetVersion }}" alt="Edgemont">
            </picture>
            <div class="topic-content">
                <h3 class="title">What Fits Inside</h3>
                <a href="#" data-video-id="1" class="video-trigger">
                    <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                </a>
            </div>
        </div>
    </div>
    
    <a id="nav-target-3" class="jumptarget"></a>
    <div class="max-container animate" {{ animateFadeInUp }}>
        <div class="topic-block has-overlay-xs mb-gutter mb-negate-sm">
            {% include 'picture', name: 'rowledge-materials-hero', alt: 'womean carrying Rowledge as tote', fw: true %}
            <div class="topic-content">
                <h2 class="title">Premium Materials</h2>
            </div>
        </div>
    </div>
    <div class="container has-scrolling">
        <div class="row side-scrolling mb-default mb-negate-xs">
            <div class="col-sm-3">
                {% include 'picture', name: 'rowledge-materials-1', alt: 'Rowledge nylon exterior' %}
                <div class="topic-content">
                    <h3 class="title">A Sleek Nylon Exterior</h3>
                    <p class="description">We’ve checked all the boxes with this lightweight, fine-weave, water-resistant nylon.</p>
                </div>
            </div>
            <div class="col-sm-3">
                {% include 'picture', name: 'rowledge-materials-2', alt: 'Rowledge nappa leather accents' %}
                <div class="topic-content">
                    <h3 class="title">Elevated Nappa Leather Accents</h3>
                    <p class="description">Known for its buttery texture and adaptable shape, this natural-grain leather adds a luxurious touch to pockets, zipper pulls, and handles.</p>
                </div>
            </div>
            <div class="col-sm-3">
                {% include 'picture', name: 'rowledge-materials-3', alt: 'Rowledge padded straps' %}
                <div class="topic-content">
                    <h3 class="title">Extra Comfortable Straps</h3>
                    <p class="description">Cloud-like memory foam molds to your body without digging, and diamond-shaped stitching prevents your straps from sliding off.</p>
                </div>
            </div>
            <div class="col-sm-3">
                {% include 'picture', name: 'rowledge-materials-4', alt: 'Jacquard lining pattern' %}
                <div class="topic-content">
                    <h3 class="title">Our Signature Jacquard Lining</h3>
                    <p class="description">The final touch? A luxuriously-lined interior that features premium-quality jacquard in our signature hummingbird print.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="animate" {{ animateFadeInUp }}>
            <a id="nav-target-4" class="jumptarget"></a>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">                    
                    <div class="section-heading">
                        <h2 class="title">Specs &amp; Dimensions</h2>
                    </div>
                </div>
            </div>
            <div class="row mb-large text-center">
                <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                    {% include 'picture', name: 'rowledge-dimensions', alt: 'Rowledge dimensions diagram', fw: true %}
                     <div class="topic-content">
                        <p class="description">The Rowledge weighs 3 lbs.<br> Laptop sleeve fits 13” and select 14” laptops.</p>
                        <p class="description"><a href="#compatibility-overlay" class="more-window-trigger">Laptop Compatability +</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pr-items">
      {% include 'section-title', title: "Press" %}
      <div class="row topic-end-md">
        {% include 'press-review',
            med-right: false,
            img: 'business_insider_logo_120.png',
            alt: 'Business Insider Logo',
            quote: "For the price of one bag, you're actually getting three. Whether you're in travel mode, work mode, or weekend mode, the Rowledge can fulfill all of your packing needs." %}
        {% include 'press-review',
            med-right: true,
            img: 'travel-leisure-logo_120.svg',
            alt: 'Travel+Leisure Logo',
            quote: "Laptop bags are usually more on the utilitarian side of design but this one is an exception. But don’t let its stylish exterior fool you, it’s still packed with great features." %}
        {% include 'press-review',
            med-right: false,
            img: 'conde_nast_traveler_logo_120.png',
            alt: 'Conde Nast Traveler Logo',
            quote: "This convertible pack features a 13-inch laptop compartment and can easily transition to a tote thanks to backpack straps that tuck into a back pocket. It has plenty of pockets for organization—including a hidden one at the top perfect for slipping your passport and boarding pass while at the airport—plus a sleeve for easily sliding over your suitcase handles." %}
        {% include 'press-review',
            med-right: true,
            img: 'Refinery29_logo_120.svg',
            alt: 'Refinery29 Logo',
            quote: "My favorite part of the spacious backpack has to be its wide variety of different-size pockets and compartments that help everything in the bag stay organized. Whenever I use the backpack I never have to rummage through it to find anything—each item now has its own dedicated spot." %}
      </div>
    </div>
    
    {% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
      {% include 'product-cta-block', handle: page.metafields["global"]["shop-block-collection-handle"] %}
    {% endunless %}

    <a id="nav-target-5" class="jumptarget"></a>
    {% include 'compare-backpacks-cta' %}

    <div class="more-window" id="compatibility-overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">                    
                    <div class="section-heading">
                        <h2 class="title">Will my laptop fit?</h2>
                        <p>Select your laptop brand.</p>
                        <div class="form-group select-wrapper" id="laptops-select-wrap">
                            <label for="laptops-select" class="sr-only">Select your birth year</label>
                            <select class="form-control" name="laptops-select" id="laptops-select">
                                <option value=""></option>
                                <option value="acer">Acer</option>
                                <option value="apple">Apple</option>
                                <option value="asus">Asus</option>
                                <option value="dell">Dell</option>
                                <option value="hp">HP</option>
                                <option value="ideapad">Ideapad</option>
                                <option value="lenovo">Lenovo</option>
                                <option value="lg">LG</option>
                                <option value="microsoft">Microsoft</option>
                                <option value="razor">Razor</option>
                                <option value="samsung">Samsung</option>
                                <option value="sony">Sony</option>
                                <option value="toshiba">Toshiba</option>
                            </select>
                        </div>
                        <div id="laptops">
                            <div class="brand-acer">
                                {% include 'laptop-compatibility', t: 'sleeve', m: "Aspire S7-392-6411 (13-inch) | Acer TravelMate P645 (14-inch) | Acer Chromebook C720P (11-inch)" %}
                                {% include 'laptop-compatibility', t: 'main', m: "Acer Aspire R14 (14-inch) | Aspire M5 481PT (14-inch) | Aspire V7 (14-inch)" %}
                            </div>
                            <div class="brand-apple">
                                {% include 'laptop-compatibility', t: 'sleeve', m: "MacBook Air (11-inch, Early 2015) | MacBook Air (13-inch, Early 2015) | MacBook Pro (Retina, 13-inch, Late 2013) | MacBook Air (13-inch, Early 2015) | MacBook Pro (Retina, 13-inch, Early 2015) | MacBook Pro with Touch Bar (13-inch, 2016) | MacBook (Retina, 12-inch, 2017) | MacBook Air (13-inch, 2017) | MacBook Pro (13-inch, 2017, Two Thunderbolt 3 ports) | MacBook Pro 13-Inch (TouchBar)" %}
                                {% include 'laptop-compatibility', t: 'main', m: "MacBook Pro (15-inch, 2017) | MacBook Air (Retina, 13-inch, 2018)" %}
                            </div>
                            <div class="brand-asus">
                                {% include 'laptop-compatibility', t: 'sleeve', m: "Transformer Book T100TA (10-inch) | Vivobook X202E (11-inch) | VivoBook S301 (13-inch) | ZenBook 3 (12-inch) | Chromebook Flip C302CA (12-inch)" %}
                                {% include 'laptop-compatibility', t: 'main', m: "VivoBook S400CA (14-inch)" %}
                            </div>
                            <div class="brand-dell">
                                {% include 'laptop-compatibility', t: 'sleeve', m: "Vostro v13 (13-inch) | XPS 13 (13-inch, Fall 2013) | Latitude 6430u (14-inch) | XPS 13 (13-inch, Late 2017) | XPS 13 (13-inch, 2018)" %}
                                {% include 'laptop-compatibility', t: 'main', m: "Latitude 14 7000 Series Ultrabook (14-inch) | Inspiron 14 7000 Series (14-inch)" %}
                            </div>
                            <div class="brand-hp">
                                {% include 'laptop-compatibility', t: 'sleeve', m: "Elitebook 820 (12-inch) | EliteBook Folio 1040 (13-inch) | Spectre 13 (13-inch) | Spectre 13 x2, (13-inch) | Elitebook 8460 (14-inch) | EliteBook Folio G1 (12-inch) | Spectre x360, 13” (13-inch, 2016) | Spectre (13-inch, 2017) | Spectre Folio (13-inch)" %}
                                {% include 'laptop-compatibility', t: 'main', m: "Elitebook 840 (14-inch) | Elitebook 9470m (14-inch) | ZBook 14 (14-inch) | Envy TouchSmart Ultrabook 4 (14-inch) | Chromebook Pavilion 14 (14-inch)" %}
                            </div>
                            <div class="brand-ideapad">
                                {% include 'laptop-compatibility', t: 'sleeve', m: "Ideapad 710S (13-inch)" %}
                            </div>
                            <div class="brand-lenovo">
                                {% include 'laptop-compatibility', t: 'sleeve', m: "ThinkPad X240 (12-inch) | IdeaPad Yoga 13 (13-inch) | IdeaPad Yoga 2 (13-inch) | ThinkPad T420s (14-inch) | ThinkPad X1 Carbon (14-inch) | Yoga 900-Series (13-inch) | ThinkPad X1 Yoga (14-inch) | Yoga 920 (14-inch) | Yoga C930 (13-inch) | ThinkPad T470 (14-inch)" %}
                                {% include 'laptop-compatibility', t: 'main', m: "Flex 14 (14-inch) | IdeaPad U430 Touch (14-inch) | ThinkPad T410 2522 (14-inch) | Z40 (14-inch)  | G580 (15-inch)" %}
                            </div>
                            <div class="brand-lg">
                                {% include 'laptop-compatibility', t: 'sleeve', m: "LG Gram (15-inch)" %}
                            </div>
                            <div class="brand-microsoft">
                                {% include 'laptop-compatibility', t: 'sleeve', m: "Surface Windows 8 Pro (10-inch) | Surface Book 2 (13-inch)" %}
                                {% include 'laptop-compatibility', t: 'main', m: "Surface Book 2 (15-inch)" %}
                            </div>
                            <div class="brand-razor">
                                {% include 'laptop-compatibility', t: 'sleeve', m: "Blade Stealth (12-inch)" %}
                                {% include 'laptop-compatibility', t: 'main', m: "Blade 14 (14-inch)" %}
                            </div>
                            <div class="brand-samsung">
                                {% include 'laptop-compatibility', t: 'sleeve', m: "Ativ Book 9 Plus (13-inch) | Series 5 UltraTouch (13-inch) | Chromebook Pro (12-inch)" %}
                            </div>
                            <div class="brand-sony">
                                {% include 'laptop-compatibility', t: 'sleeve', m: "Vaio Duo 13 (13-inch) | Vaio Pro 13 (13-inch) | Vaio Z (13-inch)" %}
                                {% include 'laptop-compatibility', t: 'main', m: "Vaio Fit 14 (14-inch)" %}
                            </div>
                            <div class="brand-toshiba">
                                {% include 'laptop-compatibility', t: 'sleeve', m: "Chromebook (13-inch) | Kirabook (14-inch)" %}
                                {% include 'laptop-compatibility', t: 'main', m: "Satellite P845T-S4310 (14-inch) | Satellite U845T (14-inch)" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="panel-close"><span class="sr-only">close</span></button>
    </div>

    <script>// <![CDATA[ 
    var video1Embed = '<iframe src="//player.vimeo.com/video/329254374?player_id=vimeo-video1&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-catalinadeluxelarge" class="vimeo"></iframe>';
    // ]]></script>

</article>