{% include 'vars' %}
{%- assign assetVersion = 1582290 -%}
{%- assign ctaTitle = 'The Seville Aire Tote' -%}
{%- assign ctaPrice = '$385 - $395' -%}
{%- assign ctaLink = '#' -%}

<article>

    {% include 'discover-nav', labels:'Functionality,What Fits Inside,Materials' %}

    {% include 'hero',
      img: 'seville-aire-discover-hero1',
      alt: 'woman holding Seville Aire low at her side',
      title: ctaTitle,
      subtitle: 'Discover',
      text: 'A travel-ready tote in sleek, lightweight nylon.'
      align: 'left' %}

    {% include 'product-hero', img: 'seville-aire-discover-hero2', alt: 'The Seville Aire isolated on white background'%}

     <a id="nav-target-1" class="jumptarget"></a>
    {% include 'section-hero', title: "Travel Smart", img: 'seville-aire-discover-section1-hero', alt: 'woman placing passport into Seville Aire' %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'seville-aire-discover-section1-block1',
              alt: 'bag secured to luggage by handle sleeve',
              retina: true, fw: false, lg: true,
              title: "Suitcase-Handle Sleeve",
              text: "This version of the Seville is always ready to roll! It comes with a built-in sleeve that slides onto any roller bag for fuss-free travel. " %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'seville-aire-discover-section1-block2',
              alt: 'overhead shot of interior pockets',
              retina: true, fw: false, lg: true,
              title: "Front Pocket",
              text: "As the only Seville with an organizational front pocket, the Aire is designed to help you make the most out of the space in your “one personal item.”" %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                img: 'seville-aire-discover-section1-block3',
                alt: 'airline seats',
                retina: true, fw: false, lg: true,
                title: "Carry-On Friendly",
                text: "The Seville Aire provides ample space for all your essential items, but still fits seamlessly under any airline seat. " %}
          </div>
        </div>
      </div>
    </div>

    {% include 'section-hero', title: "Work Friendly", img: 'seville-aire-discover-section2-hero', alt: 'woman on couch with Seville Aire on floor next to her' %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'seville-aire-discover-section2-block1',
              alt: 'laptop sliding into inner sleeve',
              retina: true, fw: false, lg: true,
              title: "Padded Laptop Sleeve",
              text: "Protect your tech with a dedicated compartment. (Bag comes in two sizes to accommodate 13” and 15” screens.)" %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'seville-aire-discover-section2-block2',
              alt: 'overhead shot of loaded interior pockets',
              retina: true, fw: false, lg: true,
              title: "Plenty of Pockets",
              text: "Thoughtfully-designed compartments keep your documents, devices, and other essentials organized." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                img: 'seville-aire-discover-section2-block3',
                alt: 'key ring clipped to leash',
                retina: true, fw: false, lg: true,
                title: "Key Leash",
                text: "No more digging through your bag to find your keys, thanks to this easy-to-access leash." %}
          </div>
        </div>
      </div>
    </div>

     <a id="nav-target-2" class="jumptarget"></a>
    {% include 'video-block', img: 'seville-aire-discover-section3-block1', alt: 'video showing how to pack the Seville Aire', id: 1 %}
    
    {% include 'section-title', title: "An Innovative Collection", text: "Today’s conscientious consumers (that’s you) value quality over quantity—but that doesn’t mean you have to sacrifice variety. Instead of buying an array of bags, you can buy a single Seville bag (therefore minimizing waste), but update its look with interchangeable exterior shells, intentionally designed to keep your look fresh, seasonal, and context-appropriate." %}
    <div class="max-container animate" {{ animateFadeInUp }}>
      <div class="block">
        {% include 'picture', name: 'seville-discover-section4-block1', alt: 'group shot of products in Seville Collection', retina: true, fw: false, lg: true %}                
      </div>
    </div>

    {% include 'section-title', title: "Available in Two Sizes", text: "The Seville Aire is available in 13” and 15”." %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block text-center">
        {% include 'picture', name: 'seville-aire-discover-section5-block1', alt: 'Seville Aire shown in two sizes', retina: true, fw: false, lg: true, extraClasses: 'mb-gutter' %}
        <p class="section-description"><a href="#size-fit" class="more-window-trigger">Size &amp; Fit +</a></p>
      </div>
    </div>

     <a id="nav-target-3" class="jumptarget"></a>
    {% include 'section-title', title: "Premium Materials", text: "We use a carefully-considered mix of materials that maximize elegance and performance." %}
    <div class="container animate" {{ animateFadeInUp }}">
      <div class="block has-cards">
        <div class="row">
          <div class="col-sm-4">
            {% include 'card',
              img: 'seville-aire-discover-section6-block1',
              alt: 'close up of nylon',
              retina: true, fw: false, lg: true,
              title: "Nylon",
              text: "This lightweight, fine-weave, water-resistant nylon is ideal for the frequent traveler." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
              img: 'seville-aire-discover-section6-block2',
              alt: 'close up of leather accents',
              retina: true, fw: false, lg: true,
              title: "Nappa Leather Accents",
              text: "The Seville Aire’s straps and trim are made from a buttery leather known for its adaptable shape." %}
          </div>
          <div class="col-sm-4">
            {% include 'card',
                img: 'seville-aire-discover-section6-block3',
                alt: 'close up of strap snaps',
                retina: true, fw: false, lg: true,
                title: "Snaps Made in Italy",
                text: "Made by Cobra&trade;, these ultra-strong snaps keep your interior organizer in place and firmly connected to the shell of your bag. Switching shells is a (literal) snap.  " %}
          </div>
        </div>
      </div>
    </div>

    {% unless page.metafields["global"]["shop-block-collection-handle"] == blank %}
      {% include 'shop-block', handle: page.metafields["global"]["shop-block-collection-handle"], title: "Shop The Seville Aire" %}
    {% endunless %}

    {% include 'seville-collection-cta' %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="https://player.vimeo.com/video/364303926" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

    <div class="more-window size-fit" id="size-fit">
      {% include 'size-fit-seville-tote' %}
      <button class="panel-close"><span class="sr-only">close</span></button>
    </div>

</article>