{% include 'vars' %}

{%- assign assetVersion = 2816915732642571438 -%}
{%- assign ctaTitle = 'The Catalina Deluxe' -%}
{%- assign ctaPrice = '$128 - $158' -%}
{%- assign ctaLink = '/products/catalina-deluxe-washed-canvas-midnight-ash' -%}
{%- assign ctaImg = 'catalina-deluxe-cta' -%}

<article class="discover">

    {% include 'discover-nav', labels:'Features,Size,Materials,Press' %}
    
    <div class="max-container">
        <div class="hero has-black-arrow" id="catalina-deluxe-hero">
            {% include 'discover-picture', name: 'catalina-deluxe-hero', alt: 'woman next to Catalina Deluxe attached to luggage handle', retina: true, fw: false, lg: true %}
            <div class="hero-content black left">
                <h1 class="title"><span class="subtitle">Discover</span> {{ ctaTitle }}</h1>
                <p class="description">An updated edition of the Catalina weekender with additional features. Available in 2 sizes.</p>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>
    
    <div class="container">{% include 'hero-jump-target' %}

        <div class="row animate mb-large" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                {% include 'discover-picture', name: 'catalina-deluxe-product-shot', alt: 'Catalina Deluxe product shot', retina: true, fw: true, lg: true %}
            </div>
        </div>
        
        <a id="nav-target-1" class="jumptarget"></a>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">                    
                <div class="section-heading">
                    <h2 class="title">Smart Design</h2>
                    <p class="description">Thoughtful features and a place for all your essentials, the Catalina Deluxe is designed for life on the road.</p>
                </div>
            </div>
        </div>

        <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
            <div class="{{ topicBlockImgCol }}">
                {% include 'discover-picture', name: 'catalina-deluxe-design-1', alt: "Catalina Deluxe bottom pocket", retina: false, fw: true, lg: true, gif: true %}
            </div>
            <div class="{{ topicBlockContentCol }}">
                <div class="topic-content">
                    <h3 class="title">Bottom Pocket</h3>
                    <p class="description">Designed to keep your shoes or dirty clothes separate from clean clothes.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
            <div class="{{ topicBlockImgCol }}">
                {% include 'discover-picture', name: 'catalina-deluxe-design-2', alt: "Catalina Deluxe Suitcase Handle Sleeve", retina: true, fw: true, lg: true %}
            </div>
            <div class="{{ topicBlockContentCol }}">
                <div class="topic-content">
                    <h3 class="title">Suitcase Handle Sleeve</h3>
                    <p class="description">Travel seamlessly with a convenient pass through sleeve that secures your bag to a suitcase.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
            <div class="{{ topicBlockImgCol }}">
                {% include 'discover-picture', name: 'catalina-deluxe-design-3', alt: "Catalina Deluxe Messenger Strap", retina: false, fw: true, lg: true, gif: true %}
            </div>
            <div class="{{ topicBlockContentCol }}">
                <div class="topic-content">
                    <h3 class="title">Messenger Strap</h3>
                    <p class="description">Comes with memory foam padding for extra comfort.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
            <div class="{{ topicBlockImgCol }}">
                {% include 'discover-picture', name: 'catalina-deluxe-design-4', alt: "Catalina Deluxe Front Exterior Pocket", retina: true, fw: true, lg: true %}
            </div>
            <div class="{{ topicBlockContentCol }}">
                <div class="topic-content">
                    <h3 class="title">Front Exterior Pocket</h3>
                    <p class="description">Easily access your travel essentials.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-large" {{ animateFadeInUp }}>
            <div class="{{ topicBlockImgCol }}">
                {% include 'discover-picture', name: 'catalina-deluxe-design-5', alt: "Catalina Deluxe interior pockets", retina: true, fw: true, lg: true %}
            </div>
            <div class="{{ topicBlockContentCol }}">
                <div class="topic-content">
                    <h3 class="title">Interior Pockets</h3>
                    <p class="description">Multiple pockets to keep your essentials securely stored.</p>
                </div>
            </div>
        </div>
      
        <a id="nav-target-2" class="jumptarget"></a>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">                    
                <div class="section-heading">
                    <h2 class="title">Super Spacious</h2>
                    <p class="description">Available in 2 sizes, The Catalina Deluxe will fit everything you need for the next big vacation.</p>
                </div>
            </div>
        </div>
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <div class="mb-large fw-xs">
                     <div class="inline-video ratio-16-9 product-video" id="catalina-inlined-1">
                         <div class="embed-container"
                             data-desktop-url="https://player.vimeo.com/external/308577378.hd.mp4?s=a6f634bb9ed76cde4850ab7f632680176c11d4c7&profile_id=175"
                             data-mobile-url="https://player.vimeo.com/external/308577378.sd.mp4?s=71243afd2d5acbd13d010ef03f4c6ce60ccca387&profile_id=165"
                             data-autoplay="true"
                             data-loops="100">
                             <video id="video-1" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-deluxe-video-1.jpg?4299392970982497643{{ assetVersion }}"></video>
                             <div class="loading"></div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 text-center">                    
                <div class="section-heading">
                    <h2 class="title">Carry-on Friendly</h2>
                    <p class="description">While it doesn't qualify as a personal item, depending on the airline it does qualify as a carry-on item and fits in most airplane overhead compartments.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
            <div class="{{ topicBlockImgCol }}">
                {% include 'discover-picture', name: 'catalina-deluxe-carry-on-1', alt: "airline seats", retina: true, fw: true, lg: true %}
            </div>
            <div class="{{ topicBlockContentCol }}">
                <div class="topic-content">
                    <h3 class="title">Airline Seats</h3>
                    <p class="description">When not fully packed, fits underneath airline seats.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-large" {{ animateFadeInUp }}>
            <div class="{{ topicBlockImgCol }}">
                {% include 'discover-picture', name: 'catalina-deluxe-carry-on-2', alt: "Catalina Deluxe dimensions", retina: true, fw: true, lg: true %}
            </div>
            <div class="{{ topicBlockContentCol }}">
                <div class="topic-content">
                    <h3 class="title">Dimensions</h3>
                    <p class="description">Available in two sizes.<br />
                    <a href="#dimensions-overlay" class="more-window-trigger">Size guide +</a>
                    </p>
                </div>
            </div>
        </div>

        
        <a id="nav-target-3" class="jumptarget"></a>
        
        {% include 'discover-catalina-materials' %}

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <div class="mb-large">
                    {% include 'discover-picture', name: 'catalina-deluxe-materials-3', alt: "woman outside with Catalina Deluxe", retina: true, fw: true, lg: true %}
                </div>
            </div>
        </div>

    </div>

    <a id="nav-target-4" class="jumptarget"></a>
    <div class="container pr-items animate" {{ animateFadeInUp }}>
        <div class="section-heading">
            <h2 class="title">Traveler Approved</h2>
        </div>
        <div class="row topic-end-md">
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Racked_logo_910159dd-f7c2-4611-85cf-e70fc48f9d0d.png?4791522853996515306" alt="Racked logo"></p>
                    <p class="pr-quote">&ldquo;I didn’t bring family-size jars of Vaseline or fun packs of chocolates, and I didn’t have to stress about lost baggage or juggling too much stuff or any of the minor luggage-related hassles that we all face. And it’s all thanks to this Lo & Sons Weekender, easily the best bag I’ve ever purchased.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Expedia_2012_logo.png?4791522853996515306" alt="Expedia logo"></p>
                    <p class="pr-quote">&ldquo;The Catalina Deluxe Small is a dream weekend tote or carry-on bag. The base of the tote bag is a compartment that can store shoes and bulkier ponchos, and the top compartment is extra spacious and easily fits everything you would need for a weekend away!&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/apartment_therapy.png?4791522853996515306" alt="Apartment Therapy logo"></p>
                    <p class="pr-quote">&ldquo;Not your average weekender, this travel tote bag is the ultimate carry-on to keep your friend on the go both organized and chic.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Popsugar.png?4791522853996515306" alt="Popsugar logo"></p>
                    <p class="pr-quote">&ldquo;A Weekender that Won't Quit&rdquo;</p>
                </blockquote>
            </div>
        </div>
    </div>

    {% include 'discover-cta' %}

    {% include 'discover-catalina-compare' %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="//player.vimeo.com/video/170848014?player_id=vimeo-catalinadeluxelarge&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-catalinadeluxelarge" class="vimeo"></iframe>';
    var video2Embed = '<iframe src="//player.vimeo.com/video/170848014?player_id=vimeo-catalinadeluxelarge&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-catalinadeluxelarge" class="vimeo"></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

    
    <div class="more-window" id="dimensions-overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    {% include 'discover-picture', name: 'catalina-deluxe-dimensions', alt: "Catalina Deluxe", retina: true, fw: false, lg: true %}
                </div>
                <div class="col-sm-6 col-md-5 col-md-offset-1">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Small</th>
                                <th>Large</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Top Width</th>
                                <td>24&rdquo;</td>
                                <td>26&rdquo;</td>
                            </tr>
                            <tr>
                                <th>Bottom Width</th>
                                <td>18&rdquo;</td>
                                <td>18.5&rdquo;</td>
                            </tr>
                            <tr>
                                <th>Depth</th>
                                <td>8.5&rdquo;</td>
                                <td>9&rdquo;</td>
                            </tr>
                            <tr>
                                <th>Height</th>
                                <td>16&rdquo;</td>
                                <td>18&rdquo;</td>
                            </tr>
                            <tr>
                                <th>Handle Drop Length</th>
                                <td>11&rdquo;</td>
                                <td>11&rdquo;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <button class="panel-close"><span class="sr-only">close</span></button>
    </div>
   

</article>