<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="https:{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">
  {%- if product.type == 'Gift Card' -%}
    {%- include 'pdp-gift-card' -%}
  {%- else -%}
    {%- include 'pdp-get-sibling-products' -%}
    {%- include 'pdp-main'-%}
    {% comment %} reviews are in main to stay within the Product itemscope {% endcomment %}
  {%- endif -%}
</div>  

{%- capture pdp_cross_sell_handles -%}
{{ parentCollection.metafields["global"]["related-product-1"] }}
{{ parentCollection.metafields["global"]["related-product-2"] }}
{{ parentCollection.metafields["global"]["related-product-3"] }}
{%- endcapture -%}
{% if pdp_cross_sell_handles != blank %}
  {%- assign handles = pdp_cross_sell_handles | newline_to_br | split: '<br />' -%}
  {%- include 'pdp-related', data: handles -%}
{% endif %}

{%- if pdp_video_url != blank -%}
  {%- capture pdp_video_embed -%}
    <iframe id="vimeo-hanover" class="vimeo" src="{{ pdp_video_url }}?title=0&amp;byline=0&amp;portrait=0" width="528" height="297" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
  {%- endcapture -%}
{%- elsif parentCollection.metafields["global"]["product-video"] != blank -%}
  {%- assign pdp_video_embed = parentCollection.metafields["global"]["product-video"] | remove: "api=1&amp;" -%}
{%- endif -%}
{%- if pdp_video_embed != blank -%}
  <script>
    var video1Embed = '{{ pdp_video_embed }}';
  </script>
  <div id="product-video">
    <div id="product-video-container"></div>
    <a href="#" class="js-panel-close panel-close">
      <span class="sr-only">close</span>
    </a>
  </div>
{%- endif -%}

<div id="wl-overlay">
  <div id="wl-window">
    <form id="wl-form" action="">
      <div id="wl-content" style="display: none">
        <h2 class="has-divider">{{ 'products.waitlist.title' | t }}</h2>
        <p id="wl-product-name">{{ parentCollection.title }}<br />
        <span data-wl-meta></span></p>
        <p>{{ 'products.waitlist.content' | t }}</p>
        <p data-wl-expected></p>
        <div id="wl-error" class="validation-error"></div>
        <div class="form-group floating-label">
          <label for="wl-email">{{ 'products.waitlist.email_label' | t }}</label>
          <input type="email" class="form-control" id="wl-email" placeholder="{{ 'products.waitlist.email_label' | t }}" />
          <div class="validation-error"></div>
        </div>
        <input type="hidden" id="wl-product" value="{{ product.id }}" />
        <input type="hidden" id="wl-variant" value="{{ current_variant.id }}" />
        <button type="submit" class="btn btn-block">{{ 'products.waitlist.submit' | t }}</button>
        <button class="btn btn-block btn-text" id="waitlist-cancel" data-wl-cancel>{{ 'products.waitlist.cancel' | t }}</button>
      </div>
      <div id="wl-confirmation">
        <div class="flexer">
          <h2 class="has-divider">{{ 'products.waitlist.confirmation_title' | t }}</h2>
          <p>{{ 'products.waitlist.confirmation' | t }}</p>
          <button class="btn btn-block" data-wl-cancel>{{ 'products.waitlist.back' | t }}</button>
        </div>
      </div>
    </form>
  </div>
</div>