{% paginate search.results by 50 %}

  <header class="page-header is-search">
    <h1>
    {%- if search.performed -%}
      {%- if search.results_count == 0 -%}
        {{ 'general.search.no_results_html' | t: terms: search.terms }}
      {%- elsif search.results_count == 1 -%}
        {{ 'general.search.result_for_html' | t: terms: search.terms }}
      {%- else -%}
        {{ 'general.search.results_for_html' | t: terms: search.terms, count: search.results_count }}
      {%- endif -%}
    {%- else -%}
      {{ 'general.search.title' | t }}
    {%- endif -%}
    </h1>

    {% if search.performed == false or search.performed and search.results_count == 0 %}
      <div id="in-page-search-container">
        {%- assign field_id= 'in-page-search' -%}
        {%- if search.performed -%}
          {%- assign placeholder = 'Search products again' -%}
        {%- endif -%}
        {% include 'search-form' with field_id, placeholder, auto_complete: false, class: "is-search-template" %}
      </div>
    {% endif %}

  </header>
  
  <div class="product-grid">
    <div class="container">

      {% if search.performed and search.results_count > 0 %}

        <div class="row">
          {% assign results = search.results | sort: 'title' %}
          {% for item in results %}
            <div class="col-sm-4">
              {% if item.object_type == 'product' %}
                {% assign product = item %}
                {% include 'product-item' with product %}
              {% else %}
                <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}

      {% endif %}

      {% if search.performed == false or search.performed and search.results_count == 0 %}
        <h2 class="has-divider">Best Sellers</h2>
        <div class="row">
          {% for product in collections['best-sellers'].products limit: 3 %}
            <div class="col-sm-4">
              {% include 'product-item' with product %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    
    </div>
  </div>

{% endpaginate %}
