{% paginate search.results by 50 %}

  <header class="page-header is-search{% if search.results_count == 0 %} is-search-no-results{% endif %}">
    <h1>
    {%- if search.performed -%}
      {%- if search.results_count == 0 -%}
        {{ 'general.search.no_results_html' | t: terms: search.terms }}
      {%- elsif search.results_count == 1 -%}
        {{ 'general.search.result_for_html' | t: terms: search.terms }}
      {%- else -%}
        {{ 'general.search.results_for_html' | t: terms: search.terms, count: search.results_count }}
      {%- endif -%}
    {%- else -%}
      {{ 'general.search.title' | t }}
    {%- endif -%}
    </h1>
  </header>

  {% if search.performed == false or search.performed and search.results_count == 0 %}
    <div class="not-found">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
            <div id="in-page-search-container">
              {%- assign field_id= 'in-page-search' -%}
              {%- assign placeholder = 'Search products' -%}
              {%- if search.performed -%}
                {%- assign placeholder = 'Search products again' -%}
              {%- endif -%}
              {% include 'search-form' with field_id, placeholder, auto_complete: false, class: "is-search-template" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  
  <div class="product-grid">
    <div class="container">

      {% if search.performed and search.results_count > 0 %}

        <div class="row">
          {% assign results = search.results | sort: 'title' %}
          {% for item in results %}
            <div class="col-sm-4">
              {% if item.object_type == 'product' %}
                {% assign product = item %}
                {% include 'product-item' with product %}
              {% else %}
                <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}

      {% endif %}

      {% if search.performed == false or search.performed and search.results_count == 0 %}
        <div class="section-heading">
          <h2 class="title">Best Sellers</h2>
        </div>
        <div class="product-grid">
          <div class="row">
            {% assign collection = collections['best-selling-products'] %}
            {% paginate collection.products by 3 %}
            {% for product in collection.products %}
            <div class="col-sm-4">
              {% include 'product-item' with product %}
            </div>
            {% endfor %}
            {% endpaginate %}
          </div>
        </div>
      {% endif %}
    
    </div>
  </div>

{% endpaginate %}
