<div id="AddressNewForm" style="display: none;">
  <div class="account-form">
      {% form 'customer_address', customer.new_address %}

      <div class="form-group floating-label">
        <label for="AddressFirstNameNew">
          {{ 'customer.addresses.first_name' | t }}
        </label>
        <input type="text"
               class="form-control"
               placeholder="{{ 'customer.addresses.first_name' | t }}"
               name="address[first_name]"
               id="AddressFirstNameNew"
               value="{{ form.first_name }}"
               autocapitalize="words">
      </div>

      <div class="form-group floating-label">
        <label for="AddressLastNameNew">
          {{ 'customer.addresses.last_name' | t }}
        </label>
        <input type="text"
               class="form-control"
               placeholder="{{ 'customer.addresses.last_name' | t }}"
               name="address[last_name]"
               id="AddressLastNameNew"
               value="{{ form.last_name }}"
               autocapitalize="words">
      </div>

      <div class="form-group floating-label">
        <label for="AddressCompanyNew">
          {{ 'customer.addresses.company' | t }}
        </label>
        <input type="text"
               class="form-control"
               placeholder="{{ 'customer.addresses.company' | t }}"
               name="address[company]"
               id="AddressCompanyNew"
               value="{{ form.company }}"
               autocapitalize="words">
      </div>

      <div class="form-group floating-label">
        <label for="AddressAddress1New">
          {{ 'customer.addresses.address1' | t }}
        </label>
        <input type="text"
               class="form-control"
               placeholder="{{ 'customer.addresses.address1' | t }}"
               name="address[address1]"
               id="AddressAddress1New"
               value="{{ form.address1 }}"
               autocapitalize="words">
      </div>

      <div class="form-group floating-label">
        <label for="AddressAddress2New">
          {{ 'customer.addresses.address2' | t }}
        </label>
        <input type="text"
               class="form-control"
               placeholder="{{ 'customer.addresses.address2' | t }}"
               name="address[address2]"
               id="AddressAddress2New"
               value="{{ form.address2 }}"
               autocapitalize="words">
      </div>

      <div class="form-group floating-label">
        <label for="AddressCityNew">
          {{ 'customer.addresses.city' | t }}
        </label>
        <input type="text"
               class="form-control"
               placeholder="{{ 'customer.addresses.city' | t }}"
               name="address[city]"
               id="AddressCityNew"
               value="{{ form.city }}"
               autocapitalize="words">
      </div>

      <div class="form-group select-wrapper floating-label has-value">
        <label for="AddressCountryNew">
          {{ 'customer.addresses.country' | t }}
        </label>
        <select
          class="form-control"
          name="address[country]"
          id="AddressCountryNew"
          data-default="{{ form.country }}">
          {{ country_option_tags }}
        </select>
      </div>
      
      <div class="row">
        <div class="col-sm-6">
          <div id="AddressProvinceContainerNew" style="display: none">
            <div class="form-group select-wrapper floating-label has-value">
              <label for="AddressProvinceNew">
                {{ 'customer.addresses.province' | t }}
              </label>
              <select
                class="form-control"
                name="address[province]"
                id="AddressProvinceNew"
                data-default="{{ form.province }}">
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group floating-label">
            <label for="AddressZipNew">
              {{ 'customer.addresses.zip' | t }}
            </label>
            <input type="text"
                   class="form-control"
                   placeholder="{{ 'customer.addresses.zip' | t }}"
                   name="address[zip]"
                   id="AddressZipNew"
                   value="{{ form.zip }}"
                   autocapitalize="characters">
          </div>
        </div>
      </div>
      
      <div class="form-group floating-label">
        <label for="AddressPhoneNew">
          {{ 'customer.addresses.phone' | t }}
        </label>
        <input type="tel"
               class="form-control"
               placeholder="{{ 'customer.addresses.phone' | t }}"
               name="address[phone]"
               id="AddressPhoneNew"
               value="{{ form.phone }}"
               pattern="[0-9\-]*">
      </div>

      <div class="form-group checkbox">
        {{ form.set_as_default_checkbox }}
        <label for="address_default_address_new">
          {{ 'customer.addresses.set_default' | t }}
        </label>
      </div>

      <input type="submit" class="btn btn-block btn-primary" value="{{ 'customer.addresses.add' | t }}">
      <button type="button" class="btn btn-block btn-secondary" id="address-new-close" data-title-text="{{ 'customer.addresses.title' | t }}">
        {{ 'customer.addresses.cancel' | t }}
      </button>

      {% endform %}
  </div>
</div>