{% if block.settings.video != blank %}		
	
	<div class="inline-video is-hero {{ block.settings.videoRatio }}">
    	<div class="embed-container"
    		data-desktop-url="{{ block.settings.video }}"
    		data-mobile-url="{{ block.settings.mobileVideo }}"
    		data-autoplay="{{ block.settings.autoplay }}"
    		data-loops="{{ block.settings.loops }}">
    		<video id="video-{{ block.id }}" width="100%" loop muted playsinline="true" poster="{{ block.settings.desktopImage | img_url: 'master' }}"></video>
    		<a href="#" class="video-trigger" {% if block.settings.autoplay %}style="display: none"{% endif %}>Play Video
    			<svg viewBox="0 0 90 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    			    <g id="Page-1-{{ block.id }}" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    			        <path d="M45,90 C69.8528137,90 90,69.8528137 90,45 C90,20.1471863 69.8528137,0 45,0 C20.1471863,0 0,20.1471863 0,45 C0,69.8528137 20.1471863,90 45,90 Z M35,30 L62,45.5 L35,61 L35,30 Z" id="section-{{ block.id }}-play-icon" fill="#FFFFFF"></path>
    			    </g>
    			</svg>
    		</a>
    		<div class="loading"></div>
    	</div>
	</div>
	
{% else %}

	<picture>
		<source srcset="{{ block.settings.desktopImage | img_url: 'master' }}" media="(min-width: 768px)">
		<img src="{{ block.settings.mobileImage | img_url: 'master' }}" alt="{{ block.settings.altText }}">
	</picture>

{% endif %}