<div class="frame">
<div class="card">
  <div class="body">
    <h3 class="title">{{ title }}</h3>
    <p class="description">{{ text }}</p>
  </div>
  <div class="image">
    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/{{ img }}?{{ assetVersion }}" alt="{{ title }} diagram">
  </div>
</div>
</div>