{% include 'section-title', title: 'Dimensions &amp; Weight', noContainer: true %}
	{%- capture dimsToteA -%}
		{% include 'card',
			img: 'Catalina-Comparison-dimensions-tote-1',
			alt: 'woman packing The Catalina Deluxe',
			title: "The Catalina Deluxe Tote",
			cardModifiers: 'text-center smaller' %}
	{%- endcapture -%}
	{%- capture dimsToteB -%}
		{% include 'card',
			img: 'Catalina-Comparison-dimensions-tote-2',
			alt: 'sliding passport into exterior pocket',
			title: "The Catalina Deluxe Tote",
			cardModifiers: 'text-center smaller' %}
	{%- endcapture -%}

	{%- capture dimsSmallA -%}
		{% include 'card',
			img: 'Catalina-Comparison-dimensions-small-1',
			alt: 'woman packing The Catalina Deluxe',
			title: "The Catalina Deluxe Small",
			cardModifiers: 'text-center smaller' %}
	{%- endcapture -%}
	{%- capture dimsSmallB -%}
		{% include 'card',
			img: 'Catalina-Comparison-dimensions-small-2',
			alt: 'sliding passport into exterior pocket',
			title: "The Catalina Deluxe Small",
			cardModifiers: 'text-center smaller' %}
	{%- endcapture -%}
	
	{%- capture dimsLargeA -%}
		{% include 'card',
			img: 'Catalina-Comparison-dimensions-large-1',
			alt: 'woman packing The Catalina Deluxe',
			title: "The Catalina Deluxe Large",
			cardModifiers: 'text-center smaller' %}
	{%- endcapture -%}
	{%- capture dimsLargeB -%}
		{% include 'card',
			img: 'Catalina-Comparison-dimensions-large-2',
			alt: 'sliding passport into exterior pocket',
			title: "The Catalina Deluxe Large",
			cardModifiers: 'text-center smaller' %}
	{%- endcapture -%}
	
	<div class="block has-cards hidden-xs{% if withAnimations %} animate{% endif %}" {{ animateFadeInUp }}>
		<div class="row-slider">
			<div class="row">
				<div class="col-sm-4">{{ dimsToteA }}</div>
				<div class="col-sm-4">{{ dimsSmallA }}</div>
				<div class="col-sm-4">{{ dimsLargeA }}</div>
			</div>
			<div class="row">
				<div class="col-sm-4">{{ dimsToteB }}</div>
				<div class="col-sm-4">{{ dimsSmallB }}</div>
				<div class="col-sm-4">{{ dimsLargeB }}</div>
			</div>
		</div>
	</div>
	<div class="hidden-sm hidden-md hidden-lg">
		{%- capture col1 -%} {{ dimsToteA }} {%- endcapture -%}
		{%- capture col2 -%} {{ dimsToteB }} {%- endcapture -%}
		{%- assign col3 = false -%}
		<div class="block has-cards">{% include 'discover-sliding-3-col' %}</div>

		{%- capture col1 -%} {{ dimsSmallA }} {%- endcapture -%}
		{%- capture col2 -%} {{ dimsSmallB }} {%- endcapture -%}
		<div class="block has-cards">{% include 'discover-sliding-3-col' %}</div>

		{%- capture col1 -%} {{ dimsLargeA }} {%- endcapture -%}
		{%- capture col2 -%} {{ dimsLargeB }} {%- endcapture -%}
		<div class="block has-cards">{% include 'discover-sliding-3-col' %}</div>
	</div>

	<div style="background: #F8F8F8; padding: 50px 0" class="mb-large fw-xs text-center{% if withAnimations %} animate{% endif %}" {{ animateFadeInUp }}>
		{% include 'picture', name: 'Catalina-Comparison-weight-dimensions', alt: 'specs chart' %}
	</div>