{% include 'section-title',
  title: 'The Fit',
  noContainer: true,
  text: 'To help compare the different styles in our weekender collection, we asked two women of different heights to carry each bag.<br/><br/>Francine is 5’ 10”' %}
	
{%- capture fitToteA -%}
  {% include 'picture', name: 'Catalina-Comparison-tall-tote-1', alt: 'tall woman with Catalina Deluxe Tote - front view' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Tote", modifiers: 'text-center smaller' %}
{%- endcapture -%}
{%- capture fitToteB -%}
  {% include 'picture', name: 'Catalina-Comparison-tall-tote-2', alt: 'tall woman with Catalina Deluxe Tote - side view' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Tote", modifiers: 'text-center smaller' %}
{%- endcapture -%}
{%- capture fitToteC -%}
  {% include 'picture', name: 'Catalina-Comparison-tall-tote-3', alt: 'tall woman with Catalina Deluxe Tote - holding at side' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Tote", modifiers: 'text-center smaller' %}
{%- endcapture -%}

{%- capture fitSmallA -%}
  {% include 'picture', name: 'Catalina-Comparison-tall-small-1', alt: 'tall woman with Catalina Deluxe Small - front view' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Small", modifiers: 'text-center smaller' %}
{%- endcapture -%}
{%- capture fitSmallB -%}
  {% include 'picture', name: 'Catalina-Comparison-tall-small-2', alt: 'tall woman with Catalina Deluxe Small - side view' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Small", modifiers: 'text-center smaller' %}
{%- endcapture -%}
{%- capture fitSmallC -%}
  {% include 'picture', name: 'Catalina-Comparison-tall-small-3', alt: 'tall woman with Catalina Deluxe Small - holding at side' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Small", modifiers: 'text-center smaller' %}
{%- endcapture -%}

{%- capture fitLargeA -%}
  {% include 'picture', name: 'Catalina-Comparison-tall-large-1', alt: 'tall woman with Catalina Deluxe Large - front view' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Large", modifiers: 'text-center smaller' %}
{%- endcapture -%}
{%- capture fitLargeB -%}
  {% include 'picture', name: 'Catalina-Comparison-tall-large-2', alt: 'tall woman with Catalina Deluxe Large - side view' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Large", modifiers: 'text-center smaller' %}
{%- endcapture -%}
{%- capture fitLargeC -%}
  {% include 'picture', name: 'Catalina-Comparison-tall-large-3', alt: 'tall woman with Catalina Deluxe Large - holding at side' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Large", modifiers: 'text-center smaller' %}
{%- endcapture -%}
<div class="hidden-xs mb-large{% if withAnimations %} animate{% endif %}" {{ animateFadeInUp }}>
  <div class="row-slider">
    <div class="row">
      <div class="col-sm-4">{{ fitToteA }}</div>
      <div class="col-sm-4">{{ fitSmallA }}</div>
      <div class="col-sm-4">{{ fitLargeA }}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">{{ fitToteB }}</div>
      <div class="col-sm-4">{{ fitSmallB }}</div>
      <div class="col-sm-4">{{ fitLargeB }}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">{{ fitToteC }}</div>
      <div class="col-sm-4">{{ fitSmallC }}</div>
      <div class="col-sm-4">{{ fitLargeC }}</div>
    </div>
  </div>
</div>
<div class="hidden-sm hidden-md hidden-lg">
  {%- capture col1 -%} {{ fitToteA }} {%- endcapture -%}
  {%- capture col2 -%} {{ fitToteB }} {%- endcapture -%}
  {%- capture col3 -%} {{ fitToteC }} {%- endcapture -%}
  {% include 'discover-sliding-3-col' %}

  {%- capture col1 -%} {{ fitSmallA }} {%- endcapture -%}
  {%- capture col2 -%} {{ fitSmallB }} {%- endcapture -%}
  {%- capture col3 -%} {{ fitSmallC }} {%- endcapture -%}
  {% include 'discover-sliding-3-col' %}

  {%- capture col1 -%} {{ fitLargeA }} {%- endcapture -%}
  {%- capture col2 -%} {{ fitLargeB }} {%- endcapture -%}
  {%- capture col3 -%} {{ fitLargeC }} {%- endcapture -%}
  {% include 'discover-sliding-3-col' %}
</div>

{% include 'section-title', text: 'Eyesmin is 5’ 4”', noContainer: true %}

{%- capture fitToteA -%}
  {% include 'picture', name: 'Catalina-Comparison-short-tote-1', alt: 'short woman with Catalina Deluxe Tote - front view' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Tote", modifiers: 'text-center smaller' %}
{%- endcapture -%}
{%- capture fitToteB -%}
  {% include 'picture', name: 'Catalina-Comparison-short-tote-2', alt: 'short woman with Catalina Deluxe Tote - side view' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Tote", modifiers: 'text-center smaller' %}
{%- endcapture -%}
{%- capture fitToteC -%}
  {% include 'picture', name: 'Catalina-Comparison-short-tote-3', alt: 'short woman with Catalina Deluxe Tote - holding at side' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Tote", modifiers: 'text-center smaller' %}
{%- endcapture -%}

{%- capture fitSmallA -%}
  {% include 'picture', name: 'Catalina-Comparison-short-small-1', alt: 'short woman with Catalina Deluxe Small - front view' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Small", modifiers: 'text-center smaller' %}
{%- endcapture -%}
{%- capture fitSmallB -%}
  {% include 'picture', name: 'Catalina-Comparison-short-small-2', alt: 'short woman with Catalina Deluxe Small - side view' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Small", modifiers: 'text-center smaller' %}
{%- endcapture -%}
{%- capture fitSmallC -%}
  {% include 'picture', name: 'Catalina-Comparison-short-small-3', alt: 'short woman with Catalina Deluxe Small - holding at side' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Small", modifiers: 'text-center smaller' %}
{%- endcapture -%}

{%- capture fitLargeA -%}
  {% include 'picture', name: 'Catalina-Comparison-short-large-1', alt: 'short woman with Catalina Deluxe Large - front view' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Large", modifiers: 'text-center smaller' %}
{%- endcapture -%}
{%- capture fitLargeB -%}
  {% include 'picture', name: 'Catalina-Comparison-short-large-2', alt: 'short woman with Catalina Deluxe Large - side view' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Large", modifiers: 'text-center smaller' %}
{%- endcapture -%}
{%- capture fitLargeC -%}
  {% include 'picture', name: 'Catalina-Comparison-short-large-3', alt: 'short woman with Catalina Deluxe Large - holding at side' %}
  {% include 'discover-topic-content', title: "The Catalina Deluxe Large", modifiers: 'text-center smaller' %}
{%- endcapture -%}
<div class="hidden-xs mb-large{% if withAnimations %} animate{% endif %}" {{ animateFadeInUp }}>
  <div class="row-slider">
    <div class="row">
      <div class="col-sm-4">{{ fitToteA }}</div>
      <div class="col-sm-4">{{ fitSmallA }}</div>
      <div class="col-sm-4">{{ fitLargeA }}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">{{ fitToteB }}</div>
      <div class="col-sm-4">{{ fitSmallB }}</div>
      <div class="col-sm-4">{{ fitLargeB }}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">{{ fitToteC }}</div>
      <div class="col-sm-4">{{ fitSmallC }}</div>
      <div class="col-sm-4">{{ fitLargeC }}</div>
    </div>
  </div>
</div>
<div class="hidden-sm hidden-md hidden-lg">
  {%- capture col1 -%} {{ fitToteA }} {%- endcapture -%}
  {%- capture col2 -%} {{ fitToteB }} {%- endcapture -%}
  {%- capture col3 -%} {{ fitToteC }} {%- endcapture -%}
  {% include 'discover-sliding-3-col' %}

  {%- capture col1 -%} {{ fitSmallA }} {%- endcapture -%}
  {%- capture col2 -%} {{ fitSmallB }} {%- endcapture -%}
  {%- capture col3 -%} {{ fitSmallC }} {%- endcapture -%}
  {% include 'discover-sliding-3-col' %}

  {%- capture col1 -%} {{ fitLargeA }} {%- endcapture -%}
  {%- capture col2 -%} {{ fitLargeB }} {%- endcapture -%}
  {%- capture col3 -%} {{ fitLargeC }} {%- endcapture -%}
  {% include 'discover-sliding-3-col' %}
</div>