{% comment %} skip all of this if we have nothing to show {% endcomment %}
{%- unless collection.metafields['global']['hero-image'] == blank -%}

  {%- assign heroDescription = collection.metafields["global"]["hero-description"] -%}
  {%- assign firstProduct = collection.products | first -%}
  {%- assign isParentCollection = collection.metafields['global']['is-parent-collection'] -%}
  {% comment %} find the price or price range for a parent collection in hero only mode {% endcomment %}
  {%- if isParentCollection == "true" -%}
    {%- assign priceMin = 99999999 -%}
    {%- assign priceMax = 0 -%}
    {%- for product in collection.products -%}
      {% if product.price_min < priceMin %}
        {% assign priceMin = product.price_min %}
      {% endif %}
      {% if product.price_max > priceMax %}
        {% assign priceMax = product.price_max %}
      {% endif %}
    {%- endfor -%}
  {%- endif -%}

  {% comment %} support gendered layouts {% endcomment %}
  {%- assign gender = referringCollection.metafields["global"]["gender"] -%}
  {%- if gender == "default" -%}
    {%- assign gender = "" -%}
  {%- else -%}
    {%- assign gender = gender | append: '-' -%}
  {%- endif -%}
  {%- capture heroImageDKey -%}{{ gender }}hero-image{%- endcapture -%}
  {%- capture heroImageMKey -%}{{ gender }}hero-image-mobile{%- endcapture -%}
  {%- capture heroImageAltKey -%}{{ gender }}hero-image-alt{%- endcapture -%}
  {% comment %} fall back to default if we don't have a gender-specific image {% endcomment %}
  {%- if collection.metafields['global'][heroImageDKey] == blank -%}
  {%- assign heroImageDKey = "hero-image" -%}
  {%- assign heroImageMKey = "hero-image-mobile" -%}
  {%- assign heroImageAltKey = "hero-image-alt" -%}
  {%- endif -%}

  {% comment %} 
    support gendered discover page links
    female or unisex by default
  {% endcomment %}
  {% assign discoverPageHandle = collection.metafields["global"]["discover-page-handle"] %}
  {% comment %} do we have a mens alternate page {% endcomment %}
  {% if collection.metafields["global"]["male-discover-page-handle"]  %}
    {% comment %} is this a male layout or male collection {% endcomment %}
    {% if gender == 'male' or referringCollection.handle contains "mens" %}
      {% assign discoverPageHandle = collection.metafields["global"]["male-discover-page-handle"] %}
    {% endif %}
  {% endif %}

  {%- capture discoverBtn -%}
    {%- unless discoverPageHandle == blank -%}
      <a class="btn btn-secondary" href="{{ pages[discoverPageHandle].url }}">Learn more</a>
    {%- endunless -%}
  {%- endcapture -%}

  <header class="collection-hero as-{{tag}}" data-collection="{{ collection.id }}">
    {% if collection.metafields['global'][heroImageMKey] %}
      <picture>
        <source srcset="{{ collection.metafields['global'][heroImageDKey] }}" media="(min-width: {{ screenSm }})">
        <img src="{{ collection.metafields['global'][heroImageMKey] }}" alt="{{ collection.metafields["global"][heroImageAltKey] }}">
      </picture>
    {% else %}
      <img src="{{ collection.metafields['global'][heroImageDKey] }}" alt="{{ collection.metafields["global"][heroImageAltKey] }}">
    {% endif %}
    <div class="content">
            <{{tag}} class="title">{{ collection.title }}</{{tag}}>
            {% if heroDescription != blank %}<p class="description">{{ heroDescription }}</p>{% endif %}
            {%- if mode == "hero-only" -%}
              {%- if isParentCollection == "true" -%}
                <p class="description price">
                  {%- if priceMin != priceMax -%}
                    {{ priceMin | money_without_trailing_zeros }} - {{ priceMax | money_without_trailing_zeros | remove: "$" }}
                  {%- else -%}
                    {{ priceMin | money_without_trailing_zeros }}
                  {%- endif -%}
                </p>
                <div class="actions">
                  {{ discoverBtn }}
                  <a class="btn btn-secondary" href="{{ firstProduct.url | within: referringCollection }}">Buy now</a>
                </div>
              {%- else -%}
                <div class="actions">
                  {{ discoverBtn }}
                  <a class="btn btn-secondary" href="{{ collection.url }}">Shop</a>
                </div>
              {%- endif -%}
            {%- else -%}
              {%- unless discoverPageHandle == blank -%}
                <div class="actions">
                  {{ discoverBtn }}
                </div>
              {%- endunless -%}
            {%- endif -%}
    </div>
  </header>

{% endunless %}