{% assign firstProduct = collection.products | first %}
{% unless collection.metafields['global']['hero-image'] == blank %}
<header class="collection-hero as-{{tag}}" data-collection="{{ collection.id }}">
  {% if collection.metafields['global']['hero-image-mobile'] %}
    <picture>
      <source srcset="{{ collection.metafields['global']['hero-image'] }}" media="(min-width: {{ screenSm }})">
      <img src="{{ collection.metafields['global']['hero-image-mobile'] }}" alt="{{ collection.metafields["global"]["hero-image-description"] }}">
    </picture>
  {% else %}
    <img src="{{ collection.metafields['global']['hero-image'] }}" alt="{{ collection.metafields["global"]["hero-image-description"] }}">
  {% endif %}
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
          <{{tag}} class="title">{{ collection.title }}</{{tag}}>
          <p class="description">{{ collection.metafields["global"]["hero-description"] }}</p>
          <p class="description price">{{ firstProduct.price | money_without_trailing_zeros }}</p>
          <div class="actions">
            {% unless collection.metafields["global"]["discover-page-handle"] == blank %}
            <a class="btn btn-secondary" href="{{ pages[collection.metafields["global"]["discover-page-handle"]].url }}">Learn more</a>
            {% endunless %}
            <a class="btn btn-secondary to-pdp" href="{{ firstProduct.url | within: referringCollection }}">Buy now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% endunless %}