<header class="collection-hero as-{{tag}}" data-collection="{{ collection.id }}">
  {% if collection.metafields['global']['hero-image-mobile'] %}
    <picture>
      <source srcset="{{ collection.metafields['global']['hero-image'] }}" media="(min-width: {{ screenSm }})">
      <img src="{{ collection.metafields['global']['hero-image-mobile'] }}" alt="{{ collection.metafields["global"]["hero-image-description"] }}">
    </picture>
  {% else %}
    <img src="{{ collection.metafields['global']['hero-image'] }}" alt="{{ collection.metafields["global"]["hero-image-description"] }}">
  {% endif %}
  <div class="content">
    <{{tag}} class="title">{{ collection.title }}</{{tag}}>
    <p class="description">{{ collection.metafields["global"]["hero-description"] }}</p>
    {% unless collection.metafields["global"]["discover-page-handle"] == blank %}
    <a class="btn btn-secondary" href="{{ collection.metafields["global"]["discover-page-handle"] }}">Learn more</a>
    {% endunless %}
  </div>
</header>