<header class="collection-hero mb-default">
  <picture>
    <source srcset="{{ groupCollection.metafields['global']['hero-image'] }}" media="(min-width: 1025px)">
    <img src="{{ groupCollection.metafields['global']['hero-image-mobile'] }}" alt="">
  </picture>
  <div class="content">
    <h2 class="title">{{ groupCollection.title }}</h2>
    <p class="description">{{ groupCollection.metafields["global"]["hero-description"] }}</p>
    <a class="btn btn-secondary" href="{{ groupCollection.metafields["global"]["discover-page-handle"] }}">Learn more</a>
  </div>
</header>