<div class="max-container">
    <div class="hero">
        <picture>
            <source srcset="{{ block.settings.desktopImage | img_url: 'master' }}" media="(min-width: {{ screenMd }})" />
            <source srcset="{{ block.settings.tabletImage | img_url: 'master' }}" media="(min-width: {{ screenSm }})" />
            <img src="{{ block.settings.mobileImage | img_url: 'master' }}" alt="{{ block.settings.altText }}" />
        </picture>
        <div class="hero-content {{ block.settings.xsPos }} {{ block.settings.smPos }} {{ block.settings.mdPos }}">
            <h1 class="block-title">{{ block.settings.title }}</h1>
        </div>
    </div>
</div>