<div class="cta-column">
  <a href="{{ path }}">
    <img src="https://cdn.shopify.com/s/files/1/2185/1497/{{ image }}" alt="buy {{ title }} in {{ material }}">
  </a>
  <h2 class="title">{{ title }}</h2>
  <p class="color">{{ color }}</p>
  <p class="material">{{ material }}</p>
  <p class="price">{{ price }}</p>
  <a href="{{ path }}" class="btn">Buy now</a>
</div>