<div class="row animate" {{ animateFadeInUp }}>
    <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">
        <picture class="fw-xs">
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-pre-washed-canvas-md.jpg?18150851609509086438" media="(min-width: {{ screenMd }})">
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-pre-washed-canvas-sm.jpg?18150851609509086438" media="(min-width: {{ screenSm }})">
            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-pre-washed-canvas-xs.jpg?18150851609509086438" alt="detail of the pre-washed canvas material">
        </picture>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0 col-lg-10">
                <div class="topic-content text-center-sm">
                    <h3 class="title">Pre-washed Canvas</h3>
                    <p class="description">We use a high-quality, lightweight, yet strong pre-washed canvas. Despite being a softer and less structured canvas than the typical heavy canvas, it can handle a heavyweight load (even though we always encourage packing light).</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 col-lg-6">
        <picture class="fw-xs">
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-organic-cotton-canvas-md.jpg?18150851609509086438" media="(min-width: {{ screenMd }})">
            <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-organic-cotton-canvas-sm.jpg?18150851609509086438" media="(min-width: {{ screenSm }})">
            <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/discover-organic-cotton-canvas-xs.jpg?18150851609509086438" alt="detail of the organic cotton canvas material">
        </picture>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0 col-lg-10">
                <div class="topic-content text-center-sm">
                    <h3 class="title">Organic Cotton Canvas</h3>
                    <p class="description">A canvas that is 100% naturally grown without the use of any synthetic agricultural chemicals such as fertilizers or pesticides.</p>
                </div>
            </div>
        </div>
    </div>
</div>