{% assign navLabels = labels | split: ',' %}
<div class="page-nav{% if ctaLink == blank %} without-actions{% endif %}">
    <div class="container">
        <span class="title">{{ ctaTitle }}</span>
        <button id="items-toggle">{{ navLabels[0] }}</button>
        <span id="price-xs">{{ ctaPrice }}</span>
        <nav class="items">
            {% for label in navLabels %}
                {% capture itemTarget %}nav-target-{{ forloop.index }}{% endcapture %}
                {% capture itemClasses %}btn-gtm-trk {% if forloop.first == true %}active{% endif %}{% endcapture %}
                {%- if label contains '#' -%}
                    {%- assign itemTarget = label | handleize -%}
                    {%- assign itemClasses = 'more-window-trigger' -%}
                {%- endif-%}
                <a href="#{{ itemTarget }}" class="{{ itemClasses }}" data-gtm-a="4">{{ label | remove: '#' }}</a>
            {% endfor %}
            <span class="active-bar"></span>
        </nav>
        {% unless ctaLink == blank %} 
        <ul class="actions">
            <li id="price-md">{{ ctaPrice }}</li>
            <li class="hidden-md hidden-lg"><a href="{{ ctaLink }}" class="btn btn-secondary btn-md btn-gtm-trk" data-gtm-a="9">View colors</a></li>
            <li><a href="{{ ctaLink }}" class="btn btn-md btn-gtm-trk" data-gtm-a="5">Buy now</a></li>
        </ul>
        {% endunless %}
    </div>
</div>