<div class="discover-cta">
    <div class="container">
        <div class="row topic-block">
            <div class="{{ ctaContentCol}}">
                <div class="topic-content">
                    <h3 class="title">{{ ctaTitle }}</h3>
                    <p class="price">{{ ctaPrice }}</p>
                    <div class="btn-set hidden-xs hidden-sm">
                        <a class="btn btn-secondary btn-gtm-trk" data-gtm-a="1" href="{{ ctaLink }}">View colors &amp; sizes</a>
                        <a class="btn btn-gtm-trk" data-gtm-a="1" href="{{ ctaLink }}">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="{{ ctaImgCol }}">
                <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/{{ ctaImg }}-md.jpg?{{ assetVersion }}{% if (retina) %}, https://cdn.shopify.com/s/files/1/2185/1497/files/{{ ctaImg }}-md2x.jpg?{{ assetVersion }} 2x{% endif %}" media="(min-width: {{ screenSm }})">
                    <img src="https://cdn.shopify.com/s/files/1/2185/1497/files/{{ ctaImg }}-xs.jpg?{{ assetVersion }}" alt="Shop {{ ctaTitle }}">
                </picture>
                <div class="btn-set hidden-md hidden-lg">
                    <a class="btn btn-secondary btn-gtm-trk" data-gtm-a="1" href="{{ ctaLink }}">View colors &amp; sizes</a>
                    <a class="btn btn-gtm-trk" data-gtm-a="1" href="{{ ctaLink }}">Buy now</a>
                </div>
            </div>
        </div>
    </div>
</div>