{% assign navLabels = labels | split: ',' %}
<div class="page-nav">
    <div class="container">
        <span class="title">{{ ctaTitle }}</span>
        <nav class="items">
            {% for label in navLabels %}
                {% capture itemTarget %}nav-target-{{ forloop.index }}{% endcapture %}
                {% capture itemClasses %}btn-gtm-trk {% if forloop.first == true %}active{% endif %}{% endcapture %}
                {%- if label contains '#' -%}
                    {%- assign itemTarget = label | handleize -%}
                    {%- assign itemClasses = 'more-window-trigger' -%}
                {%- endif-%}
                <a href="#{{ itemTarget }}" class="{{ itemClasses }}" data-gtm-a="4">{{ label | remove: '#' }}</a>
            {% endfor %}
            <span class="active-bar"></span>
        </nav>
        <span class="price">{{ ctaPrice }}</span> 
        {% unless ctaLink == blank %}
            <a href="{{ ctaLink }}" class="btn btn-secondary btn-gtm-trk" data-gtm-a="5">Buy now</a>
        {% endunless %}
    </div>
</div>