<div class="container large-container">
    <div class="row">
        <div class="col-sm-6">
            <div class="topic-block has-overlay-xs mb-small mb-xs-tiny fw-xs">
                <picture>
                    <source srcset="{{ block.settings.desktopImageA | img_url: 'master' }}" media="(min-width: {{ screenMd }})" />
                    <img src="{{ block.settings.mobileImageA | img_url: 'master' }}" alt="{{ block.settings.altTextA }}" />
                </picture>
                <div class="topic-content {{ block.settings.textColorA }}">
                    <h3 class="title">{{ block.settings.titleA }}</h3>
                    {% unless block.settings.descriptionA == blank %}
                    <p class="description">{{ block.settings.descriptionA }}</p>
                    {% endunless %}
                    {% unless block.settings.linkTextA == blank %}
                    <div class="btn-set">
                        <a class="btn{% if block.settings.linkStyleA == 'outline' %} btn-secondary{% if block.settings.textColorA == 'white' %} inverted{% endif %}{% endif %} btn-gtm-trk" data-gtm-a="6" href="{{ block.settings.linkUrlA }}">{{ block.settings.linkTextA }}</a>
                        {% unless block.settings.linkTextAB == blank %}
                        <a class="btn{% if block.settings.linkStyleAB == 'outline' %} btn-secondary{% if block.settings.textColorA == 'white' %} inverted{% endif %}{% endif %} btn-gtm-trk" data-gtm-a="6" href="{{ block.settings.linkUrlAB }}">{{ block.settings.linkTextAB }}</a>
                        {% endunless %}
                    </div>
                    {% endunless %}
                    {% unless block.settings.priceA == blank %}
                    <p class="description">{{ block.settings.priceA }}</p>
                    {% endunless %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="topic-block has-overlay-xs mb-small mb-xs-tiny fw-xs">
                <picture>
                    <source srcset="{{ block.settings.desktopImageB | img_url: 'master' }}" media="(min-width: {{ screenMd }})" />
                    <img src="{{ block.settings.mobileImageB | img_url: 'master' }}" alt="{{ block.settings.altTextB }}" />
                </picture>
                <div class="topic-content {{ block.settings.textColorB }}">
                    <h3 class="title">{{ block.settings.titleB }}</h3>
                    {% unless block.settings.descriptionB == blank %}
                    <p class="description">{{ block.settings.descriptionB }}</p>
                    {% endunless %}
                    {% unless block.settings.linkTextB == blank %}
                    <div class="btn-set">
                        <a class="btn{% if block.settings.linkStyleB == 'outline' %} btn-secondary{% if block.settings.textColorB == 'white' %} inverted{% endif %}{% endif %} btn-gtm-trk" data-gtm-a="6" href="{{ block.settings.linkUrlB }}">{{ block.settings.linkTextB }}</a>
                        {% unless block.settings.linkTextBB == blank %}
                        <a class="btn{% if block.settings.linkStyleBB == 'outline' %} btn-secondary{% if block.settings.textColorA == 'white' %} inverted{% endif %}{% endif %} btn-gtm-trk" data-gtm-a="6" href="{{ block.settings.linkUrlBB }}">{{ block.settings.linkTextBB }}</a>
                        {% endunless %}
                    </div>
                    {% endunless %}
                    {% unless block.settings.priceB == blank %}
                    <p class="description">{{ block.settings.priceB }}</p>
                    {% endunless %}
                </div>
            </div>
        </div>
    </div> 
</div>
