<div class="large-container">
    <div class="row">
        <div class="col-sm-6">
            <div class="topic-block has-overlay-xs mb-xs-tiny">
                <picture>
                    <source srcset="{{ block.settings.desktopImageA | img_url: 'master' }}" media="(min-width: {{ screenMd }})" />
                    <img src="{{ block.settings.mobileImageA | img_url: 'master' }}" alt="{{ block.settings.altTextA }}" />
                </picture>
                <div class="topic-content {{ block.settings.textColorA }}">
                    <h3 class="title">{{ block.settings.titleA }}</h3>
                    {% unless block.settings.linkTextA == blank %}
                    <div class="btn-set">
                        <a class="btn{% if block.settings.linkStyleA == 'outline' %} btn-secondary{% if block.settings.textColorA == 'white' %} inverted{% endif %}{% endif %}" href="{{ block.settings.linkUrlA }}">{{ block.settings.linkTextA }}</a>
                    </div>
                    {% endunless %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="topic-block has-overlay-xs">
                <picture>
                    <source srcset="{{ block.settings.desktopImageB | img_url: 'master' }}" media="(min-width: {{ screenMd }})" />
                    <img src="{{ block.settings.mobileImageB | img_url: 'master' }}" alt="{{ block.settings.altTextB }}" />
                </picture>
                <div class="topic-content {{ block.settings.textColorB }}">
                    <h3 class="title">{{ block.settings.titleB }}</h3>
                    {% unless block.settings.linkTextB == blank %}
                    <div class="btn-set">
                        <a class="btn{% if block.settings.linkStyleB == 'outline' %} btn-secondary{% if block.settings.textColorB == 'white' %} inverted{% endif %}{% endif %}" href="{{ block.settings.linkUrlB }}">{{ block.settings.linkTextB }}</a>
                    </div>
                    {% endunless %}
                </div>
            </div>
        </div>
    </div> 
</div>
