{% assign alignment = 'col-md-offset-3' %}
{% if align == 'left' %}
 {% assign alignment = 'col-md-offset-0' %}
{% endif %}
{% if align == 'right' %}
 {% assign alignment = 'col-md-offset-6' %}
{% endif %}
<div class="max-container">
    <div class="block hero has-arrow">
        {% include 'picture', name: img, alt: alt, retina: true, fw: false, lg: true %}
        <div class="content {{ color | default: 'white' }}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 {{ alignment }}">
                        <h1 class="title">{% if subtitle %}<span class="subtitle">{{ subtitle }}</span>{% endif %} {{ title }}</h1>
                        {% if text %}<p>{{ text }}</p>{% endif %}
                    </div>            
                </div>
            </div>
        </div>
        <a href="#first-section-target" class="scroll-down-indicator"><span class="sr-only">Next section</span></a>
    </div>
</div>
<a id="first-section-target"></a>