<div class="inline-video product-video ratio-{{ ratio }}" id="inlined-{{ index }}">
    <div class="embed-container"
        data-desktop-url="{{ hd }}"
        data-mobile-url="{{ sd }}"
        data-autoplay="true"
        data-loops="100">
        <video id="video-{{ index }}" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/{{ poster }}-md.jpg?{{ assetVersion }}"></video>
        <div class="loading"></div>
    </div>
</div>