{% capture posterUrl %}https://cdn.shopify.com/s/files/1/2185/1497/files/{{ poster }}.jpg?{{ assetVersion }}{% endcapture %}
{% if customPoster %}
    {% assign posterUrl = customPoster %}
{% endif %}
<div class="inline-video product-video ratio-{{ ratio }}" id="inlined-{{ index }}">
    <div class="embed-container" data-autoplay="true" data-loops="100" data-force="{{ force }}">
        <video id="video-{{ index }}" width="100%" loop muted playsinline="true" poster="{{ posterUrl }}">
            <source src="https://cdn.shopify.com/s/files/1/2185/1497/files/{{ src }}.mp4?{{ assetVersion }}" type="video/mp4" />
        </video>
        <div class="loading"></div>
    </div>
</div>