{%- assign swatchGroup1Label = parentCollection.metafields["global"]["swatch-group-1-label"] -%}
{%- assign swatchGroup2Label = parentCollection.metafields["global"]["swatch-group-2-label"] -%}
{%- assign swatchGroup3Label = parentCollection.metafields["global"]["swatch-group-3-label"] -%}
{%- if swatchGroup2Label == blank -%}{% comment %} no extra grouping, show them all {% endcomment %}
	{%- if swatchGroup1Label != blank -%}<p class="configuration-label">{{ swatchGroup1Label }}</p>{%- endif -%}
	<ul class="pdp-swatches">
		{%- for siblingProduct in parentCollection.products -%}{% comment %} all products of this type {% endcomment %}
			{%- if siblingsList contains siblingProduct.id -%}{% comment %} make sure this product can be shown {% endcomment %}
				{%- assign siblingUrl = siblingProduct.url -%} 
				{%- if referringCollectionHandle -%}
					{%- assign siblingUrl = siblingProduct.url | within: collections[referringCollectionHandle] -%}
				{%- endif -%}
				{% include "pdp-swatch" %}
			{%- endif -%}
		{%- endfor -%}
	</ul>
{%- else -%}
	{% comment %}TODO: maybe DRY this up a bit{% endcomment %}
	{%- capture swatchGroup1 -%}
		{%- for siblingProduct in parentCollection.products -%}
			{%- if siblingsList contains siblingProduct.id -%}
				{%- if siblingProduct.metafields["global"]["swatch-group"] == 'swatch-group-1' -%}
					{%- assign siblingUrl = siblingProduct.url -%} 
					{%- if referringCollectionHandle -%}
						{%- assign siblingUrl = siblingProduct.url | within: collections[referringCollectionHandle] -%}
					{%- endif -%}
					{% include "pdp-swatch" %}
				{%- endif -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endcapture -%}
	{% if swatchGroup1 != blank %}{% comment %} these can be blank if the collection-aware URL filters out all products in this group {% endcomment %}
		<p class="configuration-label">{{ swatchGroup1Label }}</p>
		<ul class="pdp-swatches">
			{{ swatchGroup1 }}
		</ul>
	{%- endif -%}
	{%- capture swatchGroup2 -%}
		{%- for siblingProduct in parentCollection.products -%}
			{%- if siblingsList contains siblingProduct.id -%}
				{%- if siblingProduct.metafields["global"]["swatch-group"] == 'swatch-group-2' -%}
					{%- assign siblingUrl = siblingProduct.url -%} 
					{%- if referringCollectionHandle -%}
						{%- assign siblingUrl = siblingProduct.url | within: collections[referringCollectionHandle] -%}
					{%- endif -%}
					{% include "pdp-swatch" %}
				{%- endif -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endcapture -%}
	{% if swatchGroup2 != blank %}
		<p class="configuration-label">{{ swatchGroup2Label }}</p>
		<ul class="pdp-swatches">
			{{ swatchGroup2 }}
		</ul>
	{%- endif -%}
	{%- capture swatchGroup3 -%}
		{%- for siblingProduct in parentCollection.products -%}
			{%- if siblingsList contains siblingProduct.id -%}
				{%- if siblingProduct.metafields["global"]["swatch-group"] == 'swatch-group-3' -%}
					{%- assign siblingUrl = siblingProduct.url -%} 
					{%- if referringCollectionHandle -%}
						{%- assign siblingUrl = siblingProduct.url | within: collections[referringCollectionHandle] -%}
					{%- endif -%}
					{% include "pdp-swatch" %}
				{%- endif -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endcapture -%}
	{% if swatchGroup3 != blank %}
		<p class="configuration-label">{{ swatchGroup3Label }}</p>
		<ul class="pdp-swatches">
			{{ swatchGroup3 }}
		</ul>
	{%- endif -%}
{%- endif -%}	
{% comment %}
{% endcomment %}