
{%- for siblingProduct in parentCollection.products -%}
{%- if siblingsList contains siblingProduct.id -%}
<div class="pdp-gallery js-pdp-gallery {% if siblingProduct.id == product.id %}active{% endif %}" data-sibling="{{ siblingProduct.id }}">
  <div class="js-pdp-gallery-featured pdp-gallery-featured">
    {%- assign img_src = siblingProduct.featured_image | img_url: 'original' -%}
    {% include 'image',
      src: img_src,
      object_fit: 'contain',
      alt: '' %}
    {%- assign img_src = nil -%}
  </div>
  <div class="js-pdp-gallery-mobile pdp-gallery-mobile">
    {%- for image in siblingProduct.images -%}
      {%- assign img_src = image | img_url: 'original' -%}
      {% include 'image',
        src: img_src,
        object_fit: 'contain',
        alt: '' %}
      {%- assign img_src = nil -%}
    {%- endfor -%}
  </div>
  <div class="pdp-gallery-thumbs-wrapper">
    <a href="#" class="js-gallery-up pdp-chevron-up"></a>
    <div class="js-pdp-gallery-thumbs pdp-gallery-thumbs">
      <div class="js-pdp-thumbs-container pdp-gallery-thumbs-inner">
        {%- for image in siblingProduct.images -%}
        {%- unless image.alt contains 'swatch' -%}
        <a
          href="#"
          data-src="{{ image | img_url: 'original' }}"
          data-small="{{ image | img_url: '500x' }}"
          data-height="{{ image.height }}"
          data-width="{{ image.width }}">
          {%- assign img_src = image | img_url: '100x100' -%}
          {% include 'image',
            src: img_src,
            alt: '' %}
          {%- assign img_src = nil -%}
        </a>
        {%- endunless -%}
        {%- endfor -%}
      </div>
    </div>
    <a href="#" class="js-gallery-down pdp-chevron-down"></a>
    {%- unless parentCollection.metafields["global"]["product-video"] == blank -%}
    <a href="#" id="product-video-trigger" class="pdp-gallery-thumbs-video">{% include 'icon-play' %}</a>
    {%- endunless -%}
  </div>
</div>
{%- endif -%}
{%- endfor -%}
