{% include 'vars' %}

{% comment %} 
  support gendered discover page link
  female or unisex by default
{% endcomment %}
{% assign discoverPageHandle = parentCollection.metafields["global"]["discover-page-handle"] %}
{% comment %} do we have a mens alternate page {% endcomment %}
{% if parentCollection.metafields["global"]["male-discover-page-handle"] %}
  {% comment %} make sure we're at a collection-aware URL {% endcomment %}
  {% if collection.title %}
    {% comment %} protect against matching "mens" in a womens collection handle {% endcomment %}
    {% unless collection.handle contains "womens" %}
      {% comment %} make sure we're coming from a male collection {% endcomment %}
      {% if collection.handle contains "mens" %}
        {% assign discoverPageHandle = parentCollection.metafields["global"]["male-discover-page-handle"] %}
      {% endif %}
    {% endunless %}
  {% endif %}
{% endif %}

{% comment %} grab the content for our more windows {% endcomment %}
{% assign snippetSlug = parentCollection.title | handleize | remove: 'the-' %}
{% capture fileName %}materials-{{ snippetSlug }}{% endcapture %}
{% capture materialsGuide %}{% include fileName %}{% endcapture %}
{% capture fileName %}size-fit-{{ snippetSlug }}{% endcapture %}
{% capture sizeFitGuide %}{% include fileName %}{% endcapture %}

{% comment %}
  Note: pdp.js will show sale pricing, hide/show waitlist button, final sale messaging, etc.
  UI is updated on page load so we don't have to duplicate all the variant metafield logic in here
{% endcomment %}

<header class="page-nav without-items">
  <div class="container">
    <h1 class="title">{{ parentCollection.title }}</h1>
    {%- unless discoverPageHandle == blank -%}
      <div class="actions">
        <a href="{{ pages[discoverPageHandle].url }}" class="btn btn-secondary" id="discover-link">Learn more</a>
      </div>
    {%- endunless -%}
  </div>
</header>
<section class="product-main container">

  <div class="gallery-col fw-xs fw-sm">
    <div class="pdp-gallery">
      {%- for siblingProduct in parentCollection.products -%}
        {%- if siblingsList contains siblingProduct.id -%}      
          {% assign siblingImageCount = 0 %}
          {% comment %} images specific to this sibling {% endcomment %}
          {% for image in siblingProduct.images %}
            {%- unless image.alt contains 'swatch' -%}
            <a class="item sibling-item zoomable {% if siblingProduct.id == product.id %}active{% endif %}" href="#zoomed-gallery" data-gallery-id="{{ siblingProduct.id }}" data-sibling="{{ siblingProduct.id }}" data-index="{{ forloop.index0 }}">
              {% if siblingProduct.id == product.id %}
                {{ image | img_tag: image.alt, '', '343x' }}
              {% else %} {% comment %} lazy load for all the siblings {% endcomment %}
                <img src="//:0" class="lazy" width="343" data-lazy="{{ image | img_url: '343x' }}" alt="{{ image.alt }}">
              {% endif %}
            </a>
            {% assign siblingImageCount = siblingImageCount | plus: 1 %}
            {%- endunless -%}
          {% endfor %}
          {% comment %} images common to all siblings, included multiple times so the zoom gallery includes them {% endcomment %}
          {% if parentCollection.metafields["global"]["collection-images"] %}
            {% assign images = parentCollection.metafields["global"]["collection-images"] | split: ',' %}
            {% for image in images %}
              <a class="item sibling-item zoomable {% if siblingProduct.id == product.id %}active{% endif %}" href="#zoomed-gallery" data-gallery-id="{{ siblingProduct.id }}" data-sibling="{{ siblingProduct.id }}" data-index="{{ forloop.index0 | plus: siblingImageCount }}">
                {{ image | img_tag }} {% comment %} not lazy loading this since the active product download will cache the rest {% endcomment %}
              </a>
            {% endfor %}
          {% endif %}
        {%- endif -%}
      {%- endfor -%}

      {% comment %} videos common to all siblings, only include once to avoid ID crashes {% endcomment %}
      {%- if parentCollection.metafields["global"]["collection-video-1"] -%}
        {% assign video = parentCollection.metafields["global"]["collection-video-1"] | split: ',' %}
        <div class="item active">
          <div class="pdp-gallery-video">
            <video id="video-{{ parentCollection.id }}-1" width="100%" loop muted playsinline="true" poster="{{ video[0] }}">
              <source src="{{ video[1] }}" type="video/mp4" />
            </video>
          </div>
        </div>
        {% comment %} <script>var video1Embed = '<iframe src="https://player.vimeo.com/video/{{ video[0] }}" width="640" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe>';</script> {% endcomment %}
      {%- endif -%}

      {%- if parentCollection.metafields["global"]["collection-video-2"] -%}
        {% assign video = parentCollection.metafields["global"]["collection-video-2"] | split: ',' %}
        <div class="item active">
          <div class="pdp-gallery-video">
            <video id="video-{{ parentCollection.id }}-2" width="100%" loop muted playsinline="true" poster="{{ video[0] }}">
              <source src="{{ video[1] }}" type="video/mp4" />
            </video>
          </div>
        </div>
        {% comment %} <script>var video2Embed = '<iframe src="https://player.vimeo.com/video/{{ video[0] }}" width="640" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe>'; </script> {% endcomment %}
      {%- endif -%}

    </div>

    {% comment %} Root element of PhotoSwipe. Must have class pswp. {% endcomment %}
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true" id="zoomed-gallery">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
          <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
          </div>
          {% comment %} has to be here or zooming breaks {% endcomment %}
          <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar"></div>
          </div>
        </div>
        <button class="panel-close"><span class="sr-only">close</span></button>
        <button class="arrow next"><span class="sr-only">next</span></button>
        <button class="arrow prev"><span class="sr-only">previous</span></button>
    </div>
    {% comment %} Photoswipe data, easier to read outside of the script tag below {% endcomment %}
    {% capture pswpData %}
      var pswpData = {
      {%- for siblingProduct in parentCollection.products -%}
        {%- if siblingsList contains siblingProduct.id -%}
          {{ siblingProduct.id }} : [
            {%- for image in siblingProduct.images -%}
              {%- unless image.alt contains 'swatch' -%}
              {
                src: "{{ image | img_url: 'master' }}",
                msrc: "{{ image | img_url: '343x' }}",
                w: {{ image.width }},
                h: {{ image.height }},
              },
              {%- endunless -%}
            {%- endfor -%}
            {%- if parentCollection.metafields["global"]["collection-images"] -%}
              {%- assign images = parentCollection.metafields["global"]["collection-images"] | split: ',' -%}
              {%- for image in images -%}
              {
                src: "{{ image }}",
                w: 1500,
                h: 1500,
              },
              {%- endfor -%}
            {%- endif -%}
          ],
        {%- endif -%}
      {%- endfor -%}
      };
    {% endcapture %}
    <script>
      {{ pswpData }}
    </script>

  </div>

  <div class="form-col">
    <div class="form">
      <div class="form-row" id="price-wrapper">
        <span id="price">{{ current_variant.price | money_without_trailing_zeros }}</span>
        <s id="compare-price"style="display:none"></s>
        <span class="discount-label"style="display:none"><span class="discount-amount"></span>% off</span>
      </div>
      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
        <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

        <form action="/cart/add" method="post" enctype="multipart/form-data">

          <div class="form-row" id="selected-color">{{ product.metafields["global"]["swatch-label"] }}</div>
          
          <div id="swatch-groups" class="fw-xs">
            {%- assign swatchGroup1Label = parentCollection.metafields["global"]["swatch-group-1-label"] -%}
            {%- assign swatchGroup2Label = parentCollection.metafields["global"]["swatch-group-2-label"] -%}
            {%- assign swatchGroup3Label = parentCollection.metafields["global"]["swatch-group-3-label"] -%}

            {%- comment -%}
            DETECT PRESELECTED material/color IF ANY
            {%- endcomment -%}
            {%- for siblingProduct in parentCollection.products -%}
              {%- assign siblingProductColor = siblingProduct.title | split: '-' | last | strip -%}
              {%- if siblingProduct.metafields["global"]["swatch-group"] == 'swatch-group-1' -%}
                {%- if siblingProductColor == product.metafields["global"]["swatch-label"] -%}
                  {%- assign selectedColor1 = siblingProductColor -%}
                {%- endif -%}
              {%- elsif siblingProduct.metafields["global"]["swatch-group"] == 'swatch-group-2' -%}
                {%- if siblingProductColor == product.metafields["global"]["swatch-label"] -%}
                  {%- assign selectedColor2 = siblingProductColor -%}
                {%- endif -%}
              {%- elsif siblingProduct.metafields["global"]["swatch-group"] == 'swatch-group-3' -%}
                {%- if siblingProductColor == product.metafields["global"]["swatch-label"] -%}
                  {%- assign selectedColor3 = siblingProductColor -%}
                {%- endif -%}
              {%- endif -%}
            {%- endfor -%}

            {%- if swatchGroup2Label == blank -%}{% comment %} no extra grouping, show them all {% endcomment %}
              {% capture swatches %}
                  {%- for siblingProduct in parentCollection.products -%}{% comment %} all products of this type {% endcomment %}
                    {%- if siblingsList contains siblingProduct.id -%}{% comment %} make sure this product can be shown {% endcomment %}
                      {%- assign siblingUrl = siblingProduct.url -%}
                      {%- if referringCollectionHandle -%}
                        {%- assign siblingUrl = siblingProduct.url | within: collections[referringCollectionHandle] -%}
                      {%- endif -%}
                      {% include "pdp-swatch" %}
                    {%- endif -%}
                  {%- endfor -%}
                {% endcapture %}
              {% include "pdp-swatch-group", name: swatchGroup1Label, swatches: swatches %}
            {%- else -%}
              {% comment %}TODO: maybe DRY this up a bit{% endcomment %}
              {%- capture swatchGroup1 -%}
                {%- for siblingProduct in parentCollection.products -%}
                  {%- if siblingsList contains siblingProduct.id -%}
                    {%- if siblingProduct.metafields["global"]["swatch-group"] == 'swatch-group-1' -%}
                      {%- assign siblingUrl = siblingProduct.url -%}
                      {%- if referringCollectionHandle -%}
                        {%- assign siblingUrl = siblingProduct.url | within: collections[referringCollectionHandle] -%}
                      {%- endif -%}
                      {% include "pdp-swatch" %}
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endcapture -%}
              {% if swatchGroup1 != blank %}{% comment %} these can be blank if the collection-aware URL filters out all products in this group {% endcomment %}
                {% include "pdp-swatch-group", name: swatchGroup1Label, swatches: swatchGroup1 %}
              {%- endif -%}
              {%- capture swatchGroup2 -%}
                {%- for siblingProduct in parentCollection.products -%}
                  {%- if siblingsList contains siblingProduct.id -%}
                    {%- if siblingProduct.metafields["global"]["swatch-group"] == 'swatch-group-2' -%}
                      {%- assign siblingUrl = siblingProduct.url -%}
                      {%- if referringCollectionHandle -%}
                        {%- assign siblingUrl = siblingProduct.url | within: collections[referringCollectionHandle] -%}
                      {%- endif -%}
                      {% include "pdp-swatch" %}
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endcapture -%}
              {% if swatchGroup2 != blank %}
                {% include "pdp-swatch-group", name: swatchGroup2Label, swatches: swatchGroup2 %}
              {%- endif -%}
              {%- capture swatchGroup3 -%}
                {%- for siblingProduct in parentCollection.products -%}
                  {%- if siblingsList contains siblingProduct.id -%}
                    {%- if siblingProduct.metafields["global"]["swatch-group"] == 'swatch-group-3' -%}
                      {%- assign siblingUrl = siblingProduct.url -%}
                      {%- if referringCollectionHandle -%}
                        {%- assign siblingUrl = siblingProduct.url | within: collections[referringCollectionHandle] -%}
                      {%- endif -%}
                      {% include "pdp-swatch" %}
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endcapture -%}
              {% if swatchGroup3 != blank %}
                {% include "pdp-swatch-group", name: swatchGroup3Label, swatches: swatchGroup3 %}
              {%- endif -%}
            {%- endif -%}
            {% comment %}
            {% endcomment %}
          </div>
          
          {% unless materialsGuide contains 'Liquid error' %}
          <div class="form-row">
            <a href="#materials-guide" class="more-window-trigger" id="materials-guide-trigger">Compare Materials</a>
          </div>
          {% endunless %}

          <div class="form-row">
            {%- unless product.has_only_default_variant -%}
              <div class="variants">
                <label for="variant-selector">Select Size</label>
                {% for variant in product.variants %}
                  {%- assign selected = nil -%}
                  {%- if variant.id == current_variant.id -%}
                    {%- assign selected = 'selected' -%}
                  {%- endif -%}
                  <a href="#" data-id="{{ variant.id }}" class="btn btn-secondary {{ selected }}">{{ variant.title }}</a>
                {% endfor %}
              </div>
            {%- endunless -%}
            <select name="id" id="variant-selector" class="hidden" data-product-select>
              {%- for variant in product.variants -%} 
                <option value="{{ variant.id }}"{% if variant.id == product.selected_variant.id or variant.id == current_variant.id %} selected="selected"{% endif %}>{{ variant.title }}</option>
              {%- endfor -%}
            </select>
          </div>
                    
          {% unless sizeFitGuide contains 'Liquid error' %}
            <div class="form-row">
              <a href="#size-fit-guide" class="more-window-trigger" id="size-fit-trigger">Size & Fit Guide</a>
            </div>
          {% endunless %}

          <div class="form-actions">
            {% comment %} can add to cart {% endcomment %}
            <div id="add-to-cart">
              <div id="add-to-cart-row">
                <label class="sr-only" for="quantity">{{ 'products.product.quantity' | t }}</label>
                <select id="quantity" name="quantity">
                {%- for i in (1..40) -%}
                  <option>{{ i }}</option>
                {%- endfor -%}
                </select>
                <button type="submit" class="btn">{{ 'products.product.add_to_cart' | t }}</button>
              </div>
            </div>
            
            {% comment %} sold out, but waitlist enabled {% endcomment %}
            <button class="btn btn-secondary" id="waitlist-open" style="display: none">{{ 'products.waitlist.title' | t }}</button>
        
          </div>

          {% comment %} sold out {% endcomment %}
          <div id="sold-out-message" style="display: none">{{ 'products.product.sold_out' | t }}</div>
          
          {% comment %} addtional warnings {% endcomment %}
          <div class="low-stock-warning" style="display: none">{{ 'products.product.low_stock' | t }}</div>
          <div class="final-sale-warning" style="display: none">{{ 'products.product.final_sale_html' | t }}</div>

        </form>
      </div>
    </div>
  </div>
</section>

<section class="product-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div id="product-description" class="fw-xs">
          {{ parentCollection.description }}
        </div>
      </div>
      <div class="col-sm-7 col-md-5 col-md-offset-2">
        {% comment %} smart collection metafields {% endcomment %}
        {% assign blocks = "Overview|Device Compatibility|Size & Weight|Materials|Care Instructions" | split: '|'%}
        {% for block in blocks %}
          {% assign handle = block | replace: ' ', '-' | downcase %}
          {% assign content = parentCollection.metafields["global"][handle] %}
          {% if content != blank %}
            <div class="pdp-expandable">
              <button>{{ block }}{% include 'get-icon', icon: 'expandable' %}</button>
              <div class="content">
                {{ content }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
        {% comment %} global metafield {% endcomment %}
        <div class="pdp-expandable">
          <button>Shipping, Returns, Exchanges{% include 'get-icon', icon: 'expandable' %}</button>
          <div class="content">
            {{ shop.metafields["global"]["shipping-returns-exchanges"] }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if product.metafields.yotpo.reviews_count and product.metafields.yotpo.reviews_count != "0" %}
  {%- include 'pdp-reviews' -%}
{% endif %}

{% unless sizeFitGuide contains 'Liquid error' %}
  <div class="more-window" id="size-fit-guide">
    <div class="container">
      {{ sizeFitGuide }}
    </div>
    <button class="panel-close"><span class="sr-only">close</span></button>
  </div>
{% endunless %}
{% unless materialsGuide contains 'Liquid error' %}
  <div class="more-window" id="materials-guide">
    <div class="container">
      {{ materialsGuide }}
    </div>
    <button class="panel-close"><span class="sr-only">close</span></button>
  </div>
{% endunless %}

{%- assign embedCode = nil -%}
{%- assign embedCode2 = nil -%}
{%- if parentCollection.metafields["global"]["product-video"] -%}
  {% assign embedCode = parentCollection.metafields["global"]["product-video"] | remove: '<p>' | remove: '</p>' %}
  <script>// <![CDATA[
    var video1Embed = '{{ embedCode }}';
    // ]]></script>
{%- endif -%}
{%- if parentCollection.metafields["global"]["product-video-2"] -%}
  {% assign embedCode2 = parentCollection.metafields["global"]["product-video-2"] | remove: '<p>' | remove: '</p>' %}
  <script>// <![CDATA[
    var video2Embed = '{{ embedCode2 }}';
    // ]]></script>
{%- endif -%}

{%- capture siblingsJson -%}
  {
    {%- for siblingProduct in parentCollection.products -%}
      {%- if siblingsList contains siblingProduct.id -%}
        "{{ siblingProduct.id }}" : {{ siblingProduct | json }}{% unless forloop.last %},{% endunless %}
      {%- endif -%}
    {%- endfor -%}
  }
{%- endcapture -%}
{% comment %} some information isn't included in the normal product object {% endcomment %}
{%- capture siblingsSupplimentalJson -%}
  {
    {%- for siblingProduct in parentCollection.products -%}
      {%- if siblingsList contains siblingProduct.id -%}
        "{{ siblingProduct.id }}" : {
          "url" : "{{ shop.secure_url }}{{ siblingProduct.url }}",
          "collections" : {{ siblingProduct.collections | map:"title" | json }},
          "featuredImage" : "https:{{ siblingProduct.featured_image.src | img_url:"grande" }}"
        }{% unless forloop.last %},{% endunless %}
      {%- endif -%}
    {%- endfor -%}
  }
{%- endcapture -%}

{%- assign defaultOosThreshold = 10 -%}

{% comment %} some variants should be hidden when the sell out instead of showing the Join Waitlist button {% endcomment %}
{%- capture hiddenVariants -%}
  {%- for siblingProduct in parentCollection.products -%}
    {%- for variant in siblingProduct.variants -%}
      {%- if variant.metafields['global']['out-of-stock-policy'] == 'hide' -%}
        {%- assign oosThreshold = defaultOosThreshold -%}
        {%- unless variant.metafields['global']['out-of-stock-threshold'] == blank -%}
          {%- assign oosThreshold = variant.metafields['global']['out-of-stock-threshold'] | times: 1 -%}
        {%- endunless -%}
        {% comment %}
        automatic availability based on shopify inventory level, or
        manual availability, or
        custom out of stock inventory level, either 10 or a value set via metafield
        {% endcomment %}
        {%- if variant.available == false or variant.metafields['global']['out-of-stock-settings'] == 'unavailable' or oosThreshold >= variant.inventory_quantity -%}
          {{ variant.id }}|
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
{%- endcapture -%}
{%- assign hiddenVariants = hiddenVariants | strip_newlines | strip -%}

{% comment %} expected instock information can vary between variants {% endcomment %}
{%- capture variantStockData -%}
{
  {%- for siblingProduct in parentCollection.products -%}
    {%- for variant in siblingProduct.variants -%}
      {%- assign oosThreshold = defaultOosThreshold -%}
      {%- unless variant.metafields['global']['out-of-stock-threshold'] == blank -%}
        {%- assign oosThreshold = variant.metafields['global']['out-of-stock-threshold'] | times: 1 -%}
      {%- endunless -%}
      {%- assign lowStockThreshold = 30 -%}
      {%- unless variant.metafields['global']['low-stock-threshold'] == blank -%}
        {%- assign lowStockThreshold = variant.metafields['global']['low-stock-threshold'] | times: 1 -%}
      {%- endunless -%}
      "{{ variant.id }}" : {
        "finalSale" : "{{ variant.metafields['global']['final-sale'] }}",
        "lowStockThreshold" : {{ lowStockThreshold }},
        "oosPolicy" : "{{ variant.metafields['global']['out-of-stock-policy'] }}",
        "oosSettings" : "{{ variant.metafields['global']['out-of-stock-settings'] }}",
        "oosThreshold" : {{ oosThreshold }},
        "restockMessage" : "{{ variant.metafields['global']['restock-expected'] }}",
        "stockLevel" : {{ variant.inventory_quantity }}
      },
    {%- endfor -%}
  {%- endfor -%}
}
{%- endcapture -%}
<script>
  var productID = "{{product.id}}";
  var siblingsJson = {{ siblingsJson }};
  var siblingsSupplimentalJson = {{ siblingsSupplimentalJson }};
  var hiddenVariants = "{{ hiddenVariants }}";
  var variantStockData = {{ variantStockData }};
</script>