
{% for siblingProduct in parentCollection.products %}
{% if siblingsList contains siblingProduct.id %}
<div class="pdp-gallery {% if siblingProduct.id == product.id %}active{% endif %}" data-sibling="{{ siblingProduct.id }}">

  <div class="pdp-gallery-featured">
    {{ siblingProduct.featured_image | img_url: 'original' | img_tag }}
  </div>

  <div class="pdp-gallery-mobile">
    {%- for image in siblingProduct.images -%}
      {{ image | img_url: 'original' | img_tag }}
    {%- endfor -%}
  </div>

  <div class="pdp-gallery-thumbs-wrapper">

    <a href="#" class="pdp-chevron-up"></a>

    <div class="pdp-gallery-thumbs">

      <div class="pdp-gallery-thumbs-inner">

{%- for image in siblingProduct.images -%}
      <a href="#" data-src="{{ image | img_url: 'original' }}">{{ image | img_url: '100x100', crop: 'center' | img_tag }}</a>
{%- endfor -%}

      </div>

    </div>

    <a href="#" class="pdp-chevron-down"></a>

    {%- unless parentCollection.metafields["global"]["product-video"] == blank -%}
    <a href="#" id="product-video-trigger" class="pdp-gallery-thumbs-video">{% include 'icon-play' %}</a>
    {%- endunless -%}


  </div>

</div>
			{% endif %}
		{% endfor %}
<script>console.log('PDP Gallery 2')</script>
