{% comment %} default display {% endcomment %}
{%- assign hideAddToCart = false -%}
{%- assign hideWaitlist = true -%}
{% comment %} manually disabled {% endcomment %}
{%- if current_variant.metafields['global']['out-of-stock-settings'] == 'unavailable' and current_variant.metafields['global']['out-of-stock-policy'] == 'waitlist' -%}
  {%- assign hideAddToCart = true -%}
  {%- assign hideWaitlist = false -%}
{%- endif -%}
{% comment %} disabled by custom or default OOS threshold {% endcomment %}
{%- assign oosThreshold = 10 -%}
{%- unless current_variant.metafields['global']['out-of-stock-threshold'] == blank -%}
  {%- assign oosThreshold = current_variant.metafields['global']['out-of-stock-threshold'] -%}
{%- endunless -%}
{%- if current_variant.inventory_quantity <= oosThreshold -%}
  {%- assign hideAddToCart = true -%}
  {%- assign hideWaitlist = false -%}
{%- endif -%}
{% comment %} automatically disabled based on shopify inventory {% endcomment %}
{%- unless current_variant.available -%}
  {%- assign hideAddToCart = true -%}
  {%- assign hideWaitlist = false -%}
{%- endunless -%}

{%- assign showSaleElements = false -%}
{%- assign discountAmount = nil -%}
{%- if current_variant.compare_at_price > current_variant.price -%}
  {%- assign showSaleElements = true -%}
  {%- assign discountAmount = current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | round: 0 -%}
{%- endif -%}

<header class="pdp-header js-marque-push-down">
  <div class="container">
    <h1>{{ parentCollection.title }}</h1>
    <a href="" class="btn btn-secondary">Discover</a>
  </div>
</header>
<section class="product-main container">
  <div class="gallery-col">
    {% include 'pdp-gallery' %}
  </div>
  <div class="form-col">
    <div class="form">
      <div class="form-row" id="price-wrapper">
        <span id="price">{{ current_variant.price | money_without_trailing_zeros }}</span>
        <s id="compare-price"{% unless showSaleElements %}style="display:none"{% endunless %}>{{ current_variant.compare_at_price | money_without_trailing_zeros }}</s>
        <span class="discount-label"{% unless showSaleElements %}style="display:none"{% endunless %}><span class="discount-amount">{{ discountAmount }}</span>% off</span>
      </div>
      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
        <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

        <form action="/cart/add" method="post" enctype="multipart/form-data">

          <div class="form-row" id="selected-color">{{ product.metafields["global"]["swatch-label"] }}</div>
          
          {% include 'pdp-swatches' %}

          <div class="form-row">
            <a href="#compare-materials" class="pdp-modal-trigger" id="compare-materials-trigger">Compare Materials</a>
          </div>

          {% include 'pdp-variants' %}

          <div class="form-row">
            <a href="#size-fit-guide" class="pdp-modal-trigger" id="size-fit-trigger">Size & Fit Guide</a>
          </div>

          <div class="form-actions">
            {% comment %} can add to cart {% endcomment %}
            <div id="add-to-cart" {% if hideAddToCart %}style="display: none"{% endif %}>
              <div id="add-to-cart-row">
                <label class="sr-only" for="quantity">{{ 'products.product.quantity' | t }}</label>
                <select id="quantity" name="quantity">
                {%- for i in (1..40) -%}
                  <option>{{ i }}</option>
                {%- endfor -%}
                </select>
                <button type="submit" class="btn">{{ 'products.product.add_to_cart' | t }}</button>
              </div>
            </div>
            
            {% comment %} sold out, but waitlist enabled {% endcomment %}
            <button class="btn btn-secondary" id="waitlist-open" {% if hideWaitlist %}style="display: none"{% endif %}>{{ 'products.waitlist.title' | t }}</button>
        
          </div>

          {% comment %} sold out {% endcomment %}
          <div id="sold-out-message" {% if current_variant.available or oosPolicy == 'waitlist' or oosPolicy == blank %}style="display: none"{% endif %}>{{ 'products.product.sold_out' | t }}</div>
          
          {% comment %} addtional warnings {% endcomment %}
          <div class="low-stock-warning hidden">{{ 'products.product.low_stock' | t }}</div>
          <div class="final-sale-warning hidden"><span>{{ 'products.product.final_sale_html' | t }}</span></div>

        </form>
      </div>
    </div>
  </div>
</section>

<section class="product-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <div id="product-description">{{ product.description }}</div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        {% comment %} smart collection metafields {% endcomment %}
        {% assign blocks = "Overview|Device Compatibility|Size & Weight|Materials|Care Instructions" | split: '|'%}
        {% for block in blocks %}
          {% assign handle = block | replace: ' ', '-' | downcase %}
          {% assign content = parentCollection.metafields["global"][handle] %}
          {% if content != blank %}
            {% include 'pdp-expandable', title: block, copy: content %}
          {% endif %}
        {% endfor %}
        {% comment %} global metafield {% endcomment %}
        {% include 'pdp-expandable', title: 'Shipping, Returns, Exchanges', copy: shop.metafields["global"]["shipping-returns-exchanges"] %}
      </div>
    </div>
  </div>
</section>

{%- include 'pdp-modal', id: 'size-fit', collection_ref: parentCollection, device_compatibility: pdp_size_fit_device_compatibility, size_weight: pdp_size_fit_size_weight -%}


{% if product.metafields.yotpo.reviews_count and product.metafields.yotpo.reviews_count != "0" %}
  {%- include 'pdp-reviews' -%}
{% endif %}

{%- capture siblingsJson -%}
  {
    {%- for siblingProduct in parentCollection.products -%}
      {%- if siblingsList contains siblingProduct.id -%}
        "{{ siblingProduct.id }}" : {{ siblingProduct | json }}{% unless forloop.last %},{% endunless %}
      {%- endif -%}
    {%- endfor -%}
  }
{%- endcapture -%}
{% comment %} some information isn't included in the normal product object {% endcomment %}
{%- capture siblingsSupplimentalJson -%}
  {
    {%- for siblingProduct in parentCollection.products -%}
      {%- if siblingsList contains siblingProduct.id -%}
        "{{ siblingProduct.id }}" : {
          "url" : "{{ shop.secure_url }}{{ siblingProduct.url }}",
          "collections" : {{ siblingProduct.collections | map:"title" | json }},
          "featuredImage" : "https:{{ siblingProduct.featured_image.src | img_url:"grande" }}"
        }{% unless forloop.last %},{% endunless %}
      {%- endif -%}
    {%- endfor -%}
  }
{%- endcapture -%}

{%- assign defaultOosThreshold = 10 -%}

{% comment %} some variants should be hidden when the sell out instead of showing the Join Waitlist button {% endcomment %}
{%- capture hiddenVariants -%}
  {%- for siblingProduct in parentCollection.products -%}
    {%- for variant in siblingProduct.variants -%}
      {%- if variant.metafields['global']['out-of-stock-policy'] == 'hide' -%}
        {%- assign oosThreshold = defaultOosThreshold -%}
        {%- unless variant.metafields['global']['out-of-stock-threshold'] == blank -%}
          {%- assign oosThreshold = variant.metafields['global']['out-of-stock-threshold'] | times: 1 -%}
        {%- endunless -%}
        {% comment %}
        automatic availability based on shopify inventory level, or
        manual availability, or
        custom out of stock inventory level, either 10 or a value set via metafield
        {% endcomment %}
        {%- if variant.available == false or variant.metafields['global']['out-of-stock-settings'] == 'unavailable' or oosThreshold >= variant.inventory_quantity -%}
          {{ variant.id }}|
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
{%- endcapture -%}
{%- assign hiddenVariants = hiddenVariants | strip_newlines | strip -%}

{% comment %} expected instock information can vary between variants {% endcomment %}
{%- capture variantStockData -%}
{
  {%- for siblingProduct in parentCollection.products -%}
    {%- for variant in siblingProduct.variants -%}
      {%- assign oosThreshold = defaultOosThreshold -%}
      {%- unless variant.metafields['global']['out-of-stock-threshold'] == blank -%}
        {%- assign oosThreshold = variant.metafields['global']['out-of-stock-threshold'] | times: 1 -%}
      {%- endunless -%}
      {%- assign lowStockThreshold = 30 -%}
      {%- unless variant.metafields['global']['low-stock-threshold'] == blank -%}
        {%- assign lowStockThreshold = variant.metafields['global']['low-stock-threshold'] | times: 1 -%}
      {%- endunless -%}
      "{{ variant.id }}" : {
        "finalSale" : "{{ variant.metafields['global']['final-sale'] }}",
        "lowStockThreshold" : {{ lowStockThreshold }},
        "oosPolicy" : "{{ variant.metafields['global']['out-of-stock-policy'] }}",
        "oosSettings" : "{{ variant.metafields['global']['out-of-stock-settings'] }}",
        "oosThreshold" : {{ oosThreshold }},
        "restockMessage" : "{{ variant.metafields['global']['restock-expected'] }}",
        "stockLevel" : {{ variant.inventory_quantity }}
      },
    {%- endfor -%}
  {%- endfor -%}
}
{%- endcapture -%}
<script>
  var productID = "{{product.id}}";
  var siblingsJson = {{ siblingsJson }};
  var siblingsSupplimentalJson = {{ siblingsSupplimentalJson }};
  var hiddenVariants = "{{ hiddenVariants }}";
  var variantStockData = {{ variantStockData }};
</script>