<div class="pdp-gallery">
  
  {%- for siblingProduct in parentCollection.products -%}
    {%- if siblingsList contains siblingProduct.id -%}      
      {% assign siblingImageCount = 0 %}

      {% comment %} images specific to this sibling {% endcomment %}
      {% for image in siblingProduct.images %}
        {%- unless image.alt contains 'swatch' -%}
        <a class="item sibling-item zoomable {% if siblingProduct.id == product.id %}active{% endif %}" href="#zoomed-gallery" data-gallery-id="{{ siblingProduct.id }}" data-sibling="{{ siblingProduct.id }}" data-index="{{ forloop.index0 }}">
          {% if siblingProduct.id == product.id %}
            {{ image | img_tag: image.alt, '', '343x' }}
          {% else %} {% comment %} lazy load for all the siblings {% endcomment %}
            <img src="//:0" class="lazy" width="343" data-lazy="{{ image | img_url: '343x' }}" alt="{{ image.alt }}">
          {% endif %}
        </a>
        {% assign siblingImageCount = siblingImageCount | plus: 1 %}
        {%- endunless -%}
      {% endfor %}

      {% comment %} images common to all siblings, included multiple times so the zoom gallery includes them {% endcomment %}
      {% if parentCollection.metafields["global"]["collection-images"] %}
        {% assign images = parentCollection.metafields["global"]["collection-images"] | split: ',' %}
        {% for image in images %}
          <a class="item sibling-item zoomable {% if siblingProduct.id == product.id %}active{% endif %}" href="#zoomed-gallery" data-gallery-id="{{ siblingProduct.id }}" data-sibling="{{ siblingProduct.id }}" data-index="{{ forloop.index0 | plus: siblingImageCount }}">
            {{ image | img_tag }} {% comment %} not lazy loading this since the active product download will cache the rest {% endcomment %}
          </a>
        {% endfor %}
      {% endif %}

    {%- endif -%}
  {%- endfor -%}

  {% comment %} videos common to all siblings, only include once to avoid ID crashes {% endcomment %}
  {%- if parentCollection.metafields["global"]["collection-video-1"] -%}
    {% assign video = parentCollection.metafields["global"]["collection-video-1"] | split: ',' %}
    <a class="item active video-trigger btn-gtm-trk" data-gtm-a="10" data-video-id="video-{{ siblingProduct.id }}-1" href="#">
      {% if video[2] %}
      <div class="pdp-gallery-video">
        <video id="video-{{ siblingProduct.id }}-1" width="100%" loop muted playsinline="true" poster="{{ video[1] }}">
          <source src="{{ video[2] }}" type="video/mp4" />
        </video>
      </div>
      {% else %}
        {{ video[1] | img_tag: 'Watch first product video', '', '343x' }}
      {% endif %}
    </a>
    <script>var video1Embed = '<iframe src="https://player.vimeo.com/video/{{ video[0] }}" width="640" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe>';</script>
  {%- endif -%}

  {%- if parentCollection.metafields["global"]["collection-video-2"] -%}
    {% assign video = parentCollection.metafields["global"]["collection-video-2"] | split: ',' %}
    <a class="item active video-trigger btn-gtm-trk" data-gtm-a="10" data-video-id="video-{{ siblingProduct.id }}-2" href="#">
      {% if video[2] %}
      <div class="pdp-gallery-video">
        <video id="vvideo-{{ siblingProduct.id }}-2" width="100%" loop muted playsinline="true" poster="{{ video[1] }}">
          <source src="{{ video[2] }}" type="video/mp4" />
        </video>
      </div>
      {% else %}
        {{ video[1] | img_tag: 'Watch second product video', '', '343x' }}
      {% endif %}
    </a>
    <script>var video2Embed = '<iframe src="https://player.vimeo.com/video/{{ video[0] }}" width="640" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe>'; </script>
  {%- endif -%}

</div>

{% comment %} Root element of PhotoSwipe. Must have class pswp. {% endcomment %}
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true" id="zoomed-gallery">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      {% comment %} has to be here or zooming breaks {% endcomment %}
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar"></div>
      </div>
    </div>
    <button class="panel-close"><span class="sr-only">close</span></button>
    <button class="arrow next"><span class="sr-only">next</span></button>
    <button class="arrow prev"><span class="sr-only">previous</span></button>
</div>
{% comment %} Photoswipe data, easier to read outside of the script tag below {% endcomment %}
{% capture pswpData %}
  var pswpData = {
  {%- for siblingProduct in parentCollection.products -%}
    {%- if siblingsList contains siblingProduct.id -%}
      {{ siblingProduct.id }} : [
        {%- for image in siblingProduct.images -%}
          {%- unless image.alt contains 'swatch' -%}
          {
            src: "{{ image | img_url: 'master' }}",
            msrc: "{{ image | img_url: '343x' }}",
            w: {{ image.width }},
            h: {{ image.height }},
          },
          {%- endunless -%}
        {%- endfor -%}
        {%- if parentCollection.metafields["global"]["collection-images"] -%}
          {%- assign images = parentCollection.metafields["global"]["collection-images"] | split: ',' -%}
          {%- for image in images -%}
          {
            src: "{{ image }}",
            w: 1500,
            h: 1500,
          },
          {%- endfor -%}
        {%- endif -%}
      ],
    {%- endif -%}
  {%- endfor -%}
  };
{% endcapture %}
<script>
  {{ pswpData }}
</script>
