{%- assign title = data[0] | default: 'NO TITLE' -%}
{%- assign total_tiles_minus_1 = data | size | minus: 1 -%}

<div class="pdp-material wilzon">

<div class="section-heading">
  <h2 class="title">{{ title }}</h2>
</div>

  <div class="pdp-material-images">

{%- for i in (1..total_tiles_minus_1) -%}
{%- assign tile = data[i] | split: '|' -%}
    <div class="pdp-material-image">

      <img src="{{ tile[2] }}" />

      <div class="pdp-material-image-caption">
        <h3>{{ tile[0] }}</h3>
        <p>{{ tile[1] }}</p>
      </div>
    </div>
{%- endfor -%}

  </div>

  <div class="pdp-material-tiles">

{%- for i in (1..total_tiles_minus_1) -%}
{%- assign tile = data[i] | split: '|' -%}
    <div class="pdp-material-tile">
      <h3>{{ tile[0] }}</h3>
      <p>{{ tile[1] }}</p>
    </div>
{%- endfor -%}


  </div>


</div>


{%- assign title = nil -%}
