
<div class="pdp-form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
  <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

  <form action="/cart/add" method="post" enctype="multipart/form-data">
    <div class="pdp-snap pdp-form-option-group js-pdp-form-option-group pdp-form-option-group--swatches js-pdp-form-option-group--swatches">
      {% include 'pdp-swatches' %}
    </div>
    {%- unless product.has_only_default_variant -%}
    <div class="pdp-snap pdp-form-option-group js-pdp-form-option-group selector-wrapper">
      {%- assign optionValues = '' -%}
      {%- for variant in product.variants -%}
        {% comment %} manually disabled {% endcomment %}
        {%- if variant.metafields['global']['availability-status'] == 'unavailable' and variant.metafields['global']['out-of-stock-policy'] == 'hide' -%}
          {%- continue -%}
        {%- endif -%}
        {% comment %} automatically disabled {% endcomment %}
        {%- if variant.available == false and variant.metafields['global']['out-of-stock-policy'] == 'hide' -%}
          {%- continue -%}
        {%- endif -%}
        {%- assign optionValues = optionValues
          | append: '|'
          | append: variant.id
          | append: ':'
          | append: variant.title  -%}
      {%- endfor -%}
      {%- assign optionValues = optionValues | replace_first: '|', '' | split: '|' -%}
      <div class="pdp-form-size-wrapper {% if optionValues.size > 2 %}pdp-form-size-wrapper--reflow{% endif %}">
        <label class="pdp-form-size-label" for="variant-selector">Size:</label>

        <div id="variant-buttons" class="pdp-variant-buttons variant-buttons js-variant-buttons-wrap">
          {%- for optionValue in optionValues -%}
            {%- assign variantId = optionValue | split: ':' | first -%}
            {%- assign variantTitle = optionValue | split: ':' | last -%}
            {%- assign selected = '' -%}
            {%- if variantId == current_variant.id -%}
              {%- assign selected = ' selected' -%}
            {%- endif -%}
            <a
              href="#"
              data-id="{{ variantId }}"
              class="btn btn-secondary variant-option js-pdp-non-swatch-input {{ selected }}">
              {{ variantTitle }}
            </a>
            {%- assign variantId = nil -%}
            {%- assign variantTitle = nil -%}
          {%- endfor -%}
        </div>

      </div>
      {%- assign optionValues = nil -%}
      <a class="pdp-form-size-fit pdp-modal-link js-pdp-modal-link" href="#" data-modal="size-fit">Size & Fit Guide</a>
    </div>
    {%- endunless -%}

    <select name="id" id="variant-selector" class="hidden js-variant-input" data-product-select>
      {%- for variant in product.variants -%} 
        {% comment %} options gets replaced by js working with the siblings JSON {% endcomment %}
        <option value="{{ variant.id }}"{% if variant.id == product.selected_variant.id or variant.id == current_variant.id %} selected="selected"{% endif %}>{{ variant.title }}</option>
      {%- endfor -%}
    </select>

    <div class="js-add-to-cart-wrap add-to-cart" id="add-to-cart" {% unless current_variant.available %}{% if oosPolicy == 'soldout' %} style="display: none"{% endif %}{% endunless %}>{% comment %}hide the whole element when OOS and unavailable for a waitlist{% endcomment %}
      <label class="sr-only" for="quantity">{{ 'products.product.quantity' | t }}</label>
      <select id="quantity" name="quantity" class="js-add-to-cart-quantity" >
      {%- for i in (1..40) -%}
        <option>{{ i }}</option>
      {%- endfor -%}
      </select>

      <span class="pdp-chevron-down"></span>

      {%- assign hideAddToCart = false -%}
      {%- assign hideWaitlist = true -%}
      {% comment %} automatically disabled based on shopify inventory {% endcomment %}
      {%- unless current_variant.available -%}
        {%- assign hideAddToCart = true -%}
        {%- assign hideWaitlist = false -%}
      {%- endunless -%}
      {% comment %} manually disabled {% endcomment %}
      {%- if current_variant.metafields['global']['availability-status'] == 'unavailable' and current_variant.metafields['global']['out-of-stock-policy'] == 'waitlist' -%}
        {%- assign hideAddToCart = true -%}
        {%- assign hideWaitlist = false -%}
      {%- endif -%}

      <button
        type="submit"
        name="add"
        class="btn-lg js-add-to-cart"
        data-add-to-cart
        id="add-product-proceed"
        {% if hideAddToCart %}style="display: none"{% endif %}>
          {{ 'products.product.add_to_cart' | t }}
      </button>

      <button
        class="btn-lg js-add-to-wishlist"
        data-add-to-waitlist
        id="waitlist-open"
        {% if hideWaitlist %}style="display: none"{% endif %}>{{ 'products.waitlist.title' | t }}</button>
    </div>
    <div class="pdp-sold-out-message js-pdp-sold-out-message" id="sold-out-message" {% if current_variant.available or oosPolicy == 'waitlist' or oosPolicy == blank %}style="display: none"{% endif %}>{{ 'products.product.sold_out' | t }}</div>
    <div class="pdp-low-stock-warning js-pdp-low-stock-warning low-stock-warning hidden">{{ 'products.product.low_stock' | t }}</div>
    <div class="pdp-final-sale-warning js-final-sale-warning final-sale-warning hidden"><span>{{ 'products.product.final_sale_html' | t }}</span></div>

    {%- if product.has_only_default_variant -%}
    <div><a class="pdp-form-size-fit pdp-modal-link js-pdp-modal-link" href="#" data-modal="size-fit">Size & Fit Guide</a></div>
    {%- endif -%}


    <a class="pdp-shipping-returns-warranty-care pdp-modal-link js-pdp-modal-link" data-modal="shipping" href="#">Shipping, Returns, Warranty & Care</a>
  </form>
</div>

{%- assign selected = nil -%}
