{%- for siblingProduct in parentCollection.products -%}
  {%- if siblingsList contains siblingProduct.id -%}
  <div class="sibling-image-set {% if siblingProduct.id == product.id %}active{% endif %}" data-sibling="{{ siblingProduct.id }}">
    
    {% assign siblingImageCount = 0 %}
    {% for image in siblingProduct.images %}
      {%- unless image.alt contains 'swatch' -%}
      <a class="item zoomable more-window-trigger" href="#zoomed-gallery-{{ siblingProduct.id }}" data-index="{{ forloop.index0 }}">
        {{ image | img_tag: image.alt, '', '343x' }}
      </a>
      {% assign siblingImageCount = siblingImageCount | plus: 1 %}
      {%- endunless -%}
    {% endfor %}

    {% if parentCollection.metafields.global.global_images %}
      {% for image in parentCollection.metafields.global.global_images %}
        <a class="item zoomable more-window-trigger" href="#zoomed-gallery-{{ siblingProduct.id }}" data-index="{{ forloop.index0 | plus: siblingImageCount }}">
          {{ image | img_tag }}
        </a>
      {% endfor %}
    {% endif %}

    {%- if parentCollection.metafields.global.video_embed_code -%}
      <a class="item video-trigger" href="#">
        {{ parentCollection.metafields.global.video_thumb | img_tag: 'play product video' }}
      </a>
    {%- endif -%}

  </div>
  {%- endif -%}
{%- endfor -%}
