{%- assign remove_top_padding = remove_top_padding | default: false -%}
{%- assign title = data[0] | default: 'NO TITLE' -%}
{%- assign total_tiles = data | size -%}
{%- assign total_tiles_minus_1 = total_tiles | minus: 1 -%}

<div class="pdp-material js-pdp-material">
  <div class="pdp__section-heading {% if remove_top_padding %}pdp__section-heading--no-top-padding{% endif %}">
    <h2 class="title">{{ title }}</h2>
  </div>
  <div class="pdp-material__inner">
    <div class="pdp-material__images js-pdp-material-images">
      {%- for i in (1..total_tiles_minus_1) -%}
      {%- assign tile = data[i] | split: '|' -%}
      <div class="pdp-material__image">
        <div class="pdp-material__image-container">
          {% include 'image',
            src: tile[2],
            alt: tile[1] %}
        </div>
        <div class="pdp-material__image-caption">
          <h3>{{ tile[0] }}</h3>
          <p>{{ tile[1] }}</p>
        </div>
      </div>
      {%- endfor -%}
    </div>
    <div class="pdp-material__tiles js-pdp-material-tiles pdp-material__tiles-{{total_tiles_minus_1}}">
      {%- for i in (1..total_tiles_minus_1) -%}
      {%- assign tile = data[i] | split: '|' -%}
        <div class="pdp-material__tile js-pdp-material-tile">
          <h3>{{ tile[0] }}</h3>
          <p>{{ tile[1] }}</p>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{%- assign title = nil -%}
{%- assign total_tiles = nil -%}
{%- assign total_tiles_minus_1 = nil -%}
{%- assign remove_top_padding = nil -%}
