<header class="pdp-header">
  <div class="container">
    <h1>{{ product.title }}</h1>
  </div>
</header>
<section class="product-main container">
  <div class="gallery-col">
    {%- assign img_src = product.first_available_variant.image.src | img_url: '1025x' -%}
    <img id="gift-card-image" src="{{- img_src | strip -}}" alt="Lo & Sons Gift Card">
  </div>
  <div class="form-col">
    <div class="form">
      {{ product.description }}
      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
        <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

        <form action="/cart/add" method="post" enctype="multipart/form-data">

          {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
              <div class="form-row">
                <div class="variants has-4">
                  <label for="variant-selector">{{ option.name }}</label>
                  {% for value in option.values %}
                    <a href="#" class="btn btn-secondary{% if option.selected_value == value %} selected{% endif %}">{{ value }}</a>
                  {%- endfor -%}
                </div>
              </div>
            {% endfor %}
          {% endunless %}

          <select name="id" id="variant-selector" class="hidden" data-product-select>
            {% for variant in product.variants %}
              <option
                {% if variant == current_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
            {% endfor %}
          </select>

          <div class="form-actions">
            <div id="add-to-cart">
              <div id="add-to-cart-row">
                <label class="sr-only" for="quantity">{{ 'products.product.quantity' | t }}</label>
                <input class="hidden" type="number" id="quantity" name="quantity" value="1" min="1" disabled>
                <button type="submit" class="btn">{{ 'products.product.add_to_cart' | t }}</button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <script>
    var productJson = {{ product | json }};
  </script>
</section>