{%- for siblingProduct in parentCollection.products -%}
  {%- if siblingsList contains siblingProduct.id -%}
  <div class="sibling-image-set {% if siblingProduct.id == product.id %}active{% endif %}" data-sibling="{{ siblingProduct.id }}">
    
    {% assign siblingImageCount = 0 %}
    {% for image in siblingProduct.images %}
      {%- unless image.alt contains 'swatch' -%}
      <a class="item zoomable more-window-trigger" href="#zoomed-gallery-{{ siblingProduct.id }}" data-index="{{ forloop.index0 }}">
        {{ image | img_tag: image.alt, '', '343x' }}
      </a>
      {% assign siblingImageCount = siblingImageCount | plus: 1 %}
      {%- endunless -%}
    {% endfor %}

    {% if parentCollection.metafields["global"]["collection-images"] %}
      {% assign images = parentCollection.metafields["global"]["collection-images"] | split: ',' %}
      {% for image in images %}
        <a class="item zoomable more-window-trigger" href="#zoomed-gallery-{{ siblingProduct.id }}" data-index="{{ forloop.index0 | plus: siblingImageCount }}">
          {{ image | img_tag }}
        </a>
      {% endfor %}
    {% endif %}

    {%- if parentCollection.metafields["global"]["product-video"] -%}
      <a class="item video-trigger" data-video-id="1" href="#">
        {{ parentCollection.metafields["global"]["product-video-thumb"] | img_tag: 'play product video', '', '343x' }}
      </a>
    {%- endif -%}

  </div>
  {%- endif -%}
{%- endfor -%}
