{%- assign testimonials = testimonials | default: blank -%}

<div class="section-heading">
  <h2 class="title">What Others Are Saying</h2>
</div>

{%- unless testimonials == blank -%}

<div class="pdp-testimonials">

  <div class="pdp-testimonials-logos">

{%- for testimonial in testimonials -%}
{%- assign image_src = testimonial | split: '|' | first -%} {%- assign text = testimonial | split: '|' | last -%}


  <div class="pdp-testimonials-logos-item">
    <span>
      <img src="{{ image_src }}" />
    </span>
  </div>

{%- assign image_src = nil -%} {%- assign text = nil -%}

{%- endfor -%}

  </div>

  <div class="pdp-testimonials-texts">

{%- for testimonial in testimonials -%}
{%- assign image_src = testimonial | split: '|' | first -%} {%- assign text = testimonial | split: '|' | last -%}

<p>{{ text }}</p>

{%- assign image_src = nil -%} {%- assign text = nil -%}

{%- endfor -%}

  </div>
</div>

{%- endunless -%}

<div id="reviews-widget">
  <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>
</div>


{%- assign testimonials = nil -%}
