{%- assign remove_top_padding = remove_top_padding | default: false -%}

{%- unless data == blank -%}
  {%- assign total_rows = data | size -%}
  {%- assign total_slides = total_rows | minus: 3 -%}
  {%- unless data[0] == '-' -%}
  <div class="pdp__section-heading {% if remove_top_padding %}pdp__section-heading--no-top-padding{% endif %}">
    <h2>{{ data[0] }}</h2>
  </div>
  {%- endunless -%}

  <div class="pdp-callout-galleries js-pdp-callout-galleries pdp__separator{% if alternate %} pdp-callout-galleries--alternate{% endif %}">
    <div class="pdp-callout-galleries__text">
      <h4>{{data[1]}}</h4>
      <p>{{data[2]}}</p>
    </div>
    <div class="pdp-callout-galleries__carousel pdp-snap pdp-callout-galleries__carousel-{{total_slides}}-slides">
      <div class="js-pdp-callout-gallery pdp-callout-galleries__carousel-main">
      {%- for i in (4..total_rows) -%}
      {%- assign j = i | minus: 1 -%}
      {%- assign slide = data[j] -%}
      {%- assign slide_text = slide | split: '|' | first -%}
      {%- assign slide_image = slide | split: '|' | last -%}
      <div class="js-pdp-callout-gallery pdp-callout-galleries__carousel-main-slide">
        {%- assign img_src = slide_image | replace: '.jpg', '_750x.jpg' -%}
        {% include 'image',
          src: img_src,
          alt: 'Pass through sleeve' %}
        {%- assign img_src = nil -%}
        <span>{{slide_text}}</span>
      </div>
      {%- endfor -%}
      </div>
      {%- if total_rows > 4 -%}
        <div class="js-pdp-callout-gallery-nav pdp-callout-galleries__carousel-nav">
          {%- for i in (4..total_rows) -%}
            {%- assign j = i | minus: 1 -%}
            {%- assign slide = data[j] -%}
            {%- assign slide_text = slide | split: '|' | first -%}
            <span>{{slide_text}}</span>
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  </div>

  {%- assign j = nil -%}
  {%- assign slide_text = nil -%}
  {%- assign slide_image = nil -%}
  {%- assign total_slides = nil -%}
  {%- assign total_rows = nil -%}
{%- endunless -%}

{%- assign remove_top_padding = nil -%}
