{%- unless data == blank -%}

{%- assign total_slides = data | size -%}

{%- unless data[0] == '-' -%}
<div class="pdp__section-heading">
  <h2>{{ data[0] }}</h2>
</div>
{%- endunless -%}

<div class="pdp-callout-galleries pdp__separator{% if alternate %} pdp-callout-galleries--alternate{% endif %}">
  <div class="pdp-callout-galleries__text">
    <h4>{{data[1]}}</h4>
    <p>{{data[2]}}</p>
  </div>
  <div class="pdp-callout-galleries__carousel pdp-snap">
    <div class="js-pdp-callout-gallery pdp-callout-galleries__carousel-main">
{%- for i in (4..total_slides) -%}
{%- assign j = i | minus: 1 -%}
{%- assign slide = data[j] -%}
{%- assign slide_text = slide | split: '|' | first -%}
{%- assign slide_image = slide | split: '|' | last -%}
    <div class="js-pdp-callout-gallery pdp-callout-galleries__carousel-main-slide">
        {% include 'image',
          src: {{slide_image}},
          alt: 'Pass through sleeve' %}
        <span>{{slide_text}}</span>
      </div>
{%- endfor -%}
    </div>
    <div class="js-pdp-callout-gallery-nav pdp-callout-galleries__carousel-nav">
{%- for i in (4..total_slides) -%}
{%- assign j = i | minus: 1 -%}
{%- assign slide = data[j] -%}
{%- assign slide_text = slide | split: '|' | first -%}
    <span>{{slide_text}}</span>
{%- endfor -%}
    </div>
  </div>
</div>


{%- assign j = nil -%}
{%- assign slide_text = nil -%}
{%- assign slide_image = nil -%}

{%- endunless -%}
