{%- case template -%}
  {%- when 'search' -%}
     {%- assign listName = 'Search Results' -%}
  {%- when 'collection' -%}
    {%- assign listName = collection.title -%}
{%- endcase -%}
{% comment %} find the on sale variant, likely not used after implementing the range display below but keeping around {% endcomment %}
{%- assign price = nil -%}
{%- for variant in product.variants -%}
  {%- if variant.available -%}
    {%- if variant.compare_at_price > variant.price -%}
      {%- assign price = variant.price -%}
      {%- assign regularPrice = variant.compare_at_price -%}
      {% break %}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{% comment %} if we didn't fine a sale item, use the first available variant {% endcomment %}
{%- if price == blank -%}
  {%- assign price = product.first_available_variant.price -%}
  {%- assign regularPrice = product.first_available_variant.compare_at_price -%}
{%- endif -%}
{% comment %} if we didn't find an available variant, use the price {% endcomment %}
{%- if price == blank -%}
  {%- assign price = product.price -%}
  {%- assign regularPrice = product.compare_at_price -%}
{%- endif -%}
{% comment %} show a range for products with variants {% endcomment %}
{%- assign hasPriceRange = false -%}
{%- if product.price_varies -%}
  {%- assign hasPriceRange = true -%}
  {%- capture priceRange -%}
    {{ product.price_min | money_without_trailing_zeros }} - {{ product.price_max | money_without_trailing_zeros | remove: "$"  }}
  {%- endcapture -%}
  {%- if regularPrice > price -%}
    {%- capture regularPriceRange -%}
      {{ product.compare_at_price_min | money_without_trailing_zeros }} - {{ product.compare_at_price_max | money_without_trailing_zeros | remove: "$" }}
    {%- endcapture -%}
  {%- endif -%}
{%- endif -%}

<article class="product-item">
  <a class="product-link" href="{{ product.url | within: collection }}"
    data-list-name="{{ listName }}"
    data-product-name="{{ product.title }}"
    data-product-price="{{ price | money_without_currency }}"
    data-product-type="{{ product.type }}"
    data-product-sku="{{ product.selected_or_first_available_variant.sku }}"
    data-product-position="{{ forloop.index }}">
    {%- if product.featured_image != blank -%}
    <div class="image">
      {{ product.featured_image.src | img_url: '360x360' | img_tag: product.featured_image.alt }}
    </div>  
    {%- endif -%}
    {%- assign productTitleParts = product.title | split: '-' -%}
    <div class="details">
      <h3 class="title{% if hideName %} sr-only{% endif %}">{{ productTitleParts[0] | remove: "The " | strip }}</h3>
      <div class="color">{{ productTitleParts[2] | trim }}</div>
      <div class="material">{{ productTitleParts[1] | strip }}</div>
      {%- if product.available -%}
        <div class="price{% if hasPriceRange %} has-range{% endif %}">
          {%- if regularPrice > price -%} {% comment %} product is on sale {% endcomment -%}
            {%- if hasPriceRange -%}
              <span class="special-price">{{ priceRange }}{{ discountLabel }}</span>
              <span class="old-price"><s>{{ regularPriceRange }}</s></span>
            {%- else -%}
              <span class="special-price">{{ price | money_without_trailing_zeros }}{{ discountLabel }}</span>
              <span class="old-price"><s>{{ regularPrice | money_without_trailing_zeros }}</s></span>
            {%- endif -%}
            <span class="discount-label">{{ regularPrice | minus: price | times: 100.0 | divided_by: regularPrice | round: 0 }}% off</span>
          {%- else -%}
            <div class="regular-price">
            {%- if hasPriceRange -%}
              {{ priceRange }}
            {%- else -%}
              {{ price | money_without_trailing_zeros }}
            {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      {%- else -%}
        <div class="low-stock-warning">
          {{ 'products.product.sold_out' | t }}
        </div>
      {%- endif -%}
    </div>
  </a>
</article>

{% comment %} logic for "price varies" 
{%- if regularPrice > product.price -%} 
  {%- if product.price_varies -%}
    // Outputs "On Sale from {{ price }}", see locales json 
    {%- assign sale_price = product.price | money_without_trailing_zeros -%}
    <span class="price-varies">{{ 'products.product.on_sale_from_html' | t: price: sale_price }}</span>
  {%- else -%}
    <span class="special-price">{{ product.price | money_without_trailing_zeros }}</span>
    <span class="old-price"><s>{{ regularPrice | money_without_trailing_zeros }}</s></span>
  {%- endif -%}
{%- else -%}
  {%- if product.price_varies -%}
    // Outputs "From {{ price }}", see locals json 
    {%- assign price = product.price | money_without_trailing_zeros -%}
    <span class="price-varies">{{ 'products.product.from_text_html' | t: price: price }}</span>
  {%- else -%}
    <span class="regular-price">{{ product.price | money_without_trailing_zeros }}<span>
  {%- endif -%}
{%- endif -%}
{% endcomment -%}