{%- case template -%}
  {%- when 'search' -%}
     {%- assign listName = 'Search Results' -%}
  {%- when 'collection' -%}
    {%- assign listName = collection.title -%}
{%- endcase -%}
<article class="product">
  <a class="product-link" href="{{ product.url | within: collection }}"
    data-list-name="{{ listName }}"
    data-product-name="{{ product.title }}"
    data-product-price="{{ product.price | money_without_currency }}"
    data-product-type="{{ product.type }}"
    data-product-sku="{{ product.selected_or_first_available_variant.sku }}"
    data-product-position="{{ forloop.index }}">
    {%- if product.featured_image != blank -%}
    <div class="image">
      {{ product.featured_image.src | img_url: '360x360' | img_tag: product.featured_image.alt }}
      {%- if product.compare_at_price > product.price -%}
        <span class="discount-badge">{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round: 0 }}%<br />OFF</span>
      {%- endif -%}
    </div>  
    {%- endif -%}
    {%- assign productTitleParts = product.title | split: '-' -%}
    <h3 class="title">{{ productTitleParts[0] | remove: "The " | strip }}</h3>
    <p class="product-color">{{ productTitleParts[2] | strip }}</p>
    <p class="product-material">{{ productTitleParts[1] | strip }}</p>
    <div class="price">
        {%- if product.compare_at_price > product.price -%} {% comment %} product is on sale {% endcomment -%}
            <span class="special-price">{{ product.price | money_without_trailing_zeros }}</span>
            <span class="old-price"><s>{{ product.compare_at_price | money_without_trailing_zeros }}</s></span>
        {%- else -%}
            <span class="regular-price">{{ product.price | money_without_trailing_zeros }}</span>
        {%- endif -%}
        {%- unless product.available -%}
        <span class="low-stock-warning">
          {{ 'products.product.sold_out' | t }}
        </span>
        {%- endunless -%}
        {%- if product.compare_at_price > product.price -%}
          <span class="discount-label">{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round: 0 }}% off</span>
        {%- endif -%}
    </div>
  </a>
</article>

{% comment %} logic for "price varies" 
{%- if product.compare_at_price > product.price -%} 
  {%- if product.price_varies -%}
    // Outputs "On Sale from {{ price }}", see locales json 
    {%- assign sale_price = product.price | money_without_trailing_zeros -%}
    <span class="price-varies">{{ 'products.product.on_sale_from_html' | t: price: sale_price }}</span>
  {%- else -%}
    <span class="special-price">{{ product.price | money_without_trailing_zeros }}</span>
    <span class="old-price"><s>{{ product.compare_at_price | money_without_trailing_zeros }}</s></span>
  {%- endif -%}
{%- else -%}
  {%- if product.price_varies -%}
    // Outputs "From {{ price }}", see locals json 
    {%- assign price = product.price | money_without_trailing_zeros -%}
    <span class="price-varies">{{ 'products.product.from_text_html' | t: price: price }}</span>
  {%- else -%}
    <span class="regular-price">{{ product.price | money_without_trailing_zeros }}<span>
  {%- endif -%}
{%- endif -%}
{% endcomment -%}