 <section class="product-family max-container">
    <div class="hero">
		<picture>
            {% unless block.settings.image == blank %}<source srcset="{{ block.settings.image | img_url: 'master' }}" media="(min-width: {{ screenMd }})" />{% endunless %}
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{ block.settings.altText }}" />
        </picture>
        <div class="hero-content {{ block.settings.textPosition }} {{ block.settings.textColor }}">
            {% unless block.settings.title == blank %}
                <h2 class="title"><span class="subtitle">{{ block.settings.subtitle }} </span>{{ block.settings.title }}</h2>
            {% endunless %}
            {% unless block.settings.description == blank %}
                <p class="description">{{ block.settings.description }}</p>
            {% endunless %}
        </div>
	</div>
    <div class="container">
        <div class="product-row-wrap">
            <div class="product-row">
            {% unless block.settings.image1 == blank %}
            <div class="item">
                <div class="product-item">
                    <a href="{{ block.settings.imageLink1 }}">
                        <div class="image">
                            <img src="{{ block.settings.image1 | img_url: 'master' }}" alt="">
                        </div>
                        <div class="details">
                            <h3 class="title">{{ block.settings.imageLabel1 }}</h3>
                        </div>
                    </a>
                </div>
            </div>
            {% endunless %}
            {% unless block.settings.image2 == blank %}
            <div class="item">
                <div class="product-item">
                    <a href="{{ block.settings.imageLink2 }}">
                        <div class="image">
                            <img src="{{ block.settings.image2 | img_url: 'master' }}" alt="">
                        </div>
                        <div class="details">
                            <h3 class="title">{{ block.settings.imageLabel2 }}</h3>
                        </div>
                    </a>
                </div>
            </div>
            {% endunless %}
            {% unless block.settings.image3 == blank %}
            <div class="item">
                <div class="product-item">
                    <a href="{{ block.settings.imageLink3 }}">
                        <div class="image">
                            <img src="{{ block.settings.image3 | img_url: 'master' }}" alt="">
                        </div>
                        <div class="details">
                            <h3 class="title">{{ block.settings.imageLabel3 }}</h3>
                        </div>
                    </a>
                </div>
            </div>
            {% endunless %}
            {% unless block.settings.image4 == blank %}
            <div class="item">
                <div class="product-item">
                    <a href="{{ block.settings.imageLink4 }}">
                        <div class="image">
                            <img src="{{ block.settings.image4 | img_url: 'master' }}" alt="">
                        </div>
                        <div class="details">
                            <h3 class="title">{{ block.settings.imageLabel4 }}</h3>
                        </div>
                    </a>
                </div>
            </div>
            {% endunless %}
            {% unless block.settings.image5 == blank %}
            <div class="item">
                <div class="product-item">
                    <a href="{{ block.settings.imageLink5 }}">
                        <div class="image">
                            <img src="{{ block.settings.image5 | img_url: 'master' }}" alt="">
                        </div>
                        <div class="details">
                            <h3 class="title">{{ block.settings.imageLabel5 }}</h3>
                        </div>
                    </a>
                </div>
            </div>
            {% endunless %}
            {% unless block.settings.image6 == blank %}
            <div class="item">
                <div class="product-item">
                    <a href="{{ block.settings.imageLink6 }}">
                        <div class="image">
                            <img src="{{ block.settings.image6 | img_url: 'master' }}" alt="">
                        </div>
                        <div class="details">
                            <h3 class="title">{{ block.settings.imageLabel6 }}</h3>
                        </div>
                    </a>
                </div>
            </div>
            {% endunless %}
            {% unless block.settings.image7 == blank %}
            <div class="item">
                <div class="product-item">
                    <a href="{{ block.settings.imageLink7 }}">
                        <div class="image">
                            <img src="{{ block.settings.image7 | img_url: 'master' }}" alt="">
                        </div>
                        <div class="details">
                            <h3 class="title">{{ block.settings.imageLabel7 }}</h3>
                        </div>
                    </a>
                </div>
            </div>
            {% endunless %}
            {% unless block.settings.image8 == blank %}
            <div class="item">
                <div class="product-item">
                    <a href="{{ block.settings.imageLink8 }}">
                        <div class="image">
                            <img src="{{ block.settings.image8 | img_url: 'master' }}" alt="">
                        </div>
                        <div class="details">
                            <h3 class="title">{{ block.settings.imageLabel8 }}</h3>
                        </div>
                    </a>
                </div>
            </div>
            {% endunless %}
            </div>
        </div>
    </div>
</section>