{%- assign ph = 'general.search.placeholder' | t -%}
{%- if placeholder != blank -%}
  {%- assign ph = placeholder -%}
{%- endif -%}
<form action="/search" method="get" role="search" class="header-search ui-front">
  <label for="{{ fieldId }}" class="sr-only">
    {{ 'general.search.placeholder' | t }}
  </label>
  <input type="search"
         name="q"
         id="{{ fieldId }}"
         class="form-control header-search__input"
         value=""
         placeholder="{{ ph }}">
  <input type="hidden" name="type" value="product" />
  <button type="submit" class="btn">
    <span class="sr-only">{{ 'general.search.submit' | t }}</span>
  </button>
</form> 