{%- assign withAnimations = withAnimations | default: true -%}
{%- assign hTag = hTag | default: 'h2' -%}
{%- assign smContentWidth = smWidth | default: 10 -%}
{%- unless title == blank -%}
<div class="{% unless noContainer %}container{% endunless %}{% if withAnimations %} animate{% endif %}"{% if withAnimations %} {{ animateFadeInUp }}{% endif %}>
  <div class="row">
      <div class="col-sm-{{ smContentWidth }} col-sm-offset-{{ 12 | minus: smContentWidth | divided_by: 2 }} col-md-8 col-md-offset-2">                    
          <div class="section-title is-{{hTag}}">
              <{{hTag}} class="title">{{ title }}</{{hTag}}>
              {%- unless text == blank -%}<p>{{ text }}</p>{%- endunless -%}
          </div>
      </div>
  </div>
</div>
{%- endunless -%}
{%- assign hTag = nil -%}
{%- assign smContentWidth = nil -%}
{%- assign noContainer = false -%}