<h2>Size & Fit Guide</h2>

<div class="pdp-modal__section">
  <h3>Size, Weight, Dimensions</h3>
  {% if dimensions.images.size > 0 %}
  <div class="pdp-size-fit__carousel" body-scroll-lock-ignore data-flickity='{ "cellAlign": "left", "pageDots": true}'>
    {% for img in dimensions.images %}
    <div>
      <picture>
        <source srcset="{{img.desktop}}" media="(min-width: 768px)" />
        <img src="{{img.mobile}}" alt="" />
      </picture>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="pdp-size-fit__table">
  {% if dimensions.headings.size > 0 %}
    <table {% if dimensions.rows[0].content[0] == blank %} class="hide-first"{% endif %}>
      <thead>
        <tr>
        {% for heading in dimensions.headings %}
          <th>{{ heading }}</th>
        {% endfor %}
        </tr>
      </thead>

      <tbody>
      {% for rows in dimensions.rows %}
        <tr>
         {% for content in rows.content %}
          <td>{{ content }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
  </div>
</div>

{% if galleries.size > 0 %}
<div class="pdp-modal__section pdp-size-fit-galleries-container">
  {% for gallery in galleries %}
    <div class="pdp-size-fit-galleries pdp-callout-galleries js-pdp-callout-galleries">
      <div class="pdp-callout-galleries__carousel">
        <div class="js-pdp-callout-gallery pdp-callout-galleries__carousel-main">
          {% for image in gallery.images %}
            <div class="js-pdp-callout-gallery pdp-callout-galleries__carousel-main-slide">
              <img src="{{ image[1] }}" alt="{{ image[0] }}" />
              <span>{{ image[0] }}</span>
            </div>
          {%- endfor -%}
        </div>
        <div class="js-pdp-callout-gallery-nav pdp-callout-galleries__carousel-nav">
          {% for image in gallery.images %}
            <span>{{ image[0] }}</span>
          {%- endfor -%}
        </div>
        <p class="pdp-size-fit-galleries__text">{{ gallery.caption }}</p>
      </div>
    </div>
  {%- endfor -%}
</div>
{% endif %}

{% if fits.size > 0 %}
<div class="pdp-modal__section">
  <h3>The Fit</h3>
  {% for fit in fits %}
  <h4>{{fit.title}}</h4>
  <div class="pdp-size-fit__carousel"  body-scroll-lock-ignore data-flickity='{ "cellAlign": "left", "pageDots": true}'>
    {% for slide in fit.slides %}
    <div>
      <picture>
        <source srcset="{{slide.desktop}}" media="(min-width: 768px)" />
        <img src="{{slide.mobile}}" alt="" />
      </picture>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endif %}

{% if device.size > 0 %}
<div class="pdp-modal__section">
  <h3>Device Compatibility</h3>
  {% for section in device %}
    {% if section.type == 'paragraph'%}
      <p>{{section.content}}</p>
    {% elsif section.type == 'list' %}
      <ul>
        {% for item in section.content %}
          <li>{{item}}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
</div>
{% endif %}

{% if laptopPocket.headings.size > 0 %}
<div class="pdp-size-fit__table">
  <h3>Laptop Pocket Dimensions</h3>
  {% if laptopPocket.headings.size > 0 %}
    <table {% if laptopPocket.rows[0].content[0] == blank %} class="hide-first"{% endif %}>
      <thead>
        <tr>
        {% for heading in laptopPocket.headings %}
          <th>{{ heading }}</th>
        {% endfor %}
        </tr>
      </thead>

      <tbody>
      {% for rows in laptopPocket.rows %}
        <tr>
         {% for content in rows.content %}
          <td>{{ content }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
  </div>
{% endif %}

{% if show_airline == true %}
<div class="pdp-modal__section pdp-modal__section-airline">
  <h3>Airline Carry-On</h3>
  <div class="pdp-modal__section-two-column">
    <div>
      <figure>{% raw %}{%- include 'pdp-icons', icon: 'icon-airline-1' -%}{% endraw %}</figure>
      <h5>Airline Seat</h5>
      <h6>Catalina Deluxe Small</h6>
      <p>Can be placed in the overhead compartment of most aircrafts and may fit underneath the airline seat when not fully packed.</p>
      <h6>Catalina Deluxe Tote</h6>
      <p>Should fit underneath the airline seat of most aircrafts, and should comply with the dimension requirements of most aircrafts.</p>
    </div>
    <div>
      <figure>{% raw %}{%- include 'pdp-icons', icon: 'icon-airline-2' -%}{% endraw %}</figure>
      <h5>Airline Overhead Compartment</h5>
      <h6>Catalina</h6>
      <p>Can be placed in the overhead compartment of most aircrafts.</p>
      <h6>Catalina Deluxe Large</h6>
      <p>Can be placed in the overhead compartment of most aircrafts and is comparable in capacity to the Catalina.</p>
    </div>
  </div>
</div>
{% endif %}
