{% if fulfillment.item_count == item_count %}   {% capture shipment_name %}Your order is{% endcapture %}
{% elsif fulfillment.item_count > 1 %}   {% if fulfillment_status == 'fulfilled' %}
    {% capture shipment_name %}The last items in your order are{% endcapture %}
  {% else %}
    {% capture shipment_name %}Some items in your order are{% endcapture %}
  {% endif %}
{% else %}   {% if fulfillment_status == 'fulfilled' %}
    {% capture shipment_name %}The last item in your order is{% endcapture %}
  {% else %}
    {% capture shipment_name %}One item in your order is{% endcapture %}
  {% endif %}
{% endif %}

{% capture email_title %}{{ shipment_name }} on the way{% endcapture %}
{% capture email_body %}{{ shipment_name }} on the way to you. Track your shipment to see the delivery status.{% endcapture %}
{% capture email_emphasis %}Estimated delivery date: <strong>{{fulfillment.estimated_delivery_at | date: "%B %d, %Y"}}</strong>{% endcapture %}

<!DOCTYPE html>
<html lang="en">
  <head>
  <title>{{ email_title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
  <style>
  @media screen{@font-face{font-family:'Lato';font-style:normal;font-weight:400;src:local("Lato Regular"),local("Lato-Regular"),url(https://fonts.gstatic.com/l/font?kit=S6uyw4BMUTPHvxw6WQevLq7pzfwWytF-_ufvJ6OAFnsYaeM-GgYtBeGA5xNK2qq3hEt1lRaMKPnWJPh0gUN8b8339eocPKMQbXQhb-Bjtv_YEpFZl2tUiMaoX2c7Y1mTflFjJ7ZvR2ejE74mnpXEjePQ9ETOec3x2K0Uoys63UbO3ATMnvSiCPVllnHkMxcmH6mmEZNtnYEBFGE&skey=2d58b92a99e1c086&v=v14) format("woff2")}@font-face{font-family:'Lato';font-style:normal;font-weight:700;src:local("Lato Bold"),local("Lato-Bold"),url(https://fonts.gstatic.com/l/font?kit=S6u9w4BMUTPHh6UVewqFHi_o38oV3sVr4vn8Re7PWzBNP7lkRV91XavNqA&skey=3480a19627739c0d&v=v14) format("woff2")}}body{margin:0 !important;padding:0 !important;-webkit-text-size-adjust:100% !important;-ms-text-size-adjust:100% !important;-webkit-font-smoothing:antialiased !important}table{border-collapse:collapse;mso-table-lspace:0px;mso-table-rspace:0px}td,a,span{border-collapse:collapse;mso-line-height-rule:exactly}*{font-family:'Lato', sans-serif}table.body{background:#f8f8f8;text-align:center;height:100% !important;width:100% !important;border-spacing:0;border-collapse:collapse}table.main{width:640px}table.footer{border:0}table.container{width:100% !important}.content-wrap{background:#FFF;text-align:left}.row.header{margin:0 !important}.shop-name__cell{text-align:center;padding-top:20px;padding-bottom:50px}.order-number__cell{margin-top:0}.order-number__cell .title-bar{margin-bottom:24px}.order-number__text{font-size:22px;line-height:28px;margin-bottom:24px;display:block;text-align:center;text-transform:capitalize}.title-bar{background:#00AEEF;height:2px;width:39px;display:block;margin-left:auto;margin-right:auto}.content h2{font-size:28px;line-height:36px;margin-bottom:21px;text-align:center}.content p,.content a{font-size:18px;line-height:27px;color:#888;text-align:center}.content a{color:#00AEEF}.row.action{margin:0}.row.section.customer-info{border:0}.row.section.customer-info .section__cell{padding:0}.actions__cell{padding-top:20px}.actions__cell .button,.actions__cell .link{width:230px}.main-action-cell{float:none;margin-left:auto;margin-right:auto !important}.secondary-action-cell{margin-top:10px;margin-left:auto;margin-right:auto}.button__text{background:#00AEEF;color:#FFF !important}.link__text{background:#FFF;color:#3E4B57 !important;border:1px solid #A0A4A6;text-align:center}.section__heading{margin-bottom:30px}.section__cell{padding:60px 0;text-align:left}.section__cell h3{text-align:center;font-size:24px;line-height:20px;margin-bottom:24px}.order-list__item{border:0}.order-list__item__cell{text-align:left;background:#f8f8f8;padding:25px;border-top:solid 10px #fff}.order-list__item__cell table{width:100%}.order-list__item__cell table td{text-align:left;vertical-align:top}.order-list__product-image{border:0;border-radius:0}.order-list__item-title{font-size:20px;color:#111;line-height:22px;display:block;margin-bottom:10px}.order-list__item-color{font-size:14px;color:#111;line-height:18px;display:block;margin-bottom:4px}.order-list__item-material{font-size:14px;color:#888;line-height:16px;display:block;margin-bottom:12px}.order-list__item-quantity{font-size:13px;color:#111;line-height:16px;display:block}.order-list__item-original-price{color:#646464;font-size:13px}.order-list__item-price{color:#111}.subtotal-spacer{width:0}.subtotal-table{width:420px;margin-left:auto;margin-right:auto}.subtotal-lines{border:0;margin:0}.subtotal-line__title{text-align:left;color:#888;font-size:14px;line-height:1.6}.subtotal-line__value{text-align:right;color:#111;font-weight:700;font-size:14px;line-height:1.6}.subtotal-table--total{border-top-width:1px;border-bottom:solid 1px #e5e5e5}.subtotal-table--total td{padding-bottom:20px}.subtotal-table--total .subtotal-line__title{font-size:16px}.subtotal-table--total .subtotal-line__value{font-size:20px}.customer-info__items{background:#f8f8f8}.customer-info__items .rows{padding:20px 40px}.customer-info__item{text-align:left;padding:20px 0;vertical-align:top}.customer-info__item.last{border:0}.customer-info__item h4{color:#111;font-size:16px;line-height:1;margin-bottom:12px}.customer-info__item p,.customer-info__item span{color:#888;font-size:14px;line-height:22px}.customer-info__item strong{font-size:14px;line-height:22px}.customer-info__item span{display:inline-block;vertical-align:top;margin-top:5px}.customer-info__item-credit{margin-right:5px}.customer-info__item-content{margin:0}@media (min-width: 601px){td.main-spacer{height:80px}.content-wrap{padding:60px}}@media (max-width: 600px){table.main{width:100% !important}.content-wrap{padding:32px}.customer-info__item{border-bottom:solid 1px #e5e5e5}.customer-info__item.last{border:0}}.footer__cell{padding:28px;text-align:center}

</style>
</head>

  <body>
    <table class="body" width="100%">
      <tr>
        <td align="center">
          <table class="main" width="640px">
            <tr>
              <td class="main-spacer"></td>
            </tr>
            <tr>
              <td class="content-wrap">
                
                <table class="row header">
                  <tr>
                    <td class="header__cell">
                      <center>
                        <table class="container">
                          <tr>
                            <td>
                              <table class="row">
                                <tr>
                                  <td class="shop-name__cell">
                                    {%- if shop.email_logo_url %}
                                      <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                                    {%- else %}
                                      <h1 class="shop-name__text">
                                        <a href="{{shop.url}}">{{ shop.name }}</a>
                                      </h1>
                                    {%- endif %}
                                  </td>
                                </tr>
                              </table>
                              <table class="row">
                                <tr>
                                  <td class="order-number__cell">
                                    <span class="order-number__text">
                                      Order {{ order_name }}
                                    </span>
                                    <span class="title-bar"></span>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </center>
                    </td>
                  </tr>
                </table>

                <table class="row content">
                  <tr>
                    <td class="content__cell">
                      <center>
                        <table class="container">
                          <tr>
                            <td>
                              <h2>{{ email_title }}</h2>
                              <p>{{ email_body }}</p>
                              {% if fulfillment.estimated_delivery_at %}
                                <p>{{ email_emphasis }}</p>
                              {% endif %}
                              {% if order_status_url %}
                                <table class="row actions">
                                  <tr>
                                    <td class="actions__cell">
                                      <table class="button main-action-cell">
                                        <tr>
                                          <td class="button__cell"><a href="{{ order_status_url }}" class="button__text">View your order</a></td>
                                        </tr>
                                      </table>
                                      {% if shop.url %}
                                        <table class="link secondary-action-cell">
                                          <tr>
                                            <td class="link__cell"><a href="{{ shop.url }}" class="button__text link__text">Visit our store</a></td>
                                          </tr>
                                        </table>
                                      {% endif %}
                                    </td>
                                  </tr>
                                </table>
                              {% else %}
                                {% if shop.url %}
                                 <table class="row actions">
                                    <tr>
                                      <td class="actions__cell">
                                        <table class="button main-action-cell">
                                          <tr>
                                            <td class="button__cell"><a href="{{ shop.url }}" class="button__text">Visit our store</a></td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                 </table>
                                {% endif %}
                              {% endif %}
                            </td>
                          </tr>
                        </table>
                      </center>
                    </td>
                  </tr>
                </table>

                <table class="row section">
                  <tr>
                    <td class="section__cell">
                      <center>
                        <table class="section__heading">
                          <tr>
                            <td>
                              <h3>Items in this shipment</h3>
                              <span class="title-bar"></span>
                            </td>
                          </tr>
                        </table>
                        <table class="row">
                          {% for line in line_items %}
                          <tr class="order-list__item">
                            <td class="order-list__item__cell">
                              <table>
                                <td>
                                  {% if line.image %}
                                    <img src="{{ line | img_url: 'compact_cropped' }}" width="60" height="60" class="order-list__product-image"/>
                                  {% endif %}
                                </td>
                                <td class="order-list__product-description-cell">
                                  {% if line.product.title %}
                                    {% assign productNameParts = line.product.title | split: '-' %}
                                    {% assign line_title = productNameParts[0] %}
                                  {% else %}
                                    {% assign line_title = line.title %}
                                  {% endif %}

                                  {% if line.quantity < line.quantity %}
                                    {% capture line_display %}{{ line.quantity }} of {{ line.quantity }}{% endcapture %}
                                  {% else %}
                                    {% capture line_display %}Qty: {{ line.quantity }}{% endcapture %}
                                  {% endif %}

                                  <span class="order-list__item-title">{{ line_title }}</span>

                                  {% if productNameParts[2] != blank %}
                                    <span class="order-list__item-color">{{ productNameParts[2] | trim }}</span>
                                  {% endif %}
                                  {% if productNameParts[1] != blank %}
                                    <span class="order-list__item-material">{{ productNameParts[1] | trim }}</span>
                                  {% endif %}

                                  <span class="order-list__item-quantity">{{ line_display }}</span>
                                </td>
                                  <td class="order-list__price-cell">
                                    <p class="order-list__item-price">{{ line.line_price | money }}</p>
                                    {% if line.original_line_price != line.line_price %}
                                      <del class="order-list__item-original-price">{{ line.original_line_price | money }}</del>
                                    {% endif %}
                                  </td>
                              </table>
                            </td>
                          </tr>{% endfor %}
                        </table>
                      </center>
                    </td>
                  </tr>
                </table>
                
              </td>
            </tr>
            <tr>
              <td>
                <table class="row footer">
                  <tr>
                    <td class="footer__cell">
                      <center>
                        <table class="container">
                          <tr>
                            <td align="center" style="border-bottom: solid 1px #e6e6e6; padding-bottom: 28px">
                              <p class="disclaimer__subtext">If you have any questions, reply to this email or contact us at <a style="color:#00AEEF" href="mailto:{{ shop.email }}">{{ shop.email }}</a></p>
                            </td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" style="padding-top: 28px">
                            <a style="display: inline-block; padding: 0 15px;" href="http://on.fb.me/UJbzFY"><img width="8" src="{{'logo-facebook-2x.png' | asset_url }}" alt="{{shop.name}} on Facebook" /></a>
                            <a style="display: inline-block; padding: 0 15px;" href="http://bit.ly/loandsonstwitter"><img width="18" src="{{'logo-twitter-2x.png' | asset_url }}" alt="{{shop.name}} on Twitter" /></a>
                            <a style="display: inline-block; padding: 0 15px;" href="http://bit.ly/loandsonsinstagram"><img width="18" src="{{'logo-instagram-2x.png' | asset_url }}" alt="{{shop.name}} on Instagram" /></a>
                            <a style="display: inline-block; padding: 0 15px;" href="http://bit.ly/loandsonspinterest"><img width="15" src="{{'logo-pinterest-2x.png' | asset_url }}" alt="{{shop.name}} on Pinterest" /></a></td>
                          </tr>
                        </table>
                      </center>
                    </td>
                  </tr>
                </table>

                <img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>