<header class="page-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8 col-sm-offset-2 col-sm-8">
        <h1>{{ 'customer.order.breadcrumb_title' | t }}</h1>
      </div>
      <div class="col-xs-4 col-sm-2 text-right">
        <a href="/account/logout" id="account-logout">{{ 'layout.customer.log_out' | t }}</a>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">

    <nav class="breadcrumbs">
      <a href="/account">{{ 'customer.account.title' | t }}</a><span class="current">{{ 'customer.order.breadcrumb_title' | t }}</span>
    </nav>
    
    <div class="order">
      <h2>{{ 'customer.order.title' | t: name: order.name }}</h2>
      {%- assign formattedDate = order.created_at | date: "%B %d, %Y" -%}
      <p class="order-meta">{{ 'customer.order.date' | t: date: formattedDate }}</p>

      {% if order.cancelled %}
        {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
        <p>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
        <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
      {% endif %}

      <table class="table order-items">
        <thead>
          <tr>
            <th colspan="2"><span class="sr-only">{{ 'customer.order.product' | t }}</span></th>
            <th>{{ 'customer.order.sku' | t }}</th>
            <th>{{ 'customer.order.fulfilled_at' | t }}</th>
            <th>{{ 'customer.order.quantity' | t }}</th>
            <th class="text-right">{{ 'customer.order.price' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for line_item in order.line_items %}
            <tr id="{{ line_item.key }}">
              <td class="item-thumb">
                {% if line_item.image != blank %}
                  {{ line_item | img_url: '90x120' | img_tag: line_item.title }}
                {% endif %}
              </td>
              <td class="item-info">
                {% assign productNameParts = line_item.title | split: '-' %}
                <a class="product-name" href="{{ line_item.product.url }}">{{ productNameParts[0] | trim }}</a>
                {%- unless productNameParts[1] == blank -%}
                <p class="item-options">{{ productNameParts[1] | trim }}{%- unless productNameParts[2] == blank -%} / {{ productNameParts[2] | trim }}{%- endunless -%}{%- unless productNameParts[3] == blank -%} / {{ productNameParts[3] | trim }}{%- endunless -%}</p>
                {%- endunless -%}
                {% comment %}
                {% if line_item.fulfillment %}
                  <dl>
                    <dt>{{ 'customer.order.fulfilled_at' | t }}</dt>
                    <dd>{{ line_item.fulfillment.created_at | date: format: 'month_day_year' }}</dd>

                    {% if line_item.fulfillment.tracking_url %}
                      <dt>{{ 'customer.order.tracking_url' | t }}</dt>
                      <dd>
                        <a href="{{ line_item.fulfillment.tracking_url }}">
                          {{ 'customer.order.track_shipment' | t }}
                        </a>
                      </dd>
                    {% endif %}

                    <dt>{{ 'customer.order.tracking_company' | t }}</dt>
                    <dd>{{ line_item.fulfillment.tracking_company }}</dd>

                    {% if line_item.fulfillment.tracking_number %}
                      <dt>{{ 'customer.order.tracking_number' | t }}</dt>
                      <dd>{{ line_item.fulfillment.tracking_number }}</dd>
                    {% endif %}
                  </dl>
                {% endif %}
                {% endcomment %}
              </td>
              <td class="has-label" data-label="{{ 'customer.order.sku' | t }}">{{ line_item.sku }}</td>
              <td class="has-label" data-label="{{ 'customer.order.fulfilled_at' | t }}">{{ line_item.fulfillment.created_at | date: "%b %d, %Y" }}</td>
              <td class="has-label" data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
              <td class="has-label" data-label="{{ 'customer.order.price' | t }}">{{ line_item.quantity | times: line_item.price | money }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <div class="totals-container">
        <table class="order-totals">
          <tbody>
            <tr>
              <td>{{ 'customer.order.subtotal' | t }}</td>
              <td class="line-total">{{ order.subtotal_price | money }}</td>
            </tr>

            {% for discount in order.discounts %}
              <tr>
                <td>{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
                <td class="line-total">{{ discount.savings | money }}</td>
              </tr>
            {% endfor %}

            {% for shipping_method in order.shipping_methods %}
              <tr>
                <td>{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
                <td class="line-total">{{ shipping_method.price | money }}</td>
              </tr>
            {% endfor %}

            {% for tax_line in order.tax_lines %}
              <tr>
                <td>{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                <td class="line-total">{{ tax_line.price | money }}</td>
              </tr>
            {% endfor %}

            <tr class="total">
              <td>{{ 'customer.order.total' | t }}</td>
              <td class="line-total">{{ order.total_price | money }} {{ order.currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      

      <ul id="address-list">
         <li>
           <div class="address-item">
            <div class="address">
              <h3>{{ 'customer.order.billing_address' | t }}</h3>
              <p>{{ 'customer.order.payment_status' | t }}: {{ order.financial_status_label }}</p>
              {{ order.billing_address | format_address }}
            </div>
          </div>
        </li>
        <li>
          <div class="address-item">
            <div class="address">
              <h3>{{ 'customer.order.shipping_address' | t }}</h3>
              <p>{{ 'customer.order.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}</p>
              {{ order.shipping_address | format_address }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
