<div class="embed-container"
    data-desktop-url="{{ desktop }}"
    data-mobile-url="{{ mobile }}"
    data-autoplay="true"
    data-loops="100">
    <video id="{{ id }}" width="100%" loop muted playsinline="true" poster="https://cdn.shopify.com/s/files/1/2185/1497/files/{{ poster }}.jpg?{{ assetVersion }}"></video>
    <div class="loading"></div>
</div>