<div class="container">
  <div class="newsletter-signup-wrapper">
    <form id="newsletter-signup">
      <label for="signup-email">
        <span class="signup-heading">Sign up for emails</span>
        <span class="signup-subheading">Get 15% off your first order.</span>
        <span class="signup-subheading">Only applies to full-price items</span>
      </label>
      <div class="form-group">
        <input type="email" id="signup-email" class="form-control" placeholder="Enter email address" />
        <button id="signup-submit">
          <span class="sr-only">Submit</span>
          {% include 'get-icon', icon: 'arrow' %}
        </button>
      </div>
      <div class="newsletter-alert">
        <span class="signup-heading">Thanks for subscribing!</span>
        <span class="signup-subheading">Please check your inbox to confirm sign-up. Once you confirm, you'll then receive a welcome email with your unique promo code on your next purchase (discount will only apply to full price items).</span>
      </div>
    </form>
  </div>
</div>
<footer id="site-footer">
  <div class="container">
    <div class="footer-menu-wrapper">
      <div class="footer-menu-logo">
        <img src="{{'ls-logo.svg' | asset_url }}" width="60" alt="{{ shop.name }}" id="footer-logo" />
      </div>
      <nav class="footer-menu-links">
        <ul class="menu">
          {% for link in linklists['footer-v2'].links %}
            <li><a class="btn-gtm-trk" data-gtm-a="2" href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <nav class="footer-menu-social">
        {% include 'connect-menus' %}
      </nav>
    </div>
  </div>
  <div id="colophon">
    <div class="container">
      <p id="copyright">&copy;{{ 'now' | date: "%Y" }}. {{ shop.name }} All rights reserved.</p>
      <a href="{{section.settings.footer_link}}">Privacy Terms</a>
    </div>
  </div>
</footer>

<div id="overlay"></div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist_1",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "url",
        "id": "footer_link",
        "label": "Link within copyright section"
      }
    ]
  }

{% endschema %}
