<div class="container">
  <form id="newsletter-signup">
    <label for="signup-email">Sign up for emails &amp; get 15% off your first order. <small>*only applies to full-price items</small></label>
    <div class="form-group">
      <input type="email" id="signup-email" class="form-control" placeholder="Enter email address" />
      <button id="signup-submit"><span class="sr-only">Submit</span></button>
    </div>
    <div class="alert alert-muted"><strong>Thanks for subscribing!</strong> Please check your inbox to confirm sign-up. Once you confirm, you'll then receive a welcome email with your unique promo code on your next purchase (discount will only apply to full price items).</div>
  </form>
</div>
<footer id="site-footer">
  <div class="container">

      <img src="{{'ls-logo.svg' | asset_url }}" width="60" alt="{{ shop.name }}" id="footer-logo" />
      <div id="footer-menus">
        <nav class="footer-menu">
          <h2 class="menu-title">Support</h2>
          <ul class="menu">
            {% for link in linklists['footer-1'].links %}
              <li><a class="btn-gtm-trk" data-gtm-a="2" href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        <nav class="footer-menu">
          <h2 class="menu-title">About</h2>
          <ul class="menu">
            {% for link in linklists['footer-2'].links %}
              <li><a class="btn-gtm-trk" data-gtm-a="2" href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        <nav class="footer-menu">
          <h2 class="menu-title">Terms</h2>
          <ul class="menu">
            {% for link in linklists['footer-3'].links %}
              <li><a class="btn-gtm-trk" data-gtm-a="2" href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        <nav class="footer-menu">
          <h2 class="menu-title">Connect</h2>
          {%- assign social_accounts = 'Facebook, Twitter, Instagram, Pinterest' | split: ', ' -%}
          <ul class="menu social-menu">
            {% for social in social_accounts %}
              {%- assign social_handle = social | handleize -%}
              {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
              {% capture social_icon %}logo-{{ social_handle }}.svg{% endcapture %}
              {% if settings[social_link] != blank %}
                <li>
                  <a class="footer-menu-item" href="{{ settings[social_link] }}" target="_blank" rel="nofollow noreferrer">
                    {{social_icon | asset_url | img_tag }}
                    <span class="sr-only">{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}</span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </div>

  </div>
  <div id="colophon">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-push-6">
          <ul class="menu contact-menu">
            <li><a id="contact-menu-email" href="mailto:info@loandsons.com">Email</a></li>
            <li><a id="contact-menu-message" href="javascript:void(0);" onclick="olark('api.box.expand')">Chat</a></li>
          </ul>
        </div>
        <ul class="menu social-menu">
          {% for social in social_accounts %}
            {%- assign social_handle = social | handleize -%}
            {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
            {% capture social_icon %}logo-{{ social_handle }}.svg{% endcapture %}
            {% if settings[social_link] != blank %}
              <li>
                <a href="{{ settings[social_link] }}" target="_blank">
                  {{social_icon | asset_url | img_tag }}
                  <span class="sr-only">{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}</span>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="col-md-6 col-md-pull-6">
          <p id="copyright">&copy;{{ 'now' | date: "%Y" }}. {{ shop.name }}. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="overlay"></div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist_1",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_2",
        "label": "Second menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_3",
        "label": "Third menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
