<div data-section-id="{{ section.id }}" data-section-type="header-section">
  
  <header id="site-header" class="{% unless page.metafields['global']['header-theme'] == 'default' %}showing-alternate{% endunless %}">
    <div class="container-fluid">
        <nav>
          {% if template.name == 'index' %}
            <h1 id="site-logo" itemscope itemtype="http://schema.org/Organization">{{ shop.name }}</h1>
          {% else %}
            <a href="/" id="site-logo" itemscope itemtype="http://schema.org/Organization">{{ shop.name }}</a>
          {% endif %}
          
          <a href="#" class="navbar-toggle">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a href="/cart" class="cart-link {% if cart.item_count < 1 %}empty{% endif %}">
            <span class="cart-icon">
              <span class="sr-only">{{ 'layout.cart.title' | t }}</span>
            </span><span class="cart-count">{{ cart.item_count }}</span>
          </a>

        </nav>
    </div>

    <!-- 
        <form action="/search" method="get" role="search">
          <label for="Search" class="label-hidden">
            {{ 'general.search.placeholder' | t }}
          </label>
          <input type="search"
                 name="q"
                 id="Search"
                 value="{{ search.terms | escape }}"
                 placeholder="{{ 'general.search.placeholder' | t }}">
          <button type="submit" class="btn">
            {% include 'icon-search' %}
            <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
        </form>
    -->
  </header>

</div>

{% schema %}
  {
    "name": "Header"
  }
{% endschema %}
