{%- assign help_menu = linklists[section.settings.help_linklist] -%}
<nav class="primary-links">
  <a onclick="olark('api.box.expand')" href="#">
    {% include 'header-icons', icon: 'chat' %}
    {{ 'layout.help.chat' | t }}
  </a>
  <a href="mailto:{{settings['social_email_address']}}" target="_blank">
    {% include 'header-icons', icon: 'email' %}
    {{ 'layout.help.email' | t }}
  </a>
</nav>
{%- if help_menu.links != blank -%}
  <nav class="secondary-links">
    {%- for link in help_menu.links -%}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {%- endfor -%}
  </nav>
{%- endif -%}

{% schema %}
  {
    "name": "Help Menu",
    "settings": [
      {
        "type": "link_list",
        "id": "help_linklist",
        "label": "Help Menu"
      }
    ]
  }
{% endschema %}