{% include 'vars' %}

{%- assign assetVersion = 464943924818433952 -%}
{%- assign ctaTitle = 'The Catalina' -%}
{%- assign ctaPrice = '$120 - $130' -%}
{%- assign ctaLink = '/products/catalina-washed-canvas-dove-grey' -%}
{%- assign ctaImg = 'catalina-discover-cta' -%}

<article class="discover">

    {% include 'discover-nav', labels:'Features,Materials,Press,Compare' %}
    
    <div class="max-container">
        <div class="hero has-arrow">
            {% include 'discover-picture', name: 'catalina-hero', alt: 'woman carrying Catalina at the beach', retina: true, fw: false, lg: true%}
            <div class="hero-content white right" id="catalina-hero">
                <h1 class="title"><span class="subtitle">Discover</span> {{ ctaTitle }}</h1>
                <p class="description">A lightweight and foldable weekend travel bag designed to fit everything you need for a weekend away with room to spare.</p>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>
    
    <div class="container">{% include 'hero-jump-target' %}

        <div class="row animate mb-large" {{ animateZoomIn }}>
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                {% include 'discover-picture', name: 'catalina-product-shot', alt: 'Catalina product shot', retina: true, fw: true, lg: true %}
            </div>
        </div>
        
        <a id="nav-target-1" class="jumptarget"></a>
        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">                    
                    <div class="section-heading">
                        <h2 class="title">Smart Design</h2>
                        <p class="description">Thoughtful details and perfectly placed pockets make the Catalina perfect for a weekend getaway.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
            <div class="{{ topicBlockImgCol }}">
                {% include 'discover-picture', name: 'catalina-design-1', alt: "Catalina bottom pocket", retina: false, fw: true, lg: true, gif: true %}
            </div>
            <div class="{{ topicBlockContentCol }}">
                <div class="topic-content">
                    <h3 class="title">Bottom Pocket</h3>
                    <p class="description">Designed to keep your shoes or dirty clothes separate from clean clothes.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
            <div class="{{ topicBlockImgCol }}">
                {% include 'discover-picture', name: 'catalina-design-2', alt: "Catalina Front Exterior Pocket", retina: true, fw: true, lg: true %}
            </div>
            <div class="{{ topicBlockContentCol }}">
                <div class="topic-content">
                    <h3 class="title">Front Exterior Pocket</h3>
                    <p class="description">Easily access your travel essentials.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-small" {{ animateFadeInUp }}>
            <div class="{{ topicBlockImgCol }}">
                {% include 'discover-picture', name: 'catalina-design-3', alt: "Catalina Interior Pocke", retina: true, fw: true, lg: true %}
            </div>
            <div class="{{ topicBlockContentCol }}">
                <div class="topic-content">
                    <h3 class="title">Interior Pocket</h3>
                    <p class="description">A zipper interior pocket for secure storage of personal items.</p>
                </div>
            </div>
        </div>
        <div class="row topic-block animate aligned-sm mb-negate-xs mb-large" {{ animateFadeInUp }}>
            <div class="{{ topicBlockImgCol }}">
                {% include 'discover-picture', name: 'catalina-design-4', alt: "Catalina is Foldable &amp; Packable", retina: false, fw: true, lg: true, gif: true %}
            </div>
            <div class="{{ topicBlockContentCol }}">
                <div class="topic-content">
                    <h3 class="title">Foldable &amp; Packable</h3>
                    <p class="description">Neatly fold to make it packable in a suitcase in case you need another bag at your destination.</p>
                </div>
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 text-center">                    
                <div class="section-heading">
                    <h2 class="title">Super Spacious</h2>
                    <p class="description">Designed to fit everything you need for a weekend away.</p>
                </div>
            </div>
        </div>

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <div class="mb-large topic-block has-overlay-xs fw-xs">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-video-1.jpg?{{ assetVersion }}" media="(min-width: 768px)">
                        <img style="width: 100%" src="https://cdn.shopify.com/s/files/1/2185/1497/files/catalina-video-1-xs.jpg?{{ assetVersion }}" alt="packing the Catalina">
                    </picture>
                    <div class="topic-content">
                        <h3 class="title">What Fits Inside</h3>
                        <a href="#" data-video-id="1" class="video-trigger">
                            <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <a id="nav-target-2" class="jumptarget"></a>
        
        {% include 'catalina-materials' %}

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <div class="mb-large">
                    {% include 'discover-picture', name: 'catalina-materials-3', alt: "woman outside with Catalina", retina: true, fw: true, lg: true %}
                </div>
            </div>
        </div>
        
    </div>

    <a id="nav-target-3" class="jumptarget"></a>
    <div class="container pr-items animate" {{ animateFadeInUp }}>
        <div class="section-heading">
            <h2 class="title">Traveler Approved</h2>
        </div>
        <div class="row mb-default">
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/fodors-travel.png?15430798540328847356" alt="Fodor's Travel logo"></p>
                    <p class="pr-quote">&ldquo;This bag does double duty with a smart bottom zipper pocket for wet clothes after a day at the beach or shoes if you're using it as a carry-on.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/theknotlogo.png?15430798540328847356" alt="The Knot logo"></p>
                    <p class="pr-quote">&ldquo;This canvas weekender is expertly sized for the overhead bin or a mini-moon.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/foodandwine-logo-black.png?15023891854137734588" alt="Food and Wine logo"></p>
                    <p class="pr-quote">&ldquo;A zippered bottom compartment and unusually large size (plus a great choice of pretty, subdued colors) set this tote apart from the pack.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/The_Huffington_Post_logo.png?15023891854137734588" alt="The Huffington Post logo"></p>
                    <p class="pr-quote">&ldquo;The Catalina had us at the secret bottom pocket. This dapper carrier fits everything that you (or Mary Poppins) could possibly need for a weekend getaway.&rdquo;</p>
                </blockquote>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <blockquote class="pr">
                    <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/Refinery29-Logo.png?15023891854137734588" alt="Refinery 29 logo"></p>
                    <p class="pr-quote">&ldquo;If you don’t already have a weekender, now's the time to get one. If you already have a weekender, now's the time to get this one. The interior organization will let you stow more things than any other option out there.&rdquo;</p>
                </blockquote>
            </div>
        </div>
    </div>
    
    {% include 'discover-cta' %}

    <a id="nav-target-4" class="jumptarget"></a>
    {% include 'discover-catalina-compare' %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="//player.vimeo.com/video/308578318?player_id=vimeo-video1&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-catalina" class="vimeo"></iframe>';
    // ]]></script>

    {% include 'video-modal' %}

</article>