{% include 'vars' %}
{%- assign assetVersion = 850053417828143397 -%}
{%- assign ctaImgCol = 'col-md-5 col-md-offset-1' -%}
{%- assign ctaContentCol = 'col-md-6' -%} 
{%- assign ctaTitle = 'Hanover' -%}
{%- assign ctaPrice = '$128' -%}
{%- assign ctaLink = '/products/hanover-600d-recycled-poly-onyx' -%}
{%- assign ctaImg = 'hanover-cta' -%}


<article class="discover">

    {% include 'discover-nav', labels:'Features,Design,Materials,Press,Compare' %}
    
    <div class="max-container">
        <div class="hero has-black-arrow">
            {% include 'discover-picture', name: 'hanover-m-hero-image', alt: 'man with Hanover walking away', retina: true, fw: false, lg: true %}
            <div class="hero-content left">
                <h1 class="title"><span class="subtitle">Discover</span> Hanover</h1>
                <p class="description">A super lightweight and minimal travel backpack made from eco-friendly materials.</p>
            </div>
            {% include 'hero-jump-btn' %}
        </div>
    </div>
    
    <div class="container">{% include 'hero-jump-target' %}
        <div class="row animate mb-large" {{ animateFadeInUp }}>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                {% include 'discover-picture', name: 'hanover-product-intro', alt: 'Hanover product shot', retina: true, fw: false %}
            </div>
        </div>
<a id="nav-target-1" class="jumptarget"></a>
        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">                    
                    <div class="section-heading">
                      <h2 class="title">Travel Effortlessly</h2>
                      <p class="description">Thoughtfully designed with features that make traveling as easy and stress-free as possible.</p>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row animate topic-block aligned-md mb-negate-xs mb-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">
                {% include 'discover-picture', name: 'hanover-m-suitcase-sleeve', alt: 'Suitcase Handle Sleeve', retina: true, fw: true %}                    
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 content-col">                    
                <div class="topic-content text-center-sm">
                    <h3 class="title">Suitcase Handle Sleeve</h3>
                    <p class="description">Take a load off your shoulders.</p>
                </div>
            </div>
        </div>

        <div class="row animate topic-block aligned-md reversed mb-negate-xs mb-negate-sm" {{ animateFadeInUp }}>
            <div id="hanover-m-removable" class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-6">
                {% include 'discover-picture', name: 'hanover-m-removable-insert', alt: 'watch Removable Insert video', retina: true, fw: true %}       
                <div class="content-col">
                    <a href="#" data-video-id="1" class="video-trigger">
                        <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 content-col">                    
                <div class="topic-content text-center-sm">
                    <h3 class="title">Removable Insert</h3>
                    <p class="description">If you don’t need to carry your laptop around all day, quickly just remove the insert to lighten the load.</p>
                </div>
            </div>
        </div>

        <div class="row animate topic-block aligned-md reversed mb-negate-xs mb-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-1">  
                {% include 'discover-picture', name: 'hanover-airline', alt: 'sample airline seat', retina: true, fw: false %}                              
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 content-col">                    
                <div class="topic-content text-center-sm">
                    <h3 class="title">Airline Seat Friendly</h3>
                    <p class="description">The Hanover fits seamlessly under any airline seat.</p>
                </div>
            </div>
        </div>

        <div class="row animate topic-block aligned-md mb-large mb-negate-sm" {{ animateFadeInUp }}>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">   
                {% include 'discover-picture', name: 'hanover-m-ultra-comfortable', alt: 'Adjustable shoulder straps', retina: true, fw: true %}                        
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 content-col">                    
                <div class="topic-content text-center-sm">
                    <h3 class="title">Ultra Comfortable</h3>
                    <p class="description">Adjustable shoulder straps are designed with memory foam padding and constructed with a mesh underside to prevent the bag from slipping off the shoulders.</p>
                </div>
            </div>
        </div>
        
        <div class="row mb-large hidden-xs">
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <hr class="reset">
            </div>
        </div>
<a id="nav-target-2" class="jumptarget"></a>
        <div class="animate" {{ animateFadeInUp }}>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">                    
                    <div class="section-heading">
                      <h2 class="title">Stay Organized</h2>
                      <p class="description">The Hanover comes packed with tons of features to help you stay put together on the road.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="hanover-organized">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-0">
                {% include 'discover-picture', name: 'hanover-m-laptop-storage', alt: 'Laptop Storage', retina: true, fw: true %}  
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-offset-0">
                        <div class="topic-content text-center-sm">
                            <h3 class="title">Laptop Storage</h3>
                            <p class="description">Protect up to a 13-inch laptop in an interior padded compartment.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-0">
                {% include 'discover-picture', name: 'hanover-m-key-leash', alt: 'Key Leash', retina: true, fw: true %}  
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-offset-0">
                        <div class="topic-content text-center-sm">
                            <h3 class="title">Key Leash</h3>
                            <p class="description">Never misplace your keys again with our detachable key leash.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-0">
                {% include 'discover-picture', name: 'hanover-m-side-pocket', alt: 'Side Stash Pocket', retina: true, fw: true %}  
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-offset-0">
                        <div class="topic-content text-center-sm">
                            <h3 class="title">Side Stash Pocket</h3>
                            <p class="description">Store your passport, wallet, or earphones in two easy to access side pockets.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-0">
                {% include 'discover-picture', name: 'hanover-m-interior-pocket', alt: 'Interior Pockets', retina: true, fw: true %}  
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-offset-0">
                        <div class="topic-content text-center-sm">
                            <h3 class="title">Interior Pockets</h3>
                            <p class="description">An interior mesh pocket and two padded slip pockets help keep documents, magazines, tablets, and all your essentials neatly in place.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="max-container has-overlay-xs topic-block mb-large animate" {{ animateFadeInUp }}>
        {% include 'discover-picture', name: 'hanover-m-what-fits-inside', alt: 'video showing how to pack the Hanover', retina: true, fw: false %}  
        <div class="topic-content">
            <h3 class="title">What Fits Inside</h3>
            <a href="#" data-video-id="2" class="video-trigger">
                <img src="{{ 'play-v2.svg' | asset_url }}" alt="Play video">
            </a>
        </div>
    </div>

    <div class="container">

        <div class="row animate" {{ animateFadeInUp }}>
            <div class="col-sm-6 col-sm-offset-3">                    
                <div class="section-heading">
                  <h2 class="title">Minimalist Design</h2>
                </div>
            </div>
        </div>

       <div class="row animate mb-default" {{ animateFadeInUp }}>
           <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 col-lg-5 col-lg-offset-1">
                <div id="hanover-minimalist-1">
                    {% include 'discover-picture', name: 'hanover-m-minimalist-design-01', alt: 'Hanover shown on one shoulder', retina: true, fw: true %}  
                </div>
           </div>
           <div class="col-sm-5 col-md-4 col-lg-5 offset-top-sm offset-top-md offset-top-lg">
                {% include 'discover-picture', name: 'hanover-m-minimalist-design-02', alt: 'Hanover shown on both shoulders', retina: true, fw: false %}  
           </div>
       </div>
       <div class="row animate mb-large" {{ animateFadeInUp }}>
           <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">
                {% include 'discover-picture', name: 'hanover-m-minimalist-design-03', alt: 'Hanover shown on suitcase', retina: true, fw: true %}  
           </div>
       </div>
<a id="nav-target-3" class="jumptarget"></a>
       <div class="animate" {{ animateFadeInUp }}>
           <div class="row">
               <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">                    
                   <div class="section-heading">
                    <h2 class="title">High-Quality Materials</h2>
                    <p class="description">The Hanover is crafted from premium grade materials that are both durable and eco-friendly.  </p>
                  </div>
                   
               </div>
           </div>
       </div>

       <div class="animate" {{ animateFadeInUp }}>
           <div class="row">
               <div class="col-sm-10 col-sm-offset-1">   
                {% include 'discover-picture', name: 'water-bottles', alt: 'Plastic water bottles', retina: true, fw: true %}                   
               </div>
           </div>
           <div class="row">
               <div class="col-sm-6 col-sm-offset-3">                    
                   <div class="topic-content text-center text-left-xs">
                       <h3 class="title">Sustainable</h3>
                       <p class="description">The exterior is constructed from a high density polyester made from recycled plastic bottles.</p>
                   </div>
               </div>
           </div>
       </div>

       <div class="animate" {{ animateFadeInUp }}>
           <div class="row">
               <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">  
                    {% include 'discover-picture', name: 'hanover-water-resistant', alt: '600D Recycled Poly is water-resistant', retina: true, fw: true %}                    
               </div>
           </div>
           <div class="row">
               <div class="col-sm-6 col-sm-offset-3">                    
                   <div class="topic-content text-center text-left-xs">
                       <h3 class="title">Water-Resistant</h3>
                       <p class="description">This 600D recycled poly is built to withstand the elements or just accidental spills.</p>
                   </div>
               </div>
           </div>
       </div>

       <div class="row mb-large">
           <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
               <hr class="reset">
           </div>
       </div>
<a id="nav-target-4" class="jumptarget"></a>
       <div class="container pr-items animate" {{ animateFadeInUp }}>
          <div class="section-heading">
            <h2 class="title">Traveler Approved</h2>
          </div>
           
           <div class="row mb-large">
               <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                   <blockquote class="pr">
                        <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/today-logo.svg?15338545032145631141" alt="Today logo"></p>
                        <p class="pr-quote">&ldquo;This backpack is amazing. This company is all about travel innovation, sleek-looking, great luggage. This is super lightweight, and you can put an outfit, sneakers in here. The straps are memory foam and customize to you...&rdquo;</p>
                   </blockquote>
               </div>
               <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4">
                   <blockquote class="pr">
                      <p class="pr-logo"><img src="https://cdn.shopify.com/s/files/1/2185/1497/files/entrepreneur-logo.jpg?15225716765081293144" width="150" alt="Entrepreneur logo"></p>
                      <p class="pr-quote">&ldquo;The Hanover Backpack is not just fashionable, it’s functional. This pack includes a soft removable center insert and storage compartments perfect for keys, a passport and a water bottle, making it an ideal travel companion. Plus, its eco-friendly materials, including polyester made from recycled plastic bottles, help reduce your carbon footprint.&rdquo;</p>
                   </blockquote>
               </div>
           </div>
       </div>

       <div class="row mb-large">
           <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
               <hr class="reset">
           </div>
       </div>

        <a id="nav-target-5" class="jumptarget"></a>
       {% include 'hanover-compare-m' %}
        
    </div>
    
    <div id="hanover-cta">
    {% include 'discover-cta', retina: true %}
    </div>

    {% include 'compare-backpacks-cta' %}

    <script>// <![CDATA[
    var video1Embed = '<iframe src="//player.vimeo.com/video/191846280?player_id=vimeo-hanover&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-hanover" class="vimeo"></iframe>';
    var video2Embed = '<iframe src="//player.vimeo.com/video/191846909?player_id=vimeo-hanover&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="280" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen id="vimeo-hanover" class="vimeo"></iframe>';
    // ]]></script>

</article>